<section id="section{{element.id}}" *ngIf="element.dataItemList">
  <hr class="soften"/>
  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="lead black-color">
        {{element.label}}
      </p>
    </div>
    <table class="table">
      <tbody>
      <tr>
        <td>
          <div *ngIf="element.approvalEnabled" class="radio">
            <input [(ngModel)]="element.status" id="cl_v[@(dataE.Id)][approved]" name="cl_v[@(dataE.Id)]" type="radio"
                   value="approved"
            />
            <label for="cl_v[@(dataE.Id)][approved]">Approved</label>
          </div>
          <div *ngIf="(element.reviewEnabled) && (element.approvalEnabled)" class="radio">
            <input [(ngModel)]="element.status" id="cl_v[@(dataE.Id)][review]" name="cl_v[@(dataE.Id)]" type="radio"
                   value="review"/>
            <label for="cl_v[@(dataE.Id)][review]">Review</label>
          </div>
          <div *ngIf="element.approvalEnabled" class="radio">
            <input [(ngModel)]="element.status" id="cl_v[@(dataE.Id)][not_approved]" name="cl_v[@(dataE.Id)]"
                   type="radio" value="not_approved"/>
            <label for="cl_v[@(dataE.Id)][not_approved]">Not approved</label>
          </div>
        </td>
      </tr>
      <tbody case-edit-switch  [dataItemList]="element.dataItemList"></tbody>
      <ng-container *ngIf="element.extraFieldsEnabled">
        <tr>
          <td>
            ExtraFieldsEnabled
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</section>
<ng-container *ngIf="element.elementList">
  <case-edit-element [element]="elem" *ngFor="let elem of element.elementList"></case-edit-element>
</ng-container>
