.dataTables_info {
  color: #666;
}

.fa-bars-red {
  color: #ae0000;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.table-header-bottom-wrapper {
  margin-bottom: 5px;
}

.table-title-wrapper {
  margin-left: 15px;
  margin-bottom: 10px;
}

.text-col-wrapper {
  padding-left: 0px !important;
}

.glyphicon-info-sign-yellow {
  color: #f0ad4e;
}

.glyphicon-info-sign-wrapper {
  margin-top: 0px !important;
  margin-bottom: 2px;
  font-size: 18px;
}

.fa-bigger-size {
  font-size: 18px;
}

.glyphicon-inline-block {
  display: inline-block;
}

.glyphicon-info-sign-inherit {
  line-height: inherit;
  padding: 0;
  margin-bottom: 3px;
  margin-right: 10px;
}
