<div [config]="{ignoreBackdropClick: true}" mdbModal class="modal fade" #frame="mdbModal">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{ 'New Email recipients' | translate }}</h3>
        <button class="close" data-dismiss="modal" (click)="frame.hide()">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <ng-select
                class="custom"
                dropdownPosition="'bottom'"
                [placeholder]="'Tags' | translate"
                [(ngModel)]="emailRecipientsCreateModel.tagsIds"
                [bindValue]="'id'"
                [bindLabel]="'name'"
                [items]="availableTags"
                id="createEmailRecipientsMultiSelector"
                [multiple]="true"></ng-select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input mdbInput type="text" [(ngModel)]="emailRecipientsCreateModel.newTags" name="addTagInput"
                       class="form-control" id="addTagInput">
                <label for="addTagInput">{{'New tags' | translate}}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <textarea
                  mdbInput #textAreaData [(ngModel)]="rawTextareaData"
                  name="emailAddresses" id="emailAddresses" rows="10"
                  class="md-textarea form-control"></textarea>
                <label for="emailAddresses">{{ 'Enter name and email addresses separated by coma (test, test@test.com)' | translate }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button mat-button class="btn-success btn-small-height" (click)="createEmailRecipients(textAreaData)"
                id="emailRecipientsCreateSaveBtn">
          {{ 'Save' | translate }}
        </button>
        <button mat-button class="btn-accent text-black-50 btn-small-height" (click)="frame.hide()" id="emailRecipientsSaveCancelBtn">
          {{ 'Cancel' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
