<h3 mat-dialog-title>{{'New Email recipients' | translate}}</h3>
<div mat-dialog-content>
  <div class="d-flex flex-column">
    <mat-form-field>
      <mat-label>{{'Tags' | translate }}</mat-label>
      <mtx-select
        class="custom"
        [dropdownPosition]="'bottom'"
        [(ngModel)]="emailRecipientsCreateModel.tagsIds"
        [bindValue]="'id'"
        [bindLabel]="'name'"
        [items]="availableTags"
        id="createEmailRecipientsMultiSelector"
        [multiple]="true">
      </mtx-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'New tags' | translate }}</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="emailRecipientsCreateModel.newTags"
        name="addTagInput"
        id="addTagInput">
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'Enter name and email addresses separated by coma (test, test@test.com)' | translate }}</mat-label>
      <textarea
        matInput
        #textAreaData
        [(ngModel)]="rawTextareaData"
        name="emailAddresses"
        id="emailAddresses"
        rows="10"></textarea>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end gap-12">
  <button
    class="btn-primary btn-primary--icon-left"
    (click)="createEmailRecipients(textAreaData)"
    id="emailRecipientsCreateSaveBtn"
  >
    {{'Save' | translate}}
  </button>
  <button
    class="btn-cancel"
    id="emailRecipientsSaveCancelBtn"
    (click)="hide()"
  >
    {{'Cancel' | translate}}
  </button>
</div>
