@use 'sass:map';
@use '@angular/material' as mat;

:host .mat-mdc-button-base ~ .mat-mdc-button-base {
   margin-left: 0;
}

mat-mdc-tree-node.mat-mdc-tree-node {
  min-height: 30px;
  max-height: 30px;
  display: inline-flex;

  &:hover{
    border-radius: var(--rounded-full)!important;
  }
  &:focus{
    border-radius: var(--rounded-full)!important;
  }

  .selected-node {
    background-color: var(--mdc-theme-primary) !important;
    color: var(--mdc-theme-on-primary) !important;
    border-radius: var(--rounded-full);

    &:hover{
      background-color: var(--mdc-theme-primary-dark) !important;
    }
  }
}

.collapse-button {
  position: absolute;
  right: 20px;
}

.selected-folder {
  color: mat.m2-get-color-from-palette(mat.$m2-teal-palette, 300);
}

.microting-uid {
  color: var(--text-header) !important;
  margin-left: .5rem;
}

.cursor {
  cursor: pointer;
  &.no-drop{
    cursor: no-drop;
  }
}


mat-tree-node.children {
  padding-left: 56px !important;
}
mat-tree-node{
  display: flex;
  height: 40px;
  padding: var(--28-px, 8px) var(--28-px, 8px) var(--28-px, 8px) var(--832-px, 32px)!important;
  align-items: center;
  gap: var(--156-px, 6px);
  align-self: stretch;
  background: var(--bg)!important;
  &:hover, &:active{
    color: var(--primary);
    background: var(--primary-light, #F5FCFC)!important;
    transition: color .5s;
  }
  //&[aria-expanded="true"]

}
