<ng-container *ngIf="showCollapseButton">
  <button
    mat-icon-button
    *ngIf="collapsed"
    class="collapse-button"
    (click)="treeControl.expandAll(); collapsed = !collapsed"
  >
    <mat-icon>expand_more</mat-icon>
  </button>
  <button
    mat-icon-button
    *ngIf="!collapsed"
    class="collapse-button"
    (click)="treeControl.collapseAll(); collapsed = !collapsed"
  >
    <mat-icon>expand_less</mat-icon>
  </button>
</ng-container>

<mat-tree *ngIf="folders.data" [dataSource]="folders" [treeControl]="treeControl">
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding=""
    [ngClass]="{'children': getLevel(node) > 0}">
    <div
      style="padding-left: 2px;"
      [ngClass]="{'folder': !lockSelectedNode, 'no-drop': lockSelectedNode,
      'selected-folder': selectedFolderIds.includes(node.id)}"
      (click)="selected(node.id)"
      class="d-flex flex-row align-items-center cursor"
    >
      <mat-icon>folder_open</mat-icon>
      <div style="padding-left: 2px;" class="folder-tree-name">
        {{node.name}}
      </div>
      <small class="microting-uid">({{ node.microtingUId }})</small>
      <ng-container *ngIf="showActions">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <ng-container *ngIf="showCreateAction">
            <button mat-menu-item (click)="createChild(node.id)" id="createFolderChildBtn">
              <mat-icon>add</mat-icon>
              <span>{{ 'Add new child folder' | translate }}</span>
            </button>
          </ng-container>
          <ng-container *ngIf="showEditAction && node.isEditable">
            <button mat-menu-item (click)="edit(node.id)" id="editFolderTreeBtn">
              <mat-icon>edit</mat-icon>
              <span>{{ 'Edit folder' | translate }}</span>
            </button>
          </ng-container>
          <ng-container *ngIf="showDeleteAction && !node.isLocked">
            <button mat-menu-item (click)="delete(node.id)" id="deleteFolderTreeBtn">
              <mat-icon>delete</mat-icon>
              <span>{{ 'Delete folder' | translate }}</span>
            </button>
          </ng-container>
        </mat-menu>

      </ng-container>
    </div>

  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding="">
    <ng-container>
      <button
        mat-icon-button
        matTreeNodeToggle
      >
        <mat-icon class="mat-icon-rtl-mirror" [ngClass]="{'selected-folder': selectedFolderIds.includes(node.id)}">
          {{treeControl.isExpanded(node) ? 'folder_open' : 'folder'}}
        </mat-icon>
      </button>
      <div
        [ngClass]="{'selected-folder': selectedFolderIds.includes(node.id)}"
      >
        <div  class="folder-tree-name">
          {{node.name}}
        </div>
      </div>
      <small class="microting-uid">({{ node.microtingUId }})</small>
      <ng-container *ngIf="showActions">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <ng-container *ngIf="showCreateAction">
            <button mat-menu-item (click)="createChild(node.id)" id="createFolderChildBtn">
              <mat-icon>add</mat-icon>
              <span>{{ 'Add new child folder' | translate }}</span>
            </button>
          </ng-container>
          <ng-container *ngIf="showEditAction && node.isEditable">
            <button mat-menu-item (click)="edit(node.id)" id="editFolderTreeBtn">
              <mat-icon>edit</mat-icon>
              <span>{{ 'Edit folder' | translate }}</span>
            </button>
          </ng-container>
          <ng-container *ngIf="showDeleteAction && !node.isLocked">
            <button mat-menu-item (click)="delete(node.id)" id="deleteFolderTreeBtn">
              <mat-icon>delete</mat-icon>
              <span>{{ 'Delete folder' | translate }}</span>
            </button>
          </ng-container>
        </mat-menu>
      </ng-container>
    </ng-container>
  </mat-tree-node>
</mat-tree>
