@use 'sass:map';
@use '@angular/material' as mat;

:host .mat-mdc-button-base ~ .mat-mdc-button-base {
   margin-left: 0;
}

mat-mdc-tree-node.mat-mdc-tree-node {
  min-height: 30px;
  max-height: 30px;
}

.collapse-button {
  position: absolute;
  right: 20px;
}

.selected-folder {
  color: mat.get-color-from-palette(mat.$pink-palette, 300);
}

.microting-uid {
  color: mat.get-color-from-palette(mat.$indigo-palette, 300);
  margin-left: .5rem;
}

.folder:hover {
  color: mat.get-color-from-palette(mat.$pink-palette, 300);
  transition: color .5s;
}

.cursor {
  cursor: pointer;
  &.no-drop{
    cursor: no-drop;
  }
}
