<h3 mat-dialog-title>{{'Edit menu entry' | translate}}</h3>
<div mat-dialog-content>
  <div class="d-flex flex-column">
    <mat-form-field>
      <mat-label>{{'Security groups' | translate}}</mat-label>
      <mtx-select
        dropdownPosition="bottom"
        [(ngModel)]="item.securityGroupsIds"
        [bindValue]="'id'"
        [bindLabel]="'name'"
        [items]="availableSecurityGroups"
        id="editSecurityGroupsSelector"
        [multiple]="true"      >
      </mtx-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'Icon' | translate }}</mat-label>
      <input
        matInput
        type="text"
        id="editIconInput"
        name="editIconInput"
        [(ngModel)]="item.icon"
        placeholder="e.g., home, settings, dashboard"
      >
    </mat-form-field>
    <div class="d-flex flex-row align-items-center need-wrapper"
         *ngIf="item.type === menuItemType.CustomLink || item.type === menuItemType.Link">
      <mat-form-field>
        <mat-label>{{ 'Link' | translate }}</mat-label>
        <input
          matInput
          type="text"
          id="editLinkInput"
          name="editLinkInput"
          [(ngModel)]="item.link"
        >
      </mat-form-field>
      <mat-checkbox
        id="editLinkIsInternalLink"
        name="editLinkIsInternalLink"
        [(ngModel)]="item.isInternalLink"
        class="ml-2"
      >
        {{ 'Is internal link' | translate }}
      </mat-checkbox>
    </div>
    <mat-form-field *ngFor="
              let translationControls of translationsArray.controls;
              let translationIndex = index
            ">
      <ng-container [formGroup]="translationControls">
        <mat-label>{{ translationControls.get('language').value }}</mat-label>
        <input
          matInput
          type="text"
          id="editItemTranslation{{ firstLevelIndex }}_{{ secondLevelIndex ? secondLevelIndex : 0 }}_{{ translationIndex }}"
          name="editItemTranslation{{ firstLevelIndex }}_{{ secondLevelIndex ? secondLevelIndex : 0 }}_{{ translationIndex }}"
          formControlName="name"
        >
      </ng-container>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end">
  <button
    mat-raised-button
    color="accent"
    id="editItemSaveBtn"
    (click)="updateItem()"
  >
    {{'Save' | translate}}
  </button>
  <button
    mat-raised-button
    id="editItemSaveCancelBtn"
    (click)="hide()"
  >
    {{'Cancel' | translate}}
  </button>
</div>
