<div [config]="{ignoreBackdropClick: true}" mdbModal class="modal fade" #frame="mdbModal">
  <div class="modal-dialog modal-md" id="editMenuEntry">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{ 'Edit menu entry' | translate }}</h3>
        <button class="close" data-dismiss="modal" (click)="hide()">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div
            class="row"
            *ngIf="
              item.type === menuItemType.CustomLink ||
              item.type === menuItemType.Dropdown
            "
          >
            <div class="col-md-12">
              <ng-select
                class="custom"
                dropdownPosition="'bottom'"
                [placeholder]="'Security groups' | translate"
                [(ngModel)]="item.securityGroupsIds"
                [bindValue]="'id'"
                [bindLabel]="'name'"
                [items]="availableSecurityGroups"
                id="editSecurityGroupsSelector"
                [multiple]="true"
              ></ng-select>
            </div>
          </div>
          <div
            class="row"
            *ngIf="
              item.type === menuItemType.CustomLink ||
              item.type === menuItemType.Link
            "
          >
            <div class="col">
              <div class="md-form">
                <input
                  mdbInput
                  type="text"
                  id="editLinkInput"
                  name="editLinkInput"
                  [(ngModel)]="item.link"
                  class="form-control"
                />
                <label for="editLinkInput">{{ 'Link' | translate }}</label>
              </div>
            </div>
          </div>
          <div
            class="row"
            *ngFor="
              let translationControls of translationsArray.controls;
              let translationIndex = index
            "
          >
            <ng-container [formGroup]="translationControls">
              <div class="col">
                <div class="md-form">
                  <input
                    mdbInput
                    type="text"
                    id="editItemTranslation{{ firstLevelIndex }}_{{
                      secondLevelIndex ? secondLevelIndex : 0
                    }}_{{ translationIndex }}"
                    name="editItemTranslation{{ firstLevelIndex }}_{{
                      secondLevelIndex ? secondLevelIndex : 0
                    }}_{{ translationIndex }}"
                    formControlName="name"
                    class="form-control"
                  />
                  <label
                    for="editItemTranslation{{ firstLevelIndex }}_{{
                      secondLevelIndex ? secondLevelIndex : 0
                    }}_{{ translationIndex }}"
                    >
                   {{ translationControls.get('language').value }}
                  </label
                  >
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          mat-button
          class="btn-success btn-small-height"
          id="editItemSaveBtn"
          (click)="updateItem()"
        >
          {{ 'Save' | translate }}
        </button>
        <button
          mat-button
          class="btn-accent text-black-50 btn-small-height"
          id="editItemSaveCancelBtn"
          (click)="hide()"
        >
          {{ 'Cancel' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
