
  <div class="d-flex align-items-center justify-content-center">
    <ng-container *ngIf="translateName">
      {{
        visibleName ? (visibleName | translate) : (name | translate)
      }}</ng-container
    >
    <ng-container *ngIf="!translateName">
      {{ visibleName ? visibleName : name }}</ng-container
    >

    <i class="material-icons text-black-50" *ngIf="currentSortName != name"
      >unfold_more</i
    >
    <i class="material-icons" *ngIf="currentSortName == name && !isSortDsc"
      >expand_less</i
    >
    <i class="material-icons" *ngIf="currentSortName == name && isSortDsc"
      >expand_more</i
    >
  </div>

