<mat-card>
  <mat-card-title *ngIf="title">{{title}}</mat-card-title>
  <mat-card-content class="d-flex flex-column">
    <mat-form-field>
      <mat-label>{{'Name' | translate}}</mat-label>
      <input
        type="text"
        matInput
        [ngModel]="model.name"
        (ngModelChange)="onNameChange($event)"
        [id]="idName"
      >
    </mat-form-field>
    <formatting-text-editor [value]="model.description" (valueChange)="onDescriptionChange($event)"/>
  </mat-card-content>
</mat-card>
