<h3 mat-dialog-title>{{'New dropdown' | translate}}</h3>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>{{'Security groups' | translate}}</mat-label>
    <mtx-select
      dropdownPosition="bottom"
      [(ngModel)]="customDropdownModel.securityGroupsIds"
      [bindValue]="'id'"
      [bindLabel]="'name'"
      [items]="availableSecurityGroups"
      id="securityGroupsCustomDropdownSelector"
      [multiple]="true">
    </mtx-select>
  </mat-form-field>

  <mat-form-field *ngFor="let translation of customDropdownModel.translations; let i = index;">
    <mat-label>{{ translation.language }}</mat-label>
    <input
      matInput
      type="text"
      id="dropdownTranslation{{i}}"
      name="dropdownTranslation{{i}}"
      [(ngModel)]="translation.name"
    />
  </mat-form-field>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end align-items-center gap-12">
  <button
    class="btn-primary btn-primary--icon-left"
    id="customDropdownCreateBtn"
    (click)="hide(true)"
  >
    {{'Add' | translate}}
  </button>
  <button
    class="btn-cancel"
    id="menuItemDeleteCancelBtn"
    (click)="hide()"
  >
    {{'Close' | translate}}
  </button>
</div>
