<header class="main-header main-header-title">
  <div class="container-fluid">
    <h1 class="page-title header-page-title">
      <div class="container">
        my eForms
      </div>
    </h1>
    <div class="pull-right">
      <button tooltip="Create eForm"
              (click)="showTemplateCreateModal()"
              class="needs_tooltip btn btn-ar btn-success"
              type="button" id="newEFormBtn">New eForm
      </button>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8">
      <div id="check_lists_filter" class="form-inline">
        <label>Label:
          <input type="search" (keyup.enter)="onLabelInputChanged($event.target.value)" class="form-control input-sm"
                 placeholder="" id="labelInput">
        </label>

        <div class="inline-block">
          <label class="inline-block tags-label" for="eFormXML">Tags:</label>
          <ss-multiselect-dropdown [options]="availableTags"
                                   [texts]="filterTagTexts"
                                   [settings]="mySettings"
                                   (ngModelChange)="loadAllTemplates();"
                                   [(ngModel)]="templateRequestModel.tagIds" id="tagSelector"></ss-multiselect-dropdown>
        </div>
      </div>
    </div>
    <!--<table-pagination *ngIf="templateListModel.numOfElements > templateRequestModel.pageSize"
                      [limit]="templateRequestModel.pageSize"
                      [size]="templateListModel.numOfElements"
                      [offset]="templateRequestModel.offset"
                      (onPageChanged)="changePage($event)"></table-pagination>-->
  </div>
  <table border="0" cellpadding="0" cellspacing="0"
         class="table table-striped table-bordered table-condensed table-hover dataTable no-footer"
         id="units" role="grid" aria-describedby="check_lists_info" style="width: 100%;">
    <thead>
    <tr role="row">
      <th class="col-md-1 text-center"
          [class.sorting_asc]="templateRequestModel.sort == 'id' && !templateRequestModel.isSortDsc"
          [class.sorting_desc]="templateRequestModel.sort == 'id' && templateRequestModel.isSortDsc"
          [class.sorting]="templateRequestModel.sort != 'id'"
          (click)="sortByColumn('id', templateRequestModel.isSortDsc = !templateRequestModel.isSortDsc)"
          rowspan="1" colspan="1" id="idSort">
        ID
      </th>
      <th class="col-md-2 text-center"
          [class.sorting_asc]="templateRequestModel.sort == 'createdAt' && !templateRequestModel.isSortDsc"
          [class.sorting_desc]="templateRequestModel.sort == 'createdAt' && templateRequestModel.isSortDsc"
          [class.sorting]="templateRequestModel.sort != 'createdAt'"
          (click)="sortByColumn('createdAt', templateRequestModel.isSortDsc = !templateRequestModel.isSortDsc)"
          rowspan="1" colspan="1" id="createdAtSort">
        Created at
      </th>
      <th class="col-md-3 text-center"
          [class.sorting_asc]="templateRequestModel.sort == 'label' && !templateRequestModel.isSortDsc"
          [class.sorting_desc]="templateRequestModel.sort == 'label' && templateRequestModel.isSortDsc"
          [class.sorting]="templateRequestModel.sort != 'label'"
          (click)="sortByColumn('label', templateRequestModel.isSortDsc = !templateRequestModel.isSortDsc)"
          rowspan="1" colspan="1" id="nameEFormSort">
        Name eForm
      </th>
      <th class="col-md-2 text-center">
        Tags
      </th>
      <th class="col-md-1 text-center" rowspan="1" colspan="1">
        Pairing
      </th>
      <th class="col-md-1 text-center" rowspan="1" colspan="1">
        Actions
      </th>
    </tr>
    </thead>
    <tbody id="mainPageEFormsTableBody">
    <tr *ngFor="let templateDto of templateListModel.templates">
      <td class="text-center">
        {{templateDto.id}}
      </td>
      <td class="text-center">
        {{templateDto.createdAt | date:'dd.MM.y HH:mm:ss'}}
      </td>
      <td class="text-center">
        {{templateDto.label}}
      </td>
      <td class="text-center">
        <div class="row">
          <div class="col-md-10">
            <ng-container *ngFor="let tag of templateDto.tags; let i = index">
              {{tag.value}}
              <ng-container *ngIf="templateDto.tags.length - 1 !== i">
                ,
              </ng-container>
            </ng-container>
          </div>
          <div class="col-md-2">
            <a (click)="showTemplateTagsEdit(templateDto)"
               class="needs_tooltip btn btn-ar btn-xs btn-default"
               type="button" tooltip="Edit tags">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
          </div>
        </div>
      </td>
      <td class="text-center">
        <span *ngFor="let deployedSite of templateDto.deployedSites">{{deployedSite.siteName}}<br></span>
        <button *ngIf="templateDto.deployedSites.length > 0" class="needs_tooltip btn btn-ar btn-sm btn-success"
                type="button" tooltip="Click to edit eForm pairing with user(s)"
                (click)="editDeployment(templateDto)">Edit pairing
        </button>
        <button *ngIf="templateDto.deployedSites.length == 0" class="needs_tooltip btn btn-ar btn-sm btn-success"
                type="button" tooltip="Click to pair eForm with user(s)"
                (click)="editDeployment(templateDto)">Pair eForm
        </button>
      </td>
      <td class="text-center">
        <div class="row row-buttons-wrapper btn-group" role="group">
          <a *ngIf="templateDto.hasCases" [routerLink]="['/cases', templateDto.id]"
             class="needs_tooltip btn btn-ar btn-sm btn-default mt-edit-check-list-button"
             type="button" tooltip="Show cases">
            <span class="glyphicon glyphicon-search" data-mt-check-list-id="@(item.Id)"></span>
          </a>
          <a
            class="needs_tooltip btn btn-ar btn-sm btn-default mt-edit-check-list-button"
            (click)="openEditCasesColumnsModal(templateDto)"
            type="button" tooltip="Edit columns">
            <span class="glyphicon glyphicon-align-justify"></span>
          </a>
          <a *ngIf="templateDto.hasCases" href="/api/template-files/csv/{{templateDto.id}}"
             class="needs_tooltip btn btn-ar btn-sm btn-success" type="button" tooltip="Download CSV">
            <span class="fa fa-file-text-o"></span>
          </a>
          <button tooltip="Delete eForm" (click)="showTemplateDeleteModal(templateDto)"
                  class="needs_tooltip btn btn-ar btn-sm btn-danger"
                  type="button">
            <span class="fa fa-trash-o"></span>
          </button>
        </div>
        <br>
        <div class="row row-buttons-wrapper btn-group" *ngIf="templateDto.hasCases" role="group">
          <a tooltip="Download XML" href="/api/template-files/download-eform-xml/{{templateDto.id}}"
             class="needs_tooltip btn btn-ar btn-sm btn-default"
             type="button">
            <span class="fa fa-file-code-o"></span>
          </a>
          <button tooltip="Upload ZIP archive" (click)="showUploadTemplateZIP(templateDto)"
                  class="needs_tooltip btn btn-ar btn-sm btn-default"
                  type="button">
            <span class="fa fa-file-archive-o"></span>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="row" *ngIf="false">
    <div class="col-xs-6">
      <div class="dataTables_info" id="searchable_groups_info" *ngIf="templateListModel.numOfElements > 0">
        Showing {{this.templateRequestModel.offset + 1}}
        to {{getLastPageNumber()}} of {{templateListModel.numOfElements}} records
      </div>
    </div>
    <div class="col-xs-6"></div>
  </div>
  <eform-spinner [middleActive]="spinnerStatus"></eform-spinner>
</div>

<modal #uploadTemplateZIPModal>
  <modal-header [show-close]="true">
    <h4>Upload template ZIP</h4>
  </modal-header>
  <modal-body>
    <div class="create_eform">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <input type="file" ng2FileSelect [uploader]="zipFileUploader" class="input-wrapper"/>
          <div>
            <div>
              Uploading progress:
              <div class="progress" style="">
                <div class="progress-bar" role="progressbar"
                     [ngStyle]="{ 'width': zipFileUploader.progress + '%' }"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="createTemplateModal"
            (click)="uploadTemplateZIPModal.dismiss()">Cancel
    </button>
    <button type="button" class="btn btn-success" (click)="uploadTemplateZIP()">Save eForm</button>
  </modal-footer>
</modal>

<modal #deploymentModal [size]="'lg'">
  <modal-header [show-close]="true">
    <h4 class="modal-title">{{deploymentModalTitle}}</h4>
  </modal-header>
  <modal-body>
    <div class="deploy_check_lists">
      <table border="0" cellpadding="0" cellspacing="0"
             class="table table-striped table-bordered table-condensed table-hover dataTable no-footer"
             id="templates" role="grid" aria-describedby="check_lists_info" style="width: 100%;">
        <thead>
        <tr role="row">
          <th class="col-md-1 text-center" rowspan="1" colspan="1">
            Microting ID
          </th>
          <th class="col-md-2 text-center" rowspan="1" colspan="1">
            Name user device
          </th>
          <th class="col-md-2 text-center" rowspan="1" colspan="1">
            Check to pair
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let siteDto of sitesDto">
          <td>
            {{siteDto.siteUId}}
          </td>
          <td>
            {{siteDto.siteName}}
          </td>
          <td>
            <div *ngFor="let checkboxModel of deployViewModel.deployCheckboxes">
              <div *ngIf="checkboxModel.id == siteDto.siteUId">
                <input *ngIf="checkboxModel.isChecked == true" type="checkbox" checked name="siteId{{siteDto.siteUId}}"
                       value="{{siteDto.siteUId}}" (change)="addToArray($event)">
                <input *ngIf="checkboxModel.isChecked == false" type="checkbox" name="siteId{{siteDto.siteUId}}"
                       value="{{siteDto.siteUId}}" (change)="addToArray($event)">
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="deploymentModal" (click)="deploymentModal.dismiss()">
      Cancel
    </button>
    <button type="button" class="btn btn-success" [disabled]="isDeploying" (click)="submitDeploymentModal()">Save
      pairing
      <i *ngIf="isDeploying" class="fa fa-spinner fa-spin"></i></button>
  </modal-footer>
</modal>

<modal #editCasesColumnsModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Select columns for displaying in Cases</h4>
  </modal-header>
  <modal-body>
    <div class="container-fluid">
      <div class='row'>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>No</th>
            <th>Field</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><strong>1</strong></td>
            <td class="col-md-8">
              <select [(ngModel)]="columnEditModel.fieldId1" class="form-control">
                <option [value]="null"></option>
                <option *ngFor="let column of columnModels" [value]="column.id">{{column.label}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><strong>2</strong></td>
            <td>
              <select [(ngModel)]="columnEditModel.fieldId2" class="form-control">
                <option [value]="null"></option>
                <option *ngFor="let column of columnModels" [value]="column.id">{{column.label}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><strong>3</strong></td>
            <td>
              <select [(ngModel)]="columnEditModel.fieldId3" class="form-control">
                <option [value]="null"></option>
                <option *ngFor="let column of columnModels" [value]="column.id">{{column.label}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><strong>4</strong></td>
            <td>
              <select [(ngModel)]="columnEditModel.fieldId4" class="form-control">
                <option [value]="null"></option>
                <option *ngFor="let column of columnModels" [value]="column.id">{{column.label}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><strong>5</strong></td>
            <td>
              <select [(ngModel)]="columnEditModel.fieldId5" class="form-control">
                <option [value]="null"></option>
                <option *ngFor="let column of columnModels" [value]="column.id">{{column.label}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><strong>6</strong></td>
            <td>
              <select [(ngModel)]="columnEditModel.fieldId6" class="form-control">
                <option [value]="null"></option>
                <option *ngFor="let column of columnModels" [value]="column.id">{{column.label}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><strong>7</strong></td>
            <td>
              <select [(ngModel)]="columnEditModel.fieldId7" class="form-control">
                <option [value]="null"></option>
                <option *ngFor="let column of columnModels" [value]="column.id">{{column.label}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><strong>8</strong></td>
            <td>
              <select [(ngModel)]="columnEditModel.fieldId8" class="form-control">
                <option [value]="null"></option>
                <option *ngFor="let column of columnModels" [value]="column.id">{{column.label}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><strong>9</strong></td>
            <td>
              <select [(ngModel)]="columnEditModel.fieldId9" class="form-control">
                <option [value]="null"></option>
                <option *ngFor="let column of columnModels" [value]="column.id">{{column.label}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><strong>10</strong></td>
            <td>
              <select [(ngModel)]="columnEditModel.fieldId10" class="form-control">
                <option [value]="null"></option>
                <option *ngFor="let column of columnModels" [value]="column.id">{{column.label}}</option>
              </select>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-danger" (click)="updateColumns()">Save</button>
    <button type="button" class="btn btn-default" (click)="editCasesColumnsModal.dismiss()">Cancel</button>
  </modal-footer>
</modal>

<modal #deleteTemplateModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Are you sure you want to delete?</h4>
  </modal-header>
  <modal-body>
    <div class="container-fluid">
      <div class='row'>
        <div class='col-md-4'><label>#</label></div>
        <div class='col-md-8'> {{selectedTemplateDto.id}}</div>
      </div>
      <div class='row'>
        <div class='col-md-4'><label>Creation_date</label></div>
        <div class='col-md-8'> {{selectedTemplateDto.createdAt | date:'dd.MM.y HH:mm:ss'}}</div>
      </div>
      <div class='row'>
        <div class='col-md-4'><label>Name:</label></div>
        <div class='col-md-8'> {{selectedTemplateDto.label}}</div>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-danger" (click)="submitTemplateDeleteModal(selectedTemplateDto.id)"
            id="deleteEFormOkBtn">OK
    </button>
    <button type="button" class="btn btn-default" data-dismiss="deleteTemplateModal"
            (click)="deleteTemplateModal.dismiss()" id="deleteEFormCancelBtn">Cancel
    </button>
  </modal-footer>
</modal>

<modal #updateTemplateTagsModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Select tags for template</h4>
  </modal-header>
  <modal-body>
    <div class="container-fluid">
      <div class="row">
        <div class="form-group col-xs-12 col-md-12">
          <label class="multiselect-label" for="eFormXML">Template tags</label>
          <ss-multiselect-dropdown [options]="availableTags"
                                   [texts]="myTexts"
                                   [(ngModel)]="selectedTemplateTagsIds"
                                   [disabled]="isTagsProcessing"
                                   [settings]="mySettings">
          </ss-multiselect-dropdown>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12 col-md-12">
          <label class="multiselect-label" for="eFormXML">New tag</label>
          <div class="col-md-9 col-xs-9 new-tag-block form-group">
            <input type="search" class="form-control" #newTagInput>
          </div>
          <div class="col-md-3 col-xs-3">
            <button class="btn btn-success btn-md" [disabled]="isTagsProcessing"
                    (click)="createNewTag(newTagInput.value); newTagInput.value = ''">
              Save
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12 col-md-12">
          <label class="multiselect-label" for="eFormXML">Tag list</label>
          <div class="col-md-9 col-xs-9 new-tag-block">
            <select class="form-control" #tagRemoveId>
              <option *ngFor="let availableTag of availableTags"
                      [disabled]="isTagsProcessing"
                      [value]="availableTag.id">
                {{availableTag.name}}
              </option>
            </select>
          </div>
          <div class="col-md-3 col-xs-3">
            <button class="btn btn-danger"
                    [disabled]="isTagsProcessing"
                    (click)="removeTemplateTag(tagRemoveId.value)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-danger" [disabled]="isTagsProcessing"
            (click)="updateTemplateTags(selectedTemplateDto.id)">Save
    </button>
    <button type="button" class="btn btn-default" data-dismiss="deleteTemplateModal"
            (click)="updateTemplateTagsModal.dismiss()">Cancel
    </button>
  </modal-footer>
</modal>

<modal #createTemplateModal [size]="'lg'">
  <modal-header [show-close]="true">
    <h4>Create eForm</h4>
  </modal-header>
  <modal-body>
    <div class="create_eform">
      <div class="row">
        <div class="form-group col-xs-12 col-md-12">
          <label class="multiselect-label" for="eFormXML">Tags</label>
          <ss-multiselect-dropdown [options]="availableTags"
                                   [texts]="myTexts"
                                   [settings]="mySettings"
                                   [(ngModel)]="eFormCreateModel.tagIds"
                                   id="createEFormMultiSelector"></ss-multiselect-dropdown>
          <button class="btn btn-success btn-xs btn-add-tag" *ngIf="!isTagAddOpen"
                  (click)="isTagAddOpen = !isTagAddOpen" id="addTagBtn"><span class="glyphicon glyphicon-plus"></span>
          </button>
          <ng-container *ngIf="isTagAddOpen">
            <input type="search" [(ngModel)]="eFormCreateModel.newTag" class="form-control add-tag-input"
                   id="addTagInput">
            <button class="btn btn-danger btn-xs btn-add-tag"
                    (click)="isTagAddOpen = !isTagAddOpen; eFormCreateModel.newTag = '';" id="closeTagInputBtn">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </ng-container>

        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12 col-md-12">
          <label class="mt-validation-container" for="eFormXML">XML from eForm Builder</label>
          <textarea [(ngModel)]="eFormCreateModel.eFormXml" class="form-control" placeholder="Paste XML here"
                    name="eFormXML" id="eFormXml" rows="20" ></textarea>
        </div>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="createTemplateModal"
            (click)="createTemplateModal.dismiss()" id="createEFormCancelBtn">Cancel
    </button>
    <button type="button" class="btn btn-success" (click)="submitTemplateCreateModal()" id="createEFormSaveEFormBtn">
      Save eForm
    </button>
  </modal-footer>
</modal>
