.input-wrapper {
  margin-bottom: 10px;
  margin-top: 5px;
}

.row-buttons-wrapper {
  margin-bottom: 5px;
  margin-top: 3px
}

.multiselect-label {
  display: block;
}

.btn-add-tag {
  margin-left: 25px;
}

.add-tag-input {
  margin-left: 30px;
  display: inline-block;
  max-width: 200px;
}

.inline-block {
  display: inline-block;
}

.tags-label {
  margin-left: 10px;
}
