.component-heading {

}

.ng-select.custom .ng-value {
  background-color: #F1F1F1;
}

.ng-select-inline {
  margin-top: 0.5rem;
  display: inline-block;
}

.paragraph-sm {
  margin-bottom: 0.2rem;
}
