<eform-subheader>
  <div class="p-3">
    <button
      mdbBtn
      class="btn-accent text-black-50 btn-icon"
      id="importEformsBtn"
      mdbTooltip="{{ 'Import eforms' | translate }}"
      *ngIf="userClaims.eformsCreate"
      (click)="openEformsImportModal()"
    >
      <fa-icon icon="file-import" [fixedWidth]="true" size="lg"></fa-icon>
    </button>
    <button
      mdbBtn
      class="btn-accent text-black-50 btn-icon"
      id="eformsManageTagsBtn"
      (click)="openTagsModal()"
      mdbTooltip="{{ 'Manage tags' | translate }}"
      mdbWavesEffect
      *ngIf="authStateService.checkClaim('eformAllowManagingEformTags')"
    >
      <fa-icon icon="tags" [fixedWidth]="true" size="lg"></fa-icon>
    </button>
    <a
      mdbBtn
      class="btn-success btn-icon"
      id="eformsVisualEditor"
      *ngIf="userClaims.eformsCreate"
      [routerLink]="['visual-editor']"
      mdbTooltip="{{ 'New eForm' | translate }}"
      mdbWavesEffect
    >
      <fa-icon icon="pen" [fixedWidth]="true" size="lg"></fa-icon>
    </a>
    <button
      mdbBtn
      class="btn-success btn-icon"
      mdbTooltip="
      {{ 'New eForm from XML' | translate }}"
      id="newEFormBtn"
      *ngIf="userClaims.eformsCreate"
      (click)="openNewEformModal()"
    >
      <fa-icon icon="code" size="lg" [fixedWidth]="true"></fa-icon>
    </button>
  </div>
</eform-subheader>

<!--Here you can choose approach as you like: container-row, or flex, or just element with required styles and markup-->
<div class="container-fluid">
  <div class="row pl-1">
    <div class="col-md-2">
      <div class="md-form">
        <input
          mdbInput
          type="text"
          [ngModel]="eformsStateService.getNameFilter() | async"
          (ngModelChange)="onLabelInputChanged($event)"
          class="form-control input-sm"
          id="labelInput"
        />
        <label for="labelInput">{{ 'Label' | translate }}</label>
      </div>
    </div>
    <div class="col-md-4 ng-select-wrapper" *ngIf="userClaims.eformsReadTags">
      <ng-select
        class="custom"
        dropdownPosition="'bottom'"
        [placeholder]="'Tags' | translate"
        [items]="availableTags"
        [ngModel]="eformsStateService.getTagIds() | async"
        (add)="saveTag($event)"
        (remove)="removeSavedTag($event)"
        [clearable]="false"
        [bindLabel]="'name'"
        [bindValue]="'id'"
        id="tagSelector"
        [multiple]="true"
      ></ng-select>
    </div>
  </div>
  <div class="row p-1 table-responsive no-gutters">
    <table
      mdbTable
      striped="true"
      hover="true"
      small="true"
      class="z-depth-1 text-center"
    >
      <thead
        table-headers
        [tableHeaders]="tableHeaders"
        [sort]="eformsStateService.getSort() | async"
        (sortChanged)="sortTable($event)"
      ></thead>
      <tbody id="mainPageEFormsTableBody">
        <tr *ngFor="let templateDto of templateListModel.templates; index as i">
          <td class="eform-id" id="eform-id-{{ i }}">
            {{ templateDto.id }}
          </td>
          <!--<td id="eform-created-at">{{templateDto.createdAt | date:'dd.MM.y HH:mm:ss'}}</td>-->
          <td id="eform-created-at-{{ i }}">
            <date-formatter
              [date]="templateDto.createdAt"
              [Format]="'datetime'"
            ></date-formatter>
          </td>
          <td id="eform-label-{{ i }}">{{ templateDto.label }}</td>
          <td id="eform-description-{{ i }}" [innerHTML]="templateDto.description"></td>
          <td>
            <div class="d-flex justify-content-center">
              <div>
                <a
                  mdbBtn
                  type="button"
                  color="success"
                  class="btn-icon btn-success"
                  *ngIf="
                    checkEformPermissions(
                      templateDto.id,
                      userClaimsEnum.eformsUpdateTags
                    )
                  "
                  id="eform-edit-btn-{{ i }}"
                  mdbTooltip="{{ 'Edit tags' | translate }}"
                  (click)="openEditTagsModal(templateDto)"
                >
                  <fa-icon icon="pen" size="lg" [fixedWidth]="true"></fa-icon>
                  <!--                {{ 'Edit tags' | translate }}-->
                </a>
                <br />
                <ng-container
                  *ngIf="
                    checkEformPermissions(
                      templateDto.id,
                      userClaimsEnum.eformsReadTags
                    )
                  "
                >
                  <p
                    class="paragraph-sm badge badge-primary mb-1"
                    id="eform-tag-{{ i }}"
                    *ngFor="let tag of templateDto.tags"
                  >
                    <fa-icon icon="tag"></fa-icon>
                    {{ tag.value }}
                  </p>
                </ng-container>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex justify-content-center">
              <div>
                <button
                  *ngIf="
                    templateDto.deployedSites.length > 0 &&
                    checkEformPermissions(
                      templateDto.id,
                      userClaimsEnum.eformsPairingUpdate
                    ) &&
                    !templateDto.isLocked
                  "
                  id="eform-pairing-btn-{{ i }}"
                  mdbBtn
                  type="button"
                  class="btn-success btn-icon"
                  (click)="openPairingModal(templateDto)"
                  mdbTooltip="{{
                    'Click to edit eForm pairing with user(s)' | translate
                  }}"
                >
                  <!--                {{ 'Edit pairing' | translate }}-->
                  <fa-icon icon="link" size="lg" [fixedWidth]="true"></fa-icon>
                </button>
                <button
                  *ngIf="
                    templateDto.deployedSites.length == 0 &&
                    checkEformPermissions(
                      templateDto.id,
                      userClaimsEnum.eformsPairingUpdate
                    ) &&
                    !templateDto.isLocked
                  "
                  id="eform-add-btn-{{ i }}"
                  mdbBtn
                  type="button"
                  class="btn-accent text-black-50 btn-icon mb-2 btn"
                  (click)="openPairingModal(templateDto)"
                  mdbTooltip="{{
                    'Click to pair eForm with user(s)' | translate
                  }}"
                >
                  <!--                {{ 'Pair eForm' | translate }}-->
                  <fa-icon icon="link" size="lg" [fixedWidth]="true"></fa-icon>
                </button>
                <!--              <ng-container *ngIf="checkEformPermissions(templateDto.id, userClaimsEnum.eFormsPairingRead)">-->
                <!--                <p class="paragraph-sm" id="eform-paired-username" *ngFor="let deployedSite of templateDto.deployedSites">-->
                <!--                  {{deployedSite.siteName}}-->
                <!--                </p>-->
                <!--              </ng-container>-->
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-row justify-content-center">
              <button
                mdbBtn
                class="btn-success btn-icon mb-2"
                *ngIf="
                  templateDto.hasCases &&
                  checkEformPermissions(
                    templateDto.id,
                    userClaimsEnum.casesRead
                  )
                "
                id="eform-cases-btn-{{ i }}"
                [routerLink]="['/cases', templateDto.id]"
                mdbTooltip="{{ 'Show cases' | translate }}"
              >
                <fa-icon
                  icon="briefcase"
                  [fixedWidth]="true"
                  size="lg"
                ></fa-icon>
              </button>
              <button
                mdbBtn
                class="btn-success btn-icon mb-2"
                id="edit-columnts-btn-{{ i }}"
                *ngIf="
                  checkEformPermissions(
                    templateDto.id,
                    userClaimsEnum.eformsUpdateColumns
                  )
                "
                (click)="openEditColumnsModal(templateDto)"
                mdbTooltip="{{ 'Edit columns' | translate }}"
              >
                <fa-icon icon="table" [fixedWidth]="true" size="lg"></fa-icon>
              </button>
              <button
                mdbBtn
                class="btn-danger btn-icon mb-2"
                id="delete-eform-btn-{{ i }}"
                (click)="openEformDeleteModal(templateDto)"
                *ngIf="
                  checkEformPermissions(
                    templateDto.id,
                    userClaimsEnum.eformsDelete
                  ) && !templateDto.isLocked
                "
                mdbTooltip="{{ 'Delete eForm' | translate }}"
              >
                <fa-icon
                  icon="trash-alt"
                  [fixedWidth]="true"
                  size="lg"
                ></fa-icon>
              </button>
              <button
                mdbBtn
                class="btn-success btn-icon mb-2"
                id="duplicate-btn"
                (click)="openDuplicateConfirmModal(templateDto)"
                mdbTooltip="{{ 'Duplicate eForm' | translate }}"
              >
                <fa-icon icon="clone" [fixedWidth]="true" size="lg"></fa-icon>
              </button>
              <a
                *ngIf="
                  checkEformPermissions(
                    templateDto.id,
                    userClaimsEnum.eformsDelete
                  ) &&
                  !templateDto.isLocked &&
                  templateDto.isEditable
                "
                mdbBtn
                mdbWavesEffect
                class="btn-success btn-icon"
                id="edit-eform-btn-{{ i }}"
                [routerLink]="['visual-editor/' + templateDto.id]"
                mdbTooltip="{{ 'Edit eForm' | translate }}"
              >
                <fa-icon icon="pen" [fixedWidth]="true" size="lg"></fa-icon>
              </a>
            </div>
            <div class="d-flex flex-row justify-content-center">
              <button
                mdbBtn
                class="btn-accent text-black-50 btn-icon mb-2"
                *ngIf="
                  templateDto.hasCases &&
                  checkEformPermissions(
                    templateDto.id,
                    userClaimsEnum.eformsGetCsv
                  )
                "
                id="download-csv-btn-{{ i }}"
                (click)="downloadItem('CSV', templateDto.id)"
                mdbTooltip="{{ 'Download' | translate }} CSV"
              >
                <fa-icon
                  icon="file-csv"
                  [fixedWidth]="true"
                  size="lg"
                ></fa-icon>
              </button>
              <button
                mdbBtn
                class="btn-accent text-black-50 btn-icon mb-2"
                *ngIf="
                  templateDto.hasCases &&
                  checkEformPermissions(
                    templateDto.id,
                    userClaimsEnum.eformsDownloadXml
                  )
                "
                id="download-xml-btn-{{ i }}"
                (click)="downloadItem('XML', templateDto.id)"
                mdbTooltip="{{ 'Download' | translate }} XML"
              >
                <fa-icon
                  icon="file-code"
                  [fixedWidth]="true"
                  size="lg"
                ></fa-icon>
              </button>
              <button
                mdbBtn
                color="info"
                class="btn-icon mb-2"
                *ngIf="
                  templateDto.hasCases &&
                  checkEformPermissions(
                    templateDto.id,
                    userClaimsEnum.casesRead
                  )
                "
                id="docx-report-btn-{{ i }}"
                [routerLink]="['/docx-report', templateDto.id]"
                mdbTooltip="{{ 'Word report' | translate }}"
              >
                <fa-icon
                  icon="file-word"
                  [fixedWidth]="true"
                  size="lg"
                ></fa-icon>
              </button>
              <button
                mdbBtn
                color="success"
                class="btn-icon mb-2"
                *ngIf="
                  templateDto.excelExportEnabled &&
                  templateDto.hasCases &&
                  checkEformPermissions(
                    templateDto.id,
                    userClaimsEnum.eformExportEformExcel
                  )
                "
                id="download-excel-btn-{{ i }}"
                [routerLink]="['/xlsx-report', templateDto.id]"
                mdbTooltip="{{ 'Excel report' | translate }}"
              >
                <fa-icon
                  icon="file-excel"
                  [fixedWidth]="true"
                  size="lg"
                ></fa-icon>
              </button>
              <button
                mdbBtn
                class="btn-accent text-black-50 btn-icon mb-2"
                id="upload-zip-btn"
                (click)="uploadZipFile(templateDto)"
                *ngIf="
                  checkEformPermissions(
                    templateDto.id,
                    userClaimsEnum.eformsUploadZip
                  )
                "
                mdbTooltip="{{ 'Upload ZIP archive' | translate }}"
              >
                <fa-icon
                  icon="file-upload"
                  [fixedWidth]="true"
                  size="lg"
                ></fa-icon>
              </button>
              <!--            <button mdbBtn class="btn-accent text-black-50 btn-icon mb-2" id="eform-report-button"-->
              <!--                    *ngIf="checkEformPermissions(templateDto.id, userClaimsEnum.eformsReadJasperReport)"-->
              <!--                    [routerLink]="['./report', templateDto.id]"-->
              <!--                    mdbTooltip="{{ 'Jasper Report' | translate }}">-->
              <!--              <fa-icon icon="receipt" [fixedWidth]="true" size="lg"></fa-icon>-->
              <!--            </button>-->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--pagination(if required)-->
</div>

<app-eform-create-modal
  [availableTags]="availableTags"
  (onEformCreated)="loadAllTags()"
  #modalNewEform
></app-eform-create-modal>
<app-eform-column-modal #modalCasesColumns></app-eform-column-modal>
<app-eform-edit-paring-modal
  (deploymentFinished)="loadAllTemplates()"
  #modalParing
></app-eform-edit-paring-modal>
<app-eform-edit-tags-modal
  [availableTags]="availableTags"
  (onEFormTagsUpdated)="loadAllTemplates()"
  #modalEditTags
></app-eform-edit-tags-modal>
<app-eform-remove-eform-modal
  (onEFormDeleted)="loadAllTemplates()"
  #modalRemoveEform
></app-eform-remove-eform-modal>
<app-eform-upload-zip-modal #modalUploadZip></app-eform-upload-zip-modal>
<app-eforms-bulk-import-modal
  (importFinished)="loadAllTags()"
  #modalEformsImport
></app-eforms-bulk-import-modal>
<app-eforms-tags
  #modalTags
  [availableTags]="availableTags"
  (tagsChanged)="loadAllTags()"
>
</app-eforms-tags>
<app-eform-duplicate-confirm-modal
  #duplicateConfirm
  (eFormDuplicated)="loadAllTemplates()"
>
</app-eform-duplicate-confirm-modal>
