<eform-new-subheader>
  <div class="d-flex flex-row justify-content-center align-items-center gap-12">
    <div class="line-vert"></div>
    <button
      class="btn-secondary btn-secondary--icon-rounded-border"
      id="importEformsBtn"
      matTooltip="{{ 'Import eforms' | translate }}"
      *ngIf="selectCurrentUserClaimsEformsCreate$ | async"
      (click)="openEformsImportModal()">
      <mat-icon class="icon-secondary">upload</mat-icon>
    </button>
    <button
      class="btn-secondary btn-secondary--icon-rounded-border"
      id="eformsManageTagsBtn"
      (click)="openTagsModal()"
      matTooltip="{{ 'Manage tags' | translate }}"
      *ngIf="selectEformAllowManagingEformTags$ | async"
    >
      <mat-icon class="icon-secondary">style</mat-icon>
    </button>

    <button
      matTooltip="{{ 'New eForm from XML' | translate }}"
      id="newEFormBtn"
      *ngIf="selectCurrentUserClaimsEformsCreate$ | async"
      (click)="openNewEformModal()"
      class="btn-secondary btn-secondary--icon-rounded-border"
    >
      <mat-icon class="icon-secondary">text_snippet</mat-icon>
    </button>

    <div class="line-vert"></div>

    <button
      id="eformsVisualEditor"
      class="btn-primary btn-primary--icon-left"
      *ngIf="selectCurrentUserClaimsEformsCreate$ | async"
      [routerLink]="['visual-editor']"
    >
      <mat-icon>add</mat-icon>
      <span>{{ 'New eForm' | translate }}</span>
    </button>
  </div>
</eform-new-subheader>

<!--Here you can choose approach as you like: container-row, or flex, or just element with required styles and markup-->
<ng-template #toolbarTpl>
  <div class="d-flex flex-row justify-content-start flex-nowrap align-items-center gap-12">
    <div class="d-flex flex-column">
      <mat-form-field>
        <mat-label>{{ 'Search eForm' | translate }}</mat-label>
        <input
          matInput
          type="text"
          [ngModel]="selectEformsNameFilter$ | async"
          (ngModelChange)="onLabelInputChanged($event)"
          id="labelInput"
        />
      </mat-form-field>
    </div>
    <div class="d-flex flex-column" *ngIf="selectCurrentUserClaimsEformsReadTags$ | async">
      <mat-form-field>
        <mat-label>{{ 'Tags' | translate }}</mat-label>
        <mtx-select
          class="custom"
          [dropdownPosition]="'bottom'"
          [items]="availableTags"
          [ngModel]="selectEformsTagIds$ | async"
          (add)="saveTag($event)"
          (remove)="removeSavedTag($event)"
          [clearable]="false"
          [bindLabel]="'name'"
          [bindValue]="'id'"
          id="tagSelector"
          [multiple]="true"
        >
          <!--          <ng-template ng-label-tmp let-item="item">-->
          <!--            <mat-chip-list>-->
          <!--              <mat-chip color="primary" selected (removed)="removeSavedTag({value: {id: item.id}})">-->
          <!--                {{item.name}}-->
          <!--              </mat-chip>-->
          <!--              <button matChipRemove>-->
          <!--                <mat-icon>cancel</mat-icon>-->
          <!--              </button>-->
          <!--            </mat-chip-list>-->

          <!--        </ng-template>-->
        </mtx-select>
      </mat-form-field>
    </div>
  </div>
</ng-template>
<mtx-grid
  id="mainPageEFormsTableBody"
  [data]="templateListModel.templates"
  [columns]="tableHeaders"
  [cellTemplate]="{
  id: idTpl,
  label: labelTpl,
  createdAt: createdAtTpl,
  description: descriptionTpl,
  tags: tagsTpl,
  pairingUpdate: pairingUpdateTpl,
  actions: actionsTpl}"
  [showPaginator]="false"
  [pageOnFront]="false"
  [rowStriped]="false"
  [showToolbar]="true"
  [showColumnMenuButton]="false"
  [toolbarTemplate]="toolbarTpl"
  [sortActive]="selectEformsSort$ | async"
  [sortDirection]="selectEformsIsSortDsc$ | async"
  (sortChange)="sortTable($event)">
</mtx-grid>
<ng-template #labelTpl let-row let-i="index">
  <div class="eform-label" id="eform-label-{{i}}">{{ row.label }}</div>
</ng-template>
<ng-template #idTpl let-row let-i="index">
  <div class="eform-id" id="eform-id-{{i}}">{{ row.id }}</div>
</ng-template>
<ng-template #createdAtTpl let-row let-i="index">
  <date-formatter
    id="eform-created-at-{{i}}"
    [date]="row.createdAt"
    [Format]="'datetime'"
  ></date-formatter>
</ng-template>
<ng-template #descriptionTpl let-row>
  <div [innerHTML]="row.description"></div>
</ng-template>
<ng-template #tagsTpl let-row let-i="index">
  <div class="">
    <div>
      <a
        mat-icon-button
        type="button"
        *ngIf="checkEformPermissions(row.id, userClaimsEnum.eformsUpdateTags)"
        id="eform-edit-btn-{{ i }}"
        matTooltip="{{ 'Edit tags' | translate }}"
        (click)="openEditTagsModal(row)"
        style="margin-bottom: 0.3rem;"
      >
        <mat-icon>edit</mat-icon>
      </a>
      <ng-container
        *ngIf="checkEformPermissions(row.id, userClaimsEnum.eformsReadTags)"
      >
        <app-eform-tag [tags]="getTags(row)"/>
      </ng-container>
    </div>
  </div>
</ng-template>
<ng-template #pairingUpdateTpl let-row let-i="index">
  <div class="">
    <div>
      <button
        *ngIf="row.deployedSites.length > 0 &&
        checkEformPermissions(row.id, userClaimsEnum.eformsPairingUpdate) && !row.isLocked"
        id="eform-pairing-btn-{{ i }}"
        mat-icon-button
        color="accent"
        type="button"
        (click)="openPairingModal(row)"
        matTooltip="{{
                    'Click to edit eForm pairing with user(s)' | translate
                  }}"
      >
        <mat-icon>link</mat-icon>
      </button>
      <button
        *ngIf="
              row.deployedSites.length == 0 &&
              checkEformPermissions(
                row.id,
                userClaimsEnum.eformsPairingUpdate
              ) &&
              !row.isLocked
            "
        id="eform-add-btn-{{ i }}"
        mat-icon-button
        type="button"
        (click)="openPairingModal(row)"
        matTooltip="{{
                    'Click to pair eForm with user(s)' | translate
                  }}"
      >
        <!--                {{ 'Pair eForm' | translate }}-->
        <mat-icon>link</mat-icon>
      </button>
      <!-- <ng-container *ngIf="checkEformPermissions(templateDto.id, userClaimsEnum.eFormsPairingRead)">
        <p class="paragraph-sm" id="eform-paired-username" *ngFor="let deployedSite of templateDto.deployedSites">
          {{deployedSite.siteName}}
        </p>
      </ng-container>-->
    </div>
  </div>
</ng-template>
<ng-template #actionsTpl let-row let-i="index">
  <div class="">

    <button id="actionMenu" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">


      <button
        mat-menu-item
        *ngIf="row.hasCases &&
      checkEformPermissions(
      row.id,
      userClaimsEnum.casesRead)"
        id="eform-cases-btn-{{ i }}"
        [routerLink]="['/cases', row.id]"
      >
        <mat-icon>cases</mat-icon>
        <span>{{ 'Show cases' | translate }}</span>
      </button>
      <button
        mat-menu-item
        color="warn"
        id="delete-eform-btn-{{ i }}"
        (click)="openEformDeleteModal(row)"
        *ngIf="
                  checkEformPermissions(
                    row.id,
                    userClaimsEnum.eformsDelete
                  ) && !row.isLocked
                "
      >
        <mat-icon>delete</mat-icon>
        <span>{{ 'Delete eForm' | translate }}</span>
      </button>
      <a
        *ngIf="
                  checkEformPermissions(
                    row.id,
                    userClaimsEnum.eformsDelete
                  ) &&
                  !row.isLocked &&
                  row.isEditable
                "
        mat-menu-item
        id="edit-eform-btn-{{ i }}"
        [routerLink]="['visual-editor/' + row.id]"
      >
        <mat-icon>edit</mat-icon>
        <span>{{ 'Edit eForm' | translate }}</span>
      </a>


      <button
        mat-menu-item
        id="edit-columns-btn-{{ i }}"
        *ngIf="
                  checkEformPermissions(
                    row.id,
                    userClaimsEnum.eformsUpdateColumns
                  )
                "
        (click)="openEditColumnsModal(row)"
      >
        <mat-icon>table_chart</mat-icon>
        <span>{{ 'Edit columns' | translate }}</span>
      </button>
      <button
        mat-menu-item
        id="duplicate-btn"
        (click)="openDuplicateConfirmModal(row)"
      >
        <mat-icon>content_copy</mat-icon>
        <span>{{ 'Duplicate eForm' | translate }}</span>
      </button>
      <button
        mat-menu-item
        *ngIf="
                  row.hasCases &&
                  checkEformPermissions(
                    row.id,
                    userClaimsEnum.eformsGetCsv
                  )
                "
        id="download-csv-btn-{{ i }}"
        (click)="downloadItem('CSV', row.id)"
      >
        <mat-icon svgIcon="file-csv"></mat-icon>
        <span>{{ 'Download' | translate }} CSV</span>
      </button>
      <button
        mat-menu-item
        *ngIf="
                  row.hasCases &&
                  checkEformPermissions(
                    row.id,
                    userClaimsEnum.eformsDownloadXml
                  )
                "
        id="download-xml-btn-{{ i }}"
        (click)="downloadItem('XML', row.id)"
      >
        <mat-icon svgIcon="file-code"></mat-icon>
        <span>{{ 'Download' | translate }} XML</span>
      </button>
      <button
        mat-menu-item
        *ngIf="
                  row.hasCases &&
                  checkEformPermissions(
                    row.id,
                    userClaimsEnum.casesRead
                  )
                "
        id="docx-report-btn-{{ i }}"
        [routerLink]="['/docx-report', row.id]"
      >
        <mat-icon svgIcon="file-word"></mat-icon>
        <span>{{ 'Word Report' | translate }}</span>
      </button>
      <button
        mat-menu-item
        *ngIf="
                  row.excelExportEnabled &&
                  row.hasCases &&
                  checkEformPermissions(
                    row.id,
                    userClaimsEnum.eformExportEformExcel
                  )
                "
        id="download-excel-btn-{{ i }}"
        [routerLink]="['/xlsx-report', row.id]"
      >
        <mat-icon svgIcon="file-excel"></mat-icon>
        <span>{{ 'Download' | translate }} XLSX</span>
      </button>
      <button
        mat-menu-item
        id="upload-zip-btn-{{ i }}"
        (click)="uploadZipFile(row)"
        *ngIf="
                  checkEformPermissions(
                    row.id,
                    userClaimsEnum.eformsUploadZip)"
      >
        <mat-icon svgIcon="file-upload"></mat-icon>
        <span>{{ 'Upload ZIP archive' | translate }}</span>
      </button>
      <!--<button mdbBtn class="btn-accent text-black-50 btn-icon mb-2" id="eform-report-button"
              *ngIf="checkEformPermissions(templateDto.id, userClaimsEnum.eformsReadJasperReport)"
              [routerLink]="['./report', templateDto.id]"
              matTooltip="{{ 'Jasper Report' | translate }}">
        <fa-icon icon="receipt" [fixedWidth]="true" size="lg"></fa-icon>
      </button>-->
    </mat-menu>
  </div>
</ng-template>
<!--pagination(if required)-->
<app-eforms-tags
  #modalTags
  [availableTags]="availableTags"
  (tagsChanged)="loadAllTags()"
>
</app-eforms-tags>
