<eform-subheader>
  <div class="p-3">
    <button
      mat-icon-button
      id="importEformsBtn"
      mdbTooltip="{{ 'Import eforms' | translate }}"
      *ngIf="userClaims.eformsCreate"
      (click)="openEformsImportModal()"
    >
      <mat-icon>file_upload</mat-icon>
    </button>
    <button
      mat-icon-button
      id="eformsManageTagsBtn"
      (click)="openTagsModal()"
      mdbTooltip="{{ 'Manage tags' | translate }}"
      *ngIf="authStateService.checkClaim('eformAllowManagingEformTags')"
    >
      <mat-icon>discount</mat-icon>
    </button>
    <a
      mat-icon-button
      color="accent"
      id="eformsVisualEditor"
      *ngIf="userClaims.eformsCreate"
      [routerLink]="['visual-editor']"
      mdbTooltip="{{ 'New eForm' | translate }}"
    >
      <mat-icon>edit</mat-icon>
    </a>
    <button
      mat-icon-button
      color="accent"
      mdbTooltip="{{ 'New eForm from XML' | translate }}"
      id="newEFormBtn"
      *ngIf="userClaims.eformsCreate"
      (click)="openNewEformModal()"
    >
      <mat-icon>code</mat-icon>
    </button>
  </div>
</eform-subheader>

<!--Here you can choose approach as you like: container-row, or flex, or just element with required styles and markup-->
<div class="d-flex flex-column">
  <div class="d-flex flex-row justify-content-start">
    <div class="d-flex flex-column mr-2 ml-2">
      <mat-form-field>
        <mat-label>{{ 'Label' | translate }}</mat-label>
        <input
          matInput
          type="text"
          [ngModel]="eformsStateService.getNameFilter() | async"
          (ngModelChange)="onLabelInputChanged($event)"
          id="labelInput"
        />
      </mat-form-field>
    </div>
    <div class="d-flex flex-column mr-2" *ngIf="userClaims.eformsReadTags">
      <mat-form-field>
        <mat-label>{{ 'Tags' | translate }}</mat-label>
        <mtx-select
          class="custom"
          [dropdownPosition]="'bottom'"
          [items]="availableTags"
          [ngModel]="eformsStateService.getTagIds() | async"
          (add)="saveTag($event)"
          (remove)="removeSavedTag($event)"
          [clearable]="false"
          [bindLabel]="'name'"
          [bindValue]="'id'"
          id="tagSelector"
          [multiple]="true"
        ></mtx-select>
      </mat-form-field>
    </div>
    <div class="d-flex flex-column" >
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="p-1 table-responsive no-gutters">
    <table
      mdbTable
      striped="true"
      hover="true"
      small="true"
      class="z-depth-1 text-center"
      matSort
      [matSortActive]="eformsStateService.getActiveSort() | async"
      [matSortDirection]="eformsStateService.getActiveSortDirection() | async"
      [matSortDisableClear]="true"
      (matSortChange)="sortTable($event)"
    >
      <thead
        table-headers
        [tableHeaders]="tableHeaders"
      ></thead>
      <tbody id="mainPageEFormsTableBody">
      <tr *ngFor="let templateDto of templateListModel.templates; index as i">
        <td class="eform-id" id="eform-id-{{ i }}">
          {{ templateDto.id }}
        </td>
        <!--<td id="eform-created-at">{{templateDto.createdAt | date:'dd.MM.y HH:mm:ss'}}</td>-->
        <td id="eform-created-at-{{ i }}">
          <date-formatter
            [date]="templateDto.createdAt"
            [Format]="'datetime'"
          ></date-formatter>
        </td>
        <td id="eform-label-{{ i }}">{{ templateDto.label }}</td>
        <td id="eform-description-{{ i }}" [innerHTML]="templateDto.description"></td>
        <td>
          <div class="d-flex justify-content-center">
            <div>
              <a
                mat-icon-button
                type="button"
                color="accent"
                *ngIf="
                    checkEformPermissions(
                      templateDto.id,
                      userClaimsEnum.eformsUpdateTags
                    )
                  "
                id="eform-edit-btn-{{ i }}"
                mdbTooltip="{{ 'Edit tags' | translate }}"
                (click)="openEditTagsModal(templateDto)"
                style="margin-bottom: 0.3rem;"
              >
                <mat-icon>edit</mat-icon>
              </a>
              <br />
              <ng-container
                *ngIf="
                    checkEformPermissions(
                      templateDto.id,
                      userClaimsEnum.eformsReadTags
                    )
                  "
              >
                <p
                  class="paragraph-sm badge badge-primary mb-1"
                  id="eform-tag-{{ i }}"
                  *ngFor="let tag of templateDto.tags"
                >
                  <fa-icon icon="tag"></fa-icon>
                  {{ tag.value }}
                </p>
              </ng-container>
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex justify-content-center">
            <div>
              <button
                *ngIf="
                    templateDto.deployedSites.length > 0 &&
                    checkEformPermissions(
                      templateDto.id,
                      userClaimsEnum.eformsPairingUpdate
                    ) &&
                    !templateDto.isLocked
                  "
                id="eform-pairing-btn-{{ i }}"
                mat-icon-button
                color="accent"
                type="button"
                (click)="openPairingModal(templateDto)"
                mdbTooltip="{{
                    'Click to edit eForm pairing with user(s)' | translate
                  }}"
              >
                <mat-icon>link</mat-icon>
              </button>
              <button
                *ngIf="
                    templateDto.deployedSites.length == 0 &&
                    checkEformPermissions(
                      templateDto.id,
                      userClaimsEnum.eformsPairingUpdate
                    ) &&
                    !templateDto.isLocked
                  "
                id="eform-add-btn-{{ i }}"
                mat-icon-button
                type="button"
                (click)="openPairingModal(templateDto)"
                mdbTooltip="{{
                    'Click to pair eForm with user(s)' | translate
                  }}"
              >
                <!--                {{ 'Pair eForm' | translate }}-->
                <mat-icon>link</mat-icon>
              </button>
              <!--              <ng-container *ngIf="checkEformPermissions(templateDto.id, userClaimsEnum.eFormsPairingRead)">-->
              <!--                <p class="paragraph-sm" id="eform-paired-username" *ngFor="let deployedSite of templateDto.deployedSites">-->
              <!--                  {{deployedSite.siteName}}-->
              <!--                </p>-->
              <!--              </ng-container>-->
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex flex-row justify-content-center">
            <button
              mat-icon-button
              *ngIf="
                  templateDto.hasCases &&
                  checkEformPermissions(
                    templateDto.id,
                    userClaimsEnum.casesRead
                  )
                "
              id="eform-cases-btn-{{ i }}"
              [routerLink]="['/cases', templateDto.id]"
              mdbTooltip="{{ 'Show cases' | translate }}"
            >
              <mat-icon>cases</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              id="delete-eform-btn-{{ i }}"
              (click)="openEformDeleteModal(templateDto)"
              *ngIf="
                  checkEformPermissions(
                    templateDto.id,
                    userClaimsEnum.eformsDelete
                  ) && !templateDto.isLocked
                "
              mdbTooltip="{{ 'Delete eForm' | translate }}"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <a
              *ngIf="
                  checkEformPermissions(
                    templateDto.id,
                    userClaimsEnum.eformsDelete
                  ) &&
                  !templateDto.isLocked &&
                  templateDto.isEditable
                "
              mat-icon-button
              id="edit-eform-btn-{{ i }}"
              [routerLink]="['visual-editor/' + templateDto.id]"
              mdbTooltip="{{ 'Edit eForm' | translate }}"
            >
              <mat-icon>edit</mat-icon>
            </a>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                id="edit-columnts-btn-{{ i }}"
                *ngIf="
                  checkEformPermissions(
                    templateDto.id,
                    userClaimsEnum.eformsUpdateColumns
                  )
                "
                (click)="openEditColumnsModal(templateDto)"
              >
                <mat-icon>table_chart</mat-icon>
                <span>{{ 'Edit columns' | translate }}</span>
              </button>
              <button
                mat-menu-item
                id="duplicate-btn"
                (click)="openDuplicateConfirmModal(templateDto)"
              >
                <mat-icon>content_copy</mat-icon>
                <span>{{ 'Duplicate eForm' | translate }}</span>
              </button>
              <button
                mat-menu-item
                *ngIf="
                  templateDto.hasCases &&
                  checkEformPermissions(
                    templateDto.id,
                    userClaimsEnum.eformsGetCsv
                  )
                "
                id="download-csv-btn-{{ i }}"
                (click)="downloadItem('CSV', templateDto.id)"
              >
                <mat-icon svgIcon="file-csv"></mat-icon>
                <span>{{ 'Download' | translate }} CSV</span>
              </button>
              <button
                mat-menu-item
                *ngIf="
                  templateDto.hasCases &&
                  checkEformPermissions(
                    templateDto.id,
                    userClaimsEnum.eformsDownloadXml
                  )
                "
                id="download-xml-btn-{{ i }}"
                (click)="downloadItem('XML', templateDto.id)"
              >
                <mat-icon svgIcon="file-code"></mat-icon>
                <span>{{ 'Download' | translate }} XML</span>
              </button>
              <button
                mat-menu-item
                *ngIf="
                  templateDto.hasCases &&
                  checkEformPermissions(
                    templateDto.id,
                    userClaimsEnum.casesRead
                  )
                "
                id="docx-report-btn-{{ i }}"
                [routerLink]="['/docx-report', templateDto.id]"
              >
                <mat-icon svgIcon="file-word"></mat-icon>
                <span>{{ 'Word Report' | translate }}</span>
              </button>
              <button
                mat-menu-item
                *ngIf="
                  templateDto.excelExportEnabled &&
                  templateDto.hasCases &&
                  checkEformPermissions(
                    templateDto.id,
                    userClaimsEnum.eformExportEformExcel
                  )
                "
                id="download-excel-btn-{{ i }}"
                [routerLink]="['/xlsx-report', templateDto.id]"
              >
                <mat-icon svgIcon="file-excel"></mat-icon>
                <span>{{ 'Download' | translate }} XLSX</span>
              </button>
              <button
                mat-menu-item
                id="upload-zip-btn"
                (click)="uploadZipFile(templateDto)"
                *ngIf="
                  checkEformPermissions(
                    templateDto.id,
                    userClaimsEnum.eformsUploadZip)"
              >
                <mat-icon svgIcon="file-upload"></mat-icon>
                <span>{{ 'Upload ZIP archive' | translate }}</span>
              </button>
              <!--<button mdbBtn class="btn-accent text-black-50 btn-icon mb-2" id="eform-report-button"
                      *ngIf="checkEformPermissions(templateDto.id, userClaimsEnum.eformsReadJasperReport)"
                      [routerLink]="['./report', templateDto.id]"
                      mdbTooltip="{{ 'Jasper Report' | translate }}">
                <fa-icon icon="receipt" [fixedWidth]="true" size="lg"></fa-icon>
              </button>-->
            </mat-menu>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--pagination(if required)-->
</div>
<app-eforms-tags
  #modalTags
  [availableTags]="availableTags"
  (tagsChanged)="loadAllTags()"
>
</app-eforms-tags>
