<h3 mat-dialog-title>{{'Plugin permissions' | translate}}</h3>
<div mat-dialog-content>
  <div class="flex-wrap d-flex flex-row" *ngIf="pluginGroupPermissions">
    <mat-card *ngFor="let groupPermissions of pluginGroupPermissions" class="m-2">
      <mat-card-header>
        <h3>{{getSecurityGroupName(groupPermissions.groupId)}}</h3>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngFor="let permission of groupPermissions.permissions">
          <div class="d-flex flex-column">
            <mat-checkbox
              id="perm_{{groupPermissions.groupId}}_{{permission.permissionId}}"
              [(ngModel)]="permission.isEnabled"
              class="mb-2">
              {{permission.permissionName | translate}}
            </mat-checkbox>
          </div>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end">
  <button
    mat-raised-button
    color="accent"
    (click)="updatePluginPermissions()"
    id="saveBtn"
  >
    {{'Save' | translate}}
  </button>
  <button
    mat-raised-button
    (click)="hide()"
    id="cancelCreateBtn"
  >
    {{'Cancel' | translate}}
  </button>
</div>
