<div mdbModal class="modal fade" #frame="mdbModal">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{'Plugin permissions' | translate}}</h3>
      </div>
      <div class="modal-body">
        <div class="flex-wrap d-flex flex-row" *ngIf="pluginGroupPermissions">
          <div class="mb-4 mr-4" *ngFor="let groupPermissions of pluginGroupPermissions">
            <div class="card">
              <div class="card-header">{{getSecurityGroupName(groupPermissions.groupId)}}</div>
              <div class="card-body d-flex flex-column">
                <ng-container *ngFor="let permission of groupPermissions.permissions">
                  <div class="mb-2">
                    <mat-checkbox
                      id="perm_{{groupPermissions.groupId}}_{{permission.permissionId}}"
                      [(ngModel)]="permission.isEnabled">
                      {{permission.permissionName | translate}}
                    </mat-checkbox>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button mdbBtn class="btn-success btn-small-height" (click)="updatePermissions()"
                id="saveBtn">{{ 'Save' | translate }}</button>
        <button mdbBtn class="btn-neutral text-black-50 btn-small-height" id="cancelCreateBtn" (click)="hide()">
          {{ 'Cancel' | translate }}</button>
      </div>
    </div>
  </div>
</div>



