<h3 mat-dialog-title>{{'Are you sure you want to delete the folder' | translate}}?</h3>
<div mat-dialog-content>
  <div class="d-flex flex-row justify-content-between mb-2">
    <div class="d-flex flex-column justify-content-center">
      <p>ID</p>
    </div>
    <div class="d-flex flex-column justify-content-center">
      <strong>{{selectedFolderDto.id}}</strong>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-between mb-2" *ngIf="selectedFolderDto.createdAt">
    <div class="d-flex flex-column justify-content-center">
      <p>{{'Creation Date' | translate}}</p>
    </div>
    <div class="d-flex flex-column justify-content-center">
      <strong><date-formatter [date]="selectedFolderDto.createdAt" [Format]="'datetime'"></date-formatter></strong>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-between mb-2">
    <div class="d-flex flex-column justify-content-center">
      <p>{{'Name' | translate}}</p>
    </div>
    <div class="d-flex flex-column justify-content-center">
      <strong>{{selectedFolderDto.name}}</strong>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-between mb-2">
    <div class="d-flex flex-column justify-content-center">
      <p>{{'Description' | translate}}</p>
    </div>
    <div class="d-flex flex-column justify-content-center">
      <strong [innerHTML]="selectedFolderDto.description"></strong>
    </div>
  </div>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end">
  <button
    mat-raised-button
    color="warn"
    id="saveDeleteBtn"
    (click)="deleteFolder()"
  >
    {{'Delete' | translate}}
  </button>
  <button
    mat-raised-button
    id="cancelDeleteBtn"
    (click)="hide()"
  >
    {{'Cancel' | translate}}
  </button>
</div>
