<eform-new-subheader [title]="'Create Security Group' | translate" [forceStaticTitle]="true">
  <button
    class="btn-primary btn-primary--icon-left"
    [disabled]="!securityGroupCreateModel.name"
    (click)="createSecurityGroup()"
    matTooltip="{{ 'Create Group' | translate }}"
    id="newSecurityGroupBtn"
  >
    {{ 'Create' | translate }}
  </button>
</eform-new-subheader>

<ng-template #toolbarTpl>
  <div class="d-flex flex-row align-items-baseline">
    <div class="d-flex flex-column mr-4">
      <mat-form-field>
        <mat-label>{{ 'Group Name' | translate }}</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="securityGroupCreateModel.name"
          id="groupNameCreateInput"
        />
      </mat-form-field>
    </div>
    <div class="d-flex flex-column mr-4">
      <mat-form-field>
        <mat-label>{{'Select User' | translate}}</mat-label>
        <mtx-select
          #usersSelector
          class="custom"
          dropdownPosition="bottom"
          [items]="users.entities"
          [bindLabel]="'firstName'"
          [bindValue]="'id'"
          id="tagSelector">
        </mtx-select>
      </mat-form-field>
    </div>
    <div class="d-flex flex-column">
      <button
        mat-raised-button
        color="accent"
        (click)="addUserToGroup(usersSelector)"
        matTooltip="{{ 'Add user to group' | translate }}"
      >
        + {{ 'Bind to Group' | translate }}
      </button>
    </div>
  </div>
</ng-template>

<mtx-grid
  [data]="securityGroupUsers"
  [columns]="tableHeaders"
  [showPaginator]="false"
  [pageOnFront]="false"
  [rowStriped]="true"
  [showToolbar]="true"
  [showColumnMenuButton]="false"
  [toolbarTemplate]="toolbarTpl">
</mtx-grid>

