<eform-subheader [title]="'Create Security Group' | translate">
  <div class="p-3">
    <button
      mdbRipple
      class="btn-success btn-small-height"
      [disabled]="!securityGroupCreateModel.name"
      (click)="createSecurityGroup()"
      mdbTooltip="{{ 'Create Group' | translate }}"
      id="newSecurityGroupBtn"
    >
      {{ 'Create' | translate }}
    </button>
  </div>
</eform-subheader>

<div class="container-fluid">
  <div class="row pl-1">
    <div class="col-md-2 col-xs-12">
      <div class="md-form">
        <input
          mdbInput
          type="text"
          [(ngModel)]="securityGroupCreateModel.name"
          class="form-control input-sm"
          id="groupNameCreateInput"
        />
        <label for="groupNameCreateInput">{{ 'Group Name' | translate }}</label>
      </div>
    </div>
    <div class="col-md-3 col-xs-8 col-sm-8 ng-select-wrapper">
      <ng-select
        #usersSelector
        class="custom"
        dropdownPosition="'bottom'"
        [items]="users.entities"
        [bindLabel]="'firstName'"
        [bindValue]="'id'"
        [placeholder]="'Select User' | translate"
        id="tagSelector"
      ></ng-select>
    </div>
    <div class="col-md-3 col-xs-4 col-sm-4 mt-3 pt-1">
      <button
        class="btn btn-success"
        (click)="addUserToGroup(usersSelector)"
        mdbTooltip="{{ 'Add user to group' | translate }}"
      >
        + {{ 'Bind to Group' | translate }}
      </button>
    </div>
  </div>
  <div class="row p-1 mt-2 table-responsive no-gutters">
    <table
      mdbTable
      striped="true"
      hover="true"
      small="true"
      class="z-depth-1 text-center"
    >
      <thead table-headers [tableHeaders]="tableHeaders"></thead>
      <tbody>
        <tr *ngFor="let securityGroupUser of securityGroupUsers">
          <td>
            {{ securityGroupUser.id }}
          </td>
          <td>
            {{ securityGroupUser.firstName }}
          </td>
          <td>
            {{ securityGroupUser.lastName }}
          </td>
          <td>
            {{ securityGroupUser.email }}
          </td>
          <td>
            <div class="d-flex flex-row justify-content-center">
              <button
                mdbRipple
                class="btn-danger btn-icon mb-2"
                mdbTooltip="{{ 'Remove user from group' | translate }}"
                (click)="deleteUserFromGroup(securityGroupUser)"
              >
                <i class="material-icons"> delete_forever </i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-security-group-remove #modalGroupDelete></app-security-group-remove>
