<eform-new-subheader [title]="title" [forceStaticTitle]="true"></eform-new-subheader>

<ng-template #toolbarTpl>
  <div class="d-flex flex-row justify-content-start flex-nowrap">
    <div class="d-flex mr-2 ml-2">
      <mat-form-field>
        <mat-label>{{ 'Search' | translate }}</mat-label>
        <input
          matInput
          type="text"
          [ngModel]="caseStateService.getNameFilter() | async"
          (ngModelChange)="onLabelInputChanged($event)"
          id="labelInput"
        />
      </mat-form-field>
    </div>
  </div>
</ng-template>
<mtx-grid
  [data]="caseListModel.cases"
  [columns]="tableHeaders"
  [cellTemplate]="{actions: actionsTpl}"
  [showPaginator]="true"
  [paginationTemplate]="paginatorTpl"
  [pageOnFront]="false"
  [rowStriped]="true"
  [showToolbar]="true"
  [showColumnMenuButton]="false"
  [toolbarTemplate]="toolbarTpl"
  [sortActive]="caseStateService.getActiveSort() | async"
  [sortDirection]="caseStateService.getActiveSortDirection() | async"
  (sortChange)="sortTable($event)">
</mtx-grid>
<ng-template #actionsTpl let-row>
  <div>
    <button
      mat-icon-button
      color="accent"
      *ngIf="selectCurrentUserClaimsCaseRead$ | async"
      [routerLink]="['/cases/edit/',row.id, currentTemplate.id]"
      matTooltip="{{ 'Edit Case' | translate }}"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      color="primary"
      *ngIf="(selectCurrentUserClaimsCaseGetPdf$ | async) &&
        (currentTemplate.jasperExportEnabled || currentTemplate.docxExportEnabled)"
      (click)="downloadFile(row.id, 'pdf')"
      matTooltip="{{ 'Download PDF' | translate }}"
    >
      <mat-icon svgIcon="file-pdf"></mat-icon>
    </button>
    <button
      mat-icon-button
      color="primary"
      *ngIf="(selectCurrentUserClaimsCaseGetDocx$ | async) && currentTemplate.docxExportEnabled"
      (click)="downloadFile(row.id, 'docx')"
      matTooltip="{{ 'Download Docx' | translate }}"
    >
      <mat-icon svgIcon="file-word"></mat-icon>
    </button>
    <button
      mat-icon-button
      color="warn"
      *ngIf="selectCurrentUserClaimsCaseDelete$ | async"
      (click)="onDeleteClicked(row)"
      matTooltip="{{ 'Delete Case' | translate }}"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</ng-template>
<ng-template #paginatorTpl>
  <eform-pagination
    [pagination]="caseStateService.getPagination() | async"
    (paginationChanged)="onPaginationChanged($event)"
  ></eform-pagination>
</ng-template>
