<div *ngIf="fieldId != 0" class="bordered-card px-4 pt-4">
  <button
   class="btn-primary btn-primary--icon-left"
    [disabled]="buttonsLocked"
    matTooltip="{{'Add new image' | translate}}"
    (click)="openAddImage()"
  >
    <mat-icon>add</mat-icon>
    <span>Add new image</span>
  </button>

<div class="d-flex flex-row flex-wrap justify-content-between">
  <mat-card
  *ngFor="let image of images; let i = index"
  style="width: 500px;"
  class="d-flex flex-column justify-content-between py-4 card--no-border"
>
  <mat-card-content>
    <img
      style="max-height: 300px; max-width: 300px; object-fit: cover; border-radius: 4px"
      mat-card-image
      (click)="openPicture(i)"
      [src]="image.src | authImage | async"
      alt="Card image cap"
    >
  </mat-card-content>
  <mat-card-footer>
    <div class="d-flex justify-content-center align-items-center gap-24">
      <button
        class="btn-cancel"
        matTooltip="{{'Rotate on 90' | translate}}"
        (click)="rotatePicture(image)">
        <mat-icon>rotate_90_degrees_cw</mat-icon>
      </button>
      <button
        class="btn-delete"
        [disabled]="buttonsLocked"
        matTooltip="{{'Delete picture' | translate}}"
        (click)="openDeleteImage(image)">
        <mat-icon>delete</mat-icon>
      </button>
      <button
        class="btn-primary btn-primary--icon-left"
        matTooltip="{{'Open location' | translate}}"
        [disabled]="!image.googleMapsLat && !image.googleMapsLon || buttonsLocked"
        (click)="openGpsWindow(image.googleMapsUrl)">
        <mat-icon>place</mat-icon>
      </button>
    </div>
  </mat-card-footer>
</mat-card>
</div>
</div>
