<div mdbModal class="modal fade" #frame="mdbModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{'Import options (max 100 entries)' | translate}}</h3>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="form-group col-xs-12 col-md-12">
              <textarea
                [(ngModel)]="importString"
                class="form-control" id="entityImportTextArea" name="entityImportTextArea" rows="20"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="entityImportSaveBtn" class="btn btn-success" (click)="submitImport()">{{'Save' | translate}}</button>
        <button id="entityImportCancelBtn" class="btn btn-accent text-black-50" (click)="frame.hide()">{{'Close' | translate}}</button>
      </div>
    </div>
  </div>
</div>
