@use "sass:list";

$statuses: (
  0: (#bdbdbd, white),
  33: (#757575, white),
  66: (#ffbb33, white),
  70: (#ff8800, unset),
  77: (#0099cc, white),
  100: (#007e33, white),
  110: (#d50000, white)
);

.status-container {
  display: flex;
  height: 2em;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

@each $status, $background-color-and-color in $statuses {
  $background-color: list.nth($background-color-and-color, 1);
  $color-text: list.nth($background-color-and-color, 2);
  .status-#{$status} {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    transition: width 0.6s ease;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    color: $color-text;
  }
}
