<header class="main-header main-header-title">
  <div class="container-fluid">
    <h1 class="page-title header-page-title">
      <div class="container">
        Searchable lists
      </div>
    </h1>
    <div class="pull-right">
      <button class="needs_tooltip btn btn-ar btn-success" tooltip='Create new searchable list'
              (click)="showCreateAdvEntitySearchableGroupModal()" type="button">
        Create new searchable list
      </button>
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8">
      <div id="check_lists_filter" class="dataTables_filter form-inline">
        <label>Search:
          <input type="search" class="form-control input-sm" (ngModelChange)="onSearchChanged($event)"
                 [ngModel]="advEntitySearchableGroupListRequestModel.nameFilter"
                 placeholder="">
        </label>
      </div>
    </div>
    <table-pagination *ngIf="advEntitySearchableGroupListModel.numOfElements > advEntitySearchableGroupListRequestModel.pageSize"
                              [limit]="advEntitySearchableGroupListRequestModel.pageSize"
                              [size]="advEntitySearchableGroupListModel.numOfElements"
                              [offset]="advEntitySearchableGroupListRequestModel.offset"
                              (onPageChanged)="changePage($event)"></table-pagination>
  </div>
  <eform-entity-search-grid [advEntitySearchableGroupListModel]="advEntitySearchableGroupListModel"
                            [advEntitySearchableGroupListRequestModel]="advEntitySearchableGroupListRequestModel"
                            (onEntitySearchableGroupListRequestChanged)="onEntitySearchableGroupListRequestChanged($event)"
                            (onEntitySearchableGroupSelectedForEdit)="onEntitySearchableGroupSelectedForEdit($event)"
                            (onEntitySearchableGroupChanged)="getEntitySearchableGroupList()"></eform-entity-search-grid>
  <eform-spinner [middleActive]="spinnerStatus"></eform-spinner>
</div>

<edit-entity-searchable-group #editEntitySearchableGroupComponent
                   [selectedId]="selectedId"
                   (onLoading)="changeSpinnerStatus($event)"
                   (onEntitySearchableGroupChanged)="getEntitySearchableGroupList()"></edit-entity-searchable-group>

