<eform-new-subheader>
  <button
    mat-raised-button
    color="accent"
    [routerLink]="['create-group']"
    matTooltip="{{ 'Create Group' | translate }}"
    id="newSecurityGroupBtn"
  >
    {{ 'New Group' | translate }}
  </button>
</eform-new-subheader>

<ng-template #toolbarTpl>
  <div class="d-flex flex-row justify-content-start flex-nowrap">
    <div class="d-flex flex-column mr-2 ml-2">
      <mat-form-field>
        <mat-label>{{ 'Search' | translate }}</mat-label>
        <input
          matInput
          type="text"
          [ngModel]="selectSecurityNameFilter$ | async"
          (ngModelChange)="onLabelInputChanged($event)"
          id="searchInput"
        />
      </mat-form-field>
    </div>
  </div>
</ng-template>

<mtx-grid
  [data]="securityGroups.entities"
  [columns]="tableHeaders"
  [showPaginator]="true"
  [paginationTemplate]="paginatorTpl"
  [pageOnFront]="false"
  [rowStriped]="true"
  [showToolbar]="true"
  [showColumnMenuButton]="false"
  [toolbarTemplate]="toolbarTpl"
  [sortActive]="selectSecuritySort$ | async"
  [sortDirection]="selectSecurityIsSortDsc$ | async"
  (sortChange)="onSortTable($event)">
</mtx-grid>

<ng-template #paginatorTpl>
  <eform-pagination
    [pagination]="selectSecurityPagination$ | async"
    (paginationChanged)="onPaginationChanged($event)"
  ></eform-pagination>
</ng-template>
