<eform-subheader>
  <div class="p-3">
    <button
      mdbBtn
      class="btn-success btn-small-height"
      [routerLink]="['create-group']"
      mdbTooltip="{{ 'Create Group' | translate }}"
      id="newSecurityGroupBtn"
    >
      {{ 'New Group' | translate }}
    </button>
  </div>
</eform-subheader>

<div class="container-fluid">
  <div class="row pl-1">
    <div class="col-md-2">
      <div class="md-form">
        <input
          mdbInput
          type="text"
          [ngModel]="securityStateService.getNameFilter() | async"
          (ngModelChange)="onLabelInputChanged($event)"
          class="form-control input-sm"
          id="searchInput"
        />
        <label for="searchInput">{{ 'Search' | translate }}</label>
      </div>
    </div>
  </div>
  <div class="row p-1 mt-2 table-responsive no-gutters">
    <table
      mdbTable
      striped="true"
      hover="true"
      small="true"
      class="z-depth-1 text-center"
      matSort
      [matSortActive]="securityStateService.getActiveSort() | async"
      [matSortDirection]="securityStateService.getActiveSortDirection() | async"
      [matSortDisableClear]="true"
      (matSortChange)="onSortTable($event)"
    >
      <thead
        table-headers
        [tableHeaders]="tableHeaders"
      ></thead>
      <tbody>
      <tr *ngFor="let securityGroup of securityGroups.entities">
        <td>
          {{ securityGroup.id }}
        </td>
        <td>
          {{ securityGroup.groupName }}
        </td>
        <td>
          {{ securityGroup.userAmount }}
        </td>
        <td>
          <div class="d-flex flex-row justify-content-center">
            <button
              mdbBtn
              class="btn-accent text-black-50 btn-icon mb-2"
              [routerLink]="['update-group', securityGroup.id]"
              mdbTooltip="{{ 'Edit Group' | translate }}"
            >
              <fa-icon icon="pen" [fixedWidth]="true" size="lg"></fa-icon>
            </button>
            <button
              mdbBtn
              class="btn-success btn-icon mb-2"
              [routerLink]="[
                  'group/' + securityGroup.id + '/eforms-permissions'
                ]"
              mdbTooltip="{{ 'eForms permissions' | translate }}"
            >
              <fa-icon
                icon="clipboard-list"
                [fixedWidth]="true"
                size="lg"
              ></fa-icon>
            </button>
            <button
              mdbBtn
              class="btn-success btn-icon mb-2"
              [routerLink]="[
                  'group/' + securityGroup.id + '/general-permissions'
                ]"
              mdbTooltip="{{ 'General Permissions' | translate }}"
            >
              <fa-icon
                icon="lock-open"
                [fixedWidth]="true"
                size="lg"
              ></fa-icon>
            </button>
            <button
              mdbBtn
              class="btn-accent text-black-50 btn-icon mb-2"
              mdbTooltip="{{ 'Group settings' | translate }}"
              (click)="openSettingsModal(securityGroup)"
            >
              <fa-icon icon="cog" [fixedWidth]="true" size="lg"></fa-icon>
            </button>
            <button
              mdbBtn
              class="btn-danger btn-icon mb-2"
              mdbTooltip="{{ 'Delete Group' | translate }}"
              (click)="openDeleteModal(securityGroup)"
            >
              <fa-icon
                icon="trash-alt"
                [fixedWidth]="true"
                size="lg"
              ></fa-icon>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="mr-2 ml-2">
    <eform-pagination
      [pagination]="securityStateService.getPagination() | async"
      (paginationChanged)="onPaginationChanged($event)"
    ></eform-pagination>
  </div>
</div>

<app-security-group-remove
  #modalGroupDelete
  (onSecurityGroupRemoved)="onDeleteSecurityGroup($event)"
></app-security-group-remove>
<app-security-group-settings
  #modalGroupSettings
  (settingsUpdate)="updateSecurityGroupSettings($event)"
></app-security-group-settings>
