<eform-subheader>
  <div class="p-3">
    <button
      mdbBtn
      id="entitySelectCreateBtn"
      class="btn btn-success btn-small-height"
      *ngIf="userClaims.entitySelectCreate"
      placement="left"
      mdbTooltip="{{ 'Create new selectable list' | translate }}"
      [routerLink]="['/advanced/entity-select/create']"
    >
      {{ 'New list' | translate }}
    </button>
  </div>
</eform-subheader>

<!--Here you can choose approach as you like: container-row, or flex, or just element with required styles and markup-->
<div class="container-fluid">
  <div class="row pl-1">
    <div class="col-md-2">
      <div class="md-form">
        <input
          mdbInput
          (ngModelChange)="onNameFilterChanged($event)"
          [ngModel]="entitySelectStateService.getNameFilter() | async"
          type="text"
          class="form-control"
          id="labelInput"
        />
        <label for="labelInput">{{ 'Search' | translate }}</label>
      </div>
    </div>
  </div>
  <div class="row p-1 table-responsive no-gutters">
    <table
      mdbTable
      striped="true"
      hover="true"
      small="true"
      class="z-depth-1 text-center"
    >
      <thead
        table-headers
        [tableHeaders]="tableHeaders"
        [sort]="entitySelectStateService.getSort() | async"
        (sortChanged)="sortTable($event)"
      ></thead>
      <tbody id="tableBodyEntitySelect">
        <tr
          *ngFor="
            let advEntitySelectableGroup of advEntitySelectableGroupListModel.entities
          "
        >
          <td id="entitySelectMicrotingUUID">
            {{ advEntitySelectableGroup.microtingUUID }}
          </td>
          <td id="entitySelectName">
            {{ advEntitySelectableGroup.name }}
          </td>
          <td id="entitySelectDescription">
            {{ advEntitySelectableGroup.description }}
          </td>
          <td
            *ngIf="
              userClaims.entitySelectUpdate || userClaims.entitySelectDelete
            "
          >
            <div class="d-flex flex-row justify-content-center">
              <button
                mdbBtn
                id="entitySelectEditBtn"
                class="btn btn-accent btn-icon text-black-50 mb-2"
                [disabled]="
                  !userClaims.entitySelectUpdate ||
                  (advEntitySelectableGroup.isLocked &&
                    !advEntitySelectableGroup.isEditable)
                "
                mdbTooltip="{{ 'Edit' | translate }}"
                [routerLink]="[
                  '/advanced/entity-select/edit/' +
                    advEntitySelectableGroup.microtingUUID
                ]"
              >
                <fa-icon icon="pen" [fixedWidth]="true" size="lg"></fa-icon>
              </button>
              <button
                mdbBtn
                id="entitySelectDeleteBtn"
                class="btn btn-danger btn-icon mb-2"
                [disabled]="
                  !userClaims.entitySelectDelete ||
                  advEntitySelectableGroup.isLocked
                "
                mdbTooltip="{{ 'Remove' | translate }}"
                (click)="openModalSelectRemove(advEntitySelectableGroup)"
              >
                <fa-icon
                  icon="trash-alt"
                  [fixedWidth]="true"
                  size="lg"
                ></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row justify-content-between mr-2 ml-2">
    <div class="col-md-1">
      <eform-page-size
        [pageSize]="entitySelectStateService.getPageSize() | async"
        (onPageSizeChanged)="onPageSizeChanged($event)"
      >
      </eform-page-size>
    </div>
    <div class="col-md-4 ml-auto d-flex justify-content-end p-2">
      <eform-pagination
        [pagination]="entitySelectStateService.getPagination() | async"
        (onPageChanged)="changePage($event)"
      ></eform-pagination>
    </div>
  </div>
</div>

<app-entity-select-remove
  (onEntityRemoved)="onEntityRemoved()"
  #modalSelectRemove
></app-entity-select-remove>
