<eform-new-subheader>
  <button
    mat-raised-button
    color="accent"
    id="entitySelectCreateBtn"
    matTooltip="{{ 'Create new selectable list' | translate }}"
    *ngIf="selectCurrentUserClaimsEntitySelectCreate$ | async"
    matTooltipPosition="left"
    [routerLink]="['/advanced/entity-select/create']"
  >
    {{ 'New list' | translate }}
  </button>
</eform-new-subheader>

<ng-template #toolbarTpl>
  <div class="d-flex flex-row justify-content-start flex-nowrap">
    <div class="d-flex flex-column mr-2 ml-2">
      <mat-form-field>
        <mat-label>{{ 'Search' | translate }}</mat-label>
        <input
          matInput
          type="text"
          (ngModelChange)="onNameFilterChanged($event)"
          [ngModel]="selectEntitySelectNameFilter$ | async"
          id="labelInput"
        />
      </mat-form-field>
    </div>
  </div>
</ng-template>

<mtx-grid
  [data]="advEntitySelectableGroupListModel.entities"
  [columns]="tableHeaders"
  [cellTemplate]="{actions: actionsTpl}"
  [showPaginator]="true"
  [paginationTemplate]="paginatorTpl"
  [pageOnFront]="false"
  [rowStriped]="true"
  [showToolbar]="true"
  [showColumnMenuButton]="false"
  [toolbarTemplate]="toolbarTpl"
  [sortActive]="selectEntitySelectSort$ | async"
  [sortDirection]="selectEntitySelectIsSortDsc$ | async"
  (sortChange)="sortTable($event)">
</mtx-grid>
<ng-template #actionsTpl let-row>
  <div *ngIf="(selectCurrentUserClaimsEntitySelectDelete$ | async) || (selectCurrentUserClaimsEntitySelectUpdate$ | async)">
    <button
      class="entitySelectEditBtn"
      mat-icon-button
      id="entitySelectEditBtn"
      matTooltip="{{ 'Edit' | translate }}"
      [disabled]="(selectCurrentUserClaimsEntitySelectUpdate$ | async) === false"
      [routerLink]="['/advanced/entity-select/edit/' + row.microtingUUID]"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      class="entitySelectDeleteBtn"
      mat-icon-button
      color="warn"
      id="entitySelectDeleteBtn"
      (click)="openModalSelectRemove(row)"
      matTooltip="{{ 'Remove' | translate }}"
      [disabled]="(selectCurrentUserClaimsEntitySelectDelete$ | async) === false || row.isLocked"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #paginatorTpl>
  <eform-pagination
    [pagination]="selectEntitySelectPagination$ | async"
    (paginationChanged)="onPaginationChanged($event)"
  ></eform-pagination>
</ng-template>
