<div class="row grid">
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" *ngFor="let image of images; let i = index">
    <figure class="figure">
      <img class="img-thumbnail img-responsive" width="119px" style="cursor: pointer; margin-bottom: 10px"
           [src]="image.src" (click)="openPicture(i)"/>
      <figcaption>
        <button class="btn btn-ar btn-default" (click)="rotatePicture(image)"><i class="fa fa-repeat"  aria-hidden="true"></i></button>
        <button class="btn btn-ar btn-danger" (click)="deletePicture(image)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        <button [disabled]="!image.googleMapsLat && !image.googleMapsLon"
                (click)="openGpsWindow(image.googleMapsUrl)" class="btn btn-ar btn-success" style="padding-left: 13px; padding-right: 13px">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
         <!-- <a target="_blank" *ngIf="image.googleMapsLat && image.googleMapsLon" href="{{image.googleMapsUrl}}">
          </a> -->
        </button>
        <!--<pre>{{fieldValues | json}}</pre>-->
      </figcaption>
    </figure>
  </div>

  <ngx-gallery #ngxGalleryComponent [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
</div>

