
eFormAPI/packages/

eFormAPI/eFormAPI/bin/

eFormAPI/eFormAPI/obj/

eFormAPI/\.vs/

eFormAPI/eFormApi\.Core/obj/Debug/

eFormAPI/eFromAPI\.Common/obj/Debug/

eFormAPI/eFormApi\.Core/bin/Debug/

eFormAPI/eFormAPI/logs/2017-04-27-full\.log

eFormAPI/eFromAPI\.Common/bin/Debug/

eFormAPI/eFromAPI\.Common/obj/

eFormAPI/eFormAPI/logs/

eFormAPI/eFormAPI\.sln\.DotSettings\.user

eFormAPI/eFormAPI/output/dataFolder/
eform-client/package-lock.json
.idea
eFormAPI/eFromAPI.Common/bin/Release/*
eFormAPI/eFormAPI/Properties/PublishProfiles/

eFormAPI/\.idea/

eFormAPI/eFormAPI\.Common/obj/Debug/

eFormAPI/eFormAPI\.Common/bin/Debug/

eFormApi.Integration.Tests/bin/*
eFormApi.Integration.Tests/obj/*

eFormApi.Tests/bin/*
eFormApi.Tests/obj/*

eform-client/package-lock\.json
eFormAPI/AllowMultipleVersions/obj/
eFormAPI/AlowMultipleVersionsBundle/bin/
eFormAPI/AlowMultipleVersionsBundle/obj/
eFormAPI/Bundle/bin/
eFormAPI/Bundle/obj/
eFormAPI/CustomActions/obj/
eFormAPI/eFormAPI.Common/obj/
eFormAPI/eFormAPI.Common/bin/
eFormAPI/MainInstaller/obj/
eFormAPI/MainInstaller/bin/
eFormAPI/AllowMultipleVersionsBundle/bin/
eFormAPI/AllowMultipleVersionsBundle/obj/
*.pdb
eFormAPI/Installation/AllowMultipleVersionsBundle/obj/
eFormAPI/Installation/CustomActions/obj/x86/Debug/CustomActions.CA.dll
eFormAPI/Installation/Bundle/obj/Debug/InstallBundle.wixproj.FileList.txt
eFormAPI/Installation/CustomActions/obj/
eFormAPI/Installation/Bundle/obj/
eFormAPI/Installation/AllowMultipleVersions/obj/
eFormAPI/Installation/MainInstaller/obj/
eFormAPI/Installation/AllowMultipleVersionsBundle/bin/
eFormAPI/Installation/Bundle/maininstaller.wixpdb
eFormAPI/Installation/CustomActions/CustomActions.csproj.user
eFormAPI/Installation/MainInstaller/BuildedCustomActions/AllowMultipleVersions.exe
eFormAPI/Installation/MainInstaller/BuildedCustomActions/AllowMultipleVersions.exe.config
eFormAPI/Installation/MainInstaller/BuildedCustomActions/CustomActions.CA.dll
eFormAPI/Installation/MainInstaller/BuildedCustomActions/CustomActions.dll
eFormAPI/Installation/MainInstaller/BuildedCustomActions/Microsoft.Deployment.WindowsInstaller.dll
eFormAPI/Installation/MainInstaller/BuildedCustomActions/Microsoft.Deployment.WindowsInstaller.xml
eFormAPI/Installation/MainInstaller/BuildedCustomActions/Microsoft.Web.Administration.dll
eFormAPI/Installation/AllowMultipleVersions/bin/x64/Release/AllowMultipleVersions.exe
eFormAPI/Installation/AllowMultipleVersions/bin/x64/Release/AllowMultipleVersions.exe.config
eFormAPI/Installation/AllowMultipleVersions/bin/x64/Release/Microsoft.Deployment.WindowsInstaller.dll
eFormAPI/Installation/AllowMultipleVersionsBundle/Resources/Eform Angular Frontend.wixpdb
eFormAPI/Installation/AllowMultipleVersionsBundle/Resources/Eform Angular Frontend.exe
eFormAPI/Installation/Bundle/2.bat
eFormAPI/Installation/Bundle/log.log
eFormAPI/Installation/Bundle/maininstaller.msi
eFormAPI/Installation/CustomActions/bin/x64/Release/CustomActions.CA.dll
eFormAPI/Installation/CustomActions/bin/x64/Release/CustomActions.dll
eFormAPI/Installation/CustomActions/bin/x64/Release/Microsoft.Deployment.WindowsInstaller.dll
eFormAPI/Installation/CustomActions/bin/x64/Release/Microsoft.Deployment.WindowsInstaller.xml
eFormAPI/Installation/CustomActions/bin/x64/Release/Microsoft.Web.Administration.dll
eFormAPI/Installation/MainInstaller/BuildedCustomActions/System.Management.Automation.dll
eFormAPI/Installation/MainInstaller/LetsEncryptFileList.wxs
eFormAPI/Installation/MainInstaller/ClientFileList.wxs
eFormAPI/Installation/MainInstaller/ApiFileList.wxs