<eform-subheader [title]="'Case posts' | translate" [forceStaticTitle]="true">
  <div class="p-3">
    <button
      mat-button
      class="btn-accent text-black-50 btn-icon"
      [routerLink]="['../../../', selectedEformId]"
      matTooltip="{{ 'Back to overview' | translate }}"
    >
      <fa-icon icon="arrow-left" [fixedWidth]="true" size="lg"></fa-icon>
    </button>
    <button
      mat-button
      id="createEmailRecipientBtn"
      class="btn-success btn-small-height"
      (click)="openCreateModal()"
    >
      {{ 'New post' | translate }}
    </button>
  </div>
</eform-subheader>

<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-md-4 col-sm-8">
      <strong>eForm: </strong>
      <span id="eformLabel">{{ casePostsListModel.eFormName }}</span>
      <br />
      <strong>{{ 'eForm conducted by' | translate }}: </strong>
      <span id="eformConductedBy">{{ casePostsListModel.workerName }}</span>
      <br />
      <ng-container *ngFor="let field of casePostsListModel.additionalFields">
        <strong>{{ field.key }}: </strong>
        <span>{{ field.value }}</span>
        <br />
      </ng-container>
    </div>
  </div>
  <div class="row p-1 table-responsive no-gutters">
    <table
      mdbTable
      striped="true"
      hover="true"
      small="true"
      class="z-depth-1 text-center"
    >
      <thead
        table-headers
        [tableHeaders]="tableHeaders"
        [sort]="casePostsStateService.getSort() | async"
        (sortChanged)="sortTable($event)"
      ></thead>
      <tbody id="tableBody">
        <tr
          *ngFor="let post of casePostsListModel?.casePostsList; let i = index"
        >
          <td id="casePostId">
            {{ post.id }}
          </td>
          <td id="casePostDate">
            {{ post.date | date: 'yyyy/MM/dd' }}
            <br />
            {{ post.date | date: 'HH:mm:ss' }}
          </td>
          <td id="casePostSentBy">
            {{ post.from }}
          </td>
          <td id="casePostSentTo">
            <div *ngFor="let recipient of post.toRecipients">
              <span class="badge badge-primary">
                <fa-icon icon="user" [fixedWidth]="true"></fa-icon>
                {{ recipient }}
              </span>
              <br />
            </div>

            <div *ngFor="let tag of post.toRecipientsTags">
              <span class="badge badge-primary">
                <fa-icon icon="tag" [fixedWidth]="true"></fa-icon>
                {{ tag }}
              </span>
              <br />
            </div>
          </td>
          <td id="casePostSubject">
            {{ post.subject }}
          </td>
          <td id="casePostText" class="w-50">
            <p style="white-space: pre-wrap">{{ post.text }}</p>
          </td>
          <td>
            <div class="d-flex flex-row justify-content-center">
              <button
                id="casePostViewBtn"
                class="btn btn-success btn-icon mb-2"
                matTooltip="{{ 'View Post' | translate }}"
                (click)="openViewModal(post.id)"
              >
                <fa-icon icon="eye" [fixedWidth]="true" size="lg"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--  <div class="row p-1 my-4 mx-2" *ngIf="casePostsListModel.total === 0">-->
  <!--    <span>{{ 'No posts found' | translate }}</span>-->
  <!--  </div>-->
  <div class="row justify-content-between mr-2 ml-2">
    <div class="col-md-1">
      <eform-page-size
        [pageSize]="casePostsStateService.getPageSize() | async"
        (onPageSizeChanged)="onPageSizeChanged($event)"
      ></eform-page-size>
    </div>
    <eform-pagination
      [pagination]="casePostsStateService.getPagination() | async"
      (onPageChanged)="changePage($event)"
    ></eform-pagination>
  </div>
</div>

<app-case-post-new
  #newPostModal
  (postCreated)="getCasePosts()"
  [pdfReportAvailable]="casePostsListModel.pdfReportAvailable"
  [currentUserFullName]="authStateService.currentUserFullNameAsync | async"
  [availableRecipients]="availableRecipients"
  [availableRecipientsAndTags]="availableRecipientsAndTags"
  [eformId]="selectedEformId"
  [eFormName]="casePostsListModel.eFormName"
  [doneAt]="casePostsListModel.caseDoneAt"
  [caseId]="selectedCaseId"
></app-case-post-new>
<app-case-post-view
  #viewPostModal
  [pdfReportAvailable]="casePostsListModel.pdfReportAvailable"
  [currentUserFullName]="authStateService.currentUserFullNameAsync | async"
></app-case-post-view>
