<div class="d-flex justify-content-center align-items-center p-5">
  <div class="card z-depth-2" style="width: 27rem;">
    <div class="card-body">
      <div class="row align-items-center"
           *ngIf="loginPageSettings.mainTextVisible
                 || loginPageSettings.secondaryTextVisible
                 || loginPageSettings.imageLinkVisible">
        <div class="col-md-8 col-xs-12">
          <h4 id="loginMainText" *ngIf="loginPageSettings.mainTextVisible">{{loginPageSettings.mainText}}</h4>
          <p id="loginSecondaryText" *ngIf="loginPageSettings.secondaryTextVisible">{{loginPageSettings.secondaryText}}</p>
        </div>
        <div class="col-md-4 col-xs-12" align="center" *ngIf="loginPageSettings.imageLinkVisible">
          <img id="loginImage" class="img-fluid" [src]="loginImage" style="max-width: 110px" />
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <br>
</div>
