<div class="d-flex flex-column justify-content-center align-items-center h-100 authentication-page">
  <mat-card class="auth-card card--no-border">
    <mat-card-header class="d-flex flex-column align-content-center justify-content-center align-items-center">
      <div class="d-flex flex-column align-content-center justify-content-center align-items-center"
           *ngIf="loginPageSettings.mainTextVisible
                   || loginPageSettings.secondaryTextVisible
                   || loginPageSettings.imageLinkVisible">
        <div class="d-flex flex-column" style="margin-bottom: 1rem;" *ngIf="loginPageSettings.imageLinkVisible">
          <img id="loginImage" class="img-fluid" [src]="loginImage" style="max-width: 110px" alt="login image"/>
        </div>
        <div class="d-flex flex-column align-content-center justify-content-center align-items-center" style="margin-bottom: 1rem;">
          <h2 id="loginMainText" *ngIf="loginPageSettings.mainTextVisible"><b>{{loginPageSettings.mainText}}</b></h2>
          <div id="loginSecondaryText" *ngIf="loginPageSettings.secondaryTextVisible">{{loginPageSettings.secondaryText}}</div>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
  <a
    class="text-accent mt-2"
    [routerLink]="['restore-password']"
    *ngIf="settingsService.loginPageSettingsModel.isSendGridExists && !onForgotPasswordPage"
  >
    {{ 'Forgot password' | translate }}?
  </a>
</div>
