<!--<div [config]="{ignoreBackdropClick: true}" mdbModal class="modal fade" #frame="mdbModal">-->
<div class="modal-header">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{'Are you sure you want to delete this case' | translate}}?</h3>
        <button class="close" data-dismiss="modal" (click)="frame.hide()">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <h6>ID</h6>
            </div>
            <div class="col-md-6">
              <h6><strong>{{selectedCaseModel.id}}</strong></h6>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <h6>{{'Accessible at' | translate}}</h6>
            </div>
            <div class="col-md-6">
              <h6><strong>
                <date-formatter [date]="selectedCaseModel.createdAt" [Format]="'datetime'"></date-formatter>
              </strong></h6>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <h6>{{'Finished at' | translate}}</h6>
            </div>
            <div class="col-md-6">
              <h6><strong>
                <date-formatter [date]="selectedCaseModel.doneAt" [Format]="'datetime'"></date-formatter>
              </strong></h6>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <h6>{{'Done by' | translate}}</h6>
            </div>
            <div class="col-md-6">
              <h6><strong>{{selectedCaseModel.workerName}}</strong></h6>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button mdbRipple class="btn-danger btn-small-height" (click)="submitCaseDelete()">{{'Delete' | translate}}</button>
        <button mdbRipple class="btn-accent text-black-50 btn-small-height" (click)="frame.hide()">{{'Cancel' | translate}}</button>
      </div>
    </div>
  </div>
</div>
