<header class="main-header main-header-title">
  <div class="container-fluid">
    <h1 class="page-title header-page-title">
      <div class="container">
        my eForms
      </div>
    </h1>
    <div class="pull-right">
      <button tooltip="Create eForm" (click)="showTemplateCreateModal()" class="needs_tooltip btn btn-ar btn-success"
              type="button">New eForm
      </button>
    </div>
  </div>
</header>


<div class="container-fluid">
  <table border="0" cellpadding="0" cellspacing="0"
         class="table table-striped table-bordered table-condensed table-hover dataTable no-footer"
         id="templates" role="grid" aria-describedby="check_lists_info" style="width: 100%;">
    <thead>
    <tr role="row">
      <th class="col-md-1 text-center" rowspan="1" colspan="1">
        ID
      </th>
      <th class="col-md-2 text-center" rowspan="1" colspan="1">
        Created at
      </th>
      <th class="col-md-3 text-center" rowspan="1" colspan="1">
        Name eForm
      </th>
      <th class="col-md-2 text-center" rowspan="1" colspan="1">
        Pairing
      </th>
      <th class="col-md-1 text-center" rowspan="1" colspan="1">
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let templateDto of templatesDto">
      <td class="text-center">
        {{templateDto.id}}
      </td>
      <td class="text-center">
        {{templateDto.createdAt | date:'dd.MM.y HH:mm:ss'}}
      </td>
      <td class="text-center">
        {{templateDto.label}}
      </td>
      <td class="text-center">
        <span *ngFor="let deployedSite of templateDto.deployedSites">{{deployedSite.siteName}}<br></span>
        <button *ngIf="templateDto.deployedSites.length > 0" class="needs_tooltip btn btn-ar btn-sm btn-success"
                type="button" tooltip="Click to edit eForm pairing with user(s)"
                (click)="editDeployment(templateDto)">Edit pairing
        </button>
        <button *ngIf="templateDto.deployedSites.length == 0" class="needs_tooltip btn btn-ar btn-sm btn-success"
                type="button" tooltip="Click to pair eForm with user(s)"
                (click)="editDeployment(templateDto)">Pair eForm
        </button>
      </td>
      <td class="text-center">
        <a *ngIf="templateDto.hasCases" [routerLink]="['/cases', templateDto.id]"
           class="needs_tooltip btn btn-ar btn-sm btn-default mt-edit-check-list-button"
           type="button" tooltip="Show cases">
          <span class="glyphicon glyphicon-search" data-mt-check-list-id="@(item.Id)"></span>
        </a>
        <a
           class="needs_tooltip btn btn-ar btn-sm btn-default mt-edit-check-list-button" (click)="openEditCasesColumnsModal(templateDto)"
           type="button" tooltip="Edit columns">
          <span class="glyphicon glyphicon-align-justify"></span>
        </a>
        <a *ngIf="templateDto.hasCases" href="/api/templates/csv/{{templateDto.id}}"
           class="needs_tooltip btn btn-ar btn-sm btn-success" type="button" tooltip="Download CSV">
          <span class="fa fa-file-text-o"></span>
        </a>
        <button tooltip="Delete eForm" (click)="showTemplateDeleteModal(templateDto)"
                class="needs_tooltip btn btn-ar btn-sm btn-danger"
                type="button">
          <span class="fa fa-trash-o"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <eform-spinner [middleActive]="spinnerStatus"></eform-spinner>
</div>

<modal #deploymentModal [size]="'lg'">
  <modal-header [show-close]="true">
    <h4 class="modal-title">{{deploymentModalTitle}}</h4>
  </modal-header>
  <modal-body>
    <div class="deploy_check_lists">
      <table border="0" cellpadding="0" cellspacing="0"
             class="table table-striped table-bordered table-condensed table-hover dataTable no-footer"
             id="templates" role="grid" aria-describedby="check_lists_info" style="width: 100%;">
        <thead>
        <tr role="row">
          <th class="col-md-1 text-center" rowspan="1" colspan="1">
            Microting ID
          </th>
          <th class="col-md-2 text-center" rowspan="1" colspan="1">
            Name user device
          </th>
          <th class="col-md-2 text-center" rowspan="1" colspan="1">
            Check to pair
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let siteDto of sitesDto">
          <td>
            {{siteDto.siteUId}}
          </td>
          <td>
            {{siteDto.siteName}}
          </td>
          <td>
            <div *ngFor="let checkboxModel of deployViewModel.deployCheckboxes">
              <div *ngIf="checkboxModel.id == siteDto.siteUId">
                <input *ngIf="checkboxModel.isChecked == true" type="checkbox" checked name="siteId{{siteDto.siteUId}}"
                       value="{{siteDto.siteUId}}" (change)="addToArray($event)">
                <input *ngIf="checkboxModel.isChecked == false" type="checkbox" name="siteId{{siteDto.siteUId}}"
                       value="{{siteDto.siteUId}}" (change)="addToArray($event)">
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="deploymentModal" (click)="deploymentModal.dismiss()">
      Cancel
    </button>
    <button type="button" class="btn btn-success" [disabled]="isDeploying" (click)="submitDeploymentModal()">Save pairing
      <i *ngIf="isDeploying" class="fa fa-spinner fa-spin"></i></button>
  </modal-footer>
</modal>

<modal #editCasesColumnsModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Select columns for displaying in Cases</h4>
  </modal-header>
  <modal-body>
    <div class="container-fluid">
      <div class='row'>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>No</th>
            <th>Field</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><strong>1</strong></td>
            <td class="col-md-8">
              <select [(ngModel)]="columnEditModel.fieldId1" class="form-control">
                <option [value]="null"></option>
                <option *ngFor="let column of columnModels" [value]="column.id">{{column.label}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><strong>2</strong></td>
            <td>
              <select [(ngModel)]="columnEditModel.fieldId2" class="form-control">
                <option [value]="null"></option>
                <option *ngFor="let column of columnModels" [value]="column.id">{{column.label}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><strong>3</strong></td>
            <td>
              <select [(ngModel)]="columnEditModel.fieldId3" class="form-control">
                <option [value]="null"></option>
                <option *ngFor="let column of columnModels" [value]="column.id">{{column.label}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><strong>4</strong></td>
            <td>
              <select [(ngModel)]="columnEditModel.fieldId4" class="form-control">
                <option [value]="null"></option>
                <option *ngFor="let column of columnModels" [value]="column.id">{{column.label}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><strong>5</strong></td>
            <td>
              <select [(ngModel)]="columnEditModel.fieldId5" class="form-control">
                <option [value]="null"></option>
                <option *ngFor="let column of columnModels" [value]="column.id">{{column.label}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><strong>6</strong></td>
            <td>
              <select [(ngModel)]="columnEditModel.fieldId6" class="form-control">
                <option [value]="null"></option>
                <option *ngFor="let column of columnModels" [value]="column.id">{{column.label}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><strong>7</strong></td>
            <td>
              <select [(ngModel)]="columnEditModel.fieldId7" class="form-control">
                <option [value]="null"></option>
                <option *ngFor="let column of columnModels" [value]="column.id">{{column.label}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><strong>8</strong></td>
            <td>
              <select [(ngModel)]="columnEditModel.fieldId8" class="form-control">
                <option [value]="null"></option>
                <option *ngFor="let column of columnModels" [value]="column.id">{{column.label}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><strong>9</strong></td>
            <td>
              <select [(ngModel)]="columnEditModel.fieldId9" class="form-control">
                <option [value]="null"></option>
                <option *ngFor="let column of columnModels" [value]="column.id">{{column.label}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><strong>10</strong></td>
            <td>
              <select [(ngModel)]="columnEditModel.fieldId10" class="form-control">
                <option [value]="null"></option>
                <option *ngFor="let column of columnModels" [value]="column.id">{{column.label}}</option>
              </select>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-danger" (click)="updateColumns()">Save</button>
    <button type="button" class="btn btn-default" (click)="editCasesColumnsModal.dismiss()">Cancel</button>
  </modal-footer>
</modal>

<modal #deleteTemplateModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Are you sure you want to delete eForm?
      The action can not be undone!</h4>
  </modal-header>
  <modal-body>
    <div class="container-fluid">
      <div class='row'>
        <div class='col-md-4'><label>#</label></div>
        <div class='col-md-8'> {{selectedTemplateDto.id}}</div>
      </div>
      <div class='row'>
        <div class='col-md-4'><label>Creation_date</label></div>
        <div class='col-md-8'> {{selectedTemplateDto.createdAt | date:'dd.MM.y HH:mm:ss'}}</div>
      </div>
      <div class='row'>
        <div class='col-md-4'><label>Name:</label></div>
        <div class='col-md-8'> {{selectedTemplateDto.label}}</div>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-danger" (click)="submitTemplateDeleteModal(selectedTemplateDto.id)">OK</button>
    <button type="button" class="btn btn-default" data-dismiss="deleteTemplateModal"
            (click)="deleteTemplateModal.dismiss()">Cancel
    </button>
  </modal-footer>
</modal>

<modal #createTemplateModal [size]="'lg'">
  <modal-header [show-close]="true">
    <h4>Create eForm</h4>
  </modal-header>
  <modal-body>
    <div class="create_eform">
      <div class="row">
        <div class="form-group col-xs-12 col-md-12">
          <label class="mt-validation-container" for="eFormXML">XML from eForm Builder</label>
          <textarea [(ngModel)]="eFormXmlModel.eFormXml" class="form-control" placeholder="Paste XML here"
                    name="eFormXML" id="eFormXml" rows="20"></textarea>
        </div>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="createTemplateModal"
            (click)="createTemplateModal.dismiss()">Cancel
    </button>
    <button type="button" class="btn btn-success" (click)="submitTemplateCreateModal()">Save eForm</button>
  </modal-footer>
</modal>
