<h3 mat-dialog-title>{{ 'New tags' | translate }}</h3>
<div mat-dialog-content>
  <mat-form-field>
    <textarea
      matInput
      [(ngModel)]="textareaValue"
      type="text"
      id="newTagsName"
      rows="10"
    ></textarea>
    <mat-label>{{ 'Names' | translate }}</mat-label>
  </mat-form-field>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end align-items-center gap-24">
  <button
    class="btn-primary btn-primary--icon-left"
    id="newTagsSaveBtn"
    [disabled]="!textareaValue"
    (click)="createTags()"
  >
    {{ 'Create' | translate }}
  </button>
  <button
    class="btn-cancel"
    id="newTagsSaveCancelBtn"
    (click)="cancelCreate()"
  >
    {{ 'Close' | translate }}
  </button>
</div>
