<div
  [config]="{ ignoreBackdropClick: true }"
  mdbModal
  class="modal fade overflow-auto"
  #frame="mdbModal"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3>
          {{
            (isChecklistSelected ? 'Edit checklist' : 'New checklist')
              | translate
          }}
        </h3>
        <button class="close" data-dismiss="modal" (click)="frame.hide()">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <mdb-card
          *ngFor="
            let translation of recursionModel.checklist.translations;
            let translationIndex = index
          "
          class="mb-3"
        >
          <ng-container *ngIf="isLanguageSelected(translation.languageId)">
            <mdb-card-header>{{
              getLanguage(translation.languageId) | translate
            }}</mdb-card-header>
            <mdb-card-body>
              <div class="row">
                <div class="col-12">
                  <div class="md-form">
                    <input
                      mdbInput
                      type="text"
                      id="newChecklistNameTranslation_{{ translationIndex }}"
                      name="newChecklistNameTranslation_{{ translationIndex }}"
                      [(ngModel)]="translation.name"
                      class="form-control"
                    />
                    <label
                      for="newChecklistNameTranslation_{{ translationIndex }}"
                    >
                      {{ 'Name' | translate }}
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="md-form">
                    <p class="text-black-50">
                      {{ 'Description' | translate }}
                    </p>
                    <pell-editor
                      mdbInput
                      [(value)]="translation.description"
                      name="newChecklistDescriptionTranslation_{{
                        translationIndex
                      }}"
                      required
                      id="newChecklistDescriptionTranslation_{{
                        translationIndex
                      }}"
                      rows="10"
                    ></pell-editor>
                  </div>
                </div>
              </div>
            </mdb-card-body>
          </ng-container>
        </mdb-card>
      </div>
      <div class="modal-footer">
        <button
          mdbBtn
          class="btn-success btn-small-height"
          (click)="
            isChecklistSelected ? onUpdateChecklist() : onCreateChecklist()
          "
          id="changeChecklistSaveBtn"
        >
          {{ (isChecklistSelected ? 'Save' : 'Create') | translate }}
        </button>
        <button
          mdbBtn
          class="btn-accent text-black-50 btn-small-height"
          (click)="frame.hide()"
          id="changeChecklistSaveCancelBtn"
        >
          {{ 'Cancel' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
