<h3 mat-dialog-title>{{ 'Import options (max 100 entries)' | translate}}</h3>
<div mat-dialog-content>
  <mat-form-field>
    <textarea
      matInput
      [(ngModel)]="importString"
      id="entityImportTextArea"
      rows="20"
    ></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end align-items-center gap-24">
  <button
    class="btn-primary btn-primary--icon-left"
    (click)="submitImport()"
    id="entityImportSaveBtn"
  >
    {{'Save' | translate}}
  </button>
  <button
    class="btn-cancel"
    id="entityImportCancelBtn"
    (click)="hide()"
  >
    {{'Cancel' | translate}}
  </button>
</div>
