<eform-new-subheader [title]="'Update security group' | translate" [forceStaticTitle]="true">
  <button
    class="btn-primary btn-primary--icon-left"
    [disabled]="!securityGroupModel.groupName"
    (click)="updateSecurityGroup()"
    matTooltip="{{ 'Update Group' | translate }}"
    id="newSecurityGroupBtn"
  >
    {{ 'Save' | translate }}
  </button>
</eform-new-subheader>

<ng-template #toolbarTpl>
  <div class="d-flex flex-row align-items-baseline">
    <div class="d-flex flex-column mr-4">
      <mat-form-field>
        <mat-label>{{ 'Group Name' | translate }}</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="securityGroupModel.groupName"
          id="groupNameCreateInput"
        />
      </mat-form-field>
    </div>
    <div class="d-flex flex-column mr-4">
      <mat-form-field>
        <mat-label>{{'Select User' | translate}}</mat-label>
        <mtx-select
          #usersSelector
          class="custom"
          dropdownPosition="bottom"
          [items]="users.entities"
          [bindLabel]="'firstName'"
          [bindValue]="'id'"
          id="tagSelector">
        </mtx-select>
      </mat-form-field>
    </div>
    <div class="d-flex flex-column">
      <button
       class="btn-primary btn-primary--icon-left"
        (click)="addUserToGroup(usersSelector)"
        matTooltip="{{ 'Add user to group' | translate }}"
      >
        <mat-icon>add</mat-icon>
        <span>{{ 'Bind to Group' | translate }}</span>
      </button>
    </div>
  </div>
</ng-template>

<mtx-grid
  [data]="securityGroupModel.usersList"
  [columns]="tableHeaders"
  [showPaginator]="false"
  [pageOnFront]="false"
  [rowStriped]="true"
  [showToolbar]="true"
  [showColumnMenuButton]="false"
  [toolbarTemplate]="toolbarTpl">
</mtx-grid>
