<ng-container *ngIf="dataItemList">
  <ng-container *ngFor="let dataItem of dataItemList; let i = index">
    <mat-card class="mb-3" style="width: 100%"
         *ngIf="dataItem.fieldType != 'SaveButton' ">
      <mat-card-title
           [ngStyle]="{'background-color': dataItem.fieldValues.length > 0 ? (dataItem.fieldValues[0].color ? '#' + dataItem.fieldValues[0].color : '') : ''}"
           *ngIf="dataItem.fieldType != 'FieldContainer' && dataItem.fieldType != 'SaveButton'">
        {{dataItem.label}}
        <br>
        <i><div [innerHtml]="dataItem.description.inderValue"></div></i>
      </mat-card-title >
      <mat-card-content>
        <ng-container [ngSwitch]="dataItem.fieldType">
          <ng-container *ngSwitchCase="'Picture'">
            <element-picture [fieldValues]="dataItem.fieldValues"></element-picture>
          </ng-container>
          <ng-container *ngSwitchCase="'CheckBox'">
            <element-checkbox [(fieldValue)]="dataItem.fieldValues[0]"></element-checkbox>
          </ng-container>
          <ng-container *ngSwitchCase="'Number'">
            <element-number [(fieldValue)]="dataItem.fieldValues[0]"></element-number>
          </ng-container>
          <ng-container *ngSwitchCase="'NumberStepper'">
            <element-number-stepper [(fieldValue)]="dataItem.fieldValues[0]"></element-number-stepper>
          </ng-container>
          <ng-container *ngSwitchCase="'Comment'">
            <element-comment [(fieldValue)]="dataItem.fieldValues[0]">></element-comment>
          </ng-container>
          <ng-container *ngSwitchCase="'Text'">
            <element-text [(fieldValue)]="dataItem.fieldValues[0]"></element-text>
          </ng-container>
          <ng-container *ngSwitchCase="'Date'">
            <element-date [(fieldValue)]="dataItem.fieldValues[0]"></element-date>
          </ng-container>
          <ng-container *ngSwitchCase="'SingleSelect'">
            <element-singleselect [(fieldValue)]="dataItem.fieldValues[0]"></element-singleselect>
          </ng-container>
          <ng-container *ngSwitchCase="'MultiSelect'">
            <element-multiselect [(fieldValue)]="dataItem.fieldValues[0]"></element-multiselect>
          </ng-container>
          <ng-container *ngSwitchCase="'ShowPdf'">
            <element-pdf [dataItem]="dataItem"></element-pdf>
          </ng-container>
          <ng-container *ngSwitchCase="'None'">
            <element-infobox [(fieldValue)]="dataItem.fieldValues[0]"></element-infobox>
          </ng-container>
          <ng-container *ngSwitchCase="'Timer'">
            <element-timer [(fieldValue)]="dataItem.fieldValues[0]"></element-timer>
          </ng-container>
          <ng-container *ngSwitchCase="'Signature'">
            <element-signature [fieldValues]="dataItem.fieldValues"></element-signature>
          </ng-container>
          <ng-container *ngSwitchCase="'FieldContainer'">
            <element-container [(fieldValue)]="dataItem.dataItemList" [dataItemLabel]="dataItem.label"></element-container>
          </ng-container>
          <ng-container *ngSwitchCase="'EntitySearch'">
            <element-entitysearch [(fieldValue)]="dataItem.fieldValues[0]" [entityGroupUid]="dataItem.entityGroupId"></element-entitysearch>
          </ng-container>
          <ng-container *ngSwitchCase="'EntitySelect'">
            <element-entityselect [(fieldValue)]="dataItem.fieldValues[0]" [entityGroupUid]="dataItem.entityGroupId"></element-entityselect>
          </ng-container>
          <ng-container *ngSwitchCase="'Audio'">
            <element-audio [(fieldValues)]="dataItem.fieldValues"></element-audio>
          </ng-container>
          <div *ngSwitchDefault></div>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </ng-container>
</ng-container>

