<div class="card mt-3">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="md-form">
          <input
            mdbInput
            [(ngModel)]="field.minValue"
            [required]="true"
            type="number"
            class="form-control"
            id="minValueEdit"
          />
          <label>{{ 'Min value' | translate }}</label>
        </div>
      </div>
      <div class="col">
        <div class="md-form">
          <input
            mdbInput
            [(ngModel)]="field.maxValue"
            [required]="true"
            type="number"
            class="form-control"
            id="maxValueEdit"
          />
          <label>{{ 'Max value' | translate }}</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="md-form">
          <input
            mdbInput
            [(ngModel)]="field.decimalCount"
            [required]="true"
            type="number"
            class="form-control"
            id="decimalCountEdit"
          />
          <label>{{ 'Decimal count' | translate }}</label>
        </div>
      </div>
    </div>
    <div
      class="card mt-3"
      *ngFor="
        let translation of field.translations;
        let translationIndex = index
      "
    >
      <ng-container *ngIf="isLanguageSelected(translation.languageId)">
        <div class="card-header">{{
          getLanguage(translation.languageId) | translate
        }}</div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="md-form">
                <input
                  mdbInput
                  [(ngModel)]="translation.defaultValue"
                  [required]="true"
                  type="number"
                  class="form-control"
                  id="defaultValueEdit{{ translationIndex }}"
                />
                <label>{{ 'Default value' | translate }}</label>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
