<mdb-card class="mt-3">
  <mdb-card-body>
    <div class="row">
      <div class="col">
        <div class="md-form">
          <input
            mdbInput
            [(ngModel)]="field.minValue"
            [required]="true"
            type="number"
            class="form-control"
            id="minValueEdit"
          />
          <label>{{ 'Min value' | translate }}</label>
        </div>
      </div>
      <div class="col">
        <div class="md-form">
          <input
            mdbInput
            [(ngModel)]="field.maxValue"
            [required]="true"
            type="number"
            class="form-control"
            id="maxValueEdit"
          />
          <label>{{ 'Max value' | translate }}</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="md-form">
          <input
            mdbInput
            [(ngModel)]="field.decimalCount"
            [required]="true"
            type="number"
            class="form-control"
            id="decimalCountEdit"
          />
          <label>{{ 'Decimal count' | translate }}</label>
        </div>
      </div>
    </div>
    <mdb-card
      class="mt-3"
      *ngFor="
        let translation of field.translations;
        let translationIndex = index
      "
    >
      <ng-container *ngIf="isLanguageSelected(translation.languageId)">
        <mdb-card-header>{{
          getLanguage(translation.languageId) | translate
        }}</mdb-card-header>
        <mdb-card-body>
          <div class="row">
            <div class="col">
              <div class="md-form">
                <input
                  mdbInput
                  [(ngModel)]="translation.defaultValue"
                  [required]="true"
                  type="number"
                  class="form-control"
                  id="defaultValueEdit{{ translationIndex }}"
                />
                <label>{{ 'Default value' | translate }}</label>
              </div>
            </div>
          </div>
        </mdb-card-body>
      </ng-container>
    </mdb-card>
  </mdb-card-body>
</mdb-card>
