<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.22.5" targetFramework="net46" />
  <package id="AWSSDK.SQS" version="3.3.3.7" targetFramework="net46" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net46" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net46" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="EPPlus" version="4.5.1" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net46" />
  <package id="Microting.eForm" version="2.1.220" targetFramework="net46" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net46" />
  <package id="MySql.Data.Entity" version="6.9.12" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
  <package id="NLog" version="4.3.11" targetFramework="net46" />
  <package id="Rebus" version="4.2.1" targetFramework="net46" />
  <package id="Rebus.Castle.Windsor" version="4.1.0" targetFramework="net46" />
  <package id="Rebus.SqlServer" version="4.0.0" targetFramework="net46" />
</packages>