<eform-new-subheader>
  <div>
    <button
      mat-icon-button
      id="resetBtn"
      matTooltip="{{ 'Reset' | translate }}"
      (click)="showResetNavigationMenuModal()"
    >
      <mat-icon>undo</mat-icon>
    </button>
    <button
      mat-raised-button
      id="navigationMenuSaveBtn"
      (click)="updateNavigationMenu()"
      color="accent"
    >
      {{ 'Save' | translate }}
    </button>
  </div>
</eform-new-subheader>

<div class="d-flex flex-row align-items-start">
  <mat-accordion multi="true" displayMode="flat" class="mr-2">
    <mat-expansion-panel *ngFor="
          let menuTemplate of navigationMenuModel.menuTemplates;
          let templateIndex = index" class="menuTemplate">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ menuTemplate.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div
        class="dragula-template"
        cdkDropList
        [cdkDropListData]="menuTemplate.items"
        [cdkDropListConnectedTo]="connectedLists"
        [cdkDropListEnterPredicate]="allowDropPredicate"
        id="mainMenu"
      >
        <app-navigation-menu-template-item
          *ngFor="
              let menuTemplateItem of menuTemplate.items;
              let itemIndex = index
            "
          cdkDrag
          (cdkDragMoved)="onDragMoved($event)"
          (cdkDragReleased)="onDragReleased($event)"
          [item]="menuTemplateItem"
          [itemIndex]="itemIndex"
          [templateIndex]="templateIndex"
        ></app-navigation-menu-template-item>
      </div>
    </mat-expansion-panel>
    <app-navigation-menu-custom
      [availableSecurityGroups]="securityGroups"
      (addCustomLinkToMenu)="manualAddItemToMenu($event)"
      (addCustomDropdownToMenu)="manualAddItemToMenu($event)"
    ></app-navigation-menu-custom>
  </mat-accordion>
  <mat-card class="flex-grow-1">
    <mat-accordion
      multi="true"
      displayMode="flat"
      cdkDropList
      id="actualMenuList"
      [cdkDropListData]="navigationMenuModel.actualMenu"
      [cdkDropListConnectedTo]="connectedLists"
      [cdkDropListEnterPredicate]="allowDropPredicate"
      (cdkDropListDropped)="dropMenuItem($event)">
      <mat-expansion-panel *ngFor="
              let menuItem of navigationMenuModel.actualMenu;
              let firstLevelIndex = index"
              [hideToggle]="menuItem.type !== menuItemTypes.Dropdown"
              cdkDrag
              (cdkDragMoved)="onDragMoved($event)"
              (cdkDragReleased)="onDragReleased($event)"
              class="menu_item"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon
              class="dragula-handle align-middle"
              style="cursor: all-scroll">
              menu
            </mat-icon>
            {{ menuItem.name }} {{
            menuItem.translations.length > 0
              ? '/ ' + getMenuTranslation(menuItem.translations)
              : ' '
            }}
            <ng-container *ngIf="menuItem.securityGroupsIds ">
              <span class="microting-uid" *ngIf="menuItem.securityGroupsIds.length > 0">{{' (' + getSecurityGroupNames(menuItem.securityGroupsIds).join(', ')+')' }}</span>
            </ng-container>
            <div class="spacer"></div>
            <button mat-icon-button (click)="onItemEdit(menuItem, firstLevelIndex)" id="editBtn" color="accent">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="onItemDelete(menuItem, firstLevelIndex)" id="deleteBtn" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          cdkDropList
          class="cdk-drop-list dropdownBody"
          [id]="getDropdownId(firstLevelIndex)"
          [cdkDropListData]="menuItem.children"
          [cdkDropListConnectedTo]="connectedLists"
          [cdkDropListEnterPredicate]="allowDropPredicate"
          (cdkDropListDropped)="dropMenuItemChild($event, firstLevelIndex)"
          *ngIf="menuItem.type === menuItemTypes.Dropdown"
          style="min-height: 50px;"
        >
          <ng-container
            *ngFor="let menuItemChild of menuItem.children;
                      let secondLevelIndex = index"
          >
            <app-navigation-menu-item
              cdkDrag
              (cdkDragMoved)="onDragMoved($event)"
              (cdkDragReleased)="onDragReleased($event)"
              (itemDelete)="onItemDelete($event, firstLevelIndex, secondLevelIndex)"
              (itemEdit)="onItemEdit($event, firstLevelIndex, secondLevelIndex)"
              [item]="menuItemChild"
              [firstLevelIndex]="firstLevelIndex"
              [secondLevelIndex]="secondLevelIndex"
            ></app-navigation-menu-item>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
