<subheader-pn [title]="'Navigation menu' | translate">
  <div class="p-3">
    <button
      mdbBtn
      class="btn-success btn-small-height"
      id="navigationMenuSaveBtn"
      (click)="updateNavigationMenu()"
    >
      {{ 'Save' | translate }}
    </button>
  </div>
</subheader-pn>

<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-3">
      <mdb-card
        class="mb-3"
        *ngFor="let menuTemplate of navigationMenuModel.menuTemplates"
      >
        <mdb-card-header>
          <div class="d-flex justify-content-between align-items-center">
            <div>
              {{ menuTemplate.name }}
            </div>
            <app-eform-collapse-toggle
              [collapse]="collapse"
              [collapsed]="menuTemplate.collapsed"
              (collapseUpdate)="menuTemplate.collapsed = $event"
            ></app-eform-collapse-toggle>
          </div>
        </mdb-card-header>
        <div mdbCollapse #collapse="bs-collapse">
          <div
            class="card-body"
            dragula="MENU_ITEMS"
            id="mainMenu"
            [(dragulaModel)]="menuTemplate.items"
          >
            <ng-container
              *ngFor="let menuTemplateItem of menuTemplate.items; let i = index"
            >
              <app-navigation-menu-template-item
                [item]="menuTemplateItem"
                [itemIndex]="i"
              ></app-navigation-menu-template-item>
            </ng-container>
          </div>
        </div>
      </mdb-card>
      <app-navigation-menu-custom
        (addCustomLinkToMenu)="manualAddItemToMenu($event)"
        (addCustomDropdownToMenu)="manualAddItemToMenu($event)"
      ></app-navigation-menu-custom>
    </div>
    <div class="col-9">
      <div class="card">
        <div
          class="card-body"
          dragula="MENU_ITEMS"
          [(dragulaModel)]="navigationMenuModel.actualMenu"
        >
          <ng-container
            *ngFor="
              let menuItem of navigationMenuModel.actualMenu;
              let firstLevelIndex = index
            "
          >
            <div
              class="card mb-2 mt-2 dragula-dropdown"
              *ngIf="menuItem.type === menuItemTypes.Dropdown"
            >
              <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <i
                      class="material-icons md-36 dragula-handle align-middle"
                      style="cursor: all-scroll"
                    >
                      drag_handle
                    </i>
                    {{ menuItem.name }}
                    {{
                      menuItem.translations.length > 0
                        ? '/ ' + menuItem.translations[0].name
                        : ' '
                    }}
                  </div>
                  <div class="d-flex justify-content-end align-items-center">
                    <fa-icon
                      icon="pen"
                      class="mr-2"
                      [fixedWidth]="true"
                      (click)="onItemEdit(menuItem, firstLevelIndex)"
                      style="cursor: pointer"
                    ></fa-icon>
                    <fa-icon
                      icon="trash-alt"
                      class="mr-2"
                      [fixedWidth]="true"
                      (click)="onItemEdit(menuItem, firstLevelIndex)"
                      style="cursor: pointer"
                    ></fa-icon>
                    <app-eform-collapse-toggle
                      [collapse]="collapse"
                      [collapsed]="menuItem.collapsed"
                      (collapseUpdate)="menuItem.collapsed = $event"
                    ></app-eform-collapse-toggle>
                  </div>
                </div>
              </div>
              <div mdbCollapse #collapse="bs-collapse">
                <!-- Dropdown body -->
                <div
                  class="card-body"
                  dragula="MENU_ITEMS"
                  *ngIf="menuItem.type === menuItemTypes.Dropdown"
                  [(dragulaModel)]="menuItem.children"
                >
                  <ng-container
                    *ngFor="
                      let menuItemChild of menuItem.children;
                      let secondLevelIndex = index
                    "
                  >
                    <app-navigation-menu-item
                      (itemDelete)="onItemDelete($event, firstLevelIndex, secondLevelIndex)"
                      (itemEdit)="onItemEdit($event, firstLevelIndex, secondLevelIndex)"
                      [item]="menuItemChild"
                      [firstLevelIndex]="firstLevelIndex"
                      [secondLevelIndex]="secondLevelIndex"
                    ></app-navigation-menu-item>
                  </ng-container>
                </div>
                <!-- /Dropdown body -->
              </div>
            </div>
            <!-- Common item body not dropdown -->
            <app-navigation-menu-item
              (itemDelete)="onItemDelete($event, firstLevelIndex)"
              (itemEdit)="onItemEdit($event, firstLevelIndex)"
              [item]="menuItem"
              [firstLevelIndex]="firstLevelIndex"
              *ngIf="menuItem.type !== menuItemTypes.Dropdown"
            ></app-navigation-menu-item>
            <!-- /Common item body -->
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<app-navigation-menu-item-edit
  #editMenuItemModal
  (itemEditConfirm)="onItemEditConfirm($event)"
  [availableSecurityGroups]="securityGroups"
></app-navigation-menu-item-edit>

<app-navigation-menu-item-delete
  #deleteMenuItemModal
  (itemDeleteConfirm)="onItemDeleteConfirm($event)"
></app-navigation-menu-item-delete>
