<!--<div [config]="{ignoreBackdropClick: true}" mdbModal class="modal fade" #frame="mdbModal">-->
<div class="modal-header">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3>
          {{
            installedPluginModel.status == statusEnum.Enabled
              ? ('Deactivate:' | translate)
              : ('Activate:' | translate)
          }}
          <br />{{ installedPluginModel.name }}
        </h3>
        <button class="close" data-dismiss="modal" (click)="frame.hide()">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <h1 class="text-danger">{{ 'WARNING' | translate }}!</h1>
          <p>
            {{ 'You will be logged out when status is changed' | translate }}
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button
          mdbRipple
          class="btn-danger btn-small-height"
          (click)="updatePluginStatus(installedPluginModel.status)"
          id="pluginOKBtn"
        >
          {{ 'OK' | translate }}
        </button>
        <button
          mdbRipple
          class="btn-light text-black-50 btn-small-height"
          (click)="frame.hide()"
          id="pluginCancelBtn"
        >
          {{ 'Cancel' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
