<h3 mat-dialog-title>{{
  (installedPluginModel.status == statusEnum.Enabled
    ? 'Activate:' : 'Deactivate:' ) | translate
  }} <br/>
  {{ installedPluginModel.name }}</h3>
<div mat-dialog-content>
  <div class="d-flex flex-column">
    <h1 class="text-danger">{{ 'WARNING' | translate }}!</h1>
    <p>
      {{ 'You will be logged out when status is changed' | translate }}
    </p>
  </div>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end">
  <button
    mat-raised-button
    color="warn"
    (click)="updatePluginStatus(installedPluginModel.status)"
    id="pluginOKBtn"
  >
    {{'OK' | translate}}
  </button>
  <button
    mat-raised-button
    (click)="hide()"
    id="pluginCancelBtn"
  >
    {{'Cancel' | translate}}
  </button>
</div>
