<div [config]="{ignoreBackdropClick: true}" mdbModal class="modal fade" #frame="mdbModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{'Edit Device User' | translate}}</h3>
        <button class="close" data-dismiss="modal" (click)="frame.hide()">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input mdbInput id="editFirstNameInput"
                       [(ngModel)]="selectedDeviceUser.userFirstName"
                        type="text" name="userName" class="form-control">
                <label for="editFirstNameInput">{{'First name' | translate }} </label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="md-form">
                <input mdbInput
                       [(ngModel)]="selectedDeviceUser.userLastName"
                        type="text" name="email" id="editLastNameInput" class="form-control">
                <label for="editLastNameInput">{{'Last name' | translate }} </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
            <ng-select
              id = "ProfileLanguageSelector"
              [placeholder]="'Language' | translate"
              [bindLabel]="'text'"
              [bindValue]="'locale'"
              [clearable]="false"
              [(ngModel)]="selectedDeviceUser.languageCode"
              [items]="languages"></ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button mdbBtn class="btn-success btn-small-height" id="saveEditBtn"
                [disabled]="!selectedDeviceUser.userFirstName || !selectedDeviceUser.userLastName"
                (click)="updateSingle()">{{'Save' | translate}}</button>
        <button mdbBtn id="cancelEditBtn" class="btn btn-accent text-black-50 btn-small-height" (click)="frame.hide()">
          {{'Cancel' | translate}}</button>
      </div>
    </div>
  </div>
</div>
