<div mdbModal class="modal fade" #frame="mdbModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{'Edit Device User' | translate}}</h3>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input mdbInput id="editFirstNameInput"
                       [(ngModel)]="selectedDeviceUser.userFirstName"
                       [mdbValidate]="false" type="text" name="userName" class="form-control">
                <label for="editFirstNameInput">{{'First Name' | translate }} </label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="md-form">
                <input mdbInput
                       [(ngModel)]="selectedDeviceUser.userLastName"
                       [mdbValidate]="false" type="text" name="email" id="editLastNameInput" class="form-control">
                <label for="editLastNameInput">{{'Last Name' | translate }} </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" id="saveEditBtn"
                [disabled]="!selectedDeviceUser.userFirstName || !selectedDeviceUser.userLastName"
                (click)="updateSingle()">{{'Save' | translate}}</button>
        <button id="cancelEditBtn" class="btn btn-accent text-black-50" (click)="frame.hide()">
          {{'Cancel' | translate}}</button>
      </div>
    </div>
  </div>
</div>
<eform-spinner [spinnerVisibility]="spinnerStatus"></eform-spinner>
