<h3 mat-dialog-title>{{ eformSecurityModel.label + ' ' + ('Permissions' | translate) }}</h3>
<div mat-dialog-content>
  <mat-card *ngFor="let permissionType of eformSecurityModel.permissionTypes" class="mb-2">
    <mat-card-header>{{permissionType.name | translate}}</mat-card-header>
    <mat-card-content>
      <div class="mb-2" *ngFor="let permission of permissionType.permissions">
        <mat-checkbox
          id="{{permission.name}}_{{permission.claimName}}"
          [(ngModel)]="permission.isEnabled"
          color="primary"
        >
          {{permission.permissionName | translate}}
        </mat-checkbox>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end">
  <button
    mat-raised-button
    color="accent"
    (click)="updateEformGroupPermissions()"
  >
    {{ 'Save' | translate}}
  </button>
  <button
    mat-raised-button
    id="cancelCreateEformBtn"
    (click)="hide()"
  >
    {{ 'Cancel' | translate}}
  </button>
</div>
