<header class="main-header main-header-title">
  <div class="container-fluid">
    <h1 class="page-title header-page-title">
      <div class="container" style="width: 400px !important;">
        Account management
      </div>
    </h1>
  </div>
</header>
<div class="container-fluid">
  <div class="bs-docs-container">
      <div class="row">
        <form #changePassword="ngForm">
        <div class="col-md-10" role="main">
          <div class="panel panel-default">
            <div class="panel-heading">
              Change password
            </div>
            <table class="table">
              <tbody>
              <tr>
                <td class="col-md-2">
                  <strong>Old password</strong>
                </td>
                <td>
                  <input class="form-control" [(ngModel)]="changePasswordModel.oldPassword"
                         placeholder="Enter old password..." required type="password" value="" name="oldPassword" #oldPassword="ngModel"
                         id="firstName"/>
                </td>
              </tr>
              <tr>
                <td class="col-md-2">
                  <strong>New password</strong>
                </td>
                <td>
                  <input class="form-control" [(ngModel)]="changePasswordModel.newPassword"
                         placeholder="Enter new password..." required type="password" value="" name="password" #newPassword="ngModel"
                         id="password"/>
                </td>
              </tr>
              <tr>
                <td class="col-md-2">
                  <strong>New password confirmation</strong>
                </td>
                <td>
                  <input class="form-control" [(ngModel)]="changePasswordModel.confirmPassword"
                         placeholder="Confirm new password..." required type="password" value="" name="email" id="email" #newPasswordConfirmation="ngModel"/>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        </form>
        <div class="col-md-2">
          <div class="bs-docs-container hidden-print affix" id="mt-side-bar" role="complementary">
            <button class="btn btn-ar btn-danger" [disabled]="!changePassword.form.valid" (click)="updateUserPassword()">Gem</button>
          </div>
          <eform-spinner [middleActive]="spinnerStatus"></eform-spinner>
        </div>
      </div>
  </div>
</div>
