<modal #createAdvEntitySearchableGroupModal [size]="'lg'">
  <modal-header [show-close]="true">
    <h4>Opret Søgbar liste</h4>
  </modal-header>
  <modal-body>
    <div class="create_eform">
      <div class="row">
        <div class="form-group col-xs-12 col-md-12">
          <label class="mt-validation-container">Name</label>
          <span class="mt-icon-md needs_tooltip vcenter">
            <span *ngIf="!advEntitySearchableGroupEditModel.name"
              class="glyphicon glyphicon-info-sign glyphicon-info-sign-yellow glyphicon-info-sign-wrapper vertical-align needs_tooltip"
              tooltip="Påkrævet" data-toggle="tooltip">
            </span>
          </span>
          <input class="form-control mt-required" [(ngModel)]="advEntitySearchableGroupEditModel.name" required type="text"
                 value="">
        </div>
      </div>
    </div>
    <div class="row">
      <label class="table-title-wrapper">Svarmuligheder</label>
    </div>
    <div class="row">
      <div class="mt-table-head col-sm-1 col-md-1">
        &nbsp;
      </div>
      <div class="table-header-bottom-wrapper col-xs-9 col-md-9">
        <label class="mt-validation-container">Tekst</label>
      </div>
      <div class="mt-table-head col-sm-2 col-md-2">
        <div class="mt-searchable-entities-actions pull-right">
          <button class="needs_tooltip btn btn-ar btn-xs btn-success"
                  container="body" placement="top" type="button" (click)="showImportAdvEntitySearchableGroupModal()"
                  tooltip="Importér svarmuligheder">
            <span class="glyphicon glyphicon-import"></span>
          </button>
          <a class="needs_tooltip btn btn-xs btn-ar btn-success" data-bootbox-title="Add searchable_entity to case"
             container="body" placement="top"
             (click)="addNewAdvEntitySearchableItem()"
             tooltip="Opret Svarmulighed">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="panel panel-default " dnd-sortable-container
           [sortableData]="advEntitySearchableGroupEditModel.advEntitySearchableItemModels"
           [dropZones]="['source-dropZone']">
        <div class="panel-body">
          <ul class="list-group">
            <li *ngFor="let entityItem of advEntitySearchableGroupEditModel.advEntitySearchableItemModels; let x = index" dnd-draggable
                dnd-sortable [sortableIndex]="x" [dragEnabled]="true"
                (onDropSuccess)="actualizeAdvEntityItemPositions()"
                [dragData]="entityItem" class="list-group-item">
              <div class="row vertical-align">
                <div class="col-md-1 col-xs-2">
                  <i class="fa fa-bars fa-bars-red fa-bigger-size" aria-hidden="true"></i>
                </div>
                <div class="col-md-9 col-xs-5 text-col-wrapper">
                  {{entityItem.name}}
                </div>
                <div class="col-md-2 col-xs-5">
                  <div class="pull-right">
                    <div class="vertical-align" style="display: inline-block" *ngIf="!entityItem.name">
                      <span class="glyphicon-info-sign-inherit">
<span
  class="glyphicon glyphicon-info-sign glyphicon-info-sign-yellow glyphicon-info-sign-wrapper mt-error-notification-icon needs_tooltip vcenter"
  container="body" placement="top" tooltip="Ikke færdigudfyldt!"></span>
</span>
                    </div>
                    <button tooltip="Redigér Søgbar element" (click)="openEditAdvEntitySearchableModal(entityItem)"
                            class="needs_tooltip btn btn-ar btn-sm btn-default"
                            placement="top" type="button" container="body">
                      <span class="fa fa-pencil"></span>
                    </button>
                    <button tooltip="Slet Søgbar element" placement="top" (click)="deleteAdvEntitySearchableItem(entityItem)"
                            class="needs_tooltip btn btn-ar btn-sm btn-danger"
                            type="button" container="body">
                      <span class="fa fa-trash-o"></span>
                    </button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <eform-spinner [middleActive]="spinnerStatus"></eform-spinner>
      <!--<pre> sourceList: {{advEntityGroupEditModel | json}}</pre>-->
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="createTemplateModal"
            (click)="createAdvEntitySearchableGroupModal.dismiss()">Annullér
    </button>
    <button type="button" class="btn btn-success" (click)="createEntitySearchableGroup()">Save</button>
  </modal-footer>
</modal>

<modal #editAdvEntitySearchableItemModal (onDismiss)="onChildModalDismissed()">
  <modal-header [show-close]="true">
    <h4>Redigér Søgbar element</h4>
  </modal-header>
  <modal-body>
    <div class="create_eform">
      <div class="row">
        <div class="form-group col-xs-12 col-md-12">
          <label class="mt-validation-container">Name</label>
          <input class="form-control mt-required" [(ngModel)]="selectedAdvEntitySearchableItemModel.name" type="text" value="">
        </div>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="createTemplateModal"
            (click)="editAdvEntitySearchableItemModal.dismiss()">Annullér
    </button>
    <button type="button" class="btn btn-success" (click)="onAdvEntitySearchableItemChanged(selectedAdvEntitySearchableItemModel)">Ok
    </button>
  </modal-footer>
</modal>

<modal #importAdvEntitySearchableGroupModal [size]="'lg'" (onDismiss)="onChildModalDismissed()">
  <modal-header [show-close]="true">
    <h4>Importér svarmuligheder (max 100)</h4>
  </modal-header>
  <modal-body>
    <div class="create_eform">
      <div class="row">
        <div class="form-group col-xs-12 col-md-12">
          <textarea #importString class="form-control" name="eFormXML" id="eFormXml" rows="20"></textarea>
        </div>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="createTemplateModal"
            (click)="importAdvEntitySearchableGroupModal.dismiss()">Annullér
    </button>
    <button type="button" class="btn btn-success" (click)="importAdvEntitySearchableGroup(importString.value)">Importér</button>
  </modal-footer>
</modal>
