<subheader-pn [title]="'Case Posts' | translate">
  <div class="p-3">
    <button class="btn btn-accent text-black-50 btn-icon" [routerLink]="['../../../', selectedEformId]"
            mdbTooltip="{{'Back to overview' | translate}}" mdbWavesEffect>
      <fa-icon icon="arrow-left" [fixedWidth]="true" size="lg"></fa-icon>
    </button>
    <button
      id="createEmailRecipientBtn"
      class="btn btn-success"
      (click)="openCreateModal()">{{ 'New Post' | translate }}
    </button>
  </div>
</subheader-pn>

<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-md-4 col-sm-8">
        <strong>eForm: </strong>
        <span id="eformLabel">{{casePostsListModel.eFormName}}</span>
      <br/>
        <strong>{{'eForm conducted by' | translate}}: </strong>
        <span id="eformConductedBy">{{casePostsListModel.workerName}}</span>
      <br/>
      <ng-container *ngFor="let field of casePostsListModel.additionalFields">
        <strong>{{field.key}}: </strong>
        <span>{{field.value}}</span>
        <br/>
      </ng-container>
    </div>
  </div>
  <div class="row p-1 table-responsive no-gutters" *ngIf="casePostsListModel.total !== 0">
    <table class="table table-sm table-striped text-center z-depth-1">
      <thead>
      <tr>
        <th scope="col" class="table-header-sortable" id="idTableHeader" (click)="sortTable('Id')">
          <div class="d-flex align-items-center justify-content-center">
            ID
            <i class="material-icons text-black-50">{{getSortIcon('Id')}}</i>
          </div>
        </th>
        <th scope="col" class="table-header-sortable" id="casePostDateTableHeader"
            (click)="sortTable('Date')">
          <div class="d-flex align-items-center justify-content-center">
            {{ 'Date' | translate }}
            <i class="material-icons text-black-50">{{getSortIcon('Date')}}</i>
          </div>
        </th>
        <th scope="col">
          {{ 'Post created by' | translate }}
        </th>
        <th scope="col">
          {{ 'Post sent to' | translate }}
        </th>
        <th scope="col">
          {{ 'Subject' | translate }}
        </th>
        <th scope="col">
          {{ 'Text' | translate }}
        </th>
        <th scope="col">
          {{ 'Actions' | translate }}
        </th>
      </tr>
      </thead>
      <tbody id="tableBody">
      <tr *ngFor="let post of casePostsListModel?.casePostsList; let i = index">
        <td id="casePostId">
          {{post.id}}
        </td>
        <td id="casePostDate">
          {{post.date | date: 'yyyy/MM/dd'}}
          <br>
          {{post.date | date: 'HH:mm:ss'}}
        </td>
        <td id="casePostSentBy">
          {{post.from}}
        </td>
        <td id="casePostSentTo">
          <div *ngFor="let recipient of post.toRecipients">
                <span class="badge badge-primary">
                  <fa-icon icon="user" [fixedWidth]="true"></fa-icon>
                  {{recipient}}
                </span>
            <br/>
          </div>

          <div *ngFor="let tag of post.toRecipientsTags">
                 <span class="badge badge-primary">
                  <fa-icon icon="tag" [fixedWidth]="true"></fa-icon>
                   {{tag}}
                </span>
            <br/>
          </div>
        </td>
        <td id="casePostSubject">
          {{post.subject}}
        </td>
        <td id="casePostText" class="w-50">
          <p style="white-space:pre-wrap;">{{post.text}}</p>
        </td>
        <td>
          <div class="d-flex flex-row justify-content-center">
            <button id="casePostViewBtn"
                    class="btn btn-success btn-icon mb-2"
                    mdbTooltip="{{'View Post' | translate}}"
                    (click)="openViewModal(post.id)">
              <fa-icon icon="eye" [fixedWidth]="true" size="lg"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row p-1 my-4 mx-2" *ngIf="casePostsListModel.total === 0">
    <span>{{'No posts found' | translate}}</span>
  </div>
  <div class="row justify-content-between mr-2 ml-2">
    <div class="col-md-1">
      <page-size-pn
        [pageSize]="localPageSettings.pageSize"
        (onPageSizeChanged)="localPageSettings.pageSize = $event; casePostsRequestModel.offset = 0;
        updateLocalPageSettings()"
      ></page-size-pn>
    </div>
    <pagination-pn
      *ngIf="casePostsListModel?.total > casePostsRequestModel.pageSize"
      [limit]="casePostsRequestModel.pageSize"
      [size]="casePostsListModel.total"
      [offset]="casePostsRequestModel.offset"
      (onPageChanged)="changePage($event)"
    ></pagination-pn>
  </div>
</div>

<spinner-pn [spinnerVisibility]="spinnerStatus"></spinner-pn>

<app-case-post-new #newPostModal (postCreated)="getCasePosts()"
                   [pdfReportAvailable]="casePostsListModel.pdfReportAvailable"
                   [currentUserFullName]="currentUserFullName"
                   [availableRecipients]="availableRecipients"
                   [availableRecipientsAndTags]="availableRecipientsAndTags"
                   [eformId]="selectedEformId"
                   [caseId]="selectedCaseId"></app-case-post-new>
<app-case-post-view #viewPostModal
                    [pdfReportAvailable]="casePostsListModel.pdfReportAvailable"
                    [currentUserFullName]="currentUserFullName"></app-case-post-view>
