<eform-new-subheader>
  <div class="">
    <button
      mat-icon-button
      id="sitesManageTagsBtn"
      (click)="openEditTagsModal()"
      matTooltip="{{ 'Manage tags' | translate }}"
    >
      <mat-icon>discount</mat-icon>
    </button>
  </div>
</eform-new-subheader>

<!--Here you can choose approach as you like: container-row, or flex, or just element with required styles and markup-->
<mtx-grid
  [data]="sitesDto"
  [columns]="tableHeaders"
  [cellTemplate]="{ units: unitsTpl, tags: tagsTpl, actions: actionsTpl}"
  [showPaginator]="false"
  [pageOnFront]="false"
  [rowStriped]="true"
  [showToolbar]="false"
  [showColumnMenuButton]="false">
</mtx-grid>
<ng-template #unitsTpl let-row>
  <div
    class="paragraph-sm"
    id="units"
    *ngFor="let unit of row.units"
  >
    {{ unit.microtingUid }}&nbsp;
  </div>
</ng-template>
<ng-template #tagsTpl let-row>
  <div id="tags">
    <div>
      <p
        class="badge badge-primary mb-1"
        id="assignedTag"
        *ngFor="let tag of row.tags"
      >
        <fa-icon icon="tag"></fa-icon>
        {{ getTagName(tag) }}
      </p>
    </div>
  </div>
</ng-template>
<ng-template #actionsTpl let-row>
  <div *ngIf="userClaims.sitesDelete || userClaims.sitesUpdate">
    <button
      mat-icon-button
      id="editSiteBtn"
      *ngIf="userClaims.sitesUpdate && !row.isLocked"
      (click)="openEditModal(row)"
      matTooltip="{{ 'Edit site' | translate }}"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      color="warn"
      id="deleteSiteBtn"
      *ngIf="userClaims.sitesDelete && !row.isLocked"
      (click)="openDeleteModal(row)"
      matTooltip="{{ 'Delete site' | translate }}"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</ng-template>

<app-eforms-tags
  #modalTags
  [availableTags]="availableTags"
  (tagsChanged)="loadAllTags()"
>
</app-eforms-tags>
