<eform-subheader>
  <div class="p-3">
    <button
      mdbBtn
      class="btn-accent text-black-50 btn-icon"
      id="sitesManageTagsBtn"
      (click)="openEditTagsModal()"
      mdbTooltip="{{ 'Manage tags' | translate }}"
      placement="left"
      mdbWavesEffect
    >
      <fa-icon icon="tags" [fixedWidth]="true" size="lg"></fa-icon>
    </button>
  </div>
</eform-subheader>

<!--Here you can choose approach as you like: container-row, or flex, or just element with required styles and markup-->
<div class="container-fluid mt-4">
  <div class="row p-1 table-responsive no-gutters">
    <table
      mdbTable
      striped="true"
      hover="true"
      small="true"
      class="z-depth-1 text-center"
    >
      <thead table-headers [tableHeaders]="tableHeaders"></thead>
      <tbody id="sitesTableBody">
        <tr *ngFor="let siteDto of sitesDto">
          <td id="siteUUId">
            {{ siteDto.siteUId }}
          </td>
          <!--        <td scope="row">-->
          <!--          <date-formatter [date]="siteDto.createdAt" [Format]="'datetime'"></date-formatter>-->
          <!--        </td>-->
          <!--        <td>-->
          <!--          <date-formatter [date]="siteDto.updatedAt" [Format]="'datetime'"></date-formatter>-->
          <!--        </td>-->
          <td id="siteName">{{ siteDto.siteName }}</td>
          <td>
            <div class="d-flex justify-content-center">
              <div
                class="paragraph-sm"
                id="units"
                *ngFor="let unit of siteDto.units"
              >
                {{ unit.microtingUid }}&nbsp;
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex justify-content-center" id="tags">
              <div>
                <p
                  class="badge badge-primary mb-1"
                  id="assignedTag"
                  *ngFor="let tag of siteDto.tags"
                >
                  <fa-icon icon="tag"></fa-icon>
                  {{ getTagName(tag) }}
                </p>
              </div>
            </div>
          </td>
          <td *ngIf="userClaims.sitesDelete || userClaims.sitesUpdate">
            <div class="d-flex flex-row justify-content-center">
              <button
                mdbBtn
                class="btn-accent text-black-50 btn-icon mb-2"
                id="editSiteBtn"
                *ngIf="userClaims.sitesUpdate"
                mdbTooltip="{{ 'Edit site' | translate }}"
                mdbWavesEffect
                (click)="openEditModal(siteDto)"
              >
                <fa-icon icon="pen" [fixedWidth]="true" size="lg"></fa-icon>
              </button>
              <button
                mdbBtn
                class="btn-danger btn-icon mb-2"
                id="deleteSiteBtn"
                *ngIf="userClaims.sitesDelete"
                mdbTooltip="{{ 'Delete site' | translate }}"
                (click)="openDeleteModal(siteDto)"
              >
                <fa-icon
                  icon="trash-alt"
                  [fixedWidth]="true"
                  size="lg"
                ></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-site-edit
  #modalSiteEdit
  [availableTags]="availableTags"
  (siteUpdate)="loadAllSites()"
></app-site-edit>
<app-site-delete
  (onSiteRemoved)="loadAllSites()"
  [siteNameDto]="selectedSiteDto"
  #modalSiteDelete
></app-site-delete>
<app-sites-tags
  #modalTags
  [availableTags]="availableTags"
  (tagsChanged)="loadAllTags()"
></app-sites-tags>
