<eform-subheader [title]="'Create searchable list' | translate" [forceStaticTitle]="true">
  <div class="p-3">
    <button
      mdbBtn
      id="entitySearchCreateSaveBtn"
      class="btn-success btn-small-height"
      (click)="createEntitySearchableGroup()"
    >
      {{ 'Create' | translate }}
    </button>
    <button
      mdbBtn
      id="entitySearchCreateCancelBtn"
      class="btn-accent text-black-50 btn-small-height"
      (click)="goBack()"
    >
      {{ 'Cancel' | translate }}
    </button>
  </div>
</eform-subheader>
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12" role="main">
      <mdb-card>
        <mdb-card-body>
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input
                  mdbInput
                  required
                  [(ngModel)]="advEntitySearchableGroupCreateModel.name"
                  id="createName"
                  type="text"
                  class="form-control"
                />
                <label for="createName">{{ 'Name' | translate }}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input
                  mdbInput
                  required
                  [(ngModel)]="advEntitySearchableGroupCreateModel.description"
                  id="createDescription"
                  type="text"
                  class="form-control"
                />
                <label for="createName">{{ 'Description' | translate }}</label>
              </div>
            </div>
          </div>

          <div class="row d-flex">
            <div class="mr-auto"></div>
            <div class="d-inline-flex">
              <button
                id="importEntitySearchBtn"
                class="btn btn-success btn-icon"
                (click)="modalSearchImportList.show()"
              >
                <i class="material-icons">format_list_bulleted</i>
              </button>
              <button
                mdbBtn
                class="btn-success btn-icon"
                (click)="addNewAdvEntitySelectableItem()"
                id="addSingleEntitySearchableItem"
              >
                <i class="material-icons">add</i>
              </button>
            </div>
          </div>

          <app-entity-list-elements
            [entityItemModels]="advEntitySearchableGroupCreateModel.advEntitySearchableItemModels"
            (entityItemModelsChanged)="advEntitySearchableGroupCreateModel.advEntitySearchableItemModels = $event"
          >
          </app-entity-list-elements>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>

<app-entity-search-import-list
  (onImportSubmitted)="importAdvEntitySelectableGroup($event)"
  #modalSearchImportList
></app-entity-search-import-list>

<app-entity-item-edit-name
  (itemUpdated)="onItemUpdated($event)"
  #modalNameEdit>
</app-entity-item-edit-name>
