.scrollable-block {
  max-height: 400px;
  overflow: auto;
  overflow-x: hidden;
}

.tag-row ~ .tag-row {
  margin-top: 0.5rem;
}

.tag-row:last-of-type {
  border: none;
}
.tag-row {
  border-bottom: 1px solid;
}
