<h3 mat-dialog-title>{{ 'Tags management' | translate }}</h3>
<div mat-dialog-content class="d-flex flex-column">
  <button
    mat-raised-button
    color="accent"
    class="mb-2 ml-auto"
    id="newTagBtn"
    (click)="showCreateTagModal()"
    type="button">
    <mat-icon>add</mat-icon>
    {{'Add new' | translate}}
  </button>

  <div class="d-flex flex-column">
    <div class="d-flex flex-row tag-row" *ngFor="let tag of availableTags">
      <div id="tagName" class="">
        {{tag.name}}
      </div>
      <div class="ml-auto">
        <mat-icon id="editTagBtn" (click)="showEditTagModal(tag)">edit</mat-icon>
        <mat-icon id="deleteTagBtn" (click)="showDeleteTagModal(tag)">delete</mat-icon>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end">
  <button
    mat-raised-button
    (click)="hide('')"
    id="tagsModalCloseBtn">
    {{ 'Close' | translate }}
  </button>
</div>

