<div class="card mt-3">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="md-form">
          <div
            *ngFor="let selectedLanguage of selectedLanguages; let i = index"
          >
            <ng-container *ngIf="isLanguageSelected(selectedLanguage)">
              <div class="card mb-3">
                <div class="card-header">{{
                  getLanguage(selectedLanguage) | translate
                }}</div>
                <div class="card-body">
                  <input
                    type="file"
                    hidden
                    [accept]="'application/pdf'"
                    (change)="onFileSelected($event, selectedLanguage)"
                    id="pdfInput{{ i }}"
                    #fileUpload
                  />
                  <div>
                    {{
                      getFileNameByLanguage(selectedLanguage) ||
                        'No file uploaded yet.' | translate
                    }}
                    <button
                      mdbRipple
                      class="btn-primary btn-small-height"
                      (click)="fileUpload.click()"
                    >
                      {{ 'Upload' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
