<mat-card class="mt-3">
  <mat-card-content>
    <div class="row">
      <div class="col">
        <div class="md-form">
          <div
            *ngFor="let selectedLanguage of selectedLanguages; let i = index"
          >
            <ng-container *ngIf="isLanguageSelected(selectedLanguage)">
              <mat-card class="mb-3">
                <mat-card-title >{{
                  getLanguage(selectedLanguage) | translate
                }}</mat-card-title >
                <mat-card-content>
                  <input
                    type="file"
                    hidden
                    [accept]="'application/pdf'"
                    (change)="onFileSelected($event, selectedLanguage)"
                    id="pdfInput{{ i }}"
                    #fileUpload
                  />
                  <div>
                    {{
                      getFileNameByLanguage(selectedLanguage) ||
                        'No file uploaded yet.' | translate
                    }}
                    <button
                      mat-button
                      class="btn-primary btn-small-height"
                      (click)="fileUpload.click()"
                    >
                      {{ 'Upload' | translate }}
                    </button>
                  </div>
                </mat-card-content>
              </mat-card>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
