<mdb-card class="mt-3">
  <mdb-card-body>
    <div class="row">
      <div class="col">
        <div class="md-form">
          <div
            *ngFor="let selectedLanguage of selectedLanguages; let i = index"
          >
            <ng-container *ngIf="isLanguageSelected(selectedLanguage)">
              <mdb-card class="mb-3">
                <mdb-card-header>{{
                  getLanguage(selectedLanguage) | translate
                }}</mdb-card-header>
                <mdb-card-body>
                  <input
                    type="file"
                    hidden
                    [accept]="'application/pdf'"
                    (change)="onFileSelected($event, selectedLanguage)"
                    id="pdfInput{{ i }}"
                    #fileUpload
                  />
                  <div>
                    {{
                      getFileNameByLanguage(selectedLanguage) ||
                        'No file uploaded yet.' | translate
                    }}
                    <button
                      mdbBtn
                      class="btn-primary btn-small-height"
                      (click)="fileUpload.click()"
                    >
                      {{ 'Upload' | translate }}
                    </button>
                  </div>
                </mdb-card-body>
              </mdb-card>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </mdb-card-body>
</mdb-card>
