<section id="section{{ element.id }}" class="eform-section">
  <h2 class="eform-section__title" *ngIf="showSectionTitle">{{ element.label }}</h2>

  <mat-radio-group *ngIf="element.approvalEnabled" [(ngModel)]="element.status" class="d-flex flex-column">
    <mat-radio-button value="not_checked">
      {{ 'Not checked' | translate }}
    </mat-radio-button>
    <mat-radio-button value="approved">
      {{ 'Approved' | translate }}
    </mat-radio-button>
    <mat-radio-button *ngIf="element.reviewEnabled" value="review">
      {{ 'Review' | translate }}
    </mat-radio-button>
    <mat-radio-button value="not_approved">
      {{ 'Not approved' | translate }}
    </mat-radio-button>
  </mat-radio-group>

  <app-case-edit-switch
    (needUpdate)="emitNeedUpdate()"
    [dataItemList]="element.dataItemList"
  ></app-case-edit-switch>

  <ng-container *ngIf="element.extraFieldsEnabled">
    <div class="eform-field">
      <h3 class="eform-field__label">{{ 'Extra comment' | translate }}</h3>
      <ng-container *ngFor="let fieldValueDto of element.extraComments;">
        <element-comment [fieldValue]="fieldValueDto"></element-comment>
      </ng-container>
    </div>

    <div class="eform-field">
      <h3 class="eform-field__label">{{ 'Extra picture' | translate }}</h3>
      <element-picture
        (pictureUpdated)="emitNeedUpdate()"
        [fieldValues]="element.extraPictures"
      ></element-picture>
    </div>

    <div class="eform-field">
      <h3 class="eform-field__label">{{ 'Extra recording' | translate }}</h3>
    </div>
  </ng-container>

  <ng-container *ngIf="element.elementList">
    <app-case-edit-element
      [element]="elem"
      *ngFor="let elem of element.elementList"
    ></app-case-edit-element>
  </ng-container>
</section>
