<section id="section{{ element.id }}">
  <!--<section id="section{{element.id}}" *ngIf="element.dataItemList">-->
  <mdb-card class="mb-4 mt-4" style="width: 100%">
    <mdb-card-header>
      <p class="h4">{{ element.label }}</p>
    </mdb-card-header>
    <mdb-card-body>
      <div>
        <div
          *ngIf="element.approvalEnabled"
          (click)="element.status = 'not_checked'"
        >
          <label class="md-radio block">
            <input
              type="radio"
              [(ngModel)]="element.status"
              [checked]="element.status === 'not_checked'"
              value="not_checked"
              name="{{ element.label }}{{ element.id }}"
            />
            <span class="md-radio--fake"><span></span></span>
            <div>{{ 'Not checked' | translate }}</div>
          </label>
        </div>
        <div
          *ngIf="element.approvalEnabled"
          (click)="element.status = 'approved'"
        >
          <label class="md-radio block">
            <input
              type="radio"
              [(ngModel)]="element.status"
              [checked]="element.status === 'approved'"
              value="approved"
              name="{{ element.label }}{{ element.id }}"
            />
            <span class="md-radio--fake"><span></span></span>
            <div>{{ 'Approved' | translate }}</div>
          </label>
        </div>
        <div
          *ngIf="element.reviewEnabled && element.approvalEnabled"
          (click)="element.status = 'review'"
        >
          <label class="md-radio block">
            <input
              type="radio"
              [(ngModel)]="element.status"
              [checked]="element.status === 'review'"
              value="review"
              name="{{ element.label }}{{ element.id }}"
            />
            <span class="md-radio--fake"><span></span></span>
            <div>{{ 'Review' | translate }}</div>
          </label>
        </div>
        <div
          *ngIf="element.approvalEnabled"
          class="radio"
          (click)="element.status = 'not_approved'"
        >
          <label class="md-radio block">
            <input
              type="radio"
              [(ngModel)]="element.status"
              [checked]="element.status === 'not_approved'"
              value="not_approved"
              name="{{ element.label }}{{ element.id }}"
            />
            <span class="md-radio--fake"><span></span></span>
            <div>{{ 'Not approved' | translate }}</div>
          </label>
        </div>
      </div>
      <app-case-edit-switch
        (needUpdate)="emitNeedUpdate()"
        [dataItemList]="element.dataItemList"
      ></app-case-edit-switch>
      <div class="mt-1 mb-1" *ngIf="element.extraFieldsEnabled">
        <mdb-card class="mb-4 mt-4" style="width: 100%">
          <mdb-card-header>{{ 'Extra comment' | translate }}</mdb-card-header>
          <mdb-card-body>
            <ng-container
              *ngFor="let fieldValueDto of element.extraComments; let i = index"
            >
              <element-comment [fieldValue]="fieldValueDto"></element-comment>
            </ng-container>
          </mdb-card-body>
        </mdb-card>
        <mdb-card class="mb-4 mt-4" style="width: 100%">
          <mdb-card-header>{{ 'Extra picture' | translate }}</mdb-card-header>
          <mdb-card-body>
            <element-picture
              (pictureUpdated)="emitNeedUpdate()"
              [fieldValues]="element.extraPictures"
            ></element-picture>
          </mdb-card-body>
        </mdb-card>
        <mdb-card class="mb-4 mt-4" style="width: 100%">
          <mdb-card-header>{{ 'Extra recording' | translate }}</mdb-card-header>
          <mdb-card-body></mdb-card-body>
        </mdb-card>
      </div>

      <ng-container *ngIf="element.elementList">
        <app-case-edit-element
          [element]="elem"
          *ngFor="let elem of element.elementList"
        ></app-case-edit-element>
      </ng-container>
    </mdb-card-body>
  </mdb-card>
</section>
