<section id="section{{ element.id }}" class="d-flex flex-column">
  <!--<section id="section{{element.id}}" *ngIf="element.dataItemList">-->
  <mat-card class="mb-4">
    <mat-card-header>
      {{ element.label }}
    </mat-card-header>
    <mat-card-content>
      <mat-radio-group *ngIf="element.approvalEnabled" [(ngModel)]="element.status" class="d-flex flex-column">
        <mat-radio-button value="not_checked">
          {{ 'Not checked' | translate }}
        </mat-radio-button>
        <mat-radio-button value="approved">
          {{ 'Approved' | translate }}
        </mat-radio-button>
        <mat-radio-button *ngIf="element.reviewEnabled" value="review">
          {{ 'Review' | translate }}
        </mat-radio-button>
        <mat-radio-button value="not_approved">
          {{ 'Not approved' | translate }}
        </mat-radio-button>
      </mat-radio-group>
      <app-case-edit-switch
        (needUpdate)="emitNeedUpdate()"
        [dataItemList]="element.dataItemList"
      ></app-case-edit-switch>
      <div class="mt-1 mb-1" *ngIf="element.extraFieldsEnabled">
        <mat-card class="mb-4 mt-4">
          <mat-card-header>{{ 'Extra comment' | translate }}</mat-card-header>
          <mat-card-content>
            <ng-container *ngFor="let fieldValueDto of element.extraComments;">
              <element-comment [fieldValue]="fieldValueDto"></element-comment>
            </ng-container>
          </mat-card-content>
        </mat-card>
        <mat-card class="mb-4 mt-4">
          <mat-card-header>{{ 'Extra picture' | translate }}</mat-card-header>
          <mat-card-content>
            <element-picture
              (pictureUpdated)="emitNeedUpdate()"
              [fieldValues]="element.extraPictures"
            ></element-picture>
          </mat-card-content>
        </mat-card>
        <mat-card class="mb-4 mt-4">
          <mat-card-header>{{ 'Extra recording' | translate }}</mat-card-header>
          <mat-card-content></mat-card-content>
        </mat-card>
      </div>

      <ng-container *ngIf="element.elementList">
        <app-case-edit-element
          [element]="elem"
          *ngFor="let elem of element.elementList"
        ></app-case-edit-element>
      </ng-container>
    </mat-card-content>
  </mat-card>
</section>
