<div mdbModal class="modal fade" #frame="mdbModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{'Edit' | translate}}</h3>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input mdbInput id="siteName"
                       [(ngModel)]="siteNameDto.siteName"
                       [mdbValidate]="false"
                       type="text" class="form-control">
                <label for="siteName">{{'Name' | translate}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" id="siteEditSaveBtn" (click)="updateSingle()">{{ 'Save' | translate }}</button>
        <button class="btn btn-accent text-black-50" id="siteEditCancelBtn" (click)="frame.hide()">{{ 'Cancel' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<eform-spinner [spinnerVisibility]="spinnerStatus"></eform-spinner>
