<h3 mat-dialog-title>{{ 'Edit' | translate}}</h3>
<div mat-dialog-content>
  <div class="d-flex flex-column">
    <mat-form-field>
      <mat-label>{{'Name' | translate }}</mat-label>
      <input
        matInput
        id="siteName"
        [(ngModel)]="site.siteName"
        type="text">
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'Current tags' | translate }}</mat-label>
      <mtx-select
        class="custom"
        [dropdownPosition]="'bottom'"
        [(ngModel)]="site.tags"
        [bindValue]="'id'"
        [bindLabel]="'name'"
        [items]="availableTags"
        id="tagSelector"
        [multiple]="true"
        appendTo="body">
      </mtx-select>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions class="d-flex flex-row justify-content-end align-items-center gap-12">
  <button
    class="btn-primary btn-primary--icon-left"
    id="siteEditSaveBtn"
    (click)="updateSingle()"
  >
    <span>{{'Save' | translate}}</span>
  </button>
  <button
    class="btn-cancel"
    id="siteEditCancelBtn"
    (click)="hide()"
  >
    {{'Cancel' | translate}}
  </button>
</div>
