<ng-container *ngIf="selectAuthIsAuth$ | async">
<eform-new-subheader [subtitle]="adminSettingsModel.assemblyVersion">
  <button
    class="btn-primary btn-primary--icon-left"
    matTooltip="{{ 'Save settings' | translate }}"
    matTooltipPosition="left"
    id="applicationSettingsSaveBtn"
    (click)="updateAdminSettings()"
  >
    {{ 'Save' | translate }}
  </button>
</eform-new-subheader>

<div class="d-flex flex-column">
  <div class="flex-cards">
    <mat-card class="mat-card-50">
      <mat-card-header class="d-flex">
        <h4>
          {{ 'Login Page' | translate }}
        </h4>
        <span class="spacer"></span>
        <button
          mat-icon-button
          id="loginPageReset"
          (click)="resetLoginPageSettings()"
          matTooltip="{{ 'Reset' | translate }}"
        >
          <mat-icon>undo</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-label>{{'Main Text' | translate}}</mat-label>
          <input
          matInput
          [(ngModel)]="adminSettingsModel.loginPageSettingsModel.mainText"
          type="text"
          id="mainTextLoginPage">
          <mat-icon
            matSuffix
            (click)="adminSettingsModel.loginPageSettingsModel.mainTextVisible = !adminSettingsModel
                        .loginPageSettingsModel.mainTextVisible"
            id="loginPageMainTextVisibilityToggler"
          >
            {{adminSettingsModel.loginPageSettingsModel.mainTextVisible ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'Secondary Text' | translate}}</mat-label>
          <input
            matInput
            [(ngModel)]="adminSettingsModel.loginPageSettingsModel.secondaryText"
            type="text"
            id="secondaryTextLoginPage">
          <mat-icon
            matSuffix
            (click)="adminSettingsModel.loginPageSettingsModel.secondaryTextVisible = !adminSettingsModel
                        .loginPageSettingsModel.secondaryTextVisible"
            id="loginPageSecondaryTextVisibilityToggler"
          >
            {{adminSettingsModel.loginPageSettingsModel.secondaryTextVisible ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
        <div class="d-flex flex-wrap justify-content-between">
          <div>
            <p class="mb-0 align-self-center">
              {{ 'Image' | translate }}
            </p>
            <img
              alt=""
              *ngIf="loginPageImageLink"
              class="p-3"
              height="112"
              width="90"
              [src]="loginPageImageLink | authImage | async"
            />
          </div>
          <div class="d-flex">
            <div class="align-self-center">
              <p>{{ 'Recommended parameters' | translate }}:</p>
              <p>{{ 'Resolution' | translate }} - 90x100</p>
              <p>{{ 'Proportions' | translate }} - 1:1.5</p>
            </div>
            <div class="align-self-center align-self-end mb-3">
              <button
                class="btn-primary btn-primary--icon-left"
                *ngIf="loginPageImageUploader?.queue?.length === 0"
                id="loginPageImageUploadBtn"
                (click)="loginPagefileInput.click()"
              >
                {{ 'Upload' | translate }}
              </button>
              <button
                class="btn-warning"
                color="warn"
                *ngIf="loginPageImageUploader?.queue?.length > 0"
                (click)="loginPagefileInput.click()"
              >
                {{ 'Pending' | translate }}
              </button>
              <input
                class="input-invisible"
                type="file"
                ng2FileSelect
                #loginPagefileInput
                [uploader]="loginPageImageUploader"
                id="loginPageFileInput"
              />
              <button
                mat-icon-button
                id="loginPageImageVisibilityToggler"
                (click)="adminSettingsModel.loginPageSettingsModel.imageLinkVisible = !adminSettingsModel
                          .loginPageSettingsModel.imageLinkVisible">
                <mat-icon>
                  {{adminSettingsModel.loginPageSettingsModel.imageLinkVisible ? 'visibility' : 'visibility_off'}}
                </mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-card-50">
      <mat-card-header>
        <h4 class="d-flex">
          {{ 'Site header' | translate }}
        </h4>
        <span class="spacer"></span>
        <button
          mat-icon-button
          id="siteHeaderReset"
          (click)="resetHeaderSettings()"
          matTooltip="{{ 'Reset' | translate }}"
        >
          <mat-icon>undo</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-label>{{'Main Text' | translate}}</mat-label>
          <input
            name="headerSettingsMainText"
            id="headerSettingsMainText"
            matInput
            [(ngModel)]="adminSettingsModel.headerSettingsModel.mainText"
            type="text">
          <mat-icon
            matSuffix
            (click)="adminSettingsModel.headerSettingsModel.mainTextVisible = !adminSettingsModel
                        .headerSettingsModel.mainTextVisible"
            id="siteHeaderMainTextToggler"
          >
            {{adminSettingsModel.headerSettingsModel.mainTextVisible ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'Secondary Text' | translate}}</mat-label>
          <input
            matInput
            [(ngModel)]="adminSettingsModel.headerSettingsModel.secondaryText"
            type="text"
            name="headerSettingsSecondaryText"
            id="headerSettingsSecondaryText">
          <mat-icon
            matSuffix
            (click)="adminSettingsModel.headerSettingsModel.secondaryTextVisible = !adminSettingsModel
                        .headerSettingsModel.secondaryTextVisible"
            id="siteHeaderSecondaryTextToggler"
          >
            {{adminSettingsModel.headerSettingsModel.secondaryTextVisible ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
        <div class="d-flex flex-wrap justify-content-between">
          <div>
            <p class="mb-0 align-self-center">
              {{ 'Logo' | translate }}
            </p>
            <img
              alt=""
              *ngIf="headerImageLink"
              class="p-3"
              width="150"
              [src]="headerImageLink | authImage | async"
            />
          </div>
          <div class="d-flex">
            <div class="align-self-center">
              <p>{{ 'Recommended parameters' | translate }}:</p>
              <p>{{ 'Resolution' | translate }} - 170x80</p>
              <p>{{ 'Proportions' | translate }} - 2:1</p>
            </div>
            <div class="align-self-center align-self-end mb-3">
              <button
                class="btn-primary btn-primary--icon-left"
                *ngIf="headerImageUploader?.queue?.length === 0"
                id="siteHeaderUploadBtn"
                (click)="headerImageUploaderInput.click()"
              >
                {{ 'Upload' | translate }}
              </button>
              <button
                class="btn-warning"
                *ngIf="headerImageUploader?.queue?.length > 0"
                (click)="headerImageUploaderInput.click()"
              >
                {{ 'Pending' | translate }}
              </button>
              <input
                class="input-invisible"
                type="file"
                ng2FileSelect
                [uploader]="headerImageUploader"
                #headerImageUploaderInput
                id="siteHeaderFileInput"
              />
              <button
                mat-icon-button
                id="siteHeaderImageVisibilityToggler"
                (click)="adminSettingsModel.headerSettingsModel.imageLinkVisible = !adminSettingsModel
                          .headerSettingsModel.imageLinkVisible">
                <mat-icon>
                  {{adminSettingsModel.headerSettingsModel.imageLinkVisible ? 'visibility' : 'visibility_off'}}
                </mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="flex-cards mt-4">
    <mat-card class="mat-card-50">
      <mat-card-header>
        <h4>
          {{ 'SDK information' | translate }}
        </h4>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-label>{{'Customer no' | translate}}</mat-label>
          <input
            matInput
            [(ngModel)]="adminSettingsModel.sdkSettingsModel.customerNo"
            type="text"
            name="customerNo"
            disabled
            id="customerNo">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'Http server address' | translate}}</mat-label>
          <input
            matInput
            [(ngModel)]="adminSettingsModel.sdkSettingsModel.httpServerAddress"
            type="text"
            name="httpServerAddress"
            id="httpServerAddress">
        </mat-form-field>
        <mat-checkbox
          id="isEnableWidget"
          [(ngModel)]="othersSettings.isEnableWidget"
          [ngModelOptions]="{standalone: true}"
        >{{'Userback widget' | translate}}
        </mat-checkbox>
        <mat-form-field>
          <mat-label>{{'Sendgrid key' | translate}}</mat-label>
          <input
            matInput
            placeholder="12345678909876543210adfecdfefdae"
            type="password"
            name="sendGridKey"
            id="sendGridKey"
            [(ngModel)]="adminSettingsModel.sendGridSettingsModel.apiKey">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-card-50">
      <mat-card-header>
        <h4>{{ 'Languages' | translate }}</h4>
      </mat-card-header>
      <mat-card-content>
        <div class="d-flex flex-wrap">
          <ng-container *ngFor="let language of languagesModel.languages">
            <p class="p-0 pb-2 m-0" style="width: 50%;">
              <mat-checkbox
                [(ngModel)]="language.isActive"
                [ngModelOptions]="{standalone: true}">
                {{language.name}} ({{language.languageCode}})
              </mat-checkbox>
            </p>
          </ng-container>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</ng-container>
