.input-invisible {
  visibility: hidden;
  width: 0;
  height: 0;
  display: contents;
}

.flex-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .mat-card-50 {
    width: 47%;
  }
}

@media only screen and (max-width: 780px) {
  .flex-cards {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    .mat-card-50 {
      width: 100%;
      margin-top: .5em;
      margin-bottom: .5em;
      &:nth-child(1) {
        margin-top: 0;
      }
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }
}
