<form class="mb-2 d-flex flex-column align-items-center" [formGroup]="form">
  <div class="d-flex flex-column">
    <mat-form-field>
      <mat-label>{{'New password' | translate}}</mat-label>
      <input
        matInput
        type="password"
        formControlName="newPassword"
        id="newPassword"
        name="newPassword"
        autocomplete="new-password"
      >
      <mat-error *ngIf="form.controls['newPassword'].hasError('required')">{{'New Password field is required'| translate}}</mat-error>
      <mat-error *ngIf="form.controls['newPassword'].hasError('minlength')">{{'New Password field must contain at least ' + this.form.controls['newPassword'].errors['minlength'].requiredLength + ' characters.'| translate}}</mat-error>
    </mat-form-field>
    <mat-form-field class="mb-4">
      <mat-label>{{'Confirm Password' | translate}}</mat-label>
      <input
        matInput
        type="password"
        id="newPasswordConfirmation"
        formControlName="newPasswordConfirm"
        name="newPasswordConfirmation"
        autocomplete="new-password">
      <mat-error *ngIf="form.controls['newPasswordConfirm'].hasError('required')">{{'Confirm Password field is required'| translate}}</mat-error>
      <mat-error *ngIf="form.controls['newPasswordConfirm'].hasError('passwordsNotEqual')">{{'Passwords not equal in New Password and Confirm Password fields'| translate}}</mat-error>
    </mat-form-field>
    <p>{{ 'The password must contain at least 6 characters.' | translate }}</p>
  </div>
  <button
    mat-raised-button
    type="button"
    color="accent"
    [disabled]="form.invalid"
    (click)="submitRestoreConfirmationForm()">
    {{'Change password' | translate}}
  </button>
</form>

<a mat-button color="accent" class="w-100" [routerLink]="['/auth']">< {{ 'Back to login' | translate }}</a>
