<div class="mb-2">
    <div class="md-form">

      <input mdbInput type="password" [(ngModel)]="submitRestoreModel.password"
             id="newPassword" name="newPassword" class="form-control">
      <label for="newPassword">{{'New Password' | translate}}</label>
    </div>
    <div class="md-form">

      <input mdbInput type="password" id="newPasswordConfirmation"
             [(ngModel)]="submitRestoreModel.confirmPassword"
             name="newPasswordConfirmation" class="form-control">
      <label for="newPasswordConfirmation">{{'Confirm Password' | translate}}</label>
    </div>

  <button mdbBtn type="button" class="btn btn-success btn-lg btn-block"
          [disabled]="!submitRestoreModel.password || !submitRestoreModel.confirmPassword"
          (click)="submitRestoreConfirmationForm()">
    {{'Update Password' | translate}}
  </button>

</div>
<div class="d-flex flex-column">
  <div class="p-0">
    <a class="link-primary" [routerLink]="['/auth']">< {{'Back to login' | translate}}</a>
  </div>
</div>
