<div mdbModal class="modal fade" #frame="mdbModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{ 'Select tags for site' | translate }}</h3>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <ng-select
                class="custom"
                dropdownPosition="'bottom'"
                [placeholder]="'Current tags' | translate"
                [(ngModel)]="selectedSiteTagsIds"
                [bindValue]="'id'"
                [bindLabel]="'name'"
                [items]="availableTags"
                id="tagSelector"
                [multiple]="true"></ng-select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="md-form input-group">
                <input mdbInput
                       #newTagInput
                       id="newTag" type="text" class="form-control">
                <label for="newTag">{{ 'New tag' | translate }}</label>
                <button  class="btn btn-success btn-icon m-0"
                         id="newTagCreateBtn"
                         (click)="createNewTag(newTagInput.value); newTagInput.value=''"
                         type="button" [disabled]="!newTagInput.value">
                  <fa-icon icon="plus" [fixedWidth]="true" size="lg"></fa-icon>
                </button>
              </div>
            </div>
            <div class="col-md-12">
              <div class="d-flex align-items-center">
                <ng-select
                  id="tagForRemoval"
                  class="input-group"
                  dropdownPosition="'bottom'"
                  [bindValue]="'id'"
                  [bindLabel]="'name'"
                  [(ngModel)]="tagForRemoval"
                  [placeholder]="'Tag for removal' | translate"
                  [items]="availableTags"></ng-select>
                <button  class="btn btn-danger btn-icon m-0 mb-1"
                         (click)="removeSiteTag()"
                         [disabled]="!  tagForRemoval"
                         id="removeTagBtn"
                         type="button">
                  <fa-icon icon="times" [fixedWidth]="true" size="lg"></fa-icon>
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button mdbBtn class="btn-success btn-small-height" id="saveTagsBtn"
                (click)="updateSiteTags()">{{'Save' | translate}}</button>
        <button mdbBtn class="btn-accent text-black-50 btn-small-height" id="cancelCreateBtn" (click)="frame.hide()">{{'Cancel' | translate}}</button>
      </div>
    </div>
  </div>
</div>
