<div class="card z-depth-3 mb-4 mt-4" style="width: 100%">

  <div class="card-header" style="cursor: pointer" (click)="collapse.toggle(); isCollapsed = !isCollapsed">
    <div class="d-flex justify-content-between">
      <h6>{{dataItemLabel}}</h6>
      <i class="material-icons material-icon-red" *ngIf="isCollapsed"> keyboard_arrow_right </i>
      <i class="material-icons material-icon-red" *ngIf="!isCollapsed"> keyboard_arrow_down </i>
    </div>

  </div>

  <div mdbCollapse #collapse="bs-collapse">
    <div class="card-body">
      <app-case-edit-switch [dataItemList]="dataItemList"></app-case-edit-switch>
    </div>
  </div>

</div>
