<div class="panel panel-default">
  <div class="panel-heading" (click)="isCollapsed = !isCollapsed" style="cursor: pointer">
<ng-container *ngIf="isCollapsed">
  <strong>{{dataItemLabel}}</strong>
  <div class="pull-right">
      <i style="color: red;" class="glyphicon glyphicon-chevron-left"></i>
  </div>

</ng-container>
<ng-container *ngIf="!isCollapsed">
  <strong>{{dataItemLabel}}</strong>
  <div class="pull-right">
      <i style="color: red;" class="glyphicon glyphicon-chevron-down"></i>
  </div>
</ng-container>


  </div>
  <div [collapse]="isCollapsed" class="panel-body" >
    <ng-container *ngIf="dataItemList">
      <table class="table">
        <tbody case-edit-switch [dataItemList]="dataItemList"></tbody>
      </table>
    </ng-container>
  </div>
</div>
