<h3 mat-dialog-title>{{selectedPluginModel.name}} {{'Installation' | translate}}</h3>
<div mat-dialog-content>
  <div class="d-flex flex-row">
    <p>{{'Are you sure you want to install plugin' | translate}}?
      <br>
      {{'This may take up to 10 minutes and rewrite ' +
      'current plugin version if it is already exist in the system' | translate}}
    </p>
  </div>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end">
  <button
    mat-raised-button
    color="accent"
    (click)="installPlugin()"
    id="saveBtn"
  >
    {{'Install' | translate}}
  </button>
  <button
    mat-raised-button
    (click)="hide()"
    id="cancelCreateBtn"
  >
    {{'Cancel' | translate}}
  </button>
</div>
