<div class="md-form md-form-case-elem" [owlDateTimeTrigger]="dt1">
  <fa-icon icon="calendar-day" size="lg" [fixedWidth]="true"></fa-icon>

  <input mdbInput
         [owlDateTime]="dt1"
         [(ngModel)]="fieldValueObj.value"
         (dateTimeChange)="onDateSelected($event)"
         type="text" id="dateElement{{fieldValueObj.fieldId}}"
         name="dateElement{{fieldValueObj.fieldId}}" class="form-control">
  <label for="dateElement{{fieldValueObj.fieldId}}">{{'Selected date' | translate}}</label>
</div>

<owl-date-time
  [pickerType]="'calendar'" #dt1></owl-date-time>
