<h3 mat-dialog-title>{{'Permission group settings' | translate}}</h3>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>{{ 'Redirect link' | translate }}</mat-label>
    <input
      matInput
      type="text"
      placeholder="route/subroute/"
      [(ngModel)]="settingsUpdateModel.redirectLink"
      name="groupSettingsRedirectLink"
      id="groupSettingsRedirectLink"
    />
  </mat-form-field>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end align-items-center gap-12">
  <button
    class="btn-primary btn-primary--icon-left"
    (click)="updateGroupSettings()"
  >
    {{ 'Update' | translate}}
  </button>
  <button
    class="btn-cancel"
    (click)="hide()"
  >
    {{ 'Cancel' | translate}}
  </button>
</div>
