<!--<div [config]="{ignoreBackdropClick: true}" mdbModal class="modal fade" #frame="mdbModal">-->
<div class="modal-header">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{ 'Bind Eform' | translate }}</h3>
        <button class="close" data-dismiss="modal" (click)="frame.hide()">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="md-form">
              <input
                mdbInput
                type="text"
                (input)="onLabelInputChanged($event.target.value)"
                class="form-control input-sm"
                id="labelInput"
              />
              <label for="labelInput">{{ 'Search' | translate }}</label>
            </div>
          </div>
        </div>
        <div class="row p-1 table-responsive no-gutters">
          <table
            mdbTable
            striped="true"
            hover="true"
            small="true"
            class="z-depth-1 text-center"
          >
            <thead>
              <tr>
                <th>ID</th>
                <th>{{ 'CreatedAt' | translate }}</th>
                <th>{{ 'eForm Name' | translate }}</th>
              </tr>
            </thead>
            <tbody id="mainPageEFormsTableBody">
              <tr
                class="hoverable"
                style="cursor: pointer"
                *ngFor="let template of templateListModel.templates"
                (click)="addEformToGroup(template.id)"
              >
                <!--<td scope="row" id="eform-id">{{templateDto.id}}</td>-->
                <td scope="row" id="eform-id">{{ template.id }}</td>
                <!--<td id="eform-created-at">{{templateDto.createdAt | date:'dd.MM.y HH:mm:ss'}}</td>-->
                <td id="eform-created-at">
                  <date-formatter
                    [date]="template.createdAt"
                    [Format]="'datetime'"
                  ></date-formatter>
                </td>
                <!--<td id="eform-label">{{templateDto.label}}</td>-->
                <td id="eform-label">{{ template.label }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button
          mdbRipple
          id="cancelCreateEformBtn"
          class="btn-light text-black-50 btn-small-height"
          (click)="frame.hide()"
        >
          {{ 'Close' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
