<header class="main-header main-header-title">
  <div class="container-fluid">
    <h1 class="page-title header-page-title">
      <div class="container">
        Edit:
        {{workerDto.firstName}}
        {{workerDto.lastName}}
      </div>
    </h1>
    <div class="pull-right">
    </div>
  </div>
</header>
<div class="edit_worker">
  <div class="container-fluid">
    <div class="bs-docs-container">
      <div class="row">
        <div class="col-md-9" role="main">
          <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <table class="table">
              <tbody>
              <tr>
                <td>
                  <strong>First name</strong>
                </td>
                <td>
                  <input class="form-control" [(ngModel)]="workerModel.userFirstName"
                         placeholder="{{workerDto.firstName}}" type="text" value="{{workerDto.firstName}}"
                         name="userFirstName" id="userFirstName"/>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Last name</strong>
                </td>
                <td>
                  <input class="form-control" [(ngModel)]="workerModel.userLastName"
                         placeholder="{{workerDto.lastName}}" type="text" value="{{workerDto.lastName}}"
                         name="userLastName" id="userLastName"/>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-3">
          <div class="bs-docs-container hidden-print affix" id="mt-side-bar" role="complementary">
            <button class="btn btn-ar btn-danger" [disabled]="spinnerStatus" (click)="updateSingle()">Save
              <i *ngIf="spinnerStatus" class="fa fa-spinner fa-spin"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
