<header class="main-header main-header-title">
  <div class="container-fluid">
    <h1 class="page-title header-page-title">
      <div class="container">
        Database connection information missing!
      </div>
    </h1>
    <div class="pull-right">
        <button class="btn btn-ar btn-danger" [disabled]="!settingsForm.form.valid" (click)="updateConnectionString()">
          Save <i *ngIf="spinnerStatus" class="fa fa-spinner fa-spin"></i></button>
    </div>
  </div>
</header>
<div class="edit_case">
  <div class="container-fluid">
    <div class="bs-docs-container">
      <form #settingsForm="ngForm">
        <div class="row">
          <div class="col-md-12" role="main">
            <div class="panel panel-default">
              <div class="panel-heading">
                Admin information
              </div>
              <table class="table">
                <tbody>
                <tr>
                  <td class="col-md-2">
                    <strong>Username*</strong>
                  </td>
                  <td>
                    <input class="form-control" [(ngModel)]="settingsModel.adminSetupModel.userName" required
                           placeholder="Please enter the admin username..." #userName="ngModel"
                           type="text" value="" name="userName" id="userName"/>
                  </td>
                  <td class="col-md-2">
                    <strong>First name</strong>
                  </td>
                  <td>
                    <input class="form-control" [(ngModel)]="settingsModel.adminSetupModel.firstName"
                           placeholder="Please enter the admin first name..." type="text" value="" name="firstName" #firstName="ngModel"
                           id="firstName"/>
                  </td>
                </tr>
                <tr>
                  <td class="col-md-2">
                    <strong>Password*</strong>
                  </td>
                  <td>
                    <input class="form-control" [(ngModel)]="settingsModel.adminSetupModel.password"
                           placeholder="Please enter the admin password" required type="text" value="" name="password" #password="ngModel"
                           id="password"/>
                  </td>
                  <td class="col-md-2">
                    <strong>Last name</strong>
                  </td>
                  <td>
                    <input class="form-control" [(ngModel)]="settingsModel.adminSetupModel.lastName"
                           placeholder="Please enter the admin last name..." type="text" value="" name="lastName" #lastName="ngModel"
                           id="lastName"/>
                  </td>
                </tr>
                <tr>

                  <td class="col-md-2">
                    <strong>Email</strong>
                  </td>
                  <td>
                    <input class="form-control" [(ngModel)]="settingsModel.adminSetupModel.email"
                           placeholder="Please enter the admin email..." type="text" value="" name="email" id="email" #email="ngModel"/>
                  </td>
                  <td class="col-md-2">

                  </td>
                  <td>

                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <!--SDK database connection information-->
        <div class="row">
          <div class="col-md-6" role="main">
            <div class="panel panel-default">
              <div class="panel-heading">
                SDK database connection information
              </div>
              <table class="table">
                <tbody>
                <tr>
                  <td class="col-md-4">
                    <strong>Data Source*</strong>
                  </td>
                  <td>
                    <input class="form-control" [(ngModel)]="settingsModel.connectionStringSDK.source"
                           placeholder="COMPUTER_NAME\SQLEXPRESS" type="text" #sourceSdk="ngModel" value="" required name="source" id="sourceSDK"/>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Initial Catalog*</strong>
                  </td>
                  <td>
                    <input class="form-control" [(ngModel)]="settingsModel.connectionStringSDK.catalogue"
                           placeholder="DATABASE_NAME"
                           type="text" value="" name="catalogue" required #catalogueSdk="ngModel" id="catalogueSDK"/>
                  </td>
                </tr>
                <tr>
                  <td class="col-md-4">
                    <strong>Authentication type*</strong>
                  </td>
                  <td>
                    <input class="form-control" [(ngModel)]="settingsModel.connectionStringSDK.auth"
                           placeholder="Integrated Security=True" #authTypeSdk="ngModel" type="text" value="" name="auth" id="authSDK"/>
                  </td>
                </tr>
                <tr>
                  <td class="col-md-4">
                    <strong>Token*</strong>
                  </td>
                  <td>
                    <input class="form-control" [(ngModel)]="settingsModel.connectionStringSDK.token"
                           placeholder="12345678909876543210adfecdfefdae" #tokenSdk="ngModel" required type="text" value="" name="token" id="token"/>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-6" role="main">
            <div class="panel panel-default">
              <div class="panel-heading">
                Main database connection information
              </div>
              <table class="table">
                <tbody>
                <tr>
                  <td class="col-md-4">
                    <strong>Data Source*</strong>
                  </td>
                  <td>
                    <input class="form-control" [(ngModel)]="settingsModel.connectionStringMain.source"
                           placeholder="COMPUTER_NAME\SQLEXPRESS" type="text" required #sourceAuth="ngModel" value="" name="source" id="sourceMain"/>
                  </td>
                </tr>
                <tr>
                  <td class="col-md-4">
                    <strong>Initial Catalog*</strong>
                  </td>
                  <td>
                    <input class="form-control" [(ngModel)]="settingsModel.connectionStringMain.catalogue"
                           placeholder="DATABASE_NAME"
                           type="text" value="" name="catalogue" required #catalogueAuth="ngModel" id="catalogueMain"/>
                  </td>
                </tr>
                <tr>
                  <td class="col-md-4">
                    <strong>Authentication type*</strong>
                  </td>
                  <td>
                    <input class="form-control" [(ngModel)]="settingsModel.connectionStringMain.auth"
                           placeholder="Integrated Security=True" type="text" required #typeAuth="ngModel" value="" name="auth" id="authMain"/>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
