<form
  [formGroup]="formLogin"
  class="ds-login-form"
  (ngSubmit)="submitLoginForm()"
>
  <div class="ds-field">
    <label for="username">{{ 'Username' | translate }} <span class="ds-field__required">*</span></label>
    <input
      formControlName="username"
      type="text"
      id="username"
      name="username"
      autocomplete="username"
      [placeholder]="('Enter username' | translate)"
    >
  </div>

  <div class="ds-field">
    <label for="password">{{ 'Password' | translate }} <span class="ds-field__required">*</span></label>
    <input
      formControlName="password"
      type="password"
      id="password"
      name="password"
      autocomplete="current-password"
      [placeholder]="('Enter password' | translate)"
    >
  </div>

  <div class="ds-login-submit">
    <a
      *ngIf="showForgotPasswordLink"
      class="ds-login-submit__link"
      [routerLink]="['/auth/restore-password']"
    >
      {{ 'Forgot password' | translate }}?
    </a>
    <span class="ds-login-submit__spacer"></span>
    <button
      type="submit"
      id="loginBtn"
      class="ds-btn ds-btn--filled"
    >
      {{ 'Login' | translate }}
    </button>
  </div>
</form>
