<div class="d-flex heading-bg">
  <div class="mr-auto p-3">
    <h1 [ngStyle]="{ fontSize: heandingSizeRem + 'rem' }">
      {{
        forceStaticTitle
          ? title
          : (appMenuStateService.getTitleByUrl(this.href) | translate)
      }}
      <small *ngIf="subtitle" style="font-size: 1rem"
        >({{ subtitle | translate }})</small
      >
    </h1>
  </div>
  <ng-content></ng-content>
</div>
<div class="heading-bg" *ngIf="breadcrumbs">
  <!--  <div>-->
  <!--    <ol class="breadcrumb">-->
  <!--      <li-->
  <!--        class="breadcrumb-item"-->
  <!--        [class]="isLast ? 'active' : ''"-->
  <!--        *ngFor="let breadcrumbItem of breadcrumbs; last as isLast"-->
  <!--      >-->
  <!--        <a *ngIf="breadcrumbItem.href" [href]="breadcrumbItem.href">{{-->
  <!--          breadcrumbItem.name-->
  <!--        }}</a>-->
  <!--        <div *ngIf="!breadcrumbItem.href">{{ breadcrumbItem.name }}</div>-->
  <!--      </li>-->
  <!--    </ol>-->
  <!--  </div>-->

  <mdb-breadcrumb>
    <mdb-breadcrumb-item
      [class]="isLast ? 'active' : ''"
      *ngFor="let breadcrumbItem of breadcrumbs; last as isLast"
    >
      <a *ngIf="breadcrumbItem.href" [routerLink]="breadcrumbItem.href">{{
        breadcrumbItem.name
      }}</a>
      <div *ngIf="!breadcrumbItem.href">{{ breadcrumbItem.name }}</div>
    </mdb-breadcrumb-item>
  </mdb-breadcrumb>
</div>
