@import "../../../../scss/utilities/colors";
@import "../../../../scss/utilities/variables";
.mat-drawer {
  max-width: 15vw;
}
@media (max-width: 1200px) {
  .mat-drawer {
    max-width: 45vw;
  }
}

:host::ng-deep.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tag {
  width: $icon-size + $icon-size + $icon-size;
  justify-content: space-between;
  height: $icon-size + 5px;
  .mat-mdc-icon-button {
    padding: 0 ;
    width: $icon-size;
    height: $icon-size;
    display: flex;
  }
}
