@import "../../../../scss/utilities/colors";

.mat-drawer {
  max-width: 15vw;
}
@media (max-width: 1200px) {
  .mat-drawer {
    max-width: 45vw;
  }
}

#sign-out-dropdown {
  //top: -4px;
}

footer {
  color: $eform-gray;
}

#footer-widgets {
  background-color: $eform-gray;
  font-size: 0.9rem;
}

a {
  color: white;
}

span {
  color: white;
}

.copyright-section {
  background-color: $eform-gray !important;
  color: white;
  font-size: 0.9rem;
}

.stick-down {
  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
}

.footer-version {
  color: gray;
  font-size: 0.8em;
}
