<div class="h-100 d-flex flex-column">
  <!--  <app-header></app-header>-->
  <mat-toolbar style="padding-top: 5px; padding-bottom: 5px" class="d-flex align-items-center">
    <div *ngIf="headerSettingsModel.imageLinkVisible" class="d-flex">
      <div class="logo-container">
        <img height="30px" id="site-header-image" [src]="logoImage | authImage | async"
             *ngIf="headerSettingsModel.imageLinkVisible" alt="">
      </div>
    </div>
    <button mat-icon-button (click)="toggleDrawer()" [hidden]="(authStateService.isConnectionStringExistAsync | async) === false">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <mat-chip-list>
      <mat-chip style="padding: 0" color="primary" selected>
        <mat-chip-avatar>
          <mat-icon>account_circle</mat-icon>
        </mat-chip-avatar>
        <button mat-icon-button [matMenuTriggerFor]="menu" id="sign-out-dropdown">
          <mat-icon >settings</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item *ngFor="let menu of appMenuQuery.userMenuRight$ | async"
             routerLink="{{ menu.link }}"
             [id]="menu.e2EId"
          ><!--color="{{this.router.url === menu.link ? 'accent' : ''}}"-->
            {{ menu.name }}
          </a>
        </mat-menu>
      </mat-chip>
    </mat-chip-list>
  </mat-toolbar>
  <mat-drawer-container autosize style="height: 100%;">
    <mat-drawer
      #drawer
      [mode]="sidenavMode"
      [opened]="(authStateService.sideMenuOpenedAsync | async) === true">
      <app-navigation (clickOnLink)="onClickOnLink()"></app-navigation>
      <footer class="footer stick-down">
          <div id="footer-widgets">
            <div class="d-flex justify-content-center p-3">
              <a href="https://www.microting.com/terms-of-service" target="_blank">
                {{'Terms of Service' | translate}}
              </a> <span class="ml-2 mr-2"> | </span>
              <a href="https://www.microting.com/privacy-policy" target="_blank">
                {{'Privacy Policy' | translate}}
              </a><span class="ml-2 mr-2"> | </span>
              <a href="https://www.microting.com/data-protection-terms" target="_blank">
                {{'Data Protection Terms (GDPR)' | translate}}
              </a>
              <b></b>
            </div>
          </div>
        <div class="footer-copyright text-center p-2 copyright-section">
          <div>© Microting A/S 2007 - {{date.getFullYear()}} <div class="footer-version">eForm Backend v{{version}}</div> </div>
        </div>
      </footer>
    </mat-drawer>
    <div class="mb-auto p-4">
      <app-userback-widget></app-userback-widget>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
  <app-footer></app-footer>
</div>
