@import "../../../../scss/utilities/colors";

.mat-drawer {
  max-width: 15vw;
}
@media (max-width: 1200px) {
  .mat-drawer {
    max-width: 45vw;
  }
}

:host::ng-deep.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sign-out-dropdown {
  //top: -4px;
}
