<div mdbModal class="modal fade" #frame="mdbModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{ 'Select columns for displaying in Cases' | translate }}</h3>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <ng-select
                bindLabel="label"
                bindValue="id"
                [(ngModel)]="columnEditModel.fieldId1"
                [placeholder]="'Column 1' | translate"
                [items]="columnModels"></ng-select>
            </div>
            <div class="col-md-6">
              <ng-select
                bindLabel="label"
                bindValue="id"
                [(ngModel)]="columnEditModel.fieldId2"
                [placeholder]="'Column 2' | translate"
                [items]="columnModels"></ng-select>
            </div>
            <div class="col-md-6">
              <ng-select
                bindLabel="label"
                bindValue="id"
                [(ngModel)]="columnEditModel.fieldId3"
                [placeholder]="'Column 3' | translate"
                [items]="columnModels"></ng-select>
            </div>
            <div class="col-md-6">
              <ng-select
                bindLabel="label"
                bindValue="id"
                [(ngModel)]="columnEditModel.fieldId4"
                [placeholder]="'Column 4' | translate"
                [items]="columnModels"></ng-select>
            </div>
            <div class="col-md-6">
              <ng-select
                bindLabel="label"
                bindValue="id"
                [(ngModel)]="columnEditModel.fieldId5"
                [placeholder]="'Column 5' | translate"
                [items]="columnModels"></ng-select>
            </div>
            <div class="col-md-6">
              <ng-select
                bindLabel="label"
                bindValue="id"
                [(ngModel)]="columnEditModel.fieldId6"
                [placeholder]="'Column 6' | translate"
                [items]="columnModels"></ng-select>
            </div>
            <div class="col-md-6">
              <ng-select
                bindLabel="label"
                bindValue="id"
                [(ngModel)]="columnEditModel.fieldId7"
                [placeholder]="'Column 7' | translate"
                [items]="columnModels"></ng-select>
            </div>
            <div class="col-md-6">
              <ng-select
                bindLabel="label"
                bindValue="id"
                [(ngModel)]="columnEditModel.fieldId8"
                [placeholder]="'Column 8' | translate"
                [items]="columnModels"></ng-select>
            </div>
            <div class="col-md-12">
              <ng-select
                bindLabel="label"
                bindValue="id"
                [(ngModel)]="columnEditModel.fieldId9"
                [placeholder]="'Column 9' | translate"
                [items]="columnModels"></ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="updateColumns()">{{ 'Save' | translate }}</button>
        <button class="btn btn-accent text-black-50" (click)="frame.hide()">{{ 'Cancel' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<eform-spinner [spinnerVisibility]="spinnerStatus"></eform-spinner>
