<h3 mat-dialog-title>{{ 'Select columns for displaying in Cases' | translate }}</h3>
<div mat-dialog-content class="d-flex flex-row">
  <ng-select
    bindLabel="label"
    bindValue="id"
    [(ngModel)]="columnEditModel.fieldId1"
    [placeholder]="('Column' | translate) + ' 1'"
    appendTo="body"
    [items]="columnModels"></ng-select>
  <ng-select
    bindLabel="label"
    bindValue="id"
    [(ngModel)]="columnEditModel.fieldId2"
    [placeholder]="('Column' | translate) + ' 2'"
    appendTo="body"
    [items]="columnModels"></ng-select>
</div>
<div class="d-flex flex-row">
  <ng-select
    bindLabel="label"
    bindValue="id"
    [(ngModel)]="columnEditModel.fieldId3"
    [placeholder]="('Column' | translate) + ' 3'"
    appendTo="body"
    [items]="columnModels"></ng-select>
  <ng-select
    bindLabel="label"
    bindValue="id"
    [(ngModel)]="columnEditModel.fieldId4"
    [placeholder]="('Column' | translate) + ' 4'"
    appendTo="body"
    [items]="columnModels"></ng-select>
</div>
<div class="d-flex flex-row">
  <ng-select
    bindLabel="label"
    bindValue="id"
    [(ngModel)]="columnEditModel.fieldId5"
    [placeholder]="('Column' | translate) + ' 5'"
    appendTo="body"
    [items]="columnModels"></ng-select>
  <ng-select
    bindLabel="label"
    bindValue="id"
    [(ngModel)]="columnEditModel.fieldId6"
    [placeholder]="('Column' | translate) + ' 6'"
    appendTo="body"
    [items]="columnModels"></ng-select>
</div>
<div class="d-flex flex-row">
  <ng-select
    bindLabel="label"
    bindValue="id"
    [(ngModel)]="columnEditModel.fieldId7"
    [placeholder]="('Column' | translate) + ' 7'"
    appendTo="body"
    [items]="columnModels"></ng-select>
  <ng-select
    bindLabel="label"
    bindValue="id"
    [(ngModel)]="columnEditModel.fieldId8"
    [placeholder]="('Column' | translate) + ' 8'"
    appendTo="body"
    [items]="columnModels"></ng-select>
</div>
<div class="d-flex flex-row">
  <ng-select
    bindLabel="label"
    bindValue="id"
    [(ngModel)]="columnEditModel.fieldId9"
    [placeholder]="('Column' | translate) + ' 9'"
    appendTo="body"
    [items]="columnModels"></ng-select>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end">
  <button
    mat-raised-button
    color="accent"
    (click)="updateColumns()"
  >
    {{ 'Save' | translate }}
  </button>
  <button
    mat-raised-button
    (click)="hide()"
  >
    {{ 'Cancel' | translate }}
  </button>
</div>
