<eform-new-subheader>
<div class="d-flex justify-content-center align-items-center gap-12">
  <button
    class="btn-secondary btn-secondary--icon-rounded-border"
    (click)="openTagsModal()"
    matTooltip="{{ 'Manage tags' | translate }}"
  >
    <mat-icon>discount</mat-icon>
  </button>
  <button
    class="btn-primary btn-primary--icon-left"
    id="createEmailRecipientBtn"
    matTooltip="{{ 'Add Recipients' | translate }}"
    (click)="openCreateModal()"
  >
    <mat-icon>add</mat-icon>
    <span>{{ 'Add Recipients' | translate }}</span>
  </button>
</div>
</eform-new-subheader>

<ng-template #toolbarTpl>
  <div class="d-flex flex-row justify-content-start flex-nowrap">
    <div class="d-flex flex-column mr-2 ml-2">
      <mat-form-field>
        <mat-label>{{ 'Tags' | translate }}</mat-label>
        <mtx-select
          class="custom"
          [items]="availableTags"
          [ngModel]="selectEmailRecipientsTagIds$ | async"
          (add)="tagSelected($event.id)"
          (remove)="removeSavedTag($event)"
          [clearable]="false"
          [bindLabel]="'name'"
          [bindValue]="'id'"
          id="tagSelector"
          [multiple]="true"
          appendTo="body"
        />
      </mat-form-field>
    </div>
  </div>
</ng-template>

<mtx-grid
  [data]="emailRecipientsListModel?.entities"
  [columns]="tableHeaders"
  [cellTemplate]="{actions: actionsTpl, tags: tagsTpl}"
  [showPaginator]="true"
  [paginationTemplate]="paginatorTpl"
  [pageOnFront]="false"
  [rowStriped]="true"
  [showToolbar]="true"
  [showColumnMenuButton]="false"
  [toolbarTemplate]="toolbarTpl"
  [sortActive]="selectEmailRecipientsSort$ | async"
  [sortDirection]="selectEmailRecipientsIsSortDsc$ | async"
  (sortChange)="onSortTable($event)"
/>

<ng-template #actionsTpl let-row let-i="index">
  <div class="email-recipient-actions" id="action-items-{{i}}">
    <button id="actionMenu" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="{{ 'Actions' | translate }}">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        id="emailRecipientEditBtn{{i}}"
        (click)="openEditModal(row)"
      >
        <mat-icon>edit</mat-icon>
        <span>{{ 'Edit email recipient' | translate }}</span>
      </button>

      <button
        mat-menu-item
        id="emailRecipientDeleteBtn{{i}}"
        (click)="openDeleteModal(row)"
      >
        <mat-icon color="warn">delete</mat-icon>
        <span>{{ 'Delete email recipient' | translate }}</span>
      </button>
    </mat-menu>
  </div>
</ng-template>

<ng-template #tagsTpl let-row>
  <app-eform-tag [tags]="row.tags" (clickOnTag)="tagSelected($event)"/>
</ng-template>

<ng-template #paginatorTpl>
  <eform-pagination
    [pagination]="selectEmailRecipientsPagination$ | async"
    (paginationChanged)="onPaginationChanged($event)"
  />
</ng-template>

<app-email-recipients-tags
  #recipientsTagsModal
  [availableTags]="availableTags"
  (tagsChanged)="getTags()"
/>
