<!--<div class="progress-bar" role="progressbar" style="width: {{trashInspection.status-bar}}%"></div>-->
<div class="progress" *ngIf="statusBar.status == 0"  style="height: 1.4em; width: 1.4em;">
  <div class="progress-bar grey lighten-1 text-dark" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 20px; padding-left: 5px; padding-right: 5px;" data-mdb-toggle="tooltip" title="{{'Saved locally' | translate}}"></div>
</div>
<div class="progress" *ngIf="statusBar.status == 33" style="height: 1.4em; width: 1.4em;">
  <div class="progress-bar grey darken-1" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 20px; padding-left: 5px; padding-right: 5px;" data-mdb-toggle="tooltip" title="{{'Ready for server' | translate}}"></div>
</div>
<div class="progress" *ngIf="statusBar.status == 66" style="height: 1.4em; width: 1.4em;">
  <div class="progress-bar warning-color text-black-50" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 20px; padding-left: 5px; padding-right: 5px;" data-mdb-toggle="tooltip" title="{{'Received by server' | translate}}"></div>
</div>
<div class="progress" *ngIf="statusBar.status == 70" style="height: 1.4em; width: 1.4em;">
  <div class="progress-bar warning-color-dark" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 20px; padding-left: 5px; padding-right: 5px;" data-mdb-toggle="tooltip" title="{{'Ready for device' | translate}}"></div>
</div>
<div class="progress" *ngIf="statusBar.status == 77" style="height: 1.4em; width: 1.4em;">
  <div class="progress-bar info-color-dark" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 20px; padding-left: 5px; padding-right: 5px;" data-mdb-toggle="tooltip" title="{{'Retrieved by device' | translate}}"></div>
</div>
<div class="progress" *ngIf="statusBar.status == 100" style="height: 1.4em; width: 1.4em;">
  <div class="progress-bar success-color-dark" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 20px; padding-left: 5px; padding-right: 5px;" data-mdb-toggle="tooltip" title="{{'Completed' | translate}}"></div>
</div>
<div class="progress" *ngIf="statusBar.status == 110" style="height: 1.4em; width: 1.4em;">
  <div class="progress-bar red accent-4" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 20px; padding-left: 5px; padding-right: 5px;" data-mdb-toggle="tooltip" title="{{'System error: Contact Microting' | translate}}"></div>
</div>
