<!--<div class="row grid">-->
<!--<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" *ngFor="let image of images; let i = index">-->
<!--<figure class="figure">-->
<!--<img class="img-thumbnail img-responsive" width="119px" style="cursor: pointer; margin-bottom: 10px" (click)="openPicture(i)"-->
<!--[src]="image.src"/>-->
<!--<figcaption>-->
<!--<button mdbBtn class="btn-ar btn-default" [disabled]="buttonsLocked" (click)="rotatePicture(image)"><i class="fa fa-repeat"  aria-hidden="true"></i></button>-->
<!--<button mdbBtn class="btn-ar btn-danger" (click)="deletePicture(image)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>-->
<!--<button [disabled]="!image.googleMapsLat && !image.googleMapsLon"-->
<!--(click)="openGpsWindow(image.googleMapsUrl)" class="btn btn-ar btn-success" style="padding-left: 13px; padding-right: 13px">-->
<!--<i class="fa fa-map-marker" aria-hidden="true"></i>-->
<!--&lt;!&ndash; <a target="_blank" *ngIf="image.googleMapsLat && image.googleMapsLon" href="{{image.googleMapsUrl}}">-->
<!--</a> &ndash;&gt;-->
<!--</button>-->
<!--&lt;!&ndash;<pre>{{fieldValues | json}}</pre>&ndash;&gt;-->
<!--</figcaption>-->
<!--</figure>-->
<!--</div>-->
<!--</div>-->
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12" *ngFor="let image of images; let i = index">
    <div class="card z-depth-4 mb-3 mt-1">
      <img class="card-img-top card-img-adaptive z-depth-1" (click)="openPicture(i)"
           [src]="image.src" alt="Card image cap">
    </div>
  </div>
</div>


