<mat-expansion-panel class="mt-2" class="menuTemplate">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ 'Custom' | translate }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="d-flex justify-content-between align-items-center">
    <p>
      {{ 'Dropdown' | translate }}
    </p>
    <mat-icon
      id="addCustomDropdown"
      (click)="showDropdownAddModal()"
      style="cursor: pointer"
      matTooltip="{{ 'Add to menu' | translate }}"
    >add</mat-icon>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <div>
      {{ 'Link' | translate }}
    </div>
    <mat-icon
      id="addCustomLink"
      (click)="showCustomLinkAddModal()"
      style="cursor: pointer"
      matTooltip="{{ 'Add to menu' | translate }}"
    >add</mat-icon>
  </div>
</mat-expansion-panel>
