<mat-card class="mb-3" id="menuTemplate">
  <mat-card-title >
    <div class="d-flex justify-content-between align-items-center">
      <div>
        {{ 'Custom' | translate }}
      </div>
      <app-eform-collapse-toggle
        [collapse]="collapse"
        [collapsed]="collapsed"
        (collapseUpdate)="collapsed = $event"
      ></app-eform-collapse-toggle>
    </div>
  </mat-card-title >
  <div mdbCollapse #collapse="bs-collapse">
    <div class="card-body">
      <mat-card class="mb-2">
        <mat-card-title >
          <div class="d-flex justify-content-between align-items-center">
            <div>
              {{ 'Dropdown' | translate }}
            </div>
            <fa-icon
              id="addCustomDropdown"
              (click)="showDropdownAddModal()"
              icon="plus"
              style="cursor: pointer"
              matTooltip="{{ 'Add to menu' | translate }}"
            ></fa-icon>
          </div>
        </mat-card-title >
      </mat-card>
      <mat-card class="mb-3">
        <mat-card-title >
          <div class="d-flex justify-content-between align-items-center">
            <div>
              {{ 'Link' | translate }}
            </div>
            <fa-icon
              id="addCustomLink"
              (click)="showCustomLinkAddModal()"
              icon="plus"
              style="cursor: pointer"
              matTooltip="{{ 'Add to menu' | translate }}"
            ></fa-icon>
          </div>
        </mat-card-title >
      </mat-card>
    </div>
  </div>
</mat-card>

<app-navigation-menu-custom-dropdown
  #customDropdownModal
  [availableSecurityGroups]="availableSecurityGroups"
  (addDropdownToMenu)="onAddDropdownToMenu($event)"
></app-navigation-menu-custom-dropdown>

<app-navigation-menu-custom-link
  #customLinkModal
  [availableSecurityGroups]="availableSecurityGroups"
  (addLinkToMenu)="onAddLinkToMenu($event)"
></app-navigation-menu-custom-link>
