<mdb-card
  class="mb-3"
>
  <mdb-card-header>
    <div class="d-flex justify-content-between align-items-center">
      <div>
        {{ 'Custom' | translate }}
      </div>
      <app-eform-collapse-toggle
        [collapse]="collapse"
        [collapsed]="collapsed"
        (collapseUpdate)="collapsed = $event"
      ></app-eform-collapse-toggle>
    </div>
  </mdb-card-header>
  <div mdbCollapse #collapse="bs-collapse">
    <div class="card-body">
      <app-navigation-menu-custom-dropdown></app-navigation-menu-custom-dropdown>
      <app-navigation-menu-custom-link></app-navigation-menu-custom-link>
    </div>
  </div>
</mdb-card>
