/* Sticky footer styles
-------------------------------------------------- */

html {
  /*position: relative;*/
  min-height: 100%;
  height: 100%;
  /* Site is as tall as device. */
}

body {
  /* Margin bottom by footer height */
  /*margin-bottom: 148px;*/
  min-height: 100%;
  /*position: initial;*/
}


/*#content {*/


/*min-height: 100%;*/


/*}*/

#my_footer_id_2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 148px;
  /*background-color: #f5f5f5;*/
}
