<eform-new-subheader
  [title]="
    securityGroupGeneralPermissionsModel.groupName +
    ' ' +
    ('General Permissions' | translate)
  "
  [forceStaticTitle]="true"
>
  <button
    class="btn-primary btn-primary--icon-left"
    (click)="updateSecurityGroupGeneralPermissions()"
    matTooltip="{{ 'Update Permissions' | translate }}"
    id="newSecurityGroupBtn"
  >
    {{ 'Save' | translate }}
  </button>
</eform-new-subheader>

<div class="d-flex flex-row mt-4 flex-wrap justify-content-between">
  <div
    class="mb-4 d-flex"
    [ngClass]="{
        'flex-grow-1': permissionType.name == 'Eforms',
        'flex-grow-0': permissionType.name != 'Eforms'
      }"
    *ngFor="
        let permissionType of securityGroupGeneralPermissionsModel.permissionTypes
      "
  >
    <mat-card class="mr-2" style="min-width: 300px">
      <mat-card-header>{{ permissionType.name | translate }}</mat-card-header>
      <mat-card-content>
        <ng-container *ngFor="let permission of permissionType.permissions">
          <div
            class="mb-2"
            [ngStyle]="{
                display:
                  permissionType.name == 'Eforms' ? 'inline-block' : 'block'
              }"
            [ngClass]="{ 'col-md-3': permissionType.name == 'Eforms' }"
          >
            <mat-checkbox
              id="{{ permissionType.name }}_{{ permission.claimName }}"
              [(ngModel)]="permission.isEnabled"
              color="primary"
            >
              {{ permission.permissionName | translate }}
            </mat-checkbox>
          </div>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</div>
