<eform-page-subheader [title]="'Test Group Permissions' | translate">
  <div class="p-3">
    <button
      class="btn btn-success"
      mdbTooltip="{{ 'Update Permissions' | translate }}" id="newSecurityGroupBtn">{{ 'Save' | translate }}
    </button>
  </div>
</eform-page-subheader>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          Sites
        </div>
        <div class="card-body">
            <div class="mat-checkbox mb-2" style="display: block;">
              <input id="checkboxSitesRead"
                     color="primary" type="checkbox">
              <label for="checkboxSitesRead">Read</label>
            </div>
          <div class="mat-checkbox mb-2" style="display: block;">
            <input id="checkboxSitesCreate"
                   color="primary" type="checkbox">
            <label for="checkboxSitesCreate">Create</label>
          </div>
          <div class="mat-checkbox mb-2" style="display: block;">
            <input id="checkboxSitesUpdate"
                   color="primary" type="checkbox">
            <label for="checkboxSitesUpdate">Update</label>
          </div>
          <div class="mat-checkbox mb-2" style="display: block;">
            <input id="checkboxSitesDelete"
                   color="primary" type="checkbox">
            <label for="checkboxSitesDelete">Delete</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          Workers
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          Searchable Lists
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          Selectable Lists
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>
</div>
