<h3 mat-dialog-title>{{ 'Upload excel file' | translate }}</h3>
<div mat-dialog-content class="">
  <div class="d-flex flex-row justify-content-start">
    <button
      mat-raised-button
      color="primary"
      *ngIf="xlsxEformsFileUploader?.queue?.length == 0"
      (click)="xlsxEforms.click()"
      [loading]="loaderService.isLoading | async"
    >
      {{ 'Upload' | translate }}
    </button>
    <button
      mat-raised-button
      color="warn"
      *ngIf="xlsxEformsFileUploader?.queue?.length > 0"
      (click)="xlsxEforms.click()"
      [loading]="loaderService.isLoading | async"
    >
      {{ 'Pending' | translate }}
    </button>
    <input
      type="file"
      ng2FileSelect
      (onFileSelected)="uploadExcelEformsFile()"
      [uploader]="xlsxEformsFileUploader"
      #xlsxEforms
      id="xlsxImportInput"
      style="display: none"
    />
  </div>
  <div class="mt-4">
    <mtx-grid
      [data]="errors"
      [columns]="tableHeaders"
      [showPaginator]="false"
      [pageOnFront]="false"
      [rowStriped]="true"
      [showToolbar]="false"
      [showColumnMenuButton]="false"
    >
    </mtx-grid>
  </div>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end">
  <button
    mat-raised-button
    (click)="excelEformsModal()"
  >
    {{ 'Close' | translate }}
  </button>
</div>

