<eform-page-subheader [title]="'Plugins Management' | translate">
  <div class="p-3">
    <button
      class="btn btn-success"
      id="newSecurityGroupBtn" [routerLink]="['marketplace']">{{ 'Marketplace' | translate }}
    </button>
  </div>
</eform-page-subheader>

<!--Here you can choose approach as you like: container-row, or flex, or just element with required styles and markup-->
<div class="container-fluid mt-4">
  <div class="row p-1 table-responsive no-gutters">
    <table class="table table-sm table-striped text-center z-depth-1">
      <thead>
      <tr>
        <th scope="col">{{ 'ID' }}</th>
        <th scope="col">{{ 'Name' | translate }}</th>
        <th scope="col">{{ 'Version' | translate }}</th>
        <th scope="col">{{ 'Status' | translate }}</th>
        <th scope="col">{{ 'Actions' | translate }}</th>
      </tr>
      </thead>
      <tbody id="tableBody">
      <tr *ngFor="let plugin of installedPluginsModel.pluginsList">
        <td scope="row" id="plugin-id">{{plugin.id}}</td>
        <td id="plugin-name">{{plugin.name}}</td>
        <td id="plugin-version">{{plugin.version}}</td>
        <td [ngStyle]="{'color': plugin.status == statusEnum.Enabled ? '#06ba06' : '#ba3f4e'}" id="plugin-status">
          {{statusEnum[plugin.status] | translate}}
        </td>
        <td>
          <div class="d-flex flex-row justify-content-center">
            <button class="btn btn-accent text-black-50 btn-icon mb-2"
                    mdbTooltip="{{'Edit Settings' | translate}}"
                    (click)="showEditModal(plugin)"
                    mdbWavesEffect id="editSettingsBtn" id="plugin-settings-btn">
              <i class="material-icons">
                edit
              </i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <eform-spinner [spinnerVisibility]="spinnerStatus"></eform-spinner>
  </div>
</div>

<app-installed-plugin-edit #editInstalledPluginModal (onInstalledPluginUpdate)="updateInstalledPlugin($event)"></app-installed-plugin-edit>
