<eform-new-subheader>
  <button
    color="accent"
    mat-raised-button
    id="newSecurityGroupBtn"
    [routerLink]="['marketplace']"
  >
    {{ 'Marketplace' | translate }}
  </button>
</eform-new-subheader>

<!--Here you can choose approach as you like: container-row, or flex, or just element with required styles and markup-->
<mtx-grid
  [data]="installedPluginsModel.pluginsList"
  [columns]="tableHeaders"
  [cellTemplate]="{actions: actionsTpl}"
  [showPaginator]="false"
  [pageOnFront]="false"
  [rowStriped]="true"
  [showColumnMenuButton]="false">
</mtx-grid>

<ng-template #actionsTpl let-row>
  <div class="d-flex align-items-center">
    <button
      mat-icon-button
      color="{{row.status === statusEnum.Enabled ? 'accent' : ''}}"
      matTooltip="{{(row.status === statusEnum.Enabled ? 'Deactivate' : 'Activate') +' plugin' | translate}}"
      (click)="openPluginModal(row, row.status === statusEnum.Enabled ? statusEnum.Disabled : statusEnum.Enabled)"
    >
      <mat-icon>{{row.status === statusEnum.Enabled ? 'toggle_on' : 'toggle_off'}}</mat-icon>
    </button>
    <button
      mat-icon-button
      color="accent"
      *ngIf="row.status == statusEnum.Enabled"
      matTooltip="{{ 'Edit Plugin Permissions' | translate }}"
      (click)="showPermissionsModal(row)"
      id="plugin-permissions-btn"
    >
      <mat-icon>lock_open</mat-icon>
    </button>
    <a
      mat-icon-button
      *ngIf="row.status == statusEnum.Enabled"
      matTooltip="{{ 'Plugin Settings Page' | translate }}"
      routerLink="/plugins/{{ row.baseUrl }}/settings"
      id="plugin-settings-link"
    >
      <mat-icon>settings</mat-icon>
    </a>
  </div>
</ng-template>
