<h1 class="ds-auth-title">{{ 'Forgot password title' | translate }}</h1>
<p class="ds-auth-copy">{{ 'Restore password instructions' | translate }}</p>

<form
  [formGroup]="formRestore"
  class="ds-login-form"
  (ngSubmit)="submitRestoreForm()"
>
  <div class="ds-field">
    <label for="email">{{ 'E-mail' | translate }}</label>
    <input
      formControlName="email"
      type="email"
      id="email"
      name="email"
      autocomplete="email"
      [placeholder]="('Enter email' | translate)"
    >
  </div>

  <div class="ds-login-submit">
    <span class="ds-login-submit__spacer"></span>
    <button
      type="submit"
      id="restoreBtn"
      class="ds-btn ds-btn--filled"
    >
      {{ 'Send' | translate }}
    </button>
  </div>
</form>
