<div class="mb-2">
  <form [formGroup]="formRestore">
    <mat-form-field>
      <mat-label>{{ 'E-mail' | translate }}</mat-label>
      <mat-icon matPrefix>email</mat-icon>
      <input
        matInput
        formControlName="email"
        type="text"
        id="email"
        name="email"
      >
    </mat-form-field>
  </form>

  <button
    mat-raised-button
    type="button"
    color="accent"
    (click)="submitRestoreForm()"
    class="w-100"
  >
    {{ 'Restore password' | translate }}
  </button>
</div>

<a mat-button color="accent" class="w-100" [routerLink]="['/auth']">< {{ 'Back to login' | translate }}</a>
