<eform-subheader [forceStaticTitle]="true" [title]="'Create selectable list' | translate">
  <div class="p-3">
    <button
      mdbBtn
      id="createEntitySelectSaveBtn"
      class="btn-success btn-small-height"
      (click)="createEntitySelectableGroup()"
    >
      {{ 'Create' | translate }}
    </button>
    <button
      mdbBtn
      id="createEntitySelectCancelBtn"
      class="btn-accent text-black-50 btn-small-height"
      (click)="goBack()"
    >
      {{ 'Cancel' | translate }}
    </button>
  </div>
</eform-subheader>
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12" role="main">
      <mdb-card>
        <mdb-card-body>
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input
                  mdbInput
                  required
                  [(ngModel)]="advEntitySelectableGroupCreateModel.name"
                  id="createName"
                  type="text"
                  class="form-control"
                />
                <label for="createName">{{ 'Name' | translate }}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input
                  mdbInput
                  required
                  [(ngModel)]="advEntitySelectableGroupCreateModel.description"
                  id="createDescription"
                  type="text"
                  class="form-control"
                />
                <label for="createName">{{ 'Description' | translate }}</label>
              </div>
            </div>
          </div>

          <div class="row d-flex">
            <div class="mr-auto"></div>
            <div class="d-inline-flex">
              <button
                id="importEntitySelectBtn"
                class="btn btn-success btn-icon"
                (click)="modalSelectImportList.show()"
              >
                <fa-icon icon="list-ul" size="lg" [fixedWidth]="true"></fa-icon>
              </button>
              <button
                mdbBtn
                class="btn-success btn-icon"
                (click)="addNewAdvEntitySelectableItem()"
                id="addSingleEntitySelectableItem"
              >
                <fa-icon icon="plus" size="lg" [fixedWidth]="true"></fa-icon>
              </button>
            </div>
          </div>
          <app-entity-list-elements
          [entityItemModels]="advEntitySelectableGroupCreateModel.advEntitySelectableItemModels"
          (entityItemModelsChanged)="advEntitySelectableGroupCreateModel.advEntitySelectableItemModels = $event"
          >
          </app-entity-list-elements>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>

<app-entity-select-import-list
  (onImportSubmitted)="importAdvEntitySelectableGroup($event)"
  #modalSelectImportList
></app-entity-select-import-list>

<app-entity-item-edit-name
  (itemUpdated)="onItemUpdated($event)"
  #modalNameEdit>
</app-entity-item-edit-name>
