<eform-subheader [title]="'Create selectable list' | translate">
  <div class="p-3">
    <button
      mdbRipple
      id="createEntitySelectSaveBtn"
      class="btn-success btn-small-height"
      (click)="createEntitySelectableGroup()"
    >
      {{ 'Create' | translate }}
    </button>
    <button
      mdbRipple
      id="createEntitySelectCancelBtn"
      class="btn-light text-black-50 btn-small-height"
      (click)="goBack()"
    >
      {{ 'Cancel' | translate }}
    </button>
  </div>
</eform-subheader>
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12" role="main">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input
                  mdbInput
                  required
                  [(ngModel)]="advEntitySelectableGroupCreateModel.name"
                  id="createName"
                  type="text"
                  class="form-control"
                />
                <label for="createName">{{ 'Name' | translate }}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input
                  mdbInput
                  required
                  [(ngModel)]="advEntitySelectableGroupCreateModel.description"
                  id="createDescription"
                  type="text"
                  class="form-control"
                />
                <label for="createName">{{ 'Description' | translate }}</label>
              </div>
            </div>
          </div>

          <div class="row d-flex">
            <div class="mr-auto"></div>
            <div class="d-inline-flex">
              <button
                id="importEntitySelectBtn"
                class="btn btn-success btn-icon"
                (click)="modalSelectImportList.show()"
              >
                <fa-icon icon="list-ul" size="lg" [fixedWidth]="true"></fa-icon>
              </button>
              <button
                mdbRipple
                class="btn-success btn-icon"
                (click)="addNewAdvEntitySelectableItem()"
                id="addSingleEntitySelectableItem"
              >
                <fa-icon icon="plus" size="lg" [fixedWidth]="true"></fa-icon>
              </button>
            </div>
          </div>

          <div class="row">
            <div class="panel panel-default w-100 pt-2">
              <div class="panel-body">
                <ul
                  class="list-group"
                  dragula="ITEMS"
                  [(dragulaModel)]="
                    advEntitySelectableGroupCreateModel.advEntitySelectableItemModels
                  "
                  (dragulaModelChange)="dragulaPositionChanged()"
                >
                  <!--list item-->
                  <li
                    class="list-group-item"
                    *ngFor="
                      let entityItem of advEntitySelectableGroupCreateModel.advEntitySelectableItemModels
                    "
                  >
                    <div class="d-flex justify-content-between">
                      <div>
                        <a>
                          <fa-icon
                            icon="grip-lines"
                            size="lg"
                            [fixedWidth]="true"
                          ></fa-icon>
                        </a>
                      </div>
                      <div id="createEntityItemName">{{ entityItem.name }}</div>
                      <div>
                        <fa-icon
                          icon="exclamation-triangle"
                          size="lg"
                          [fixedWidth]="true"
                          *ngIf="!entityItem.name"
                          mdbTooltip="{{ 'Name is required' | translate }}!"
                        ></fa-icon>
                        <button mdbRipple
                                class="btn btn-light btn-icon text-black-50 mb-2 pull-right"
                                id="entitySelectCreateSingleItemEdit">
                          <fa-icon
                            icon="pen"
                            size="lg"
                            [fixedWidth]="true"
                            (click)="openModalSelectEditName(entityItem)"
                          ></fa-icon>
                        </button>
                        <button mdbRipple
                                class="btn btn-danger btn-icon mb-2 pull-right"
                                id="entitySelectCreateSingleItemDelete">
                          <fa-icon
                            icon="trash-alt"
                            size="lg"
                            [fixedWidth]="true"
                            (click)="
                              deleteAdvEntitySelectableItem(
                                entityItem.entityItemUId
                              )
                            "
                          ></fa-icon>
                        </button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-entity-select-import-list
  (onImportSubmitted)="importAdvEntitySelectableGroup($event)"
  #modalSelectImportList
></app-entity-select-import-list>
<app-entity-select-edit-name
  [selectedAdvEntitySelectableItemModel]="seletctedItem"
  (onItemUpdated)="updateItem($event)"
  #modalSelectEditName
></app-entity-select-edit-name>
