.tree-container {
  max-height: 260px;
  overflow-y: auto;
  padding: 4px 0;
}

.node-row {
  display: flex;
  align-items: center;
  padding-right: 8px!important;
}

.leaf {
  padding-left: 40px !important;
}

.node-label {
  cursor: pointer;
  width: calc(100% - 16px)!important;
  display: flex;
  height: 40px;
  //padding: var(--28-px, 8px) var(--28-px, 8px) var(--28-px, 8px) var(--832-px, 32px) !important;
  padding: var(--28-px, 8px)!important;
  align-items: center;
  gap: var(--156-px, 6px);
  align-self: stretch;
  background: transparent !important;
}

.leaf {
  .node-label {
    padding: var(--28-px, 8px) var(--28-px, 8px) var(--28-px, 8px) var(--832-px, 32px) !important;
  }
}

  .node-row{
    &:hover, &:active {
      color: var(--primary);
      background: var(--primary-light, #F5FCFC) !important;
      transition: color .5s;
    }
  }

  .node-row.selected {
    color: var(--primary);
    background: var(--primary-light, #F5FCFC) !important;
  }


  .mdc-menu-surface {
    &--open {
      display: flex;
      width: 130px;
      padding: var(--28-px, 8px);
      flex-direction: column;
      align-items: flex-start;
      gap: var(--14-px, 4px);
      border-radius: var(--rounded-8, 8px);
      border: 1px solid var(--border, #EBEFF2);
      background: var(--bg, #FFF);
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.10);
    }
  }

  .mat-mdc-option:focus.mdc-list-item, .mat-mdc-option.mat-mdc-option-active.mdc-list-item {
    background-color: var(--bg, #FFF);
    width: calc(100% - var(--28-px));
  }

  mat-tree-node.children {
    padding-left: 56px !important;
  }

  .tree-container{
    overflow: hidden;
  }

  mat-tree-node.selected {
    color: var(--primary);
    background: var(--primary-light, #F5FCFC) !important;
  }



  ::ng-deep .folder-tree-select-panel .mdc-list-item__primary-text {
    width: 100% !important;
    display: block !important;
    padding: 0 !important;
  }

