<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="eform_api2">
            <Component Id="cmpB7C4D6BBD0ED02FE080ADE7898E81619" Guid="{C897BEE9-B256-479C-B644-34B522EDDF7F}">
                <File Id="fil31485450CFAF2A2F101BD255002960F6" KeyPath="yes" Source="$(var.ApiPath2)\eFormAPI.Web.resources.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ApiFiles2">
            <ComponentRef Id="cmpB7C4D6BBD0ED02FE080ADE7898E81619" />
        </ComponentGroup>
    </Fragment>
</Wix>