<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--<?define MicrotingService_TargetDir=$(var.eFormAPI.Web.TargetDir)?>-->
  <?define ProductName="Microting eForm API" ?>

  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="1.0.0.0" Manufacturer="Microting A/S" >
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" AdminImage="yes" />

    <UIRef Id="WixUI_InstallDirModified"/>

    <MediaTemplate EmbedCab="yes"/>

    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\MicrotingEULA.rtf"/>

    <Feature Id="ProductFeature" Title="Microting Service" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)"/>   
      </Directory> 
    </Directory>
    
    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />
    <Property Id="MSIINSTALLPERUSER" Value="{}" />

    <SetProperty Id="ARPNOMODIFY" Value="1" After="InstallValidate" Sequence="execute"/>
    <Property Id="INSTMODE" Value="{}" Secure="yes" />
    <Property Id="DOMAINNAME" Value="{}" Secure="yes"/>
    <Property Id="CUSTOMERNUMBER" Value="{}" Secure="yes"/>

    <InstallExecuteSequence>
      <Custom Action="SetProductName" After="InstallInitialize"/>
      <Custom Action="SetInstalValues" After="InstallInitialize"/>
      <Custom Action="SetRemoveValues" After="InstallInitialize" />
      <Custom Action="SetUpdateServiceValues" After="InstallInitialize" />

      <Custom Action="Install" After="SetInstalValues">1</Custom>  
      <Custom Action="UpdateService" After='SetUpdateServiceValues'>1</Custom>
      <Custom Action="RemoveService" After='SetRemoveValues'>1</Custom>
    </InstallExecuteSequence>
  </Fragment>

  <Fragment>
    <CustomAction Id="GetAPIsList" BinaryKey="BinaryCA" DllEntry="GetAPIsListCA" Execute="immediate" />
    <CustomAction Id="Install" BinaryKey="BinaryCA" DllEntry="InstallCA" Execute="deferred" Impersonate="no"/>
    <CustomAction Id="UpdateService" BinaryKey="BinaryCA" DllEntry="UpdateCA" Execute="deferred" Impersonate="no" />
    <CustomAction Id="RemoveService" BinaryKey="BinaryCA" DllEntry="RemoveCA" Execute="deferred" Impersonate="no" />
    <Binary Id="BinaryCA" SourceFile="BuildedCustomActions\CustomActions.CA.dll"/> 

    <CustomAction Id="SetInstalValues" Property="Install" Value="INSTMODE=[INSTMODE];DOMAINNAME=[DOMAINNAME];CUSTOMERNUMBER=[CUSTOMERNUMBER]" />
    <CustomAction Id="SetRemoveValues" Property="RemoveService" Value="INSTMODE=[INSTMODE];DOMAINNAME=[DOMAINNAME]" />
    <CustomAction Id="SetUpdateServiceValues" Property="UpdateService" Value="INSTMODE=[INSTMODE];DOMAINNAME=[DOMAINNAME]" />
   
    <CustomAction Id="SetProductName" Property="ProductName" Value="[ProductName] - [DOMAINNAME]" />
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="dummy" Guid="C5E4143F-B4C9-478D-9C7F-F91C3D80BAE2" Directory="TARGETDIR" KeyPath="yes">
        <File Id="MicrotingEULA.rtf" Name="MicrotingEULA.rtf" Source=".\MicrotingEULA.rtf" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>