<div class="container">
  <div class="row" *ngIf="!showTwoFactorForm">
    <div class="col-md-4 col-md-offset-4">
      <section>
        <div class="panel panel-default top wrapper-top">
          <div class="panel-body">
            <div class="row"
                 *ngIf="loginPageSettings.mainTextVisible || loginPageSettings.secondaryTextVisible || loginPageSettings.imageLinkVisible">
              <div class="col-md-8 col-xs-8">
                <p class="p-header-wrapper p-font" *ngIf="loginPageSettings.mainTextVisible"><strong
                  id="loginPageMainText">{{loginPageSettings.mainText}}</strong></p>
                <p class="p-font p-description" id="loginPageSecondaryText"
                   *ngIf="loginPageSettings.secondaryTextVisible">{{loginPageSettings.secondaryText}}</p>
              </div>
              <div class="col-md-4 col-xs-4" *ngIf="loginPageSettings.imageLinkVisible">
                <img id="loginPageImage" class="img-responsive img-wrapper" [src]="loginImage"/>
              </div>
            </div>

            <ng-container *ngIf="showLoginForm">
              <form [formGroup]="formLogin">
                <div class="input-group input-group-md">
                  <span class="input-group-addon user-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                  <input formControlName="username" type="text" name="username" id="username" class="form-control"
                         placeholder="Username" required>
                </div>
                <br>
                <div class="input-group input-group-md">
                  <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                  <input type="password" formControlName="password" name="password" id="password" class="form-control"
                         placeholder="Password" required>
                </div>
                <br>
                <button type="submit" class="btn btn-ar btn-success btn-block" (click)="submitLoginForm()">Login
                </button>
              </form>
              <a (click)="toggleLoginForm(false)" class="forgot-password" style="cursor: pointer">
                Forgot the password?
              </a>
            </ng-container>

            <ng-container *ngIf="!showLoginForm">
              <ng-container *ngIf="!showAdminResetForm">
                <form [formGroup]="formRestore">
                  <div class="input-group input-group-md">
                    <span class="input-group-addon envelope-addon"><i class="fa fa-envelope"
                                                                      aria-hidden="true"></i></span>
                    <input formControlName="email" type="text" name="email" id="email" class="form-control"
                           placeholder="Email" required>
                  </div>
                  <br>
                  <button type="submit" class="btn btn-ar btn-success btn-block" [disabled]="!email.valid"
                          (click)="submitRestoreForm()">Restore password
                  </button>
                </form>
                <a (click)="showAdminResetForm = !showAdminResetForm" class="forgot-password link-block"
                   style="cursor: pointer">
                  Reset admin password
                </a>
                <a (click)="toggleLoginForm(true)" class="forgot-password link-block" style="cursor: pointer">
                  Back to login
                </a>
              </ng-container>
              <ng-container *ngIf="showAdminResetForm">
                <form [formGroup]="formReset">
                  <div class="input-group input-group-md">
                    <span class="input-group-addon lock-addon"><i class="fa fa-unlock-alt"
                                                                  aria-hidden="true"></i></span>
                    <input formControlName="secretKey" type="text" name="secretKey" id="secretKey" class="form-control"
                           placeholder="Secret code" required>
                  </div>
                  <br>
                  <button type="submit" class="btn btn-ar btn-success btn-block" [disabled]="!secretKey.valid"
                          (click)="submitResetAdminForm()">Reset password
                  </button>
                </form>
                <a (click)="toggleLoginForm(true)" class="forgot-password" style="cursor: pointer">
                  Back to login
                </a>
              </ng-container>
            </ng-container>

          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- Two factor auth -->
  <ng-container *ngIf="showTwoFactorForm">

    <section>
      <div class="panel panel-default top wrapper-top">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-8">
              <ng-container *ngIf="googleAuthenticatorModel.psk">
                <h3>Add EformApplication to Google Authenticator</h3>
                <p>Open Google Authenticator and add EformApplication by scanning the QR Code to the right.</p>
              </ng-container>
              <h3>Enter the 6 digit code that Google Authenticator generates</h3>
              <p *ngIf="googleAuthenticatorModel.psk">
                Your PSK: <strong>{{googleAuthenticatorModel.psk}}</strong>
              </p>
              <form [formGroup]="formGoogleAuth">
                <div class="input-group input-group-md">
                    <span class="input-group-addon lock-addon"><i class="fa fa-unlock-alt"
                                                                  aria-hidden="true"></i></span>
                  <input formControlName="code" type="text" name="code" id="code" class="form-control"
                         placeholder="Code" required>
                </div>
                <br>
                <button type="submit" class="btn btn-ar btn-success btn-block" [disabled]="!code.valid"
                        (click)="submitGoogleAuthForm()">Send
                </button>
              </form>
              <a (click)="toggleLoginForm(true)" class="forgot-password" style="cursor: pointer">
                Back to login
              </a>
            </div>
            <div class="col-md-4">
              <ng-container *ngIf="googleAuthenticatorModel.barcodeUrl">
                <img width="100%" src="http://qrcode.kaywa.com/img.php?s=4&d={{googleAuthenticatorModel.barcodeUrl || ''}}"/>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </section>

  </ng-container>
</div>
