@use '@angular/material' as mat;

$eform-font-family: "Nunito Sans", Roboto, "Helvetica Neue", sans-serif;

$eform-tokens: (
  brand-family: $eform-font-family,
  plain-family: $eform-font-family,
  primary-palette: mat.$cyan-palette,
  density-scale: 0,
  button-shape: 20px,
  icon-button-shape: 20px,
  fab-shape: 20px,
  dialog-shape: 20px,
  card-shape: 12px,
  chip-shape: 8px,
  colors: (
    light: (
      primary: #289694,
      primary-light: #F5FCFC,
      primary-dark: #00716F,
      on-primary: #FFFFFF,
      bg: #FFFFFF,
      text-header: #0F1316,
      text-body: #7F868D,
      card: #F7F9FA,
      border: #e2e6e9,
      nav-selected-surface: #E0F2F1,
      icon-secondary: #0F1316,
      error: #F44336,
      warning: #E2A01C,
      btn-delete-text: #F3F5F7,
      content-card-bg: #FFFFFF,
      content-card-radius: 0,
      content-card-margin: 0,
    ),
    dark: (
      primary: #4FCAC8,
      primary-light: #0D4746,
      primary-dark: #00ADAB,
      on-primary: #0F1316,
      bg: #202122,
      text-header: #F3F5F7,
      text-body: #C1C5C9,
      card: #2D2F31,
      border: #37383A,
      nav-selected-surface: #0D4746,
      icon-secondary: #FFFFFF,
      error: #FF8282,
      warning: #F4C25E,
      btn-delete-text: #0F1316,
      content-card-bg: #202122,
      content-card-radius: 0,
      content-card-margin: 0,
    ),
  ),
);
