<div class="card z-depth-2 mb-3" style="width: 100%">
  <div class="card-header">
    Test case element
  </div>
  <div class="card-body">
    <ng-container>
      <!--<div *ngSwitchCase="'Picture'">-->
        <!--<element-picture [fieldValues]="dataItem.fieldValues"></element-picture>-->
      <!--</div>-->
      <ng-container *ngIf="false">
        <element-checkbox></element-checkbox>
      </ng-container>
      <ng-container *ngIf="false">
        <element-number></element-number>
      </ng-container>
      <ng-container *ngIf="false">
        <element-comment></element-comment>
      </ng-container>
      <ng-container *ngIf="false">
        <element-text></element-text>
      </ng-container>
      <ng-container *ngIf="false">
        <element-date></element-date>
      </ng-container>
      <ng-container *ngIf="false">
        <element-singleselect></element-singleselect>
      </ng-container>
      <ng-container *ngIf="false">
        <element-multiselect></element-multiselect>
      </ng-container>
      <ng-container *ngIf="false">
        <element-pdf></element-pdf>
      </ng-container>
      <ng-container *ngIf="false">
        <element-infobox></element-infobox>
      </ng-container>
      <ng-container *ngIf="false">
        <element-timer></element-timer>
      </ng-container>
      <!--<div *ngSwitchCase="'Signature'">-->
        <!--<element-signature [fieldValues]="dataItem.fieldValues"></element-signature>-->
      <!--</div>-->
      <ng-container>
        <element-container></element-container>
      </ng-container>
      <ng-container *ngIf="false">
        <element-entitysearch></element-entitysearch>
      </ng-container>
      <ng-container *ngIf="false">
        <element-entityselect></element-entityselect>
      </ng-container>
      <ng-container *ngIf="false">
        <element-audio></element-audio>
      </ng-container>
      <!--<div *ngSwitchDefault></div>-->
    </ng-container>
  </div>


</div>


