<ng-container *ngIf="dataItemList">
  <ng-container *ngFor="let dataItem of dataItemList; let i = index">
    <tr [style.backgroundColor]="getStyleColorFromDataItem(dataItem)" *ngIf="dataItem.fieldType != 'FieldContainer'">
      <td>
        <strong>{{dataItem.label}}</strong>
      </td>
    </tr>
    <tr [style.backgroundColor]="getStyleColorFromDataItem(dataItem)">
      <td>
        <div [ngSwitch]="dataItem.fieldType">
          <div *ngSwitchCase="'Picture'">
            <element-picture [fieldValues]="dataItem.fieldValues"></element-picture>
          </div>
          <div *ngSwitchCase="'CheckBox'">
            <element-checkbox [(fieldValue)]="dataItem.fieldValues[0]"></element-checkbox>
          </div>
          <div *ngSwitchCase="'Number'">
            <element-number [(fieldValue)]="dataItem.fieldValues[0]"></element-number>
          </div>
          <div *ngSwitchCase="'Comment'">
            <element-comment [(fieldValue)]="dataItem.fieldValues[0]"></element-comment>
          </div>
          <div *ngSwitchCase="'Text'">
            <element-text [(fieldValue)]="dataItem.fieldValues[0]"></element-text>
          </div>
          <ng-container *ngSwitchCase="'Date'">
            <element-date [(ngModel)]="dataItem.fieldValues[0].value"
                          [datepicker]="{format: 'yyyy-mm-dd' }"
                          [timepicker]="false">
            </element-date>
          </ng-container>
          <div *ngSwitchCase="'SingleSelect'">
            <element-singleselect [(fieldValue)]="dataItem.fieldValues[0]"></element-singleselect>
          </div>
          <div *ngSwitchCase="'MultiSelect'">
            <element-multiselect [(fieldValue)]="dataItem.fieldValues[0]"></element-multiselect>
          </div>
          <div *ngSwitchCase="'ShowPdf'">
            <element-pdf [dataItem]="dataItem"></element-pdf>
          </div>
          <div *ngSwitchCase="'None'">
            <element-infobox [(fieldValue)]="dataItem.fieldValues[0]"></element-infobox>
          </div>
          <div *ngSwitchCase="'Timer'">
            <element-timer [(fieldValue)]="dataItem.fieldValues[0]"></element-timer>
          </div>
          <div *ngSwitchCase="'Signature'">
            <element-signature [(fieldValue)]="dataItem.fieldValues[0]"></element-signature>
          </div>

          <div *ngSwitchCase="'Signature'">
            <element-signature [(fieldValue)]="dataItem.fieldValues[0]"></element-signature>
          </div>

          <div *ngSwitchCase="'Signature'">
            <element-signature [(fieldValue)]="dataItem.fieldValues[0]"></element-signature>
          </div>
          <div *ngSwitchCase="'FieldContainer'">
            <element-container [(fieldValue)]="dataItem.dataItemList" [dataItemLabel]="dataItem.label"></element-container>
          </div>
          <div *ngSwitchDefault></div>
        </div>

      </td>
    </tr>
  </ng-container>
</ng-container>
