<!--<div [config]="{ignoreBackdropClick: true}" mdbModal class="modal fade" #frame="mdbModal">-->
<div class="modal-header">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{'View post' | translate}}</h3>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="md-form">
                <input mdbInput
                       [disabled]="true"
                       [(ngModel)]="currentUserFullName"
                       type="text" id="postViewCreatedBy"
                       name="postViewCreatedBy" class="form-control">
                <label for="postViewCreatedBy">{{ 'Created by' | translate }}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="d-flex">
                <div class="mr-4">
                  {{'To' | translate}}:
                </div>
                <h5 *ngFor="let recipient of postViewModel.toRecipients" class="mr-2">
                <span class="badge badge-primary">
                  <fa-icon icon="user" [fixedWidth]="true"></fa-icon>
                  {{recipient}}
                </span>
                </h5>

                <h5 *ngFor="let tag of postViewModel.toRecipientsTags" class="mr-2">
                 <span class="badge badge-primary">
                  <fa-icon icon="tag" [fixedWidth]="true"></fa-icon>
                   {{tag}}
                </span>
                </h5>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="md-form">
                <input mdbInput
                       [disabled]="true"
                       [(ngModel)]="postViewModel.subject"
                       type="text" id="postViewSubject"
                       name="postViewSubject" class="form-control">
                <label for="postViewSubject">{{ 'Subject' | translate }}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="md-form">
                <textarea mdbInput
                          [(ngModel)]="postViewModel.text"
                          [disabled]="true"
                          type="text" id="viewPostEmailText"
                          name="viewPostEmailText" class="md-textarea form-control"></textarea>
                <label for="viewPostEmailText">{{ 'Email text' | translate }}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mat-checkbox">
                <input id="attachLinkToCase" name="attachLinkToCase"
                       [disabled]="true"
                       [(ngModel)]="postViewModel.attachLinkToCase"
                       type="checkbox">
                <label for="attachLinkToCase">{{ 'Link to case' | translate }}</label>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="pdfReportAvailable">
            <div class="col">
              <div class="mat-checkbox">
                <input id="attachReport" name="attachReport"
                       [disabled]="true"
                       [(ngModel)]="postViewModel.attachReport" type="checkbox">
                <label for="attachReport">{{ 'Attach PDF' | translate }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button mdbRipple id="viewPostCloseBtn" class="btn-light text-black-50 btn-small-height"
                (click)="frame.hide()">{{'Close' | translate}}</button>
      </div>
    </div>
  </div>
</div>
