<!-- First level fields render -->
<section
  id="fieldSection{{ elementIndex }}"
  *ngIf="visualEditorTemplateModel && field"
>
  <!-- IMPORTANT TO IMPLEMENT FOR NESTING -->

  <!--  <div dragula="{{dragulaElementContainerName}}" [dragulaModel]="visualEditorTemplateModel.fields"-->
  <!--       (dragulaModelChange)="onFieldChanged($event)">-->
  <div class="card mb-3 hoverable" style="width: 100%">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <fa-icon
            id="moveBtn"
            size="lg"
            icon="grip-lines"
            class="dragula-handle"
            [fixedWidth]="true"
            style="cursor: pointer"
          ></fa-icon>
          {{ 'InfoBox' + elementIndex }}
        </div>
        <div>
          <fa-icon
            id="editBtn"
            icon="pen"
            class="mr-2"
            [fixedWidth]="true"
            style="cursor: pointer"
            (click)="onEditField()"
          ></fa-icon>
          <fa-icon
            id="deleteBtn"
            icon="trash-alt"
            [fixedWidth]="true"
            style="cursor: pointer"
            (click)="onDeleteField()"
          ></fa-icon>
        </div>
      </div>
    </div>
  </div>
  <!--  </div>-->
</section>

<!-- Nested checklists level rendering -->
<section id="checkListSection{{ elementIndex }}" *ngIf="checklist">
  <div class="card z-depth-3 mb-4 mt-4" style="width: 100%">
    <div class="card-body">
      <!--      <app-eform-visual-editor-element-switch-->
      <!--        [dragulaContainerName]="-->
      <!--          checklist.position + '_' + dragulaElementContainerName-->
      <!--        "-->
      <!--        (fieldListChanged)="onFieldChanged($event)"-->
      <!--        [fieldList]="checklist.fields"-->
      <!--      ></app-eform-visual-editor-element-switch>-->
      <div
        dragula="{{ dragulaElementContainerName }}"
        [dragulaModel]="checklist.fields"
        (dragulaModelChange)="onFieldChanged($event)"
      >
        <ng-container *ngFor="let field of checklist.fields; let i = index">
          <div class="card z-depth-2 mb-3 hoverable" style="width: 100%">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-md-1 text-center">
                  <i
                    class="material-icons md-36 dragula-handle align-middle"
                    style="cursor: all-scroll"
                  >
                    drag_handle
                  </i>
                </div>
                <div class="col">
                  {{ 'Field label' }}
                </div>
                <div class="col"></div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
<ng-container *ngIf="checklist && checklist.checkLists">
  <app-eform-visual-editor-block
    [checklist]="elem"
    [checklistRecursionIndex]="checklistRecursionIndex + 1"
    [elementIndex]="elementIndex + checklistIndex"
    [elementRecursionIndex]="
      composeIndexes(elementRecursionIndex, checklistIndex)
    "
    *ngFor="let elem of checklist.checkLists; let checklistIndex = index"
  ></app-eform-visual-editor-block>
</ng-container>
