<h3 mat-dialog-title>{{'Upload template ZIP' | translate}}</h3>
<div mat-dialog-content class="d-flex flex-column align-items-start" style="height: 100%; min-height: 100px">
  <button
    class="btn-primary btn-primary--icon-left"
    *ngIf="zipFileUploader?.queue?.length == 0"
    (click)="zipInput.click()"
  >
    <span>{{'Upload' | translate}}</span>
  </button>
  <button
    class="btn-warning"
    *ngIf="zipFileUploader?.queue?.length > 0"
    (click)="zipInput.click()"
  >
    {{'Pending' | translate}}
  </button>
  <input
    class="input-invisible"
    type="file"
    ng2FileSelect
    [uploader]="zipFileUploader"
    #zipInput
    id="zipInput"/>
  <div class="d-flex flex-column" style="width: 100%">
    {{'Uploading progress:' | translate }}
    <div class="progress">
      <div class="progress-bar" role="progressbar"
           [ngStyle]="{ 'width': zipFileUploader?.queue?.length !== 0 ? zipFileUploader.progress + '%' : '' }">
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end align-items-center gap-12">
  <button
    class="btn-primary btn-primary--icon-left"
    (click)="uploadTemplateZIP()"
    [disabled]="zipFileUploader?.queue?.length == 0"
  >
    <mat-icon>upload</mat-icon>
    <span>{{'Upload' | translate}}</span>
  </button>
  <button
    class="btn-cancel"
    (click)="hideZipModal()"
  >
    {{'Close' | translate}}
  </button>
</div>
