<h3 mat-dialog-title>{{'Upload template ZIP' | translate}}</h3>
<div mat-dialog-content class="d-flex flex-column align-items-start">
  <button
    mat-raised-button
    color="primary"
    *ngIf="zipFileUploader?.queue?.length == 0"
    (click)="zipInput.click()"
  >
    {{'Upload' | translate}}
  </button>
  <button
    mat-raised-button
    color="warn"
    *ngIf="zipFileUploader?.queue?.length > 0"
    (click)="zipInput.click()"
  >
    {{'Pending' | translate}}
  </button>
  <input
    class="input-invisible"
    type="file"
    ng2FileSelect
    [uploader]="zipFileUploader"
    #zipInput
    id="zipInput"/>
  <div class="d-flex flex-column" style="width: 100%">
    {{'Uploading progress:' | translate }}
    <div class="progress">
      <div class="progress-bar" role="progressbar"
           [ngStyle]="{ 'width': zipFileUploader?.queue?.length !== 0 ? zipFileUploader.progress + '%' : '' }">
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end">
  <button
    mat-raised-button
    color="accent"
    (click)="uploadTemplateZIP()"
    [disabled]="zipFileUploader?.queue?.length == 0"
  >
    {{'Upload' | translate}}
  </button>
  <button
    mat-raised-button
    (click)="hideZipModal()"
  >
    {{'Close' | translate}}
  </button>
</div>
