<!--<div [config]="{ignoreBackdropClick: true}" mdbModal class="modal fade" #frame="mdbModal">-->
<div class="modal fade">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{ 'Download' | translate }} Excel</h3>
        <button class="close" data-dismiss="modal" (click)="close()">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form [formGroup]="downloadForm">
            <div class="row">
              <div class="col-md-12">
                <!--<div class="md-form" [owlDateTimeTrigger]="dateRangePicker">
                  <i class="material-icons prefix">
                    calendar_today
                  </i>
                  <input mdbInput formControlName="dateRange"
                         name="dateRange" required [selectMode]="'range'"
                         type="text" [owlDateTime]="dateRangePicker"
                         class="form-control" id="dateFormInput"/>
                  <label for="dateFormInput">{{'Select date range' | translate}}</label>
                </div>-->
              </div>
            </div>
          </form>
        </div>
      </div>
<!--      <div class="modal-footer">-->
<!--        <button-->
<!--          mdbBtn-->
<!--          class="btn-success btn-small-height"-->
<!--          mdbTooltip="{{ 'Download' | translate }} Excel" id="downloadEformExcelBtn"-->
<!--          (click)="downloadExcelReport()">{{ 'Download' | translate }}-->
<!--        </button>-->
<!--        <button mdbBtn id="cancelCreateEformBtn"-->
<!--                class="btn-accent text-black-50 btn-small-height" (click)="close()">{{'Close' | translate}}-->
<!--        </button>-->
<!--      </div>-->
      <div class="modal-footer">
        <button
          class="btn-success btn-small-height"
          (click)="downloadExcelReport()">{{ 'Download' | translate }}
        </button>
<!--        <button mdbBtn id="cancelCreateEformBtn"-->
<!--                class="btn-accent text-black-50 btn-small-height" (click)="close()">{{'Close' | translate}}-->
<!--        </button>-->
        <button id="cancelCreateEformBtn"
                class="btn-accent text-black-50 btn-small-height" (click)="close()">{{'Close' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>

<!--<owl-date-time [pickerType]="'calendar'" [firstDayOfWeek]="1" #dateRangePicker></owl-date-time>-->
