<div
  *ngFor="let fieldValueObj of fieldValueObjects"
  style="margin-bottom: 10px"
>
  <audio
    controls
    preload="auto"
    *ngIf="
      fieldValueObj.uploadedDataObj && fieldValueObj.uploadedDataObj.fileName
    "
    [src]="
      '/api/audio/eform-audio?fileName=' +
        fieldValueObj.uploadedDataObj.fileName.replace('3gp', 'wav')
        | authAudio
        | async
        | safeHtml
    "
  >
    This text displays if the audio tag isn't supported.
  </audio>

  <formatting-text-editor [(value)]="fieldValueObj.value">
  </formatting-text-editor>
</div>
