<h3 mat-dialog-title>{{ 'New tag' | translate }}</h3>
<div mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="name"
      [required]="true"
      type="text"
      id="newTagName"
    />
    <mat-label>{{ 'Name' | translate }}</mat-label>
  </mat-form-field>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end align-items-center gap-12">
  <button
    class="btn-primary btn-primary--icon-left"
    color="accent"
    id="newTagSaveBtn"
    [disabled]="!name"
    (click)="createItem()"
  >
    {{ 'Save' | translate }}
  </button>
  <button
    class="btn-cancel"
    id="newTagSaveCancelBtn"
    (click)="cancelCreate()"
  >
    {{ 'Close' | translate }}
  </button>
</div>

<!--<div
  [config]="{ ignoreBackdropClick: true }"
  mdbModal
  class="modal fade"
  #frame="mdbModal"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{ 'New tag' | translate }}</h3>
        <button class="close" data-dismiss="modal" (click)="cancelCreate()">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="md-form">
            <input
              mdbInput
              [(ngModel)]="name"
              [required]="true"
              type="text"
              class="form-control"
              id="newTagName"
            />
            <label for="newTagName">{{ 'Name' | translate }}</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          mat-raised-button
          color="accent"
          id="newTagSaveBtn"
          [disabled]="!name"
          (click)="createItem()"
          class="mr-2"
        >
          {{ 'Save' | translate }}
        </button>
        <button
          mat-raised-button
          id="newTagSaveCancelBtn"
          (click)="cancelCreate()"
        >
          {{ 'Close' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>-->
