<eform-new-subheader>
  <button
    mat-raised-button
    color="accent"
    id="newDeviceUserBtn"
    *ngIf="selectCurrentUserClaimsDeviceUsersCreate$ | async"
    matTooltip="{{ 'Create Device User' | translate }}"
    (click)="openCreateModal()"
  >
    {{ 'New Device User' | translate }}
  </button>
</eform-new-subheader>

<!--<mat-card class="d-flex flex-column" style="padding: 0;">-->
<ng-template #toolbarTpl>
  <div class="d-flex flex-row justify-content-start flex-nowrap">
    <div class="d-flex flex-column mr-2 ml-2">
      <mat-form-field>
        <mat-label>{{ 'Search' | translate }}</mat-label>
        <input
          matInput
          type="text"
          (ngModelChange)="onSearchChanged($event)"
          [ngModel]="selectDeviceUsersNameFilter$ | async"
          id="labelInput"
        />
      </mat-form-field>
    </div>
  </div>
</ng-template>
<mtx-grid
  [data]="sitesDto"
  [columns]="tableHeaders"
  [cellTemplate]="{
  siteUid: idTpl,
  firstName: deviceUserFirstNameTpl,
  lastName: deviceUserLastNameTpl,
  unitId: unitIdTpl,
  otpCode: otpCodeTpl,
  actions: actionsTpl}"
  [showPaginator]="false"
  [pageOnFront]="false"
  [rowStriped]="true"
  [showToolbar]="true"
  [showColumnMenuButton]="false"
  [toolbarTemplate]="toolbarTpl">
</mtx-grid>
<ng-template #idTpl let-row let-i="index">
  <div class="deviceUserId" id="deviceUserId">{{row.siteUid}}</div>
</ng-template>
<ng-template #deviceUserFirstNameTpl let-row>
  <div class="deviceUserId" id="deviceUserFirstName">{{ row.firstName ?? 'N/A' }}</div>
</ng-template>
<ng-template #deviceUserLastNameTpl let-row>
  <div class="deviceUserId" id="deviceUserLastName">{{ row.lastName ?? 'N/A' }}</div>
</ng-template>
<ng-template #unitIdTpl let-row>
  {{ row.unitId ?? 'N/A' }}
</ng-template>
<ng-template #otpCodeTpl let-row>
  <ng-container *ngIf="row.customerNo && row.otpCode">
    {{ row.customerNo }} / {{ row.otpCode }}
  </ng-container>
  <ng-container *ngIf="row.otpCode == 0">
    <button
      mat-icon-button
      color="warn"
      *ngIf="selectCurrentUserClaimsDeviceUsersUpdate$ | async"
      matTooltip="{{ 'New OTP' | translate }}"
      (click)="openOtpModal(row)"
    >
      <mat-icon>key</mat-icon>
    </button>
  </ng-container>
  <ng-container *ngIf="!row.unitId"> N/A</ng-container>
</ng-template>
<ng-template #actionsTpl let-row>
  <div *ngIf="(selectCurrentUserClaimsDeviceUsersUpdate$ | async) || (selectCurrentUserClaimsDeviceUsersDelete$ | async)">
    <button
      mat-icon-button
      id="editDeviceUserBtn"
      (click)="openEditModal(row)"
      *ngIf="(selectCurrentUserClaimsDeviceUsersUpdate$ | async) && !row.isLocked"
      matTooltip="{{ 'Edit Device User' | translate }}"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      color="warn"
      id="deleteDeviceUserBtn"
      (click)="openDeleteDeviceUserModal(row)"
      *ngIf="(selectCurrentUserClaimsDeviceUsersDelete$ | async) && !row.isLocked"
      matTooltip="{{ 'Delete Device User' | translate }}"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</ng-template>
<!--pagination(if required)-->
<!--</mat-card>-->
