<eform-subheader>
  <div class="p-3">
    <button
      mdbRipple
      class="btn-success btn-small-height"
      id="newDeviceUserBtn"
      *ngIf="userClaims.deviceUsersCreate"
      mdbTooltip="{{ 'Create Device User' | translate }}"
      (click)="createNewUserModal.show()"
    >
      {{ 'New Device User' | translate }}
    </button>
  </div>
</eform-subheader>

<!--Here you can choose approach as you like: container-row, or flex, or just element with required styles and markup-->
<div class="container-fluid">
  <div class="row pl-1">
    <div class="col-md-2">
      <div class="md-form">
        <input
          mdbInput
          (ngModelChange)="onSearchChanged($event)"
          [ngModel]="deviceUsersStateService.getNameFilter() | async"
          type="text"
          class="form-control"
          id="labelInput"
        />
        <label for="labelInput">{{ 'Search' | translate }}</label>
      </div>
    </div>
  </div>
  <div class="row p-1 table-responsive no-gutters">
    <table
      mdbTable
      striped="true"
      hover="true"
      small="true"
      class="z-depth-1 text-center"
    >
      <thead table-headers [tableHeaders]="tableHeaders"></thead>
      <tbody id="tableBody">
        <tr *ngFor="let siteDto of sitesDto">
          <td id="deviceUserId">{{ siteDto.siteUid }}</td>
          <td id="deviceUserFirstName">
            {{ siteDto.firstName }}
            <ng-container *ngIf="!siteDto.firstName"> N/A </ng-container>
          </td>
          <td id="deviceUserLastName">
            {{ siteDto.lastName }}
            <ng-container *ngIf="!siteDto.lastName"> N/A </ng-container>
          </td>
          <td>
            {{ siteDto.unitId }}
            <ng-container *ngIf="!siteDto.unitId"> N/A </ng-container>
          </td>
          <td>
            {{ siteDto.language }}
          </td>
          <td>
            <div class="d-flex flex-row justify-content-center">
              <ng-container *ngIf="siteDto.customerNo && siteDto.otpCode">
                {{ siteDto.customerNo }} / {{ siteDto.otpCode }}
              </ng-container>
              <ng-container *ngIf="siteDto.otpCode == 0">
                <button
                  mdbRipple
                  class="btn-danger btn-icon mb-2"
                  *ngIf="userClaims.deviceUsersUpdate"
                  mdbTooltip="{{ 'New OTP' | translate }}"
                  (click)="openOtpModal(siteDto)"
                >
                  <fa-icon icon="key" size="lg" [fixedWidth]="true"></fa-icon>
                </button>
              </ng-container>
              <ng-container *ngIf="!siteDto.unitId"> N/A </ng-container>
            </div>
          </td>
          <td
            *ngIf="userClaims.deviceUsersDelete || userClaims.deviceUsersDelete"
          >
            <div class="d-flex flex-row justify-content-center">
              <button
                mdbRipple
                class="btn-light text-black-50 btn-icon mb-2"
                *ngIf="userClaims.deviceUsersUpdate"
                mdbTooltip="{{ 'Edit Device User' | translate }}"
                mdbWavesEffect
                id="editDeviceUserBtn"
                (click)="openEditModal(siteDto)"
              >
                <fa-icon icon="pen" [fixedWidth]="true" size="lg"></fa-icon>
              </button>
              <button
                mdbRipple
                class="btn-danger btn-icon mb-2"
                *ngIf="userClaims.deviceUsersDelete"
                mdbTooltip="{{ 'Delete Device User' | translate }}"
                id="deleteDeviceUserBtn"
                (click)="openDeleteDeviceUserModal(siteDto)"
              >
                <fa-icon
                  icon="trash-alt"
                  [fixedWidth]="true"
                  size="lg"
                ></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-new-otp-modal
    (onNewOtpRequested)="getDeviceUsersFiltered()"
    [selectedSimpleSite]="selectedSimpleSiteDto"
    #newOtpModal
  ></app-new-otp-modal>
  <app-delete-device-user-modal
    [selectedDeviceUser]="selectedSimpleSiteDto"
    (onUserDeleted)="getDeviceUsersFiltered()"
    #deleteDeviceUserModal
  ></app-delete-device-user-modal>
  <app-create-new-user-modal
    (onDeviceUserCreated)="getDeviceUsersFiltered()"
    #createNewUserModal
  ></app-create-new-user-modal>
  <app-edit-device-user-modal
    (onUserEdited)="getDeviceUsersFiltered()"
    [selectedDeviceUser]="selectedSimpleSite"
    #editDeviceUserModal
  ></app-edit-device-user-modal>
</div>
