<section>
  <div class="card z-depth-3 mt-4" style="width: 100%">
    <div class="card-body">
      <mdb-card>
        <mdb-card-body>
          <div class="row">
            <div class="col">
              <div class="ng-select-wrapper d-flex align-items-center">
                <ng-select
                  dropdownPosition="'bottom'"
                  [placeholder]="'Selected language' | translate"
                  [clearable]="false"
                  [bindLabel]="'text'"
                  [bindValue]="'id'"
                  [(ngModel)]="selectedLanguage"
                  id="mainCheckListLanguageSelector"
                  [items]="languages"
                >
                </ng-select>
                <fa-icon
                  *ngIf="isAllNamesEmpty"
                  [mdbTooltip]="'Required' | translate"
                  icon="info-circle"
                  [fixedWidth]="true"
                  size="lg"
                  class="text-warning ml-1"
                ></fa-icon>
              </div>
            </div>
          </div>
          <ng-container
            *ngFor="
              let translation of visualEditorModel.translations;
              let translationIndex = index
            "
          >
            <ng-container *ngIf="selectedLanguage === translation.languageId">
              <div class="row">
                <div class="col-12">
                  <div class="md-form">
                    <input
                      mdbInput
                      type="text"
                      id="mainCheckListNameTranslation_{{ translationIndex }}"
                      name="mainCheckListNameTranslation_{{ translationIndex }}"
                      [(ngModel)]="translation.name"
                      class="form-control"
                    />
                    <label
                      for="mainCheckListNameTranslation_{{ translationIndex }}"
                    >
                      {{ 'Name' | translate }}
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="md-form">
                    <p class="text-black-50">
                      {{ 'Description' | translate }}
                    </p>
                    <pell-editor
                      mdbInput
                      [(value)]="translation.description"
                      name="mainCheckListDescriptionTranslation_{{
                        translationIndex
                      }}"
                      required
                      id="mainCheckListDescriptionTranslation_{{
                        translationIndex
                      }}"
                      rows="10"
                    ></pell-editor>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <div class="row">
            <div class="col">
              <div class="ng-select-wrapper d-flex align-items-center">
                <ng-select
                  dropdownPosition="'bottom'"
                  [placeholder]="'Selected tags' | translate"
                  clearable="false"
                  bindLabel="name"
                  bindValue="id"
                  [(ngModel)]="visualEditorModel.tagIds"
                  id="mainCheckListTagsSelector"
                  [items]="availableTags"
                  multiple="true"
                >
                </ng-select>
              </div>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</section>
