<section>
  <div class="card z-depth-3 mt-4" style="width: 100%">
    <div class="card-body">
      <mdb-card>
        <mdb-card-body>
          <div class="row mb-3 mt-3">
            <div
              class="col"
              *ngFor="let language of languages; let index = index"
            >
              <div class="mr-3" *ngIf="displayCheckbox(language.id)">
                <mat-checkbox
                  id="languageCheckbox{{ index }}"
                  name="languageCheckbox{{ index }}"
                  [ngModel]="isLanguageSelected(language.id)"
                  (ngModelChange)="onAddOrDeleteLanguage($event, language.id)"
                >
                  {{ language.text | translate }}
                </mat-checkbox>
              </div>
            </div>
          </div>
          <ng-container
            *ngFor="
              let translation of visualEditorModel.translations;
              let translationIndex = index
            "
          >
            <mdb-card
              class="mb-3"
              *ngIf="isLanguageSelected(translation.languageId)"
            >
              <mdb-card-header>{{
                getLanguage(translation.languageId) | translate
              }}</mdb-card-header>
              <mdb-card-body>
                <div class="row">
                  <div class="col-12">
                    <div class="md-form">
                      <input
                        mdbInput
                        type="text"
                        id="mainCheckListNameTranslation_{{ translationIndex }}"
                        name="mainCheckListNameTranslation_{{
                          translationIndex
                        }}"
                        [(ngModel)]="translation.name"
                        class="form-control"
                      />
                      <label
                        for="mainCheckListNameTranslation_{{
                          translationIndex
                        }}"
                      >
                        {{ 'Name' | translate }}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <formatting-text-editor
                      [(value)]="translation.description"
                      [placeholder]="'Description' | translate"
                      id="mainCheckListDescriptionTranslation_{{
                        translationIndex
                      }}"
                    >
                    </formatting-text-editor>
                  </div>
                </div>
              </mdb-card-body>
            </mdb-card>
          </ng-container>
          <div class="row">
            <div class="col">
              <div class="ng-select-wrapper d-flex align-items-center">
                <ng-select
                  dropdownPosition="'bottom'"
                  [placeholder]="'Selected tags' | translate"
                  clearable="false"
                  bindLabel="name"
                  bindValue="id"
                  [(ngModel)]="visualEditorModel.tagIds"
                  id="mainCheckListTagsSelector"
                  [items]="availableTags"
                  multiple="true"
                >
                </ng-select>
              </div>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</section>
