<!--<div *ngIf="dataItemList" dragula="{{dragulaContainerName}}" [dragulaModel]="dataItemList"-->
<!--     (dragulaModelChange)="onDataItemListChanged($event)">-->
<!--  <ng-container *ngFor="let dataItem of dataItemList; let i = index">-->
<!--    <div class="card z-depth-2 mb-3 hoverable" style="width: 100%" *ngIf="dataItem.fieldType != 'SaveButton'">-->
<!--      <div class="card-header">-->
<!--        <div class="row align-items-center">-->
<!--          <div class="col-md-1 text-center">-->
<!--            <i class="material-icons md-36 dragula-handle align-middle" style="cursor: all-scroll">-->
<!--              drag_handle-->
<!--            </i>-->
<!--          </div>-->
<!--          <div class="col">-->
<!--            {{dataItem.label}}-->
<!--          </div>-->
<!--          <div class="col">-->
<!--            <ng-container [ngSwitch]="dataItem.fieldType">-->
<!--              <ng-container *ngSwitchCase="'Picture'">-->
<!--                <report-element-text [placeholder]="'Image'" [prefixIcon]="'image'"></report-element-text>-->
<!--              </ng-container>-->
<!--              <ng-container *ngSwitchCase="'CheckBox'">-->
<!--                <report-element-checkbox></report-element-checkbox>-->
<!--              </ng-container>-->
<!--              <ng-container *ngSwitchCase="'Number'">-->
<!--                <report-element-text [placeholder]="'Number' | translate"></report-element-text>-->
<!--              </ng-container>-->
<!--              <ng-container *ngSwitchCase="'NumberStepper'">-->
<!--                <report-element-text [placeholder]="'Number'"></report-element-text>-->
<!--              </ng-container>-->
<!--              <ng-container *ngSwitchCase="'Comment'">-->
<!--                <report-element-text [placeholder]="'Commentary'"></report-element-text>-->
<!--              </ng-container>-->
<!--              <ng-container *ngSwitchCase="'Text'">-->
<!--                <report-element-text [placeholder]="'Text'"></report-element-text>-->
<!--              </ng-container>-->
<!--              <ng-container *ngSwitchCase="'Date'">-->
<!--                <report-element-text [placeholder]="'YYYY-MM-DD'" [prefixIcon]="'date_range'"></report-element-text>-->
<!--              </ng-container>-->
<!--              <ng-container *ngSwitchCase="'SingleSelect'">-->
<!--                <report-element-text [placeholder]="'Selected Value'">-->
<!--                </report-element-text>-->
<!--              </ng-container>-->
<!--              <ng-container *ngSwitchCase="'MultiSelect'">-->
<!--                <report-element-multiselect [fieldValue]="dataItem"></report-element-multiselect>-->
<!--              </ng-container>-->
<!--              <ng-container *ngSwitchCase="'ShowPdf'">-->
<!--                <report-element-text [placeholder]="'PDF Link'" [prefixIcon]="'link'"></report-element-text>-->
<!--              </ng-container>-->
<!--              <ng-container *ngSwitchCase="'None'">-->
<!--                <report-element-text [placeholder]="'Information'"></report-element-text>-->
<!--              </ng-container>-->
<!--              <ng-container *ngSwitchCase="'Timer'">-->
<!--                <report-element-text [placeholder]="'Duration'" [prefixIcon]="'timer'"></report-element-text>-->
<!--              </ng-container>-->
<!--              <ng-container *ngSwitchCase="'Signature'">-->
<!--                <report-element-text [placeholder]="'Signature'" [prefixIcon]="'image'"></report-element-text>-->
<!--              </ng-container>-->
<!--              <ng-container *ngSwitchCase="'FieldContainer'">-->
<!--                <report-element-container [fieldValue]="dataItem.dataItemList" [dataItemLabel]="dataItem.label">-->
<!--                </report-element-container>-->
<!--              </ng-container>-->
<!--              <ng-container *ngSwitchCase="'EntitySearch'">-->
<!--                <report-element-text [placeholder]="'Selected Value'">-->
<!--                </report-element-text>-->
<!--              </ng-container>-->
<!--              <ng-container *ngSwitchCase="'EntitySelect'">-->
<!--                <report-element-text [placeholder]="'Selected Value'">-->
<!--                </report-element-text>-->
<!--              </ng-container>-->
<!--              <ng-container *ngSwitchCase="'Audio'">-->
<!--                <report-element-text [placeholder]="'Audio'" [prefixIcon]="'audio'">-->
<!--                </report-element-text>-->
<!--              </ng-container>-->
<!--              <div *ngSwitchDefault></div>-->
<!--            </ng-container>-->
<!--          </div>-->
<!--          <div class="col-md-1 text-center">-->
<!--            <i class="material-icons material-icon-success material-icon-pointer align-middle" *ngIf="dataItem.visibility"-->
<!--               (click)="onVisibilityChanged(dataItem.id, !dataItem.visibility)"> visibility </i>-->
<!--            <i class="material-icons material-icon-danger material-icon-pointer align-middle" *ngIf="!dataItem.visibility"-->
<!--               (click)="onVisibilityChanged(dataItem.id, !dataItem.visibility)"> visibility_off </i>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </ng-container>-->
<!--</div>-->

