<header class="main-header main-header-title">
  <div class="container-fluid">
    <h1 class="page-title header-page-title">
      <div class="container">
        {{ 'Profile Settings' | translate }}
      </div>
    </h1>
    <div class="pull-right">
      <button class="btn btn-ar btn-danger" (click)="updateUserProfileSettings()" [disabled]="isSettingsUpdating">
        {{ 'Save' | translate }} <i class="fa fa-spinner fa-spin" *ngIf="isSettingsUpdating"></i></button>
    </div>
  </div>
</header>
<div class="edit_case">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" role="main">
        <div class="panel panel-default">
          <div class="panel-heading">
            Google Authenticator
          </div>
          <table class="table">
            <tbody>
            <tr>
              <td class="col-md-12">
                <div class="checkbox checkbox-wrapper">
                  <input  name="isTwoFactorEnabled"
                          id="isTwoFactorEnabled"
                          value="{{googleAuthInfoModel.isTwoFactorEnabled}}"
                          [checked]="googleAuthInfoModel.isTwoFactorEnabled"
                          [disabled]="googleAuthInfoModel.isTwoFactorForced"
                          (change)="isTwoFactorEnabledCheckBoxChanged($event)"
                          type="checkbox">
                  <label for="isTwoFactorEnabled">
                    <strong>{{ 'Status' | translate }}</strong>
                    ({{ 'change will logout you from the application' | translate }})</label>
                  <br>
                </div>
                <ng-container *ngIf="googleAuthInfoModel.psk" >
                  <div [innerHTML]="'Google Authenticator description' | translate">
                  </div>

                  <p><strong>{{googleAuthInfoModel.psk}}</strong></p>
                </ng-container>
              </td>
            </tr>
            <tr *ngIf="googleAuthInfoModel.psk">
              <td class="col-md-12">
                <button class="btn btn-ar btn-warning" id="deleteGoogleAuthenticatorInfo"
                        tooltip="{{ 'Remove google authenticator secret key' | translate }}"
                        (click)="deleteGoogleAuthenticatorInfo()">
                  {{ 'Remove PSK' | translate }}
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6" role="main">
        <div class="panel panel-default">
          <div class="panel-heading">
            {{'General' | translate }}
          </div>
          <table class="table">
            <tbody>
            <tr>
              <td class="col-md-4">
                <strong>{{ 'Language' | translate }}</strong>
              </td>
              <td>
                <ngx-select [items]="languages"
                            [(ngModel)]="userSettingsModel.locale">
                </ngx-select>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
