<h3 mat-dialog-title>{{'Are you sure you want to delete the site? The action can not be undone' | translate}}!</h3>
<div mat-dialog-content>
  <div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-column">
      <p>ID</p>
    </div>
    <div class="d-flex flex-column">
      <strong>{{siteNameDto.siteUId}}</strong>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-column">
      <p>{{'Creation Date' | translate}}</p>
    </div>
    <div class="d-flex flex-column">
      <strong><date-formatter [date]="siteNameDto.createdAt" [Format]="'datetime'"></date-formatter></strong>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-column">
      <p>{{'Name' | translate}}</p>
    </div>
    <div class="d-flex flex-column">
      <strong>{{siteNameDto.siteName}}</strong>
    </div>
  </div>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end align-items-center gap-12">
  <button
   class="btn-delete"
    id="siteDeleteDeleteBtn"
    (click)="deleteSingle()"
  >
    {{'Delete' | translate}}
  </button>
  <button
    class="btn-cancel"
    id="siteDeleteCancelBtn"
    (click)="hide()"
  >
    {{'Cancel' | translate}}
  </button>
</div>
