<div
  [config]="{ ignoreBackdropClick: true }"
  mdbModal
  class="modal fade"
  #frame="mdbModal"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{ 'Delete user' | translate }}</h3>
        <button class="close" data-dismiss="modal" (click)="frame.hide()">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <h6>ID</h6>
            </div>
            <div class="col-md-6">
              <h6 id="selectedUserId">{{ selectedUser.id }}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6>{{ 'Email' | translate }}</h6>
            </div>
            <div class="col-md-6">
              <h6 id="selectedUserEmail">{{ selectedUser.email }}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6>{{ 'Full Name' | translate }}</h6>
            </div>
            <div class="col-md-6">
              <h6 id="selectedUserFullName">
                {{ selectedUser.firstName }} {{ selectedUser.lastName }}
              </h6>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6>{{ 'Role' | translate }}</h6>
            </div>
            <div class="col-md-6">
              <h6 id="selectedUserRole">{{ selectedUser.role }}</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          mat-button
          class="btn-danger btn-small-height"
          (click)="deleteUser()"
          id="userDeleteBtn"
        >
          {{ 'Delete' | translate }}
        </button>
        <button
          mat-button
          class="btn-accent text-black-50 btn-small-height"
          (click)="frame.hide()"
          id="userDeleteCancelBtn"
        >
          {{ 'Cancel' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
