<eform-new-subheader [title]="'Plugins marketplace' | translate" [forceStaticTitle]="true">
  <button
    color="accent"
    mat-raised-button
    id="managementPageButton"
    [routerLink]="['../']"
  >
    {{ 'Management' | translate }}
  </button>
</eform-new-subheader>

<!--Here you can choose approach as you like: container-row, or flex, or just element with required styles and markup-->
<mtx-grid
  [data]="marketplacePluginsList.pluginsList"
  [columns]="tableHeaders"
  [cellTemplate]="{actions: actionsTpl}"
  [showPaginator]="false"
  [pageOnFront]="false"
  [rowStriped]="true"
  [showColumnMenuButton]="false">
</mtx-grid>

<ng-template #actionsTpl let-row>
  <div class="d-flex align-items-center">
    <button
      mat-icon-button
      matTooltip="{{ 'Edit Settings' | translate }}"
      (click)="showEditModal(row)"
      id="editSettingsBtn"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</ng-template>
