<h3 mat-dialog-title>{{ (edit ? 'Edit User' : 'New User') | translate }}</h3>
<div mat-dialog-content>
  <form #form="ngForm" [formGroup]="userForm" class="need-wrapper">
    <div class="d-flex flex-row">
      <mat-form-field>
        <mat-label>{{ 'First name' | translate }}</mat-label>
        <input
          matInput
          type="text"
          [disabled]="isDeviceUser"
          formControlName="firstName"
          [id]="edit ? 'editFirstName' : 'createFirstName'"
          [name]="edit ? 'editFirstName' : 'createFirstName'"
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'Last name' | translate }}</mat-label>
        <input
          matInput
          type="text"
          [disabled]="isDeviceUser"
          formControlName="lastName"
          [name]="edit ? 'editLastName' : 'createLastName'"
          [id]="edit ? 'editLastName' : 'createLastName'"
        >
      </mat-form-field>
    </div>
    <div class="d-flex flex-row">
      <mat-form-field>
        <mat-label>{{ 'Email' | translate }}</mat-label>
        <input
          matInput
          required
          type="email"
          formControlName="email"
          [id]="edit ? 'emailEdit' : 'createEmail'"
          [name]="edit ? 'emailEdit' : 'createEmail'"
        >
      </mat-form-field>
      <mat-form-field *ngIf="!edit">
        <mat-label>{{ 'New password' | translate }}</mat-label>
        <input
          matInput
          required
          type="password"
          formControlName="password"
          [id]="edit ? 'editPassword' : 'createPassword'"
          [name]="edit ? 'editPassword' : 'createPassword'"
        >
      </mat-form-field>
    </div>
    <div class="d-flex flex-row">
      <mat-form-field>
        <mat-label>{{ 'Role' | translate }}</mat-label>
        <mtx-select
          required
          bindLabel="name"
          bindValue="id"
          [clearable]="false"
          formControlName="role"
          [id]="edit ? 'editRole' : 'createRole'"
          id="createRole"
          appendTo="body"
          [items]="[
                    { id: 'admin', name: 'Admin' | translate },
                    { id: 'user', name: 'User' | translate }
                  ]"
        ></mtx-select>
      </mat-form-field>
      <mat-form-field *ngIf="userForm.get('role')?.value !== 'admin'">
        <mat-label>{{ 'Group' | translate }}</mat-label>
        <mtx-select
          required
          bindLabel="groupName"
          bindValue="id"
          formControlName="groupId"
          [id]="edit ? 'editGroup' : 'createGroup'"
          appendTo="body"
          [items]="availableGroups.entities"
        ></mtx-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end align-items-center gap-12">
  <button
    class="btn-primary btn-primary--icon-left"
    type="submit"
    [disabled]="userForm.invalid"
    (click)="submit()"
    [id]="edit ? 'editUserSaveBtn' : 'createAdministrationUserBtn'"
  >
    {{ (edit ? 'Save' : 'Create') | translate }}
  </button>
  <button
    class="btn-cancel"
    (click)="hide()"
    type="button"
    [id]="edit ? 'editUserCancelSaveBtn' : 'createAdministrationUserCancelBtn'"
  >
    {{ 'Cancel' | translate }}
  </button>
</div>
