<eform-new-subheader
  [title]="currentTemplate.label"
  [forceStaticTitle]="true"
></eform-new-subheader>

<div class="d-grid justify-content-between" style="grid-template-columns: 5fr 2fr;">
  <div class="mr-4 d-flex flex-column">
    <!-- Done at user editable -->
    <div class="eform-field" *ngIf="currentTemplate.isDoneAtEditable">
      <h3 class="eform-field__label">{{ 'Submitted date' | translate }}</h3>
      <mat-form-field>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <input
          required
          matInput
          [matDatepicker]="picker"
          [value]="replyElement.doneAt"
          (dateChange)="replyElement.doneAt = $event.value"
          (click)="picker.open()"
        >
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <p class="eform-field__error" *ngIf="!replyElement.doneAt">
        {{'Date is required'| translate}}*
      </p>
    </div>

    <!-- Elements loop -->
    <app-case-edit-element
      [element]="elem"
      *ngFor="let elem of replyElement.elementList"
      (needUpdate)="partialLoadCase()"
    ></app-case-edit-element>
  </div>

  <!-- Right section with navigation -->
  <div>
    <mat-card style=" position: sticky; top: 0;">
      <mat-card-header>
        {{ replyElement.label }}
      </mat-card-header>
      <mat-card-content style="max-height: 50vh; overflow: auto;">
        <div
          *ngFor="let element of replyElement.elementList"
          style="cursor: pointer"
          routerLinkActive="active"
        >
          <a
            class="eform-nav__link"
            (click)="goToSection('#section' + element.id)"
          >
            {{ element.label }}
          </a>
          <ng-container *ngIf="element.elementList">
            <app-case-edit-nav [element]="element"></app-case-edit-nav>
          </ng-container>
        </div>
      </mat-card-content>
      <mat-card-footer
        *ngIf="selectCaseUpdate$ | async"
        class="d-flex justify-content-center align-items-center mt-2 mb-2"
      >
        <button
          class="btn-primary btn-primary--icon-left"
          (click)="saveCase(); this.isSaveClicked = true"
          id="submit_form"
        >
          {{ 'Save' | translate }}
        </button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
