<eform-subheader
  [title]="currentTemplate.label"
  [forceStaticTitle]="true"
></eform-subheader>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 col-xs-12" role="main">
      <!-- Done at user editable -->
      <mdb-card
        class="mt-4"
        style="width: 100%"
        *ngIf="replyElement.isDoneAtEditable"
      >
        <mdb-card-header>
          <p class="h4">{{ 'Done at' | translate }}</p>
        </mdb-card-header>
        <mdb-card-body>
          <div class="md-form md-form-case-elem" [owlDateTimeTrigger]="dt1">
            <div class="md-form" [owlDateTimeTrigger]="dt1">
              <i class="material-icons prefix">calendar_today</i>
              <input
                mdbInput
                [owlDateTime]="dt1"
                [(ngModel)]="replyElement.doneUserEditable"
                type="text"
                id="doneUserEditable"
                name="doneUserEditable"
                class="form-control"
              />
              <label for="doneUserEditable">{{
                'Select date' | translate
              }}</label>
              <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>

      <!-- Elements loop -->
      <app-case-edit-element
        [element]="elem"
        *ngFor="let elem of replyElement.elementList"
      ></app-case-edit-element>
    </div>

    <!-- Right section with navigation -->
    <div class="col-md-3">
      <mdb-card class="sticky-top mb-4 mt-4" style="width: 100%; z-index: 1">
        <mdb-card-header>
          {{ replyElement.label }}
        </mdb-card-header>
        <mdb-card-body>
          <ul class="list-group list-group-flush">
            <li
              *ngFor="let element of replyElement.elementList"
              style="cursor: pointer"
              class="list-group-item list-group-item-action waves-light"
              routerLinkActive="active"
              mdbWavesEffect
            >
              <a (click)="goToSection('#section' + element.id)">
                {{ element.label }}
              </a>
              <ng-container *ngIf="element.elementList">
                <app-case-edit-nav [element]="element"></app-case-edit-nav>
              </ng-container>
            </li>
          </ul>
        </mdb-card-body>
        <mdb-card-footer>
          <div
            class="
              d-flex
              justify-content-center
              align-items-center
              flex-column
              mt-2
            "
            *ngIf="checkEformPermissions(userClaimsEnum.caseUpdate)"
          >
            <div>
              <!--              <button-->
              <!--                mdbBtn-->
              <!--                class="btn-success btn-small-height"-->
              <!--                (click)="saveCase(true); this.isSaveClicked = true"-->
              <!--                id="submit_for_with_post"-->
              <!--              >-->
              <!--                {{ 'Save and create new post' | translate }}-->
              <!--                <i class="fa fa-spinner fa-spin"></i>-->
              <!--              </button>-->
              <button
                mdbBtn
                class="btn-success btn-small-height"
                (click)="saveCase(); this.isSaveClicked = true"
                id="submit_form"
              >
                {{ 'Save' | translate }} <i class="fa fa-spinner fa-spin"></i>
              </button>
            </div>
          </div>
        </mdb-card-footer>
      </mdb-card>
    </div>
  </div>
</div>

<app-case-edit-confirmation
  (onConfirmationPressed)="confirmExit($event)"
  #caseConfirmation
></app-case-edit-confirmation>
