<eform-new-subheader>
</eform-new-subheader>

<mat-card>
  <mat-card-content>
    <app-eform-tree-view-picker
      *ngIf="foldersDto.length"
      [nodes]="foldersDto"
      [showActions]="true"
      [showCollapseButton]="foldersDto.length > 0"
      (createNode)="openCreateModal($event)"
      (editNode)="openEditModal($event)"
      (deleteNode)="openDeleteModal($event)"
    ></app-eform-tree-view-picker>
    <button
     class="btn-primary btn-primary--icon-left"
      style="margin-top: 10px"
      id="newFolderBtn"
      (click)="openCreateModal()"
      *ngIf="selectCurrentUserClaimsWorkersCreate$ | async"
    >
      <mat-icon>add</mat-icon>
      <span>{{ 'Add new' | translate }}</span>
    </button>
  </mat-card-content>
</mat-card>
