<eform-page-subheader [title]="'Folders' | translate">
  <div class="p-3">
    <button
      class="btn btn-success" id="folderCreateBtn" *ngIf="userClaims.workersCreate"
      (click)="openCreateModal()">{{ 'Create Folder' | translate }}</button>
  </div>
</eform-page-subheader>

<div class="container-fluid">
  <div class="row p-1 table-responsive no-gutters">
    <table mdbTable striped="true" hover="true" small="true" class="z-depth-1 text-center">
      <thead>
      <tr>
        <th scope="col">{{'ID' | translate}}</th>
        <th scope="col">{{'Microting UUID' | translate}}</th>
        <th scope="col">{{'Created at' | translate}}</th>
        <th scope="col"> {{ 'Updated at' | translate }}</th>
        <th scope="col"> {{ 'Name' | translate }}</th>
        <th scope="col"> {{ 'Description' | translate }}</th>
        <th scope="col" *ngIf="userClaims.workersDelete || userClaims.workersUpdate">{{ 'Actions' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let folderDto of foldersDto">
        <td>{{folderDto.id}}</td>
        <td>{{folderDto.microtingUId}}</td>
        <td>
          <date-formatter [date]="folderDto.createdAt" [Format]="'datetime'"></date-formatter>
        </td>
        <td>
          <date-formatter [date]="folderDto.updatedAt" [Format]="'datetime'"></date-formatter>
        </td>
        <td>{{folderDto.name}}</td>
        <td>{{folderDto.description}}</td>
        <td *ngIf="userClaims.workersDelete || userClaims.workersUpdate">
          <div class="d-flex flex-row justify-content-center">
            <button id="folderEditBtn" class="btn btn-accent text-black-50 btn-icon mb-2" *ngIf="userClaims.workersUpdate"
                    mdbTooltip="{{'Edit Folder' | translate}}"
                    (click)="openEditModal(folderDto)">
              <fa-icon icon="pen" [fixedWidth]="true" size="lg"></fa-icon>
            </button>
            <button id="folderDeleteBtn"
                    class="btn btn-danger btn-icon mb-2 " *ngIf="userClaims.workersDelete"
                    mdbTooltip="{{'Delete Folder' | translate}}"
                    (click)="openDeleteModal(folderDto)">
              <fa-icon icon="trash-alt" [fixedWidth]="true" size="lg"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<app-folder-create
  (FolderCreated)="loadAllFolders()"
  #modalFolderCreate></app-folder-create>

<app-folder-edit
  (onFolderEdited)="loadAllFolders()"
  [selectedFolderDto] = "selectedFolder"
  #modalFolderEdit></app-folder-edit>

<app-folder-delete
  (onFolderDeleted)="loadAllFolders()"
  [selectedFolderDto] = "selectedFolder"
  #modalFolderDelete></app-folder-delete>
