<eform-new-subheader>
  <div class="p-3">
    <!--    <button-->
    <!--      mdbBtn-->
    <!--      class="btn-success btn-small-height"-->
    <!--      id="folderCreateBtn"-->
    <!--      *ngIf="userClaims.workersCreate"-->
    <!--      (click)="openCreateModal()"-->
    <!--    >-->
    <!--      {{ 'Create folder' | translate }}-->
    <!--    </button>-->
  </div>
</eform-new-subheader>

<mat-card>
  <mat-card-content>
    <app-eform-tree-view-picker
      *ngIf="foldersDto.length"
      [nodes]="foldersDto"
      [showActions]="true"
      [showCollapseButton]="foldersDto.length > 0"
      (createNode)="openCreateModal($event)"
      (editNode)="openEditModal($event)"
      (deleteNode)="openDeleteModal($event)"
    ></app-eform-tree-view-picker>
    <button
      mat-raised-button
      style="margin-top: 10px"
      id="newFolderBtn"
      (click)="openCreateModal()"
      *ngIf="userClaims.workersCreate"
    >
      <mat-icon>add</mat-icon>
      {{ 'Add new' | translate }}
    </button>
  </mat-card-content>
</mat-card>

<app-folder-create
  (folderCreated)="getInitialData()"
  #modalFolderCreate
></app-folder-create>

<app-folder-edit
  (folderEdited)="getInitialData()"
  #modalFolderEdit
></app-folder-edit>

<app-folder-delete
  (onFolderDeleted)="getInitialData()"
  [selectedFolderDto]="selectedFolder"
  #modalFolderDelete
></app-folder-delete>
