<h3 mat-dialog-title>{{ 'Do you want to leave this page' | translate }}?</h3>
<div mat-card-content>
  <h4>{{'If you leave before saving your changes will be lost' | translate}}.</h4>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-around">
  <button
    class="btn-cancel"
    (click)="cancelExit()"
  >
    {{'Cancel' | translate}}
  </button>
  <button
    class="btn-delete"
    (click)="confirmationClicked(false)"
  >
    {{'Leave' | translate}}
  </button>
  <button
    class="btn-primary"
    (click)="confirmationClicked(true)"
  >
    {{'Save & Leave' | translate}}
  </button>
</div>
