<header class="main-header main-header-title">
  <div class="container-fluid">
    <h1 class="page-title header-page-title">
      <div class="container">
        {{ 'Workers' | translate }}
      </div>
    </h1>
    <div class="pull-right">
      <button class="needs_tooltip btn btn-ar btn-success" type="button" (click)="showCreateWorkerModal()">
        {{ 'Create Worker' | translate }}
      </button>
    </div>
  </div>
</header>
<div class="container-fluid">
  <table border="0" cellpadding="0" cellspacing="0"
         class="table table-striped table-bordered table-condensed table-responsive table-hover dataTable no-footer"
         id="workers" role="grid" aria-describedby="check_lists_info" style="width: 100%;">
    <thead>
    <tr role="row">
      <th class="col-md-2 text-center" rowspan="1" colspan="1">
        {{ 'Created at' | translate }}
      </th>
      <th class="col-md-2 text-center" rowspan="1" colspan="1">
        {{ 'Updated at' | translate }}
      </th>
      <th class="col-md-2 text-center" rowspan="1" colspan="1">
        {{ 'First Name' | translate }}
      </th>
      <th class="col-md-2 text-center" rowspan="1" colspan="1">
        {{ 'Last Name' | translate }}
      </th>
      <th class="col-md-2 text-center" rowspan="1" colspan="1">
        Microting UID
      </th>
      <th class="col-md-2 text-center" rowspan="1" colspan="1">
        {{ 'Actions' | translate }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let workerDto of workersDto">
      <td class="text-center">
        {{workerDto.createdAt | date:'dd.MM.y HH:mm:ss'}}
      </td>
      <td class="text-center">
        {{workerDto.updatedAt | date:'dd.MM.y HH:mm:ss'}}
      </td>
      <td class="text-center">
        {{workerDto.firstName}}
      </td>
      <td class="text-center">
        {{workerDto.lastName}}
      </td>
      <td class="text-center">
        {{workerDto.workerUId}}
      </td>
      <td class="text-center">
        <a [routerLink]="['/advanced/workeredit', workerDto.workerUId]" tooltip="{{ 'Edit Worker' | translate }}"
           class="needs_tooltip btn btn-ar btn-sm btn-default" data-placement="top" data-toggle="tooltip"
           id="edit_site_@(item.WorkerUId)" title="" type="button">
          <span class="fa fa-pencil"></span>
        </a>
        <button tooltip="{{ 'Delete Worker' | translate }}" (click)="showDeleteWorkerModal(workerDto)"
                class="needs_tooltip btn btn-ar btn-sm btn-danger"
                type="button">
          <span class="fa fa-trash-o"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <eform-spinner [middleActive]="spinnerStatus"></eform-spinner>
</div>

<modal #deleteWorkerModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">{{ 'Are you sure you want to delete the worker' | translate }}?</h4>
  </modal-header>
  <modal-body>
    <div class="container-fluid">
      <div class='row'>
        <div class='col-md-4'><label>#</label></div>
        <div class='col-md-8'> {{selectedWorkerDto.workerUId}}</div>
      </div>
      <div class='row'>
        <div class='col-md-4'><label>{{ 'Creation Date' | translate }}</label></div>
        <div class='col-md-8'> {{selectedWorkerDto.createdAt}}</div>
      </div>
      <div class='row'>
        <div class='col-md-4'><label>{{ 'First Name' | translate }}</label></div>
        <div class='col-md-8'> {{selectedWorkerDto.firstName}}</div>
      </div>
      <div class='row'>
        <div class='col-md-4'><label>{{ 'Last Name' | translate }}</label></div>
        <div class='col-md-8'> {{selectedWorkerDto.lastName}}</div>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-danger"
            (click)="submitDeleteWorkerModal(selectedWorkerDto.workerUId)">{{ 'OK' | translate }}
    </button>
    <button type="button" class="btn btn-default" data-dismiss="deleteWorkerModal"
            (click)="deleteWorkerModal.dismiss()">{{ 'Cancel' | translate }}
    </button>
  </modal-footer>
</modal>

<modal #createWorkerModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">{{ 'Create Worker' | translate }}</h4>
  </modal-header>
  <modal-body>
    <div class="container-fluid">
      <div class="create_eform">
        <div class="row">
          <div class="form-group col-xs-12 col-md-12">
            <label class="mt-validation-container">{{ 'Select Worker' | translate }}</label>
            <select class="form-control" (change)="selectSiteForWorker($event)" name="createSite">
              <option [value]="null">{{ 'Select Worker' | translate }}...</option>
              <option *ngFor="let site of simpleSites" [value]="site.siteId">{{site.firstName}} {{site.lastName}}</option>
            </select>
          </div>
          <div class="form-group col-xs-12 col-md-12">
            <label class="mt-validation-container">{{ 'First Name' | translate }}</label>
            <input class="form-control" [(ngModel)]="newWorkerModel.firstName" placeholder="{{ 'First Name' | translate }}" type="text"
                   name="createFirstName" id="firstName"/>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12 col-md-12">
            <label class="mt-validation-container">{{ 'Last Name' | translate }}</label>
            <input class="form-control" [(ngModel)]="newWorkerModel.lastName" placeholder="{{ 'Last name' | translate }}" type="text"
                   name="createLastName" id="lastName"/>
          </div>
        </div>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="deleteWorkerModal"
            (click)="createWorkerModal.dismiss()">{{ 'Cancel' | translate }}
    </button>
    <button type="button" class="btn btn-success" [disabled]="!newWorkerModel.siteId || !newWorkerModel.lastName || !newWorkerModel.firstName" (click)="createWorker()">{{ 'Save Worker' | translate }}</button>
  </modal-footer>
</modal>


