<eform-subheader [title]="'Edit selectable list' | translate">
  <div class="p-3">
    <button
      mdbBtn
      id="editEntitySelectSaveBtn"
      class="btn btn-success btn-small-height"
      (click)="updateEntitySelectableGroup()"
      [disabled]="advEntitySelectableGroupEditModel.isLocked && !advEntitySelectableGroupEditModel.isEditable"
    >
      {{ 'Save' | translate }}
    </button>
    <button
      mdbBtn
      id="editEntitySelectCancelBtn"
      class="btn btn-accent text-black-50 btn-small-height"
      (click)="goBack()"
    >
      {{ 'Cancel' | translate }}
    </button>
  </div>
</eform-subheader>
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12" role="main">
      <mdb-card>
        <mdb-card-body>
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input
                  mdbInput
                  required
                  [(ngModel)]="advEntitySelectableGroupEditModel.name"
                  id="editName"
                  type="text"
                  class="form-control"
                  [disabled]="advEntitySelectableGroupEditModel.isLocked"
                />
                <label for="editName">{{ 'Name' | translate }}</label>
              </div>
              <div class="md-form">
                <input
                  mdbInput
                  required
                  [(ngModel)]="advEntitySelectableGroupEditModel.description"
                  [disabled]="advEntitySelectableGroupEditModel.isLocked && !advEntitySelectableGroupEditModel.isEditable"
                  id="editDescription"
                  type="text"
                  class="form-control"
                />
                <label for="editName">{{ 'Description' | translate }}</label>
              </div>
            </div>
          </div>

          <div class="row d-flex">
            <div class="mr-auto"></div>
            <div class="d-inline-flex">
              <button
                mdbBtn
                class="btn-success btn-icon"
                (click)="modalSelectImportList.show()"
                id="editEntitySelectImportBtn"
                [disabled]="advEntitySelectableGroupEditModel.isLocked && !advEntitySelectableGroupEditModel.isEditable"
              >
                <i class="material-icons">format_list_bulleted</i>
              </button>
              <button
                mdbBtn
                class="btn-success btn-icon"
                (click)="addNewAdvEntitySelectableItem()"
                id="editEntitySelectCreateItem"
                [disabled]="advEntitySelectableGroupEditModel.isLocked && !advEntitySelectableGroupEditModel.isEditable"
              >
                <i class="material-icons">add</i>
              </button>
            </div>
          </div>

          <app-entity-list-elements
            [entityItemModels]="advEntitySelectableGroupEditModel.advEntitySelectableItemModels"
            (entityItemModelsChanged)="advEntitySelectableGroupEditModel.advEntitySelectableItemModels = $event"
            (openEditNameModal)="onOpenEditNameModal($event)"
          >
          </app-entity-list-elements>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>

<app-entity-select-import-list
  (onImportSubmitted)="importAdvEntitySelectableGroup($event)"
  #modalSelectImportList
></app-entity-select-import-list>

<app-entity-item-edit-name
  (itemUpdated)="onItemUpdated($event)"
  #modalNameEdit>
</app-entity-item-edit-name>
