<div mdbModal class="modal fade" #frame="mdbModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{'Edit selectable list' | translate}}</h3>
      </div>
      <div class="modal-body">
        <div class="container-fluid">

          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input mdbInputDirective
                       [mdbValidate]="false" required
                       [(ngModel)]="advEntitySelectableGroupEditModel.name"
                       id="createName" type="text" class="form-control">
                <label for="createName">{{'Name' | translate}}</label>
              </div>
            </div>
          </div>

          <div class="row d-flex">
            <div class="mr-auto">
            </div>
            <div class="d-inline-flex">
              <button class="btn btn-success btn-icon" (click)="modalSelectImportList.show()">
                <i class="material-icons">format_list_bulleted</i>
              </button>
              <button class="btn btn-success btn-icon" (click)="addNewAdvEntitySelectableItem()">
                <i class="material-icons">add</i>
              </button>
            </div>
          </div>

          <div class="row">
            <div class="panel panel-default w-100 pt-2">
              <div class="panel-body">
                <ul class="list-group" dragula="ITEMS"
                    [(dragulaModel)]="advEntitySelectableGroupEditModel.advEntitySelectableItemModels"
                    (dragulaModelChange)="dragulaPositionChanged()">
                  <!--list item-->
                  <li class="list-group-item"
                      *ngFor="let entityItem of advEntitySelectableGroupEditModel.advEntitySelectableItemModels">
                    <div class="row">
                      <div class="col-md-1">
                        <a>
                          <fa-icon icon="grip-lines" size="lg" [fixedWidth]="true"></fa-icon>
                        </a>
                      </div>
                      <div class="col-md-9">{{entityItem.name}}</div>
                      <div class="col-md-2">
                        <fa-icon icon="exclamation-triangle" size="lg" [fixedWidth]="true" *ngIf="!entityItem.name"
                                 mdbTooltip="{{'Name is required' | translate}}!"></fa-icon>
                        <a class="pull-right">
                          <fa-icon icon="pen" size="lg" [fixedWidth]="true"
                                   (click)="openModalSelectEditName(entityItem)"></fa-icon> </a>
                        <a class="pull-right">
                          <fa-icon icon="trash-alt" size="lg" [fixedWidth]="true"
                                   (click)="deleteAdvEntitySelectableItem(entityItem.entityItemUId)"></fa-icon>
                        </a>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="updateEntitySelectableGroup()">{{'Save' | translate}}</button>
        <button class="btn btn-accent text-black-50" (click)="frame.hide()">{{'Close' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<eform-spinner [spinnerVisibility]="spinnerStatus"></eform-spinner>

<app-entity-select-import-list
  (onImportSubmitted)="importAdvEntitySelectableGroup($event)"
  #modalSelectImportList></app-entity-select-import-list>
<app-entity-select-edit-name [selectedAdvEntitySelectableItemModel]="selectedItem"
                             (onItemUpdated)="updateItem($event)" #modalSelectEditName></app-entity-select-edit-name>
