<div [config]="{ignoreBackdropClick: true}" mdbModal class="modal fade" #frame="mdbModal" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{'Edit selectable element' | translate}}</h3>
        <button class="close" data-dismiss="modal" (click)="frame.hide()">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="md-form">
            <input mdbInput
                   [(ngModel)]="selectedEntityItemModel.name"
                   type="text"
                   class="form-control"
                   id="entityItemEditNameBox">
            <label for="entityItemEditNameBox">
              {{'Name' | translate}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          mat-raised-button
          color="accent"
          id="entityItemSaveBtn"
          (click)="updateItem()"
          class="mr-2"
        >
          {{'Save' | translate}}
        </button>
        <button
          mat-raised-button
          id="entityItemCancelBtn"
          (click)="hide()"
        >
          {{'Close' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
