<eform-subheader>
  <div class="p-3">
    <button
      mat-button
      id="changePasswordSaveBtn"
      class="btn-success btn-small-height"
      [disabled]="!changePassword.form.valid"
      (click)="updateUserPassword()"
    >
      {{ 'Save' | translate }}
    </button>
  </div>
</eform-subheader>

<div class="container-fluid">
  <form #changePassword="ngForm">
    <div class="md-form">
      <input
        mdbInput
        type="password"
        name="oldPassword"
        [(ngModel)]="changePasswordModel.oldPassword"
        required
        #oldPassword="ngModel"
        id="oldPassword"
        class="form-control"
      />
      <label for="oldPassword">{{ 'Enter old password' | translate }}</label>
    </div>

    <div class="md-form">
      <input
        mdbInput
        type="password"
        name="newPassword"
        [(ngModel)]="changePasswordModel.newPassword"
        required
        #newPassword="ngModel"
        id="newPassword"
        class="form-control"
      />
      <label for="newPassword">{{ 'New password' | translate }}</label>
    </div>

    <div class="md-form">
      <input
        mdbInput
        type="password"
        [(ngModel)]="changePasswordModel.confirmPassword"
        required
        #newPasswordConfirmation="ngModel"
        id="newPasswordConfirmation"
        name="newPasswordConfirmation"
        class="form-control"
      />
      <label>{{ 'New password confirmation' | translate }}</label>
    </div>
  </form>
</div>
