<eform-new-subheader>
  <button
    mat-raised-button
    color="accent"
    id="changePasswordSaveBtn"
    [disabled]="!valid"
    (click)="updateUserPassword()"
  >
    {{ 'Save' | translate }}
  </button>
</eform-new-subheader>

<form [formGroup]="changePasswordForm">
  <mat-form-field>
    <mat-label>{{ 'Enter old password' | translate }}</mat-label>
    <input
    matInput
    type="password"
    name="oldPassword"
    formControlName="oldPassword"
    required
    id="oldPassword"
    autocomplete="current-password"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'New password' | translate }}</mat-label>
    <input
      matInput
      type="password"
      name="newPassword"
      formControlName="newPassword"
      required
      id="newPassword"
      autocomplete="new-password"
    />
  </mat-form-field>

  <!-- Password Strength Meter -->
  <mat-password-strength 
    [password]="changePasswordForm.get('newPassword')?.value || ''"
    [enableLengthRule]="true"
    [enableLowerCaseLetterRule]="true" 
    [enableUpperCaseLetterRule]="true"
    [enableDigitRule]="true"
    [enableSpecialCharRule]="false"
    [min]="8"
    [max]="50"
    (onStrengthChanged)="onPasswordStrengthChanged($event)">
  </mat-password-strength>

  <mat-form-field>
    <mat-label>{{ 'New password confirmation' | translate }}</mat-label>
    <input
      matInput
      type="password"
      formControlName="confirmPassword"
      required
      id="newPasswordConfirmation"
      name="newPasswordConfirmation"
      autocomplete="new-password"
    />
  </mat-form-field>
</form>
