<div class="row">
  <div class="panel panel-default w-100 pt-2">
    <div class="panel-body">
      <ul
        class="list-group"
        dragula="ITEMS"
        [(dragulaModel)]="entityItemModels"
        (dragulaModelChange)="dragulaPositionChanged()"
      >
        <!--list item-->
        <li
          class="list-group-item"
          *ngFor="let entityItem of entityItemModels"
        >
          <div class="d-flex justify-content-between">
            <div>
              <a>
                <fa-icon
                  icon="grip-lines"
                  size="lg"
                  [fixedWidth]="true"
                ></fa-icon>
              </a>
            </div>
            <div id="createEntityItemName">{{ entityItem.name }}</div>
            <div>
              <fa-icon
                icon="exclamation-triangle"
                size="lg"
                [fixedWidth]="true"
                *ngIf="!entityItem.name"
                mdbTooltip="{{ 'Name is required' | translate }}!"
              ></fa-icon>
              <button
                mat-mini-fab
                color="accent"
                class="mr-2 mb-2 pull-right"
                id="entityItemEditBtn">
                <mat-icon
                  (click)="onOpenModalEditName(entityItem)"
                >edit</mat-icon>
              </button>
              <button
                mat-mini-fab
                color="warn"
                class="mb-2 pull-right"
                id="entityItemDeleteBtn">
                <mat-icon
                  (click)="deleteAdvEntitySelectableItem(entityItem.tempId)"
                >delete</mat-icon>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
