<div
  class="w-100 mt-2 dragula-container"
  dragula="ITEMS"
  [(dragulaModel)]="entityItemModels"
  (dragulaModelChange)="dragulaPositionChanged()"
>
  <div
    *ngFor="let entityItem of entityItemModels"
    class="d-flex justify-content-between align-items-center m-2 dragula-item"
  >
    <mat-icon class="dragula-handle cursor-pointer">drag_handle</mat-icon>
    <div id="createEntityItemName">{{ entityItem.name }}</div>
    <div style="display: flex; align-items: center;">
      <mat-icon
        style="width: 40px;"
        *ngIf="!entityItem.name"
        matTooltip="{{ 'Name is required' | translate }}!"
      >report_problem</mat-icon>
      <button
        style="margin-left: 0.5rem;"
        mat-icon-button
        color="accent"
        id="entityItemEditBtn"
        (click)="onOpenModalEditName(entityItem)">
        <mat-icon >edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        id="entityItemDeleteBtn"
        (click)="deleteEntityItem(entityItem.tempId)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
