<div
  [config]="{ ignoreBackdropClick: true }"
  mdbModal
  class="modal fade"
  #frame="mdbModal"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{ 'Edit User' | translate }}</h3>
        <button class="close" data-dismiss="modal" (click)="frame.hide()">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form #editForm="ngForm">
            <div class="row">
              <div class="col-md-6">
                <div class="md-form">
                  <input
                    mdbInput
                    class="form-control"
                    type="text"
                    [(ngModel)]="selectedUserModel.firstName"
                    id="editFirstName"
                    name="editFirstName"
                  />
                  <label for="editFirstName">{{
                    'First name' | translate
                  }}</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form">
                  <input
                    mdbInput
                    class="form-control"
                    type="text"
                    [(ngModel)]="selectedUserModel.lastName"
                    name="editLastName"
                    id="editLastName"
                  />
                  <label for="editLastName">{{
                    'Last name' | translate
                  }}</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="md-form">
                  <input
                    mdbInput
                    class="form-control"
                    required
                    #emailEdit="ngModel"
                    type="text"
                    [(ngModel)]="selectedUserModel.email"
                    id="emailEdit"
                    name="emailEdit"
                  />
                  <label for="emailEdit">{{ 'Email' | translate }}</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form">
                  <input
                    mdbInput
                    class="form-control"
                    #createPassword="ngModel"
                    type="text"
                    [(ngModel)]="selectedUserModel.password"
                    id="editPassword"
                    name="editPassword"
                  />
                  <label for="editPassword">{{ 'Password' | translate }}</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 ng-select-wrapper">
                <ng-select
                  required
                  bindLabel="name"
                  bindValue="id"
                  [clearable]="false"
                  [ngModel]="selectedUserModel.role"
                  name="editRole"
                  (ngModelChange)="onUserRoleUpdated($event)"
                  [placeholder]="'Role' | translate"
                  [items]="[
                    { id: 'admin', name: 'Admin' | translate },
                    { id: 'user', name: 'User' | translate }
                  ]"
                  id="editRole"
                ></ng-select>
              </div>
              <div
                class="col-md-6 ng-select-wrapper"
                *ngIf="selectedUserModel.role != 'admin'"
              >
                <ng-select
                  required
                  bindLabel="groupName"
                  bindValue="id"
                  [clearable]="false"
                  [(ngModel)]="selectedUserModel.groupId"
                  name="editGroup"
                  [placeholder]="'Group' | translate"
                  [items]="availableGroups.entities"
                  id="editGroup"
                ></ng-select>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button
          mat-button
          id="editUserSaveBtn"
          class="btn-success btn-small-height"
          [disabled]="!editForm.form.valid"
          (click)="updateUser()"
        >
          {{ 'Save' | translate }}
        </button>
        <button
          mat-button
          class="btn-accent text-black-50 btn-small-height"
          (click)="frame.hide()"
          id="editUserCancelSaveBtn"
        >
          {{ 'Cancel' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
