<header class="main-header main-header-title">
  <div class="container-fluid">
    <h1 class="page-title header-page-title">
      <div class="container">
        Device users
      </div>
    </h1>
    <div class="pull-right">
      <button class="needs_tooltip btn btn-ar btn-success" tooltip='Create Device User"'
              (click)="showCreateSimpleSiteModal()" type="button">
        New Device User
      </button>
    </div>
  </div>
</header>
<div class="container-fluid">
  <table border="0" cellpadding="0" cellspacing="0"
         class="table table-striped table-bordered table-condensed table-hover dataTable no-footer" id="simple_sites"
         role="grid" aria-describedby="check_lists_info" style="width: 100%;">
    <thead>
    <tr role="row">
      <th class="col-md-1 text-center" rowspan="1" colspan="1">
        Site ID
      </th>
      <th class="col-md-3 text-center" rowspan="1" colspan="1">
        First name
      </th>
      <th class="col-md-3 text-center" rowspan="1" colspan="1">
        Last name
      </th>
      <th class="col-md-1 text-center" rowspan="1" colspan="1">
        Device ID
      </th>
      <th class="col-md-2 text-center" rowspan="1" colspan="1">
        Customer no &amp; OTP
      </th>
      <th class="col-md-2 text-center" rowspan="1" colspan="1">
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let siteDto of sitesDto">
      <td class="text-center">
        {{siteDto.siteId}}
      </td>
      <td class="text-center">
        <span>
          {{siteDto.firstName}}
        </span>
        <span *ngIf="!siteDto.firstName">
          N/A
        </span>
      </td>
      <td class="text-center">
        <span>
          {{siteDto.lastName}}
        </span>
        <span *ngIf="!siteDto.lastName">N/A</span>
      </td>
      <td class="text-center">
        <div>
          {{siteDto.unitId}}
        </div>
        <span *ngIf="!siteDto.unitId">
          N/A
        </span>
      </td>
      <td class="text-center">
        <div *ngIf="siteDto.otpCode != 0">
          {{siteDto.customerNo}} / {{siteDto.otpCode}}
        </div>
        <button *ngIf="siteDto.otpCode == 0" tooltip="New OTP" (click)="showRequestOtpModal(siteDto)"
                class="needs_tooltip btn btn-ar btn-sm btn-danger"
                type="button">
          <span class="fa fa-key"></span></button>
        <span *ngIf="!siteDto.unitId">
          N/A
        </span>
      </td>

      <td *ngIf="!siteDto" class="text-center">
        <span> N / A </span>
      </td>

      <td class="text-center">
        <a [routerLink]="['/simplesites/simplesiteedit', siteDto.siteId]" tooltip="Edit Device User"
           class="needs_tooltip btn btn-ar btn-sm btn-default" data-placement="top" data-toggle="tooltip"
           id="eidt_site_@(item.SiteId)" title="" type="button" data-original-title="Edit site">
          <span class="fa fa-pencil"></span>
        </a>
        <button (click)="showDeleteSimpleSiteModal(siteDto)" tooltip="Delete Device User"
                class="needs_tooltip btn btn-ar btn-danger btn-sm dangerous-action" type="button">
          <span class="fa fa-trash-o"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <eform-spinner [middleActive]="spinnerStatus"></eform-spinner>
</div>

<modal #deleteSimpleSiteModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Are you sure you want to delete the site?</h4>
  </modal-header>
  <modal-body>
    <div class="container-fluid">
      <div class='row'>
        <div class='col-md-4'><label>#</label></div>
        <div class='col-md-8'> {{selectedSimpleSite.siteId}}</div>
      </div>
      <div class='row'>
        <div class='col-md-4'><label>First name</label></div>
        <div class='col-md-8'> {{selectedSimpleSite.firstName}}</div>
      </div>
      <div class='row'>
        <div class='col-md-4'><label>Last name:</label></div>
        <div class='col-md-8'> {{selectedSimpleSite.lastName}}</div>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-danger" (click)="deleteSimpleSite(selectedSimpleSite.siteId)">OK</button>
    <button type="button" class="btn btn-default" data-dismiss="deleteWorkerModal"
            (click)="deleteSimpleSiteModal.dismiss()">Cancel
    </button>
  </modal-footer>
</modal>

<modal #createSimpleSiteModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">New Device User</h4>
  </modal-header>
  <modal-body>
    <div class="container-fluid">
      <div class="create_eform">
        <div class="row">
          <div class="form-group col-xs-12 col-md-12">
            <label class="mt-validation-container">First name</label>
            <input class="form-control" [(ngModel)]="simpleSiteModel.userFirstName" placeholder="First name" type="text"
                   name="firstName" id="firstName"/>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12 col-md-12">
            <label class="mt-validation-container">Last name</label>
            <input class="form-control" [(ngModel)]="simpleSiteModel.userLastName" placeholder="Last name" type="text"
                   name="lastName" id="lastName"/>
          </div>
        </div>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-success" (click)="createSimpleSite()">Save</button>
    <button type="button" class="btn btn-default" data-dismiss="deleteWorkerModal"
            (click)="createSimpleSiteModal.dismiss()">Cancel
    </button>
  </modal-footer>
</modal>


<modal #otpRequestModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">New OTP for: {{selectedSimpleSite.unitId}}!</h4>
  </modal-header>
  <modal-body>
    <div class="container-fluid">
      <h1>
        <span>WARNING!</span>
      </h1>
      When pressing OK, you will deactivate the current device paired with this location.
      <br> If there is data on the current device, these
      data will be lost after pressing OK.
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-danger" (click)="saveRequestOtpModal()">OK</button>
    <button type="button" class="btn btn-default" data-dismiss="unitOtpRequestModal"
            (click)="otpRequestModal.dismiss()">Cancel
    </button>
  </modal-footer>
</modal>

