<h3 mat-dialog-title>{{ 'Are you sure you want to duplicate eForm' | translate }}?</h3>
<div mat-dialog-content>
  <div class="d-flex flex-row justify-content-between">
    <p>ID</p>
    <strong>{{ selectedTemplateDto.id }}</strong>
  </div>
  <div class="d-flex flex-row justify-content-between">
    <p>{{ 'Creation Date' | translate }}</p>
    <strong>
      <date-formatter
        [date]="selectedTemplateDto.createdAt"
        [Format]="'datetime'"
      ></date-formatter>
    </strong>
  </div>
  <div class="d-flex flex-row justify-content-between">
    <p>{{ 'Name' | translate }}</p>
    <strong>{{ selectedTemplateDto.label }}</strong>
  </div>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end align-items-center gap-12">
  <button
    class="btn-primary btn-primary--icon-left"
    id="eFormDuplicateDuplicateBtn"
    (click)="duplicateEfrom()"
  >
    <span>{{ 'Duplicate' | translate }}</span>
  </button>
  <button
    class="btn-cancel"
    id="eFormDuplicateCancelBtn"
    (click)="hide()"
  >
    {{ 'Close' | translate }}
  </button>
</div>
