mat-tree {
  mat-tree-node {
    display: inline-flex;

    .nav-link {
      width: 100%;
      text-align: inherit;
      min-height: 48px;
      display: flex;
      align-items: center;
      justify-content: start;

      span {
        white-space: initial;
        line-height: 1.4em;
      }
    }


    &:hover{
      border-radius: var(--rounded-full)!important;
    }
    &:focus{
      border-radius: var(--rounded-full)!important;
    }

    .selected-node {
      background-color: var(--mdc-theme-primary) !important;
      color: var(--mdc-theme-on-primary) !important;
      border-radius: var(--rounded-full);

      &:hover{
          background-color: var(--mdc-theme-primary-dark) !important;
      }
    }

  }

  mat-nested-tree-node { // styles for nested tree nodes
    mat-accordion {
      mat-expansion-panel {
        &:not([class*=mat-elevation-z]) {
          box-shadow: none !important;
        }

        .mat-expansion-panel-header {
          padding-left: 1rem;
        }

        .mat-expansion-panel-content {
          .mat-expansion-panel-body {
            mat-tree-node {
              display: inline-flex;

              span {
                white-space: initial;
                line-height: 1.4em;
              }
            }
          }
        }

        mat-tree-node {
          span {
            white-space: initial;
            //line-height: 1.4em;
          }
        }
      }
    }
    .selected-node {
      width: calc(100% - 20px)!important;
    }
  }
}

.mat-mdc-menu-item, .mat-mdc-icon-button {
  .mat-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
    line-height: 18px
  }
}

.menu-icon {
  vertical-align: middle;
  margin-right: 8px;
}
