<nav class="navbar navbar-static-top navbar-default navbar-header-full navbar-dark" id="header" role="navigation">
  <div class="container-fluid">
    <div class="pull-right">
      <ul class="nav navbar-nav">
        <ng-container *ngFor="let menu of navigationMenu">
          <li [ngClass]="{'dropdown': menu.submenus.length > 0}"
              *ngIf="menu.appendLeftStyles && (userInfo.role == menu.guard
              || userInfo.role == 'admin'
              || menu.guard == null)">
            <a class="dropdown-toggle" *ngIf="menu.submenus.length > 0" id="{{menu.e2eId || 'm1'}}"
               data-toggle="dropdown" href="javascript:void(0);">
              {{menu.name}}
            </a>
            <a *ngIf="menu.submenus.length == 0" routerLink="{{menu.link}}" id="{{menu.e2eId || 'm2'}}">
              {{menu.name}}
            </a>
            <ul class="dropdown-menu dropdown-menu-right" *ngIf="menu.submenus.length > 0">
              <li *ngFor="let submenu of menu.submenus" id="{{submenu.e2eId || 'm3'}}">
                <a routerLink="{{submenu.link}}" routerLinkActive="active"
                   *ngIf="userInfo.role == submenu.guard || userInfo.role == 'admin' || submenu.guard == null">
                  {{submenu.name}}
                </a>
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="navbar-header">
      <button aria-expanded="true" class="navbar-toggle" data-target="#bs-example-navbar-collapse-1"
              data-toggle="collapse" style="position: absolute; top: -1px;"
              type="button">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="/" id="ar-brand">

      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <ng-container *ngFor="let menu of navigationMenu">
          <li [ngClass]="{'dropdown': menu.submenus.length > 0}"
              *ngIf="!menu.appendLeftStyles && (userInfo.role == menu.guard || userInfo.role == 'admin' || menu.guard == null)">
            <a class="dropdown-toggle" *ngIf="menu.submenus.length > 0"
               id="{{menu.e2eId || 'm4'}}"
               data-toggle="dropdown" href="javascript:void(0);">
              {{menu.name}}
            </a>
            <a class="dropdown-toggle" *ngIf="menu.submenus.length == 0" routerLink="{{menu.link}}" id="{{menu.e2eId || 'm5'}}"
               routerLinkActive="active">
              {{menu.name}}
            </a>
            <ul class="dropdown-menu dropdown-menu-right" *ngIf="menu.submenus.length > 0">
              <li *ngFor="let submenu of menu.submenus" id="{{submenu.e2eId || 'm6'}}">
                <a routerLink="{{submenu.link}}" routerLinkActive="active"
                   *ngIf="userInfo.role == submenu.guard || userInfo.role == 'admin' || submenu.guard == null">
                  {{submenu.name}}
                </a>
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
