
:root {
  --rounded-full: 9999px;;
  --font-family: Nunito Sans, Roboto, "Helvetica Neue", sans-serif;
}

mat-tree {
  mat-tree-node {
    display: inline-flex;

    .nav-link {
      width: 100%;
      text-align: inherit;
      min-height: 48px;
      display: flex;
      align-items: center;
      justify-content: start;

      span {
        white-space: initial;
        line-height: 1.4em;
      }

      &:hover{
        border-radius: var(--rounded-full)!important;
        background-color: var(--mdc-theme-primary-dark, #00695C) !important;
        color: var(--mdc-theme-on-primary) !important;
      }
      //&:focus {
      //  background-color: var(--mdc-theme-primary-dark, #00695C) !important;
      //  border-radius: var(--rounded-full) !important;
      //  color: var(--mdc-theme-on-primary) !important;
      //}
    }




    .selected-node {
      background-color: var(--mdc-theme-primary) !important;
      color: var(--mdc-theme-on-primary) !important;
      border-radius: var(--rounded-full);

      &:hover{
          background-color: var(--mdc-theme-primary-dark) !important;
          color: var(--mdc-theme-on-primary) !important;
      }
    }

  }

  mat-nested-tree-node { // styles for nested tree nodes
    mat-accordion {
      mat-expansion-panel {
        &:not([class*=mat-elevation-z]) {
          box-shadow: none !important;
        }

        .mat-expansion-panel-header {
          padding-left: 1rem;
        }

        .mat-expansion-panel-content {
          .mat-expansion-panel-body {
            mat-tree-node {
              display: inline-flex;

              span {
                white-space: initial;
                line-height: 1.4em;
              }
            }
          }
        }

        mat-tree-node {
          .nav-link{
            &:hover{
              width: calc(100% - 20px)!important;
              border-radius: var(--rounded-full)!important;
              background-color: var(--mdc-theme-primary-dark, #00695C) !important;
              color: var(--mdc-theme-on-primary) !important;
            }
          }
          span {
            white-space: initial;
          }
        }
      }
    }
    .selected-node {
      width: calc(100% - 20px)!important;
    }


  }
}

.mat-mdc-menu-item, .mat-mdc-icon-button {
  .mat-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
    line-height: 18px
  }
}

.menu-icon {
  vertical-align: middle;
  font-size: 18px;
}


mat-tree-node a.mat-mdc-button-base.nav-link {
  border-radius: var(--rounded-full) !important;
  overflow: hidden !important;
}
