@import "../../../scss/utilities/colors";

#main-header-text {
  font-size: 1.1rem;
  line-height: 1.1;
}

#secondary-header-text {
  font-size: 0.8rem;
  line-height: 1.1;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

.nav-link {
  width: 100%;
  text-align: inherit;
  min-height: 48px;
  display: flex;
  align-items: center;
}

.mat-expansion-panel-header {
  padding-left: 1rem;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}

.mat-tree-node  {
  display: inline-flex;
}

.mat-menu-item, .mat-icon-button {
  .mat-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
    line-height: 18px
  }
}
