<div class="w-100 navbar-bg">
  <nav
    class="navbar navbar-static-top navbar-expand-lg p-2"
    id="header"
    role="navigation"
  >
    <button
      class="navbar-toggler"
      type="button"
      aria-label="Toggle navigation"
      (click)="expandMenu()"
    >
      <fa-icon icon="bars" size="lg" [fixedWidth]="true"></fa-icon>

      <span class="navbar-toggler-icon"></span>
    </button>
    <!--nav items here-->
    <div class="collapse navbar-collapse" #navigationMenu>
      <ul class="navbar-nav mr-auto">
        <ng-container *ngFor="let menu of appMenuQuery.userMenuLeft$ | async">
          <ng-container *ngIf="checkGuards(menu.guards)">
            <ng-container *ngIf="menu?.menuItems?.length == 0; else dropdown">
              <li class="nav-item">
                <a
                  routerLink="{{ menu.link }}"
                  mdbWavesEffect
                  class="nav-link waves-light"
                  [id]="menu.e2EId"
                >
                  {{ menu.name }}
                </a>
              </li>
            </ng-container>
            <ng-template #dropdown>
              <li class="nav-item">
                <div mdbDropdown class="dropdown">
                  <a
                    mdbDropdownToggle
                    mdbWavesEffect
                    class="nav-link dropdown-toggle waves-light"
                    [id]="menu.e2EId"
                    >{{ menu.name }}</a
                  >
                  <div
                    class="dropdown-menu"
                    *ngIf="menu?.menuItems?.length > 0"
                  >
                    <ng-container *ngFor="let subMenu of menu.menuItems">
                      <a
                        *ngIf="checkGuards(subMenu.guards)"
                        class="dropdown-item waves-light"
                        routerLink="{{ subMenu.link }}"
                        routerLinkActive="active"
                        [id]="subMenu.e2EId"
                      >
                        {{ subMenu.name }}
                      </a>
                    </ng-container>
                  </div>
                </div>
              </li>
            </ng-template>
          </ng-container>
        </ng-container>
      </ul>
      <ul class="navbar-nav ml-auto">
        <ng-container *ngFor="let menu of appMenuQuery.userMenuRight$ | async">
          <ng-container *ngIf="menu?.menuItems?.length == 0; else dropdown">
            <li class="nav-item">
              <a
                routerLink="{{ menu.link }}"
                mdbWavesEffect
                class="nav-link waves-light"
                [id]="menu.e2EId"
              >
                {{ menu.name }}
              </a>
            </li>
          </ng-container>
          <ng-template #dropdown>
            <li class="nav-item" style="z-index: 1021">
              <div mdbDropdown class="dropdown">
                <a
                  mdbDropdownToggle
                  mdbWavesEffect
                  class="nav-link dropdown-toggle waves-light"
                  [id]="menu.e2EId"
                  >{{ menu.name }}</a
                >
                <div
                  class="dropdown-menu outbounds-fix"
                  *ngIf="menu?.menuItems?.length > 0"
                >
                  <ng-container *ngFor="let subMenu of menu.menuItems">
                    <a
                      *ngIf="checkGuards(subMenu.guards)"
                      class="dropdown-item waves-light"
                      routerLink="{{ subMenu.link }}"
                      routerLinkActive="active"
                      [id]="subMenu.e2EId"
                    >
                      {{ subMenu.name }}
                    </a>
                  </ng-container>
                </div>
              </div>
            </li>
          </ng-template>
        </ng-container>
      </ul>
    </div>
    <!--right menu-->
    <!--<div class="pull-right ml-auto">-->
      <!--<div mdbDropdown class="nav-item dropdown">-->
        <!--<a-->
          <!--mdbDropdownToggle-->
          <!--mdbWavesEffect-->
          <!--id="userDropdown"-->
          <!--class="nav-link dropdown-toggle waves-light" *ngIf="userMenu?.name">{{userMenu.name}}</a>-->
        <!--&lt;!&ndash;dropdown-menu-right doesn't work at navbar, bootstrap bug?&ndash;&gt;-->
        <!--<div class="dropdown-menu outbounds-fix" *ngIf="userMenu?.submenus?.length">-->
          <!--<a-->
            <!--*ngFor="let subMenu of userMenu.submenus"-->
            <!--id="{{subMenu.e2eId}}"-->
            <!--class="dropdown-item waves-light"-->
            <!--routerLink="{{subMenu.link}}"-->
            <!--routerLinkActive="active">-->
            <!--{{subMenu.name}}-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </nav>
</div>
