<mat-tree *ngIf="menu.data" [dataSource]="menu" [treeControl]="treeControl" class="mt-2 ml-2">
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding=""
    style="min-height: 0;"
    [ngClass]="{'children': getLevel(node) > 0}">
    <ng-container *ngIf="checkGuards(node.guards)">
      <!-- use a disabled button to provide padding for tree leaf -->
      <a mat-button
         color="{{this.router.url === node.link ? 'accent' : ''}}"
         *ngIf="node.isInternalLink"
         routerLink="{{ node.link }}"
         class="nav-link"
         [id]="node.e2EId"
         (click)="onClickOnNode()"
      >
        {{ node.name }}
      </a>
      <a mat-button
         color="{{this.router.url === node.link ? 'accent' : ''}}"
         *ngIf="!node.isInternalLink"
         class="nav-link"
         target="_blank"
         [href]="node.link"
         (click)="onClickOnNode()"
      >
        {{node.name }}
      </a>
    </ng-container>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding="" style="margin-right: 1rem; min-height: 0;">
    <ng-container *ngIf="checkGuards(node.guards)">
      <button
        mat-icon-button
        matTreeNodeToggle
        [id]="node.e2EId"
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.name}}
    </ng-container>
  </mat-tree-node>
</mat-tree>
