@import "../../../scss/utilities/colors";

.navbar-bg {
  background-color: $eform-gray;
  color: white;
}

.nav-item {
  & a {
    padding: 0.5rem 0.8rem !important;
    color: white !important;
    background-color: $eform-gray;
  }
  & a.active {
     background-color: $eform-red;
   }
  & a:hover {
    color: $eform-gray-light !important;
  }
}

.dropdown-item a {
  color: $eform-red-dark;
}

.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-item a {
}

.outbounds-fix {
  left: auto;
  right: 0;
}

@media screen and (max-width: 991px) {
  .dropdown-menu {
    padding-bottom: 25px;
  }
}
