<eform-new-subheader>
  <button
    mat-raised-button
    color="accent"
    id="workerCreateBtn"
    *ngIf="selectCurrentUserClaimsWorkersCreate$ | async"
    (click)="openCreateModal()"
  >
    {{ 'Create Worker' | translate }}
  </button>
</eform-new-subheader>

<!--Here you can choose approach as you like: container-row, or flex, or just element with required styles and markup-->

<mtx-grid
  [data]="workersDto"
  [columns]="tableHeaders"
  [cellTemplate]="{actions: actionsTpl}"
  [showPaginator]="false"
  [pageOnFront]="false"
  [rowStriped]="true"
  [showColumnMenuButton]="false">
</mtx-grid>
<ng-template #actionsTpl let-row>
  <div *ngIf="(selectCurrentUserClaimsWorkersDelete$ | async) || (selectCurrentUserClaimsWorkersUpdate$ | async)">
    <button
      mat-icon-button
      id="workerEditBtn"
      (click)="openEditModal(row)"
      *ngIf="(selectCurrentUserClaimsWorkersUpdate$ | async) && !row.isLocked"
      matTooltip="{{ 'Edit Worker' | translate }}"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      color="warn"
      id="workerDeleteBtn"
      (click)="openDeleteModal(row)"
      *ngIf="(selectCurrentUserClaimsWorkersDelete$ | async) && !row.isLocked"
      matTooltip="{{ 'Delete Worker' | translate }}"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</ng-template>
