<eform-new-subheader>
  <button
    class="btn-primary btn-primary--icon-left"
    id="newDeviceUserBtn"
    id="workerCreateBtn"
    *ngIf="selectCurrentUserClaimsWorkersCreate$ | async"
    (click)="openCreateModal()"
  >
    <mat-icon>add</mat-icon>
    <span>{{ 'Create Worker' | translate }}</span>
  </button>
</eform-new-subheader>

<!--Here you can choose approach as you like: container-row, or flex, or just element with required styles and markup-->

<mtx-grid
  [data]="workersDto"
  [columns]="tableHeaders"
  [cellTemplate]="{actions: actionsTpl}"
  [showPaginator]="false"
  [pageOnFront]="false"
  [rowStriped]="false"
  [showColumnMenuButton]="false">
</mtx-grid>
<ng-template #actionsTpl let-row let-i="index">
  <div class="worker-actions" id="action-items-{{i}}" *ngIf="(selectCurrentUserClaimsWorkersDelete$ | async) || (selectCurrentUserClaimsWorkersUpdate$ | async)">
    <button id="actionMenu" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="{{ 'Actions' | translate }}">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        id="workerEditBtn{{i}}"
        *ngIf="(selectCurrentUserClaimsWorkersUpdate$ | async) && !row.isLocked"
        (click)="openEditModal(row)"
      >
        <mat-icon>edit</mat-icon>
        <span>{{ 'Edit Worker' | translate }}</span>
      </button>

      <button
        mat-menu-item
        id="workerDeleteBtn{{i}}"
        *ngIf="(selectCurrentUserClaimsWorkersDelete$ | async) && !row.isLocked"
        (click)="openDeleteModal(row)"
      >
        <mat-icon color="warn">delete</mat-icon>
        <span>{{ 'Delete Worker' | translate }}</span>
      </button>
    </mat-menu>
  </div>
</ng-template>
