<div class="mb-2">
  <form [formGroup]="formReset">
    <mat-form-field>
      <mat-label>{{ 'Secret code' | translate }}</mat-label>
      <mat-icon matPrefix>key</mat-icon>
      <input
        matInput
        formControlName="secretKey"
        type="password"
        id="secretCode"
        name="secretCode"
      >
    </mat-form-field>
    <button
      mdbBtn
      type="button"
      class="btn btn-success
      btn-lg btn-block"
      (click)="submitResetAdminForm()">
      {{'Reset password' | translate}}
    </button>
  </form>
</div>
<div class="d-flex flex-column">
  <div class="p-0">
    <a class="link-primary" [routerLink]="['/auth']">< {{'Back to login' | translate}}</a>
  </div>
</div>
