<div
  [config]="{ ignoreBackdropClick: true }"
  mdbModal
  class="modal fade overflow-auto"
  #frame="mdbModal"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3>
          {{ (isFieldSelected ? 'Edit field' : 'New field') | translate }}
        </h3>
        <button class="close" data-dismiss="modal" (click)="frame.hide()">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-card
          *ngFor="
            let translation of recursionModel.field.translations;
            let translationIndex = index
          "
          class="mb-3"
        >
          <ng-container *ngIf="isLanguageSelected(translation.languageId)">
            <mat-card-title >{{
              getLanguage(translation.languageId) | translate
            }}</mat-card-title >
            <mat-card-content>
              <div class="row">
                <div class="col-12">
                  <div class="md-form">
                    <input
                      mdbInput
                      type="text"
                      id="fieldNameTranslation_{{ translationIndex }}"
                      name="fieldNameTranslation_{{ translationIndex }}"
                      [(ngModel)]="translation.name"
                      class="form-control"
                    />
                    <label for="fieldNameTranslation_{{ translationIndex }}">
                      {{ 'Name' | translate }}
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="md-form">
                    <p class="text-black-50">
                      {{ 'Description' | translate }}
                    </p>
                    <pell-editor
                      mdbInput
                      [(value)]="translation.description"
                      name="newFieldDescriptionTranslation_{{
                        translationIndex
                      }}"
                      required
                      id="newFieldDescriptionTranslation_{{ translationIndex }}"
                      rows="10"
                    ></pell-editor>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </ng-container>
        </mat-card>
        <mat-card>
          <mat-card-content>
            <div class="row">
              <div class="col">
                <div class="ng-select-wrapper">
                  <ng-select
                    class="custom"
                    dropdownPosition="'bottom'"
                    [placeholder]="'Type' | translate"
                    [clearable]="false"
                    [bindLabel]="'name'"
                    [bindValue]="'id'"
                    [(ngModel)]="recursionModel.field.fieldType"
                    id="fieldTypeSelector"
                    [items]="fieldTypes"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-search="searchTerm"
                    >
                      <ng-template #popTemplate>
                        <p>{{ item.description }}</p>
                        <img
                          [src]="item.previewImage"
                          alt=""
                          class="img-fluid"
                        />
                      </ng-template>
                      <div
                        [mdbPopover]="popTemplate"
                        container="body"
                        placement="right"
                        [triggers]="'hover'"
                      >
                        {{ item.name }}
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <!--              COLOR PICKER-->
              <!--              <div class="col">-->
              <!--                <div class="ng-select-wrapper">-->
              <!--                  <ng-select-->
              <!--                    class="custom"-->
              <!--                    dropdownPosition="'bottom'"-->
              <!--                    [placeholder]="'Color' | translate"-->
              <!--                    [clearable]="false"-->
              <!--                    [bindLabel]="'description'"-->
              <!--                    [bindValue]="'name'"-->
              <!--                    [(ngModel)]="recursionModel.field.color"-->
              <!--                    id="newFieldColorSelector"-->
              <!--                    [items]="fieldColors"-->
              <!--                  >-->
              <!--                    <ng-template-->
              <!--                      ng-option-tmp-->
              <!--                      let-item="item"-->
              <!--                      let-search="searchTerm"-->
              <!--                    >-->
              <!--                      <div>-->
              <!--                        <fa-icon-->
              <!--                          icon="square"-->
              <!--                          [fixedWidth]="true"-->
              <!--                          size="lg"-->
              <!--                          [ngStyle]="{ color: '#' + item.name }"-->
              <!--                        ></fa-icon>-->
              <!--                        {{ item.description }}-->
              <!--                      </div>-->
              <!--                    </ng-template>-->
              <!--                    <ng-template ng-label-tmp let-item="item">-->
              <!--                      <div>-->
              <!--                        <fa-icon-->
              <!--                          icon="square"-->
              <!--                          [fixedWidth]="true"-->
              <!--                          size="lg"-->
              <!--                          [ngStyle]="{ color: '#' + item.name }"-->
              <!--                        ></fa-icon>-->
              <!--                        {{ item.description }}-->
              <!--                      </div>-->
              <!--                    </ng-template>-->
              <!--                  </ng-select>-->
              <!--                </div>-->
              <!--              </div>-->
            </div>

            <div class="row" *ngIf="!mandatoryIsNotNeed">
              <div class="col">
                <div class="mat-checkbox">
                  <input
                    id="isChecked"
                    [(ngModel)]="recursionModel.field.mandatory"
                    color="primary"
                    type="checkbox"
                  />
                  <label for="isChecked">{{ 'Mandatory' | translate }}</label>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <app-visual-editor-additional-field-number
          *ngIf="
            recursionModel.field.fieldType == eformFieldTypesEnum.Number ||
            recursionModel.field.fieldType == eformFieldTypesEnum.NumberStepper
          "
          [field]="recursionModel.field"
        >
        </app-visual-editor-additional-field-number>
        <app-visual-editor-additional-field-save-button
          *ngIf="
            recursionModel.field.fieldType == eformFieldTypesEnum.SaveButton
          "
          [field]="recursionModel.field"
        >
        </app-visual-editor-additional-field-save-button>
        <app-visual-editor-additional-field-pdf
          *ngIf="recursionModel.field.fieldType == eformFieldTypesEnum.ShowPdf"
          [field]="recursionModel.field"
          [selectedLanguages]="selectedLanguages"
        >
        </app-visual-editor-additional-field-pdf>
        <app-visual-editor-additional-field-options
          *ngIf="
            recursionModel.field.fieldType == eformFieldTypesEnum.MultiSelect ||
            recursionModel.field.fieldType == eformFieldTypesEnum.SingleSelect
          "
          [field]="recursionModel.field"
          [selectedLanguages]="selectedLanguages"
        >
        </app-visual-editor-additional-field-options>
      </div>
      <div class="modal-footer">
        <button
          mat-button
          class="btn-success btn-small-height"
          (click)="isFieldSelected ? onUpdateField() : onCreateField()"
          id="changeFieldSaveBtn"
        >
          {{ 'Save' | translate }}
        </button>
        <button
          mat-button
          class="btn-accent text-black-50 btn-small-height"
          (click)="frame.hide()"
          id="changeFieldSaveCancelBtn"
        >
          {{ 'Cancel' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
