<h3 mat-dialog-title>{{ (isFieldSelected ? 'Edit field' : 'New field') | translate }}</h3>
<div mat-dialog-content class="need-wrapper" [ngSwitch]="recursionModel.field.fieldType">
  <mat-card>
    <mat-card-header>
      <!--      <h4>-->
      {{ "Type" | translate }}
      <!--      </h4>-->
    </mat-card-header>
    <mat-card-content>
      <div class="d-flex flex-column justify-content-between">
        <div class="d-flex flex-row">
          <mat-form-field>
            <mat-label>{{'Type' | translate}}</mat-label>
            <mtx-select
              class="custom"
              [dropdownPosition]="'bottom'"
              [clearable]="false"
              [bindLabel]="'name'"
              [bindValue]="'id'"
              [ngModel]="recursionModel.field.fieldType"
              (ngModelChange)="updateFieldType($event)"
              id="fieldTypeSelector"
              [items]="fieldTypes"
            >
              <ng-template
                ng-option-tmp
                let-item="item"
                let-search="searchTerm"
              >
                <mtx-popover #popover="mtxPopover" closeOnBackdropClick="true" [position]="['after', 'below']">
                  <p>{{ item.description | translate }}</p>
                  <img
                    [src]="item.previewImage"
                    alt=""
                    class="img-fluid"
                  />
                </mtx-popover>
                <div
                  cdkDrag
                  [mtxPopoverTriggerFor]="popover"
                  mtxPopoverTriggerOn="hover"
                >
                  {{ item.name | translate }}
                </div>
              </ng-template>
            </mtx-select>
          </mat-form-field>
        </div>
        <mat-checkbox
          *ngIf="!mandatoryIsNotNeed"
          id="isChecked"
          [(ngModel)]="recursionModel.field.mandatory"
          color="primary"
          type="checkbox">
          {{ 'Mandatory' | translate }}
        </mat-checkbox>
      </div>
    </mat-card-content>
  </mat-card>
  <ng-container
    *ngFor="
            let translation of recursionModel.field.translations;
            let translationIndex = index
          "
  >
    <ng-container *ngIf="translation !== undefined">
      <mat-card *ngIf="isLanguageSelected(translation.languageId) && getLanguage(translation.languageId) !== undefined">
        <mat-card-header>{{ getLanguage(translation.languageId).name | translate }}</mat-card-header>
        <mat-card-content>
          <div class="d-flex flex-column">
            <button *ngIf="translationPossible && recursionModel.field.translations.indexOf(translation) !== 0"
              mat-icon-button
              (click)="translateFromEnglishTo(translation.languageId)"
            >
              <mat-icon>language</mat-icon>
            </button>
            <mat-form-field>
              <mat-label>{{'Name' | translate }}</mat-label>
              <input
                matInput
                type="text"
                id="fieldNameTranslation_{{ translationIndex }}"
                name="fieldNameTranslation_{{ translationIndex }}"
                [(ngModel)]="translation.name"
              />
            </mat-form-field>
            <formatting-text-editor
              contenteditable="true"
              [(value)]="translation.description"
              [placeholder]="'Description' | translate"
              id="fieldDescriptionTranslation_{{ translationIndex }}"
            >
            </formatting-text-editor>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </ng-container>
  <app-visual-editor-additional-field-number
    *ngSwitchCase="eformFieldTypesEnum.Number"
    [field]="recursionModel.field"
    [selectedLanguages]="selectedLanguages"
    [appLanguages]="appLanguages"
  >
  </app-visual-editor-additional-field-number>
  <app-visual-editor-additional-field-date
    *ngSwitchCase="eformFieldTypesEnum.Date"
    [field]="recursionModel.field"
    [selectedLanguages]="selectedLanguages"
    [appLanguages]="appLanguages">
  </app-visual-editor-additional-field-date>
  <app-visual-editor-additional-field-number
    *ngSwitchCase="eformFieldTypesEnum.NumberStepper"
    [field]="recursionModel.field"
    [selectedLanguages]="selectedLanguages"
    [appLanguages]="appLanguages"
  >
  </app-visual-editor-additional-field-number>
  <app-visual-editor-additional-field-save-button
    *ngSwitchCase="eformFieldTypesEnum.SaveButton"
    [field]="recursionModel.field"
    [selectedLanguages]="selectedLanguages"
    [appLanguages]="appLanguages"
    [translationPossible]="translationPossible"
  >
  </app-visual-editor-additional-field-save-button>
  <app-visual-editor-additional-field-pdf
    *ngSwitchCase="eformFieldTypesEnum.ShowPdf"
    [field]="recursionModel.field"
    [selectedLanguages]="selectedLanguages"
    [appLanguages]="appLanguages"
  >
  </app-visual-editor-additional-field-pdf>
  <app-visual-editor-additional-field-options
    *ngSwitchCase="eformFieldTypesEnum.SingleSelect"
    [field]="recursionModel.field"
    [selectedLanguages]="selectedLanguages"
    [appLanguages]="appLanguages"
  >
  </app-visual-editor-additional-field-options>
  <app-visual-editor-additional-field-options
    *ngSwitchCase="eformFieldTypesEnum.MultiSelect"
    [field]="recursionModel.field"
    [selectedLanguages]="selectedLanguages"
    [appLanguages]="appLanguages"
  >
  </app-visual-editor-additional-field-options>
  <app-visual-editor-additional-field-entity-search
    *ngSwitchCase="eformFieldTypesEnum.EntitySearch"
    [field]="recursionModel.field"
  >
  </app-visual-editor-additional-field-entity-search>
  <app-visual-editor-additional-field-entity-select
    *ngSwitchCase="eformFieldTypesEnum.EntitySelect"
    [field]="recursionModel.field"
  >
  </app-visual-editor-additional-field-entity-select>
  <app-visual-editor-additional-field-show-picture
    *ngSwitchCase="eformFieldTypesEnum.ShowPicture"
    [field]="recursionModel.field"
    [selectedLanguages]="selectedLanguages"
    [appLanguages]="appLanguages"
  >
  </app-visual-editor-additional-field-show-picture>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end">
  <button
    mat-raised-button
    color="accent"
    (click)="isFieldSelected ? onUpdateField() : onCreateField()"
    id="changeFieldSaveBtn"
  >
    {{'Save' | translate}}
  </button>
  <button
    mat-raised-button
    (click)="hide()"
    id="changeFieldSaveCancelBtn"
  >
    {{'Cancel' | translate}}
  </button>
</div>
