<div
  [config]="{ ignoreBackdropClick: true }"
  mdbModal
  class="modal fade overflow-auto"
  #frame="mdbModal"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3>
          {{ (isFieldSelected ? 'Edit field' : 'New field') | translate }}
        </h3>
        <button class="close" data-dismiss="modal" (click)="frame.hide()">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <mdb-card
          *ngFor="
            let translation of recursionModel.field.translations;
            let translationIndex = index
          "
          class="mb-3"
        >
          <ng-container *ngIf="isLanguageSelected(translation.languageId)">
            <mdb-card-header>{{
              getLanguage(translation.languageId) | translate
            }}</mdb-card-header>
            <mdb-card-body>
              <div class="row">
                <div class="col-12">
                  <div class="md-form">
                    <input
                      mdbInput
                      type="text"
                      id="fieldNameTranslation_{{ translationIndex }}"
                      name="fieldNameTranslation_{{ translationIndex }}"
                      [(ngModel)]="translation.name"
                      class="form-control"
                    />
                    <label for="fieldNameTranslation_{{ translationIndex }}">
                      {{ 'Name' | translate }}
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <formatting-text-editor
                    [(value)]="translation.description"
                    [placeholder]="'Description' | translate"
                    id="newFieldDescriptionTranslation_{{ translationIndex }}"
                  >
                  </formatting-text-editor>
                </div>
              </div>
            </mdb-card-body>
          </ng-container>
        </mdb-card>
        <mdb-card>
          <mdb-card-body>
            <div class="row">
              <div class="col">
                <div class="ng-select-wrapper">
                  <ng-select
                    class="custom"
                    dropdownPosition="'bottom'"
                    [placeholder]="'Type' | translate"
                    [clearable]="false"
                    [bindLabel]="'name'"
                    [bindValue]="'id'"
                    [ngModel]="recursionModel.field.fieldType"
                    (ngModelChange)="updateFieldType($event)"
                    id="fieldTypeSelector"
                    [items]="fieldTypes"
                  >
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-search="searchTerm"
                    >
                      <ng-template #popTemplate>
                        <p>{{ item.description | translate }}</p>
                        <img
                          [src]="item.previewImage"
                          alt=""
                          class="img-fluid"
                        />
                      </ng-template>
                      <div
                        [mdbPopover]="popTemplate"
                        container="body"
                        placement="right"
                        [triggers]="'hover'"
                      >
                        {{ item.name | translate }}
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="!mandatoryIsNotNeed">
              <div class="col">
                <div class="mat-checkbox">
                  <input
                    id="isChecked"
                    [(ngModel)]="recursionModel.field.mandatory"
                    color="primary"
                    type="checkbox"
                  />
                  <label for="isChecked">{{ 'Mandatory' | translate }}</label>
                </div>
              </div>
            </div>
          </mdb-card-body>
        </mdb-card>
        <app-visual-editor-additional-field-number
          *ngIf="
            recursionModel.field.fieldType == eformFieldTypesEnum.Number ||
            recursionModel.field.fieldType == eformFieldTypesEnum.NumberStepper
          "
          [field]="recursionModel.field"
          [selectedLanguages]="selectedLanguages"
        >
        </app-visual-editor-additional-field-number>
        <app-visual-editor-additional-field-save-button
          *ngIf="
            recursionModel.field.fieldType == eformFieldTypesEnum.SaveButton
          "
          [field]="recursionModel.field"
          [selectedLanguages]="selectedLanguages"
        >
        </app-visual-editor-additional-field-save-button>
        <app-visual-editor-additional-field-pdf
          *ngIf="recursionModel.field.fieldType == eformFieldTypesEnum.ShowPdf"
          [field]="recursionModel.field"
          [selectedLanguages]="selectedLanguages"
        >
        </app-visual-editor-additional-field-pdf>
        <app-visual-editor-additional-field-options
          *ngIf="
            recursionModel.field.fieldType == eformFieldTypesEnum.MultiSelect ||
            recursionModel.field.fieldType == eformFieldTypesEnum.SingleSelect
          "
          [field]="recursionModel.field"
          [selectedLanguages]="selectedLanguages"
        >
        </app-visual-editor-additional-field-options>
        <app-visual-editor-additional-field-entity-search
          *ngIf="
            recursionModel.field.fieldType == eformFieldTypesEnum.EntitySearch
          "
          [field]="recursionModel.field"
        >
        </app-visual-editor-additional-field-entity-search>
        <app-visual-editor-additional-field-entity-select
          *ngIf="
            recursionModel.field.fieldType == eformFieldTypesEnum.EntitySelect
          "
          [field]="recursionModel.field"
        >
        </app-visual-editor-additional-field-entity-select>
      </div>
      <div class="modal-footer">
        <button
          mdbBtn
          class="btn-success btn-small-height"
          (click)="isFieldSelected ? onUpdateField() : onCreateField()"
          id="changeFieldSaveBtn"
        >
          {{ 'Save' | translate }}
        </button>
        <button
          mdbBtn
          class="btn-accent text-black-50 btn-small-height"
          (click)="frame.hide()"
          id="changeFieldSaveCancelBtn"
        >
          {{ 'Cancel' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
