.legend-title-text {
  text-overflow: clip !important;
  padding-right: 5px;
}

.legend-label-text {
  text-overflow: clip !important;
  padding-right: 5px;
}

.legend-labels {
  background: transparent !important;
}
