@use 'sass:map';
@use '@angular/material' as mat;

mtx-grid {
  max-height: 70vh;

  .mat-standard-chip {
    height: unset;
  }

  .mat-cell.selected {
    box-shadow: none !important;
  }

  .mtx-grid-toolbar {
    min-height: 82px;
  }

  .mat-table-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: black;
  }

  .mat-table-container::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #999999;
  }

  .mat-table-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
}

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $is-dark-theme: map.get($color-config, 'is-dark');
  $background-powder-color: #b3d3ea;
  $background-yellow-color: #e6d178;
  @if $is-dark-theme {
    $background-powder-color: #4c6071;
    $background-yellow-color: #7e6f3a;
  }
  mtx-grid {
    .background-yellow {
      background-color: $background-yellow-color !important;
    }

    .background-powder {
      background-color: $background-powder-color !important;
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
