@use "../utilities" as *;

.tag {
  min-width: $icon-size;
  height: $icon-size;
  color: #fff;
  background: gray;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: fit-content;
  padding: 5px 10px;
  border-radius: $icon-size;
}
.tag ~ .tag {
  margin-left: 10px;
  margin-bottom: 10px;
}

@mixin theme {
  .tag {
    background-color: var(--card);
    color: var(--text-header);
    border-color: var(--border);
    border-width: .5px;
    border-style: solid;

    mat-icon {
      color: var(--text-header);
    }
  }
}
