@use '../utilities/colors' as *;

body, .theme-light {
  --error: #{$error-light};
  --warning: #{$warning-light};
}

body, .theme-dark {
  --error: #{$error-dark};
  --warning: #{$warning-dark};
}

a {
  &.link-primary {
    color: var(--error);
    &:hover {
      color: $eform-red-dark;
    }
  }
}

.text-danger {
  color: var(--error);
}

.text-warning {
  color: var(--warning);
}

.text-black {
  color: rgba(0, 0, 0, 0.87);
}

.text-white {
  color: white;
}

@each $key in (nowrap, unset, break-spaces, normal, pre, pre-line, pre-wrap) {
  .text-#{$key} {
    white-space: $key;
  }
}

@mixin theme {
  .text-primary,
  .text-accent {
    color: var(--primary);
  }
  .text-warn {
    color: var(--error);
  }
}
