<eform-new-subheader>
  <button
    mat-raised-button
    color="accent"
    (click)="openNewUserModal()"
    *ngIf="userClaims.usersCreate"
    matTooltip="{{ 'Create user' | translate }}"
    id="createNewUserBtn"
  >
    {{ 'New User' | translate }}
  </button>
</eform-new-subheader>

<div class="d-flex flex-column">
  <mat-checkbox
    *ngIf="authStateService.isAdmin"
    id="isChecked"
    (click)="checked($event)"
    [(ngModel)]="isChecked"
    color="primary"
  >
    {{ 'Force users to use 2-f-auth' | translate }}
  </mat-checkbox>

  <mtx-grid
    [data]="userInfoModelList.entities"
    [columns]="tableHeaders"
    [showPaginator]="true"
    [paginationTemplate]="paginatorTpl"
    [pageOnFront]="false"
    [rowStriped]="true"
    [showToolbar]="false"
    [showColumnMenuButton]="false"
    [sortActive]="usersStateService.getActiveSort() | async"
    [sortDirection]="usersStateService.getActiveSortDirection() | async"
    (sortChange)="onSortTable($event)">
  </mtx-grid>

  <ng-template #paginatorTpl>
    <eform-pagination
      [pagination]="usersStateService.getPagination() | async"
      (paginationChanged)="onPaginationChanged($event)"
    ></eform-pagination>
  </ng-template>
</div>
