<eform-subheader>
  <div class="p-3">
    <button
      mat-button
      class="btn-success btn-small-height"
      (click)="openNewUserModal()"
      *ngIf="userClaims.usersCreate"
      matTooltip="{{ 'Create user' | translate }}"
      id="createNewUserBtn"
    >
      {{ 'New User' | translate }}
    </button>
  </div>
</eform-subheader>

<div class="container-fluid">
  <div class="row" *ngIf="authStateService.isAdmin">
    <div class="col-md-3">
      <div class="p-3">
        <div class="mat-checkbox">
          <input
            id="isChecked"
            (click)="checked($event)"
            [checked]="isChecked"
            [value]="isChecked"
            color="primary"
            type="checkbox"
          />
          <label for="isChecked">{{
            'Force users to use 2-f-auth' | translate
          }}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-1 table-responsive no-gutters">
    <table
      mdbTable
      striped="true"
      hover="true"
      small="true"
      class="z-depth-1 text-center"
    >
      <thead
        table-headers
        [tableHeaders]="tableHeaders"
        [sort]="usersStateService.getSort() | async"
        (sortChanged)="onSortTable($event)"
      ></thead>
      <tbody id="userInfoTable">
        <tr *ngFor="let userInfoModel of userInfoModelList.entities">
          <td id="userAdministrationId">{{ userInfoModel.id }}</td>
          <td id="userAdministrationEmail">{{ userInfoModel.email }}</td>
          <td id="userAdministrationFullName">
            {{ userInfoModel.firstName }} {{ userInfoModel.lastName }}
          </td>
          <td id="userAdministrationRole">
            {{ userInfoModel.role }}
          </td>
          <td *ngIf="userClaims.usersUpdate || userClaims.usersDelete">
            <div class="d-flex flex-row justify-content-center">
              <button
                id="userAdministrationEditBtn"
                class="btn btn-accent text-black-50 btn-icon mb-2"
                *ngIf="userClaims.usersUpdate"
                matTooltip="{{ 'Edit User' | translate }}"
                (click)="openEditModal(userInfoModel.id)"
              >
                <fa-icon icon="pen" [fixedWidth]="true" size="lg"></fa-icon>
              </button>
              <button
                mat-button
                class="btn-danger btn-icon mb-2"
                *ngIf="userClaims.usersDelete"
                matTooltip="{{ 'Delete user' | translate }}"
                (click)="openRemoveUserModal(userInfoModel)"
                id="userAdministrationDeleteBtn"
              >
                <fa-icon
                  icon="trash-alt"
                  [fixedWidth]="true"
                  size="lg"
                ></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row justify-content-between mr-2 ml-2">
    <div class="col-md-1">
      <eform-page-size
        [pageSize]="usersStateService.getPageSize() | async"
        (onPageSizeChanged)="onPageSizeChanged($event)"
      >
      </eform-page-size>
    </div>
    <div class="col-md-4 ml-auto d-flex justify-content-end p-2">
      <eform-pagination
        [pagination]="usersStateService.getPagination() | async"
        (onPageChanged)="changePage($event)"
      ></eform-pagination>
    </div>
  </div>
</div>

<app-user-edit-modal
  (onUserUpdated)="getUserInfoList()"
  [availableGroups]="securityGroups"
  #userEditModal
></app-user-edit-modal>
<app-new-user-modal
  (onUserCreated)="getUserInfoList()"
  [availableGroups]="securityGroups"
  #newUserModal
></app-new-user-modal>
<app-remove-user-modal
  [selectedUser]="selectedUser"
  (onUserDeleted)="onUserDeleted()"
  #removeUserModal
></app-remove-user-modal>
