<eform-new-subheader>
  <button
    class="btn-primary btn-primary--icon-left"
    (click)="openNewUserModal()"
    *ngIf="selectCurrentUserClaimsUsersCreate$ | async"
    matTooltip="{{ 'Create user' | translate }}"
    id="createNewUserBtn"
  >
    {{ 'New User' | translate }}
  </button>
</eform-new-subheader>

<div class="d-flex flex-column">
  <mat-checkbox
    *ngIf="selectCurrentUserIsAdmin$ | async"
    id="isChecked"
    (click)="checked($event)"
    [(ngModel)]="isChecked"
    color="primary"
  >
    {{ 'Force users to use 2-f-auth' | translate }}
  </mat-checkbox>

  <mtx-grid
    id="userInfoTable"
    [data]="userInfoModelList.entities"
    [columns]="tableHeaders"
    [cellTemplate]="{id: idTpl, email: emailTpl, fullName: fullNameTpl, role: roleTpl, archiveManufacturer: archiveManufacturerTpl, timeRegistrationManufacturer: timeRegistrationManufacturerTpl, actions: actionsTpl}"
    [showPaginator]="true"
    [paginationTemplate]="paginatorTpl"
    [pageOnFront]="false"
    [rowStriped]="true"
    [showToolbar]="false"
    [showColumnMenuButton]="false"
    [sortActive]="selectUsersSort$ | async"
    [sortDirection]="selectUsersIsSortDsc$ | async"
    (sortChange)="onSortTable($event)">
  </mtx-grid>

  <ng-template #idTpl let-row>
    <ng-container *ngIf="selectCurrentUserIsAdmin$ | async;">
      <span title="{{ 'Is device user' | translate }}">{{row.id}}<small class="microting-uid"> ({{row.isDeviceUser}})</small></span>
    </ng-container>
  </ng-template>


  <ng-template #idTpl let-row let-i="index">
    <div class="userAdministrationId" id="userAdministrationId-{{i}}">{{row.id}}</div>
  </ng-template>

  <ng-template #emailTpl let-row let-i="index">
    <div id="userAdministrationEmail-{{i}}">{{row.email}}</div>
  </ng-template>
  <ng-template #fullNameTpl let-row let-i="index">
    <div id="userAdministrationFullName-{{i}}">{{row.firstName}} {{row.lastName}}</div>
  </ng-template>
  <ng-template #roleTpl let-row let-i="index">
    <div id="userAdministrationRole-{{i}}">{{row.role}}</div>
  </ng-template>

  <ng-template #actionsTpl let-row let-i="index">
    <div class="user-actions" id="action-items-{{i}}">
      <button id="actionMenu" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="{{ 'Actions' | translate }}">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          id="userAdministrationEditBtn-{{i}}"
          *ngIf="selectCurrentUserClaimsUsersUpdate$ | async"
          (click)="openEditModal(row.id)"
        >
          <mat-icon color="accent">edit</mat-icon>
          <span>{{ 'Edit user' | translate }}</span>
        </button>

        <button
          mat-menu-item
          id="userAdministrationDeleteBtn-{{i}}"
          *ngIf="selectCurrentUserClaimsUsersDelete$ | async"
          [disabled]="row.id === 1"
          (click)="openRemoveUserModal(row)"
        >
          <mat-icon color="warn">delete</mat-icon>
          <span>{{ 'Delete user' | translate }}</span>
        </button>

        <button
          mat-menu-item
          id="userAdministrationResetPasswordBtn-{{i}}"
          (click)="openSetPasswordModal(row)"
        >
          <mat-icon color="primary">vpn_key</mat-icon>
          <span>{{ 'Set password' | translate }}</span>
        </button>
      </mat-menu>
    </div>
  </ng-template>


  <ng-template #paginatorTpl>
    <eform-pagination
      [pagination]="selectUsersPagination$ | async"
      (paginationChanged)="onPaginationChanged($event)"
    ></eform-pagination>
  </ng-template>


  <ng-template #archiveManufacturerTpl let-row>
    <ng-container *ngIf="row.archiveOsVersion !== null">
      <div class="manufacturer" id="manufacturer-{{row.id}}">
        {{row.archiveModel}} ({{row.archiveOsVersion}})
      </div>
    </ng-container>
  </ng-template>


  <ng-template #timeRegistrationManufacturerTpl let-row>
    <ng-container *ngIf="row.timeRegistrationOsVersion !== null">
      <div class="manufacturer" id="manufacturer-{{row.id}}">
        {{row.timeRegistrationModel}} ({{row.timeRegistrationOsVersion}})
      </div>
    </ng-container>
  </ng-template>
</div>
