<modal #createUserModal [size]="'md'">
  <modal-header [show-close]="true">
    <h4 class="modal-title">{{ 'New User' | translate }}</h4>
  </modal-header>
  <modal-body>
    <div class="container-fluid">
      <form #createForm="ngForm" class="create_eform">
        <div class="row">
          <div class="form-group col-xs-12 col-md-6">
            <label class="mt-validation-container">{{'Username' | translate}}*</label>
            <input class="form-control" required placeholder="testUser"
                   #createUserName="ngModel" type="text"
                   [(ngModel)]="newUserModel.userName"
                   name="createUserName"/>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label class="mt-validation-container">{{'Email' | translate}}*</label>
            <input class="form-control" placeholder="example@mail.com"
                   required #createEmail="ngModel" type="text"
                   [(ngModel)]="newUserModel.email"
                   name="createEmail"/>
          </div>

        </div>
        <div class="row">
          <div class="form-group col-xs-12 col-md-6">
            <label class="mt-validation-container">{{ 'First Name' | translate }}</label>
            <input class="form-control" placeholder="John" type="text"
                   [(ngModel)]="newUserModel.firstName"
                   name="createFirstName"/>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label class="mt-validation-container">{{ 'Last Name' | translate }}</label>
            <input class="form-control" placeholder="Smith" type="text"
                   [(ngModel)]="newUserModel.lastName"
                   name="createLastName"/>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12 col-md-6">
            <label class="mt-validation-container">{{'Role' | translate}}*</label>
            <select class="form-control" [(ngModel)]="newUserModel.role" name="createRole">
              <option [value]="'admin'">Admin</option>
              <option [value]="'user'">User</option>
            </select>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label class="mt-validation-container">{{'Password' | translate}}*</label>
            <input class="form-control" placeholder="Qq123457$"
                   required #createPassword="ngModel" type="text"
                   [(ngModel)]="newUserModel.password"
                   name="createPassword"/>
          </div>
        </div>
      </form>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-success" [disabled]="!createForm.form.valid"
            (click)="createUser()">{{ 'Save' | translate }}</button>
    <button type="button" class="btn btn-default"
            (click)="createUserModal.dismiss()">{{ 'Cancel' | translate }}
    </button>
  </modal-footer>
</modal>

<modal #editUserModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title" translate>{{ 'Edit User' | translate }}</h4>
  </modal-header>
  <modal-body>
    <div class="container-fluid">
      <form #editForm="ngForm" class="create_eform">

        <div class="row">
          <div class="form-group col-xs-12 col-md-6">
            <label class="mt-validation-container">{{'Username' | translate}}*</label>
            <input class="form-control"
                   required placeholder="testUser" #userNameEdit="ngModel" type="text"
                   [(ngModel)]="selectedUserModel.userName"
                   name="userName"/>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label class="mt-validation-container">{{'Email' | translate}}*</label>
            <input class="form-control" placeholder="example@mail.com"
                   required #emailEdit="ngModel" type="text"
                   [(ngModel)]="selectedUserModel.email"
                   name="email"/>
          </div>

        </div>
        <div class="row">
          <div class="form-group col-xs-12 col-md-6">
            <label class="mt-validation-container">{{ 'First Name' | translate }}</label>
            <input class="form-control" placeholder="John" type="text"
                   [(ngModel)]="selectedUserModel.firstName"
                   name="firstNameEdit"/>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label class="mt-validation-container">{{ 'Last Name' | translate }}</label>
            <input class="form-control" placeholder="Smith" type="text"
                   [(ngModel)]="selectedUserModel.lastName"
                   name="lastNameEdit"/>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12 col-md-6">
            <label class="mt-validation-container">{{'Role' | translate}}*</label>
            <select class="form-control" required #roleEdit="ngModel"
                    name="editRole" [(ngModel)]="selectedUserModel.role">
              <option [value]="'admin'">Admin</option>
              <option [value]="'user'" selected>User</option>
            </select>
          </div>
          <div class="form-group col-xs-12 col-md-6">
            <label class="mt-validation-container">{{ 'New password' | translate }}</label>
            <input class="form-control" placeholder="{{ 'Left empty if want to keep old' | translate }}" type="text"
                   [(ngModel)]="selectedUserModel.password"
                   name="password"/>
          </div>
        </div>
      </form>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-success" [disabled]="!editForm.form.valid"
            (click)="updateUser()">{{ 'Save' | translate }}</button>
    <button type="button" class="btn btn-default"
            (click)="editUserModal.dismiss()">{{ 'Cancel' | translate }}</button>
  </modal-footer>
</modal>
