<tr>
  <ng-container *ngTemplateOutlet="customCell"></ng-container>
  <ng-container *ngFor="let header of tableHeaders">
    <ng-container *ngIf="header && header.sortable">
      <th
        class="table-header-sortable {{
          header.name.toLowerCase() === 'id' ? 'text-uppercase' : ''
        }} {{ stickyHeader ? 'sticky-top' : '' }}"
        mat-sort-header="{{header.name}}"
        [arrowPosition]="isSortDsc ? 'after' : 'before'"
        [id]="header.elementId ? header.elementId : getElementId(header.name)"
      >
        <div>
          <ng-container *ngIf="needTranslateHeader">
            {{
            header.visibleName ? (header.visibleName | translate) : (header.name | translate)
            }}</ng-container
          >
          <ng-container *ngIf="!needTranslateHeader">
            {{ header.visibleName ? header.visibleName : header.name }}</ng-container
          >
        </div>
      </th>
    </ng-container>
    <ng-container *ngIf="header && !header.sortable">
      <th
        class="{{ stickyHeader ? 'sticky-top' : '' }} {{
          header.name.toLowerCase() === 'id' ? 'text-uppercase' : ''
        }}"
        scope="col"
      >
        <div>
          <ng-container *ngIf="needTranslateHeader">
            {{
            header.visibleName ? (header.visibleName | translate) : (header.name | translate)
            }}</ng-container
          >
          <ng-container *ngIf="!needTranslateHeader">
            {{ header.visibleName ? header.visibleName : header.name }}</ng-container
          >
        </div>
      </th>
    </ng-container>
  </ng-container>
</tr>
