<div class="card mb-2 mt-2">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <i
          class="material-icons md-36 dragula-handle align-middle"
          style="cursor: all-scroll"
        >
          drag_handle
        </i>
        {{ item.name }}
      </div>

<!--      <app-eform-collapse-toggle-->
<!--        [collapse]="collapse"-->
<!--        [collapsed]="this.item.collapsed"-->
<!--        (collapseUpdate)="this.item.collapsed = $event"-->
<!--      ></app-eform-collapse-toggle>-->
    </div>
  </div>

  <div mdbCollapse #collapse="bs-collapse">
    <div class="card-body">
      <div class="md-form">
        <input
          mdbInput
          [disabled]="true"
          [ngModel]="item.link"
          type="text"
          id="templateMenuItemLink{{ itemIndex }}"
          name="templateMenuItemLink{{ itemIndex }}"
          class="form-control"
        />
        <label for="templateMenuItemLink{{ itemIndex }}">{{
          'Link' | translate
        }}</label>
      </div>
    </div>
  </div>
</div>
