<header class="hidden-xs" *ngIf="
headerSettingsModel.imageLinkVisible ||
headerSettingsModel.mainTextVisible ||
headerSettingsModel.secondaryTextVisible">
  <div class="d-flex">
    <div class="logo-container mr-auto ml-2 pt-1">
      <img height="60px" id="site-header-image" [src]="logoImage | authImage | async" *ngIf="headerSettingsModel.imageLinkVisible" alt="">
    </div>
    <div class="mr-2 mt-2 text-right">
      <h4 *ngIf="headerSettingsModel.mainTextVisible">
        <strong id="main-header-text">{{headerSettingsModel.mainText}}</strong>
      </h4>
      <h5 id="secondary-header-text" *ngIf="headerSettingsModel.secondaryTextVisible">
        {{headerSettingsModel.secondaryText}}
      </h5>
    </div>
  </div>
</header>
