#main-header-text {
  font-size: 1.1rem;
  line-height: 1.1;
}

#secondary-header-text {
  font-size: 0.8rem;
  line-height: 1.1;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

.logo-container {
  width: 181px;
  //margin: 5px 15px 5px 15px;
}
