<!--<div [config]="{ignoreBackdropClick: true}" mdbModal class="modal fade" #frame="mdbModal">-->
<div class="modal-header">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{ 'New post' | translate }}</h3>
        <button class="close" data-dismiss="modal" (click)="frame.hide()">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="md-form">
                <input
                  mdbInput
                  [disabled]="true"
                  [(ngModel)]="currentUserFullName"
                  type="text"
                  id="newPostCreatedBy"
                  name="newPostCreatedBy"
                  class="form-control"
                />
                <label for="newPostCreatedBy">{{
                  'Created by' | translate
                }}</label>
              </div>
            </div>
          </div>
          <div class="row pl-1">
            <div class="col ng-select-wrapper">
              <ng-select
                class="custom"
                dropdownPosition="'bottom'"
                [placeholder]="'To' | translate"
                [items]="availableRecipientsAndTags"
                [ngModel]="selectedTagsAndRecipientsIds"
                (add)="saveRemoveRecipientOrTag($event)"
                (remove)="saveRemoveRecipientOrTag($event.value)"
                [clearable]="false"
                [bindLabel]="'name'"
                [bindValue]="'id'"
                id="newPostToSelector"
                [multiple]="true"
              ></ng-select>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="md-form">
                <input
                  mdbInput
                  [(ngModel)]="postCreateModel.subject"
                  type="text"
                  id="newPostSubject"
                  name="newPostSubject"
                  class="form-control"
                />
                <label for="newPostSubject">{{ 'Subject' | translate }}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="md-form">
                <textarea
                  mdbInput
                  [(ngModel)]="postCreateModel.text"
                  type="text"
                  id="newPostEmailText"
                  name="newPostEmailText"
                  class="md-textarea form-control"
                ></textarea>
                <label for="newPostEmailText">{{
                  'Email text' | translate
                }}</label>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <div class="mat-checkbox">
                <input
                  id="attachLinkToCase"
                  name="attachLinkToCase"
                  [(ngModel)]="postCreateModel.attachLinkToCase"
                  type="checkbox"
                />
                <label for="attachLinkToCase">{{
                  'Link to case' | translate
                }}</label>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="pdfReportAvailable">
            <div class="col">
              <div class="mat-checkbox">
                <input
                  id="attachReport"
                  name="attachReport"
                  [(ngModel)]="postCreateModel.attachReport"
                  type="checkbox"
                />
                <label for="attachReport">{{ 'Attach PDF' | translate }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          mdbRipple
          id="newTagSaveBtn"
          class="btn-success btn-small-height"
          [disabled]="!postCreateModel.subject"
          (click)="createPost()"
        >
          {{ 'Save' | translate }}
        </button>
        <button
          mdbRipple
          id="newTagSaveCancelBtn"
          class="btn-light text-black-50 btn-small-height"
          (click)="frame.hide()"
        >
          {{ 'Close' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
