<mat-card class="mb-2 mt-2" id="menuItemTemplate">
  <mat-card-header class="py-2 d-flex align-items-center justify-content-start">
    <mat-icon
      style="cursor: all-scroll"
      id="drag_handle{{firstLevelIndex}}_{{secondLevelIndex}}"
      class="md-36 dragula-handle align-middle"
    >menu
    </mat-icon>
    {{ item.name }}
    {{ item.translations.length > 0 ? '/ ' + getMenuTranslation(item.translations) : ' ' }}
    <div class="spacer"></div>
    <div>
      <button
        mat-icon-button
        color="accent"
        (click)="edit()"
        id="editBtn"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        (click)="delete()"
        id="deleteBtn"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-header>
</mat-card>
