<div class="card mb-2 mt-2" id="menuItemTemplate">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <i
          class="material-icons md-36 dragula-handle align-middle"
          style="cursor: all-scroll"
          id="drag_handle{{firstLevelIndex}}_{{secondLevelIndex}}"
        >
          drag_handle
        </i>
        {{ item.name }}
        {{
          item.translations.length > 0 ? '/ ' + getMenuTranslation(item.translations) : ' '
        }}
      </div>
      <div>
        <fa-icon
          id="editBtn"
          icon="pen"
          class="mr-2"
          [fixedWidth]="true"
          style="cursor: pointer"
          (click)="edit()"
        ></fa-icon>
        <fa-icon
          id="deleteBtn"
          icon="trash-alt"
          [fixedWidth]="true"
          style="cursor: pointer"
          (click)="delete()"
        ></fa-icon>
      </div>
    </div>
  </div>
</div>
