<eform-new-subheader>
  <div>
    <button
      mat-raised-button
      color="accent"
      matTooltip="Save settings"
      id="ProfileSettingsSaveBtn"
      (click)="updateUserProfileSettings()"
    >
      {{ 'Save' | translate }}
    </button>
  </div>
</eform-new-subheader>

<div style="
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
">
  <mat-card>
    <mat-card-title> {{ 'Google Authenticator' | translate }}</mat-card-title>
    <div class="mb-1">
      <mat-checkbox
        id="2fauthForsed"
        (change)="isTwoFactorEnabledCheckBoxChanged($event)"
        [(ngModel)]="googleAuthInfoModel.isTwoFactorEnabled"
        color="primary"
      >
        {{ 'Status' | translate }}
      </mat-checkbox>
    </div>
    <p class="text-danger">
      ({{ 'change will logout you from the application' | translate }})
    </p>
    <ng-container *ngIf="googleAuthInfoModel.psk">
      <div class="p-0">
        <div
          [innerHTML]="'Google Authenticator description' | translate"
        ></div>
        <p>
          <strong>{{ googleAuthInfoModel.psk }}</strong>
        </p>
      </div>
      <div class="p-0">
        <button
          mat-raised-button
          color="warn"
          id="deleteGoogleAuthenticatorInfo"
          matTooltip="{{
                  'Remove google authenticator secret key' | translate
                }}"
          (click)="deleteGoogleAuthenticatorInfo()"
        >
          {{ 'Remove PSK' | translate }}
        </button>
      </div>
    </ng-container>
  </mat-card>

  <mat-card>
    <mat-card-title> {{ 'General' | translate }}</mat-card-title>
    <mat-form-field>
      <mat-label>{{ 'Language' | translate }}</mat-label>
      <mtx-select
        *ngIf="authStateService.isAdmin"
        id="ProfileLanguageSelector"
        [bindLabel]="'name'"
        [bindValue]="'languageCode'"
        [clearable]="false"
        [(ngModel)]="userSettingsModel.locale"
        [items]="activeLanguages"
      ></mtx-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'Formats' | translate }}</mat-label>
      <mtx-select
        *ngIf="authStateService.isAdmin"
        id="ProfileFormatSelector"
        [bindLabel]="'text'"
        [bindValue]="'id'"
        [clearable]="false"
        [(ngModel)]="userSettingsModel.formats"
        [items]="countries"
      ></mtx-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'Timezone' | translate }}</mat-label>
      <mtx-select
        *ngIf="authStateService.isAdmin"
        id="ProfileTimeZoneSelector"
        [bindLabel]="'name'"
        [bindValue]="'id'"
        [clearable]="false"
        [(ngModel)]="userSettingsModel.timeZone"
        [items]="timeZones.timeZoneModels"
      ></mtx-select>
    </mat-form-field>
    <div class="mb-1">
      <mat-checkbox
        id="darkTheme"
        [(ngModel)]="userSettingsModel.darkTheme"
      >
        {{ 'Dark theme' | translate }}
      </mat-checkbox>
    </div>
  </mat-card>
</div>


<!--<div class="container-fluid mt-4">
  <div class="row mb-4">
    <div class="col-md-6 mb-3" *ngIf="authStateService.isAdmin">
      <mdb-card>
        <mdb-card-header>
          {{ 'Google Authenticator' | translate }}
        </mdb-card-header>
        <mdb-card-body>
          <div class="mb-1">
            <mat-checkbox
              id="2fauthForsed"
              (change)="isTwoFactorEnabledCheckBoxChanged($event)"
              [(ngModel)]="googleAuthInfoModel.isTwoFactorEnabled"
              color="primary"
            >
              {{ 'Status' | translate }}
            </mat-checkbox>
          </div>
          <p class="text-danger">
            ({{ 'change will logout you from the application' | translate }})
          </p>

          <ng-container *ngIf="googleAuthInfoModel.psk">
            <div class="p-0">
              <div
                [innerHTML]="'Google Authenticator description' | translate"
              ></div>
              <p>
                <strong>{{ googleAuthInfoModel.psk }}</strong>
              </p>
            </div>
            <div class="p-0">
              <button
                mat-raised-button
                color="warn"
                id="deleteGoogleAuthenticatorInfo"
                mdbTooltip="{{
                  'Remove google authenticator secret key' | translate
                }}"
                (click)="deleteGoogleAuthenticatorInfo()"
              >
                {{ 'Remove PSK' | translate }}
              </button>
            </div>
          </ng-container>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-md-6">
      <mdb-card class="card">
        <mdb-card-header>
          {{ 'General' | translate }}
        </mdb-card-header>
        <mdb-card-body>
          <div class="container-fluid">
            <div class="row">

            </div>
            <div class="row">

            </div>
            <div class="row">

            </div>

          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>-->
