<eform-subheader>
  <div class="p-3">
    <button
      mat-raised-button
      color="accent"
      mdbTooltip="Save settings"
      id="ProfileSettingsSaveBtn"
      (click)="updateUserProfileSettings()"
    >
      {{ 'Save' | translate }}
    </button>
  </div>
</eform-subheader>

<div class="container-fluid mt-4">
  <div class="row mb-4">
    <div class="col-md-6 mb-3" *ngIf="authStateService.isAdmin">
      <mdb-card>
        <mdb-card-header>
          {{ 'Google Authenticator' | translate }}
        </mdb-card-header>
        <mdb-card-body>
          <div class="mb-1">
            <mat-checkbox
              id="2fauthForsed"
              (change)="isTwoFactorEnabledCheckBoxChanged($event)"
              [(ngModel)]="googleAuthInfoModel.isTwoFactorEnabled"
              color="primary"
            >
              {{ 'Status' | translate }}
            </mat-checkbox>
          </div>
          <p class="text-danger">
            ({{ 'change will logout you from the application' | translate }})
          </p>

          <ng-container *ngIf="googleAuthInfoModel.psk">
            <div class="p-0">
              <div
                [innerHTML]="'Google Authenticator description' | translate"
              ></div>
              <p>
                <strong>{{ googleAuthInfoModel.psk }}</strong>
              </p>
            </div>
            <div class="p-0">
              <button
                mat-raised-button
                color="warn"
                id="deleteGoogleAuthenticatorInfo"
                mdbTooltip="{{
                  'Remove google authenticator secret key' | translate
                }}"
                (click)="deleteGoogleAuthenticatorInfo()"
              >
                {{ 'Remove PSK' | translate }}
              </button>
            </div>
          </ng-container>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-md-6">
      <mdb-card class="card">
        <mdb-card-header>
          {{ 'General' | translate }}
        </mdb-card-header>
        <mdb-card-body>
          <div class="container-fluid">
            <div class="row">
              <ng-select
                *ngIf="authStateService.isAdmin"
                id="ProfileLanguageSelector"
                [placeholder]="'Language' | translate"
                [bindLabel]="'text'"
                [bindValue]="'locale'"
                [clearable]="false"
                [(ngModel)]="userSettingsModel.locale"
                [items]="languages"
              ></ng-select>
            </div>
            <div class="row">
              <ng-select
                *ngIf="authStateService.isAdmin"
                id="ProfileFormatSelector"
                [placeholder]="'Formats' | translate"
                [bindLabel]="'text'"
                [bindValue]="'id'"
                [clearable]="false"
                [(ngModel)]="userSettingsModel.formats"
                [items]="countries"
              ></ng-select>
            </div>
            <div class="row">
              <ng-select
                *ngIf="authStateService.isAdmin"
                id="ProfileTimeZoneSelector"
                [placeholder]="'Timezone' | translate"
                [bindLabel]="'name'"
                [bindValue]="'id'"
                [clearable]="false"
                [(ngModel)]="userSettingsModel.timeZone"
                [items]="timeZones.timeZoneModels"
              ></ng-select>
            </div>
            <div class="row mb-1">
              <mat-checkbox
                id="darkTheme"
                [(ngModel)]="userSettingsModel.darkTheme"
              >
                {{ 'Dark theme' | translate }}
              </mat-checkbox>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
