@use "../../../scss/utilities/colors" as *;

footer {
  color: $eform-gray;
}

#footer-widgets {
  background-color: $eform-gray;
  font-size: 0.7rem;
}

a {
  color: white;
}

span {
  color: white;
}

.copyright-section {
  background-color: $eform-gray !important;
  color: white;
  font-size: 0.7rem;
}

.stick-down {
  //left: 0;
  //bottom: 0;
  width: 100%;
  //position: absolute;
}

.footer-version {
  color: gray;
  //font-size: 1em;
}
