<div id="footer_placeholder" style="height: 148px; background-color: white"></div>
<div id="my_footer_id_2" style="z-index: 999">
  <aside id="footer-widgets">
    <br>
    <div class="container text-center">
      <a href="https://www.microting.com/terms-of-service" target="_blank">Terms of Service</a> |
      <a href="https://www.microting.com/privacy-policy" target="_blank">Privacy Policy</a>
      <b></b>
    </div>
  </aside>
  <footer id="footer">
    <p>
      © Microting A/S 2007 - 2018
    </p>
  </footer>
</div>