<footer class="footer stick-down">
  <div id="footer-widgets">
    <div class="d-flex justify-content-center p-3">
      <a href="https://www.microting.com/terms-of-service" target="_blank">
        {{'Terms of Service' | translate}}
      </a> <span class="ml-2 mr-2"> | </span>
      <a href="https://www.microting.com/privacy-policy" target="_blank">
        {{'Privacy Policy' | translate}}
      </a>
      <b></b>
    </div>
  </div>
  <div class="footer-copyright text-center p-2 copyright-section">
    <p>© Microting A/S 2007 - 2018 </p>
    <p>{{version}}</p>
  </div>
</footer>
