<h3 mat-dialog-title>{{ 'Create unit' | translate}}</h3>
<div mat-dialog-content>
  <div class="d-flex flex-column">
    <mat-form-field>
      <mat-label>{{'Select location' | translate }}</mat-label>
      <mtx-select
        class="custom"
        appendTo="body"
        dropdownPosition="bottom"
        [bindValue]="'siteId'"
        [bindLabel]="'fullName'"
        [(ngModel)]="unitModel.siteId"
        [items]="simpleSites"
        id="workerSelector"
        [clearable]="false"
        [multiple]="false">
      </mtx-select>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions class="d-flex flex-row justify-content-end">
  <button
    mat-raised-button
    color="accent"
    (click)="createUnit()"
    [disabled]="!unitModel.siteId"
    id="workerSaveBtn"
  >
    {{'Create' | translate}}
  </button>
  <button
    mat-raised-button
    id="workerSaveCancelBtn"
    (click)="hide()"
  >
    {{'Cancel' | translate}}
  </button>
</div>
