<eform-subheader>
  <div class="p-3">
    <!--    <button-->
    <!--      class="btn btn-neutral" id="unitMoveBtn" *ngIf="userClaims.workersCreate"-->
    <!--      (click)="openMoveModal()">{{ 'Move unit' | translate }}</button>-->
    <button
      mat-button
      class="btn-success btn-small-height"
      id="unitCreateBtn"
      *ngIf="userClaims.workersCreate"
      (click)="openCreateModal()"
    >
      {{ 'Create unit' | translate }}
    </button>
  </div>
</eform-subheader>
<br />
<!--Here you can choose approach as you like: container-row, or flex, or just element with required styles and markup-->
<div class="container-fluid">
  <div class="row p-1 table-responsive no-gutters">
    <table
      mdbTable
      striped="true"
      hover="true"
      small="true"
      class="z-depth-1 text-center"
    >
      <thead table-headers [tableHeaders]="tableHeaders"></thead>
      <tbody>
        <tr *ngFor="let unitModel of unitModels; let i = index">
          <td>
            {{ unitModel.microtingUid }}
          </td>
          <td>
            {{ unitModel.siteName }}
          </td>
          <td>
            {{ unitModel.os }}
          </td>
          <td>
            {{ unitModel.osVersion }}
          </td>
          <td>
            {{ unitModel.model }}
          </td>
          <td>
            {{ unitModel.inSightVersion }}
          </td>
          <td>
            {{ unitModel.eFormVersion }}
          </td>
          <td>
            <div class="d-flex flex-row justify-content-center">
              <div *ngIf="unitModel.otpCode != 0">
                <strong
                  >{{ unitModel.customerNo }} / {{ unitModel.otpCode }}</strong
                >
              </div>
              <button
                *ngIf="unitModel.otpCode == 0 && userClaims.unitsUpdate"
                class="btn btn-danger btn-icon mb-2"
                matTooltip="{{ 'Get OTP code' | translate }}"
                (click)="openModalUnitsOtpCode(unitModel)"
              >
                <fa-icon icon="key" size="lg" [fixedWidth]="true"></fa-icon>
              </button>
            </div>
          </td>
          <td>
            <button
              mat-button
              *ngIf="!unitModel.syncDelayEnabled"
              matTooltip="{{ 'Activate sync delay' | translate }}"
              class="btn-accent text-black-50 btn-icon mb-2"
            >
              <fa-icon icon="toggle-on"></fa-icon>
            </button>
            <button
              mat-button
              *ngIf="unitModel.syncDelayEnabled"
              matTooltip="{{ 'Deactivate sync delay' | translate }}"
              class="btn-success text-white btn-icon mb-2"
            >
              <fa-icon icon="toggle-off"></fa-icon>
            </button>
          </td>
          <td>
            <button
              mat-button
              *ngIf="!unitModel.syncDialog"
              matTooltip="{{ 'Activate sync dialog' | translate }}"
              class="btn-accent text-black-50 btn-icon mb-2"
            >
              <fa-icon icon="toggle-on"></fa-icon>
            </button>
            <button
              mat-button
              *ngIf="unitModel.syncDialog"
              matTooltip="{{ 'Deactivate sync dialog' | translate }}"
              class="btn-success text-white btn-icon mb-2"
            >
              <fa-icon icon="toggle-off"></fa-icon>
            </button>
          </td>
          <td>
            <button
              mat-button
              *ngIf="!unitModel.pushEnabled"
              matTooltip="{{ 'Activate push' | translate }}"
              class="btn-accent text-black-50 btn-icon mb-2"
            >
              <fa-icon icon="toggle-on"></fa-icon>
            </button>
            <button
              mat-button
              *ngIf="unitModel.pushEnabled"
              matTooltip="{{ 'Deactivate push' | translate }}"
              class="btn-success text-white btn-icon mb-2"
            >
              <fa-icon icon="toggle-off"></fa-icon>
            </button>
          </td>
          <td>
            <button
              mat-button
              class="btn-danger btn-icon mb-2 btn-small-height"
              id="moveBtn_{{ i }}"
              *ngIf="userClaims.sitesDelete"
              matTooltip="{{ 'Move unit' | translate }}"
              (click)="openMoveModal(unitModel)"
            >
              <fa-icon icon="dolly" [fixedWidth]="true" size="lg"></fa-icon>
            </button>
            <!--          <button mat-button class="btn-danger btn-icon mb-2 " id="deleteBtn_{{i}}" *ngIf="userClaims.sitesDelete"-->
            <!--                  matTooltip="{{'Delete site' | translate}}"-->
            <!--                  (click)="openDeleteModal(siteDto)">-->
            <!--            <fa-icon icon="trash-alt" [fixedWidth]="true" size="lg"></fa-icon>-->
            <!--          </button>-->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-unit-create
  (UnitCreated)="loadAllUnits()"
  #modalUnitsCreate
></app-unit-create>

<app-unit-move
  (UnitMoved)="loadAllUnits()"
  [selectedUnitModel]="selectedUnitModel"
  #modalUnitsMove
></app-unit-move>
<app-units-otp-code
  (onUnitOtpRewoked)="loadAllUnits()"
  [selectedUnitModel]="selectedUnitModel"
  #modalUnitsOtpCode
></app-units-otp-code>
