<eform-page-subheader [title]="'Units' | translate">

</eform-page-subheader>

<!--Here you can choose approach as you like: container-row, or flex, or just element with required styles and markup-->
<div class="container-fluid">
  <div class="row p-1 table-responsive no-gutters">
    <table class="table table-sm table-striped text-center z-depth-1">
      <thead>
      <tr>
        <th scope="col">{{ 'Created at' | translate }}</th>
        <th scope="col"> {{ 'Updated at' | translate }}</th>
        <th scope="col">{{ 'Customer' | translate }} No & OTP</th>
        <th scope="col"> Microting UID</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let unitModel of unitModels">
        <td scope="row">
          <date-formatter [date]="unitModel.createdAt" [Format]="'datetime'"></date-formatter>
        </td>
        <td>
          <date-formatter [date]="unitModel.updatedAt" [Format]="'datetime'"></date-formatter>
        </td>
        <td>
          <div class="d-flex flex-row justify-content-center">
            <div *ngIf="unitModel.otpCode != 0">
              <strong>{{unitModel.customerNo}} / {{unitModel.otpCode}}</strong>
            </div>
            <button *ngIf="unitModel.otpCode == 0 && userClaims.unitsUpdate"
              class="btn btn-danger btn-icon mb-2 "
              mdbTooltip="{{ 'Get OTP code' | translate }}"
              (click)="openModalUnitsOtpCode(unitModel)">
              <i class="material-icons">
                vpn_key
              </i>
            </button>
          </div>
        </td>
        <td>
          {{unitModel.unitUId}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<eform-spinner [spinnerVisibility]="spinnerStatus"></eform-spinner>

<app-units-otp-code
  (onUnitOtpRewoked)="loadAllUnits()"
  [selectedUnitModel]="selectedUnitModel"
  #modalUnitsOtpCode></app-units-otp-code>
