<mdb-card
  class="mb-3"
>
  <mdb-card-header>
    <div class="d-flex justify-content-between align-items-center">
      <div>
        {{ 'Link' | translate }}
      </div>
      <app-eform-collapse-toggle
        [collapse]="collapse"
        [collapsed]="collapsed"
        (collapseUpdate)="collapsed = $event"
      ></app-eform-collapse-toggle>
    </div>
  </mdb-card-header>
  <div mdbCollapse #collapse="bs-collapse">
    <div class="card-body">
      <div class="md-form">
        <input
          mdbInput
          type="text"
          id="customLinkName"
          name="customLinkName"
          [(ngModel)]="customLinkModel.name"
          class="form-control"
        />
        <label for="customLinkName">{{
          'Name' | translate
          }}</label>
      </div>
      <div class="md-form">
        <input
          mdbInput
          type="text"
          id="customLinkLink"
          name="customLinkLink"
          [(ngModel)]="customLinkModel.link"
          class="form-control"
        />
        <label for="customLinkLink">{{
          'Link' | translate
          }}</label>
      </div>
      <div class="d-flex flex-row justify-content-end">
        <button mdbBtn class="btn btn-success btn-icon" [disabled]="!customLinkModel.link || !customLinkModel.name"
                (click)="addToMenu()"
                mdbTooltip="{{'Add to menu' | translate}}">
          <fa-icon icon="arrow-right" [fixedWidth]="true" size="lg"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</mdb-card>
