<h3 mat-dialog-title>{{ 'New custom link' | translate }}</h3>
<div mat-dialog-content>
  <div class="d-flex flex-column">
    <mat-form-field>
      <mat-label>{{ 'Security groups' | translate }}</mat-label>
      <mtx-select
        dropdownPosition="bottom"
        [(ngModel)]="customLinkModel.securityGroupsIds"
        [bindValue]="'id'"
        [bindLabel]="'name'"
        [items]="availableSecurityGroups"
        id="securityGroupsCustomDropdownSelector"
        [multiple]="true"
      ></mtx-select>
    </mat-form-field>
    <div class="d-flex flex-row align-items-center need-wrapper">
      <mat-form-field>
        <mat-label>{{ 'Link' | translate }}</mat-label>
        <input
          matInput
          type="text"
          id="customLinkLink"
          name="customLinkLink"
          [(ngModel)]="customLinkModel.link"
        >
      </mat-form-field>
      <mat-checkbox
        id="customLinkIsInternalLink"
        name="customLinkIsInternalLink"
        [(ngModel)]="customLinkModel.isInternalLink"
      >
        {{ 'Is internal link' | translate }}
      </mat-checkbox>
    </div>
    <mat-form-field *ngFor="
              let translation of customLinkModel.translations;
              let i = index
            ">
      <mat-label>{{ translation.language | translate }}</mat-label>
      <input
        matInput
        type="text"
        id="linkTranslation{{ i }}"
        name="linkTranslation{{ i }}"
        [(ngModel)]="translation.name"
      >
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end align-items-center gap-12">
  <button
    class="btn-primary btn-primary--icon-left"
    id="customLinkCreateBtn"
    (click)="addCustomLink()"
  >
    {{ 'Add' | translate }}
  </button>
  <button
    class="btn-cancel"
    (click)="hide()"
    type="button"
    id="customLinkCancelCreateBtn"
  >
    {{ 'Cancel' | translate }}
  </button>
</div>
