<div [config]="{ignoreBackdropClick: true}" mdbModal class="modal fade" #frame="mdbModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{'New Device User' | translate}}</h3>
        <button class="close" data-dismiss="modal" (click)="frame.hide()">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input mdbInput
                       [(ngModel)]="simpleSiteModel.userFirstName"
                       required type="text" name="userName" id="firstName" class="form-control">
                <label for="firstName">{{'First name' | translate }} </label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="md-form">
                <input mdbInput
                       [(ngModel)]="simpleSiteModel.userLastName"
                       required type="text" name="email" id="lastName" class="form-control">
                <label for="lastName">{{'Last name' | translate }} </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <ng-select
                  id = "ProfileLanguageSelector"
                  [placeholder]="'Language' | translate"
                  [bindLabel]="'text'"
                  [bindValue]="'locale'"
                  [clearable]="false"
                  [(ngModel)]="simpleSiteModel.languageCode"
                  [items]="languages"></ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button mdbBtn class="btn-success btn-small-height" id="saveCreateBtn"
                [disabled]="!simpleSiteModel.userFirstName || !simpleSiteModel.userLastName"
                (click)="createDeviceUser()">{{ 'Create' | translate }}</button>
        <button mdbBtn class="btn-neutral text-black-50 btn-small-height" id="cancelCreateBtn" (click)="frame.hide()">
          {{ 'Cancel' | translate }}</button>
      </div>
    </div>
  </div>
</div>



