<div class="md-form md-form-case-elem" [owlDateTimeTrigger]="dt1">
  <div class="md-form" [owlDateTimeTrigger]="dt1">
    <i class="material-icons prefix">calendar_today</i>
    <input mdbInput
           [owlDateTime]="dt1"

           [ngModel]="fieldValueObj.value"
           (dateTimeChange)="onDateSelected($event)"
           type="text"
           id="startDate"
           name="startDate"
           class="form-control">
    <label for="startDate">{{'Start date*' | translate}}</label>
    <owl-date-time
      [pickerType]="'calendar'" #dt1
      [firstDayOfWeek]="1"></owl-date-time>
  </div>
</div>
