<mat-form-field>
  <mat-label>{{ 'Select date' | translate }}</mat-label>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <input
    [required]="fieldValueObj.mandatory"
    matInput
    [matDatepicker]="picker"
    [value]="fieldValueObj.value"
    (dateChange)="onDateSelected($event)"
    (dateInput)="onDateSelected($event)"
    (click)="picker.open()"
  >
  <mat-datepicker #picker></mat-datepicker>
  <mat-error class="text-warn" *ngIf="!fieldValueObj.value && fieldValueObj.mandatory">
    {{'Date is required'| translate}}*
  </mat-error>
</mat-form-field>
