<mat-form-field>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <input
    [required]="fieldValueObj.mandatory"
    matInput
    [matDatepicker]="picker"
    [value]="fieldValueObj.value"
    (dateChange)="onDateSelected($event)"
    (dateInput)="onDateSelected($event)"
    (click)="picker.open()"
  >
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<!--
  Rendered outside mat-form-field on purpose: theme-workspace sets
  .mat-mdc-form-field-error-wrapper { display: none }, so a mat-error here would
  never be shown to the user.
-->
<p class="eform-field__error" *ngIf="!fieldValueObj.value && fieldValueObj.mandatory">
  {{'Date is required' | translate}}*
</p>
