<h3 mat-dialog-title>{{'Are you sure you want to delete menu entry' | translate}}?</h3>
<div mat-dialog-content>
  <div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-column">
      <p>{{'Name' | translate}}</p>
    </div>
    <div class="d-flex flex-column">
      <strong>{{item.name}}</strong>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-column">
      <p>{{'Type' | translate}}</p>
    </div>
    <div class="d-flex flex-column">
      <strong>{{menuItemType[item.type] | translate}}</strong>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-column">
      <p>{{'Child amount' | translate}}</p>
    </div>
    <div class="d-flex flex-column">
      <strong>{{item.children ? item.children.length : '--'}}</strong>
    </div>
  </div>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end">
  <button
    mat-raised-button
    color="warn"
    id="menuItemDeleteBtn"
    (click)="deleteMenuItem()"
  >
    {{'Delete' | translate}}
  </button>
  <button
    mat-raised-button
    id="menuItemDeleteCancelBtn"
    (click)="hide()"
  >
    {{'Cancel' | translate}}
  </button>
</div>
