<div mdbModal class="modal fade" #frame="mdbModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{'Edit searchable list' | translate}}</h3>
      </div>
      <div class="modal-body">
        <div class="container-fluid">

          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input mdbInputDirective
                       [mdbValidate]="false" required
                       [(ngModel)]="advEntitySearchableGroupEditModel.name"
                       id="createName" type="text" class="form-control">
                <label for="createName">{{'Name' | translate}}</label>
              </div>
            </div>
          </div>

          <div class="row d-flex">
            <div class="mr-auto">
            </div>
            <div class="d-inline-flex">
              <button class="btn btn-success btn-icon" (click)="modalSearchImportList.show()">
                <i class="material-icons">format_list_bulleted</i>
              </button>
              <button class="btn btn-success btn-icon" (click)="addNewAdvEntitySelectableItem()">
                <i class="material-icons">add</i>
              </button>
            </div>
          </div>

          <div class="row">
            <div class="panel panel-default w-100 pt-2">
              <div class="panel-body">
                <ul class="list-group" dragula="ITEMS"
                    [(dragulaModel)]="advEntitySearchableGroupEditModel.advEntitySearchableItemModels"
                    (dragulaModelChange)="dragulaPositionChanged()">
                  <!--list item-->
                  <li class="list-group-item"
                      *ngFor="let entityItem of advEntitySearchableGroupEditModel.advEntitySearchableItemModels">
                    <div class="row">
                      <div class="col-md-1">
                        <a>
                          <i class="material-icons text-black-50"> drag_handle </i>
                        </a>
                      </div>
                      <div class="col-md-9">{{entityItem.name}}</div>
                      <div class="col-md-2">
                        <i class="material-icons material-icon-danger mr-3" *ngIf="!entityItem.name"
                           mdbTooltip="{{'Name is required' | translate}}!">
                           warning
                        </i>
                        <a class="pull-right">
                          <i class="material-icons text-black-50" (click)="openModalSearchEditName(entityItem)"> edit </i>
                        </a>
                        <a class="pull-right">
                          <i class="material-icons text-black-50"
                             (click)="deleteAdvEntitySelectableItem(entityItem.entityItemUId)"> delete </i>
                        </a>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="updateEntitySearchableGroup()">{{'Save' | translate}}</button>
        <button class="btn btn-accent text-black-50" (click)="frame.hide()">{{'Close' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<eform-spinner [spinnerVisibility]="spinnerStatus"></eform-spinner>

<app-entity-search-import-list
  (onImportSubmitted)="importAdvEntitySelectableGroup($event)"
  #modalSearchImportList></app-entity-search-import-list>
<app-entity-search-edit-name [selectedAdvEntitySearchableItemModel]="selectedItem"
                             (onItemUpdated)="updateItem($event)" #modalSearchEditName></app-entity-search-edit-name>
