<div
  [config]="{ ignoreBackdropClick: true }"
  mdbModal
  class="modal fade"
  #frame="mdbModal"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{ 'New User' | translate }}</h3>
        <button class="close" data-dismiss="modal" (click)="hide()">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form #createForm="ngForm">
            <div class="row">
              <div class="col-md-6">
                <div class="md-form">
                  <input
                    mdbInput
                    class="form-control"
                    type="text"
                    [(ngModel)]="newUserModel.firstName"
                    id="createFirstName"
                    name="createFirstName"
                  />
                  <label for="createFirstName">{{
                    'First name' | translate
                    }}</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form">
                  <input
                    mdbInput
                    class="form-control"
                    type="text"
                    [(ngModel)]="newUserModel.lastName"
                    name="createLastName"
                    id="createLastName"
                  />
                  <label for="createLastName">{{
                    'Last name' | translate
                    }}</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="md-form">
                  <input
                    mdbInput
                    class="form-control"
                    required
                    #createEmail="ngModel"
                    type="text"
                    [(ngModel)]="newUserModel.email"
                    id="createEmail"
                    name="createEmail"
                  />
                  <label for="createEmail">{{ 'Email' | translate }}</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form">
                  <input
                    mdbInput
                    class="form-control"
                    required
                    type="password"
                    [(ngModel)]="newUserModel.password"
                    id="createPassword"
                    name="createPassword"
                  />
                  <label for="createPassword"
                  >{{ 'Password' | translate }}*</label
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 ng-select-wrapper">
                <mat-form-field>
                  <mat-label>{{ 'Role' | translate }}</mat-label>
                  <mtx-select
                    required
                    bindLabel="name"
                    bindValue="id"
                    [clearable]="false"
                    [(ngModel)]="newUserModel.role"
                    name="createRole"
                    id="createRole"
                    [items]="[
                    { id: 'admin', name: 'Admin' | translate },
                    { id: 'user', name: 'User' | translate }
                  ]"
                  ></mtx-select>
                </mat-form-field>
              </div>
              <div
                class="col-md-6 ng-select-wrapper"
                *ngIf="newUserModel.role !== 'admin'"
              >
                <mat-form-field>
                  <mat-label>{{ 'Group' | translate }}</mat-label>
                  <mtx-select
                    required
                    bindLabel="groupName"
                    bindValue="id"
                    [(ngModel)]="newUserModel.groupId"
                    name="createGroup"
                    id="createGroup"
                    [items]="availableGroups.entities"
                  ></mtx-select>
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button
          mat-raised-button
          color="accent"
          class="mr-2"
          [disabled]="!createForm.form.valid"
          type="submit"
          (click)="createUser()"
          id="createAdministrationUserBtn"
        >
          {{ 'Create' | translate }}
        </button>
        <button
          mat-raised-button
          (click)="hide()"
          type="button"
          id="createAdministrationUserCancelBtn"
        >
          {{ 'Cancel' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
