<eform-subheader>
  <div class="p-3">
    <button
      mdbBtn
      id="createEntitySearchBtn"
      class="btn btn-success btn-small-height"
      mdbTooltip="{{ 'Create new searchable list' | translate }}"
      *ngIf="userClaims.entitySearchCreate"
      placement="left"
      [routerLink]="['/advanced/entity-search/create']"
    >
      {{ 'New list' | translate }}
    </button>
  </div>
</eform-subheader>

<!--Here you can choose approach as you like: container-row, or flex, or just element with required styles and markup-->
<div class="container-fluid">
  <div class="row pl-1">
    <div class="col-md-2">
      <div class="md-form">
        <input
          mdbInput
          (ngModelChange)="onSearchChanged($event)"
          [ngModel]="entitySearchStateService.getNameFilter() | async"
          type="text"
          class="form-control"
          id="labelInput"
        />
        <label for="labelInput">{{ 'Search' | translate }}</label>
      </div>
    </div>
  </div>
  <div class="row p-1 table-responsive no-gutters">
    <table
      mdbTable
      striped="true"
      hover="true"
      small="true"
      class="z-depth-1 text-center"
      matSort
      [matSortActive]="entitySearchStateService.getActiveSort() | async"
      [matSortDirection]="entitySearchStateService.getActiveSortDirection() | async"
      [matSortDisableClear]="true"
      (matSortChange)="sortTable($event)"
    >
      <thead
        table-headers
        [tableHeaders]="tableHeaders"
      ></thead>
      <tbody id="tableBody">
        <tr
          *ngFor="
            let advEntitySearchableGroup of advEntitySearchableGroupListModel.entities
          "
        >
          <td id="entitySearchMUid">
            {{ advEntitySearchableGroup.microtingUUID }}
          </td>
          <td id="entitySearchName">{{ advEntitySearchableGroup.name }}</td>
          <td id="entitySearchDescription">
            {{ advEntitySearchableGroup.description }}
          </td>
          <td
            *ngIf="
              userClaims.entitySearchDelete || userClaims.entitySearchUpdate
            "
          >
            <div class="d-flex flex-row justify-content-center">
              <button
                id="entitySearchUpdateBtn"
                class="btn btn-accent btn-icon text-black-50 mb-2"
                [disabled]="!userClaims.entitySearchUpdate"
                mdbTooltip="{{ 'Edit' | translate }}"
                [routerLink]="[
                  '/advanced/entity-search/edit/' +
                    advEntitySearchableGroup.microtingUUID
                ]"
              >
                <fa-icon icon="pen" [fixedWidth]="true" size="lg"></fa-icon>
              </button>
              <button
                id="entitySearchDeleteBtn"
                class="btn btn-danger btn-icon mb-2"
                mdbTooltip="{{ 'Remove' | translate }}"
                (click)="openModalSearchRemove(advEntitySearchableGroup)"
                [disabled]="!userClaims.entitySearchDelete ||
                  advEntitySearchableGroup.isLocked"
              >
                <fa-icon
                  icon="trash-alt"
                  [fixedWidth]="true"
                  size="lg"
                ></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-between mr-2 ml-2">
    <div class="col-md-1">
      <eform-page-size
        [pageSize]="entitySearchStateService.getPageSize() | async"
        (onPageSizeChanged)="onPageSizeChanged($event)"
      >
      </eform-page-size>
    </div>
    <div class="col-md-4 ml-auto d-flex justify-content-end p-2">
      <eform-pagination
        [pagination]="entitySearchStateService.getPagination() | async"
        (onPageChanged)="changePage($event)"
      ></eform-pagination>
    </div>
  </div>
</div>

<app-entity-search-remove
  (onEntityRemoved)="onEntityRemoved()"
  #modalSearchRemove
></app-entity-search-remove>
