<eform-new-subheader>
  <button
    mat-raised-button
    color="accent"
    id="createEntitySearchBtn"
    matTooltip="{{ 'Create new searchable list' | translate }}"
    *ngIf="selectCurrentUserClaimsEntitySearchCreate$ | async"
    matTooltipPosition="left"
    [routerLink]="['/advanced/entity-search/create']"
  >
    {{ 'New list' | translate }}
  </button>
</eform-new-subheader>

<ng-template #toolbarTpl>
  <div class="d-flex flex-row justify-content-start flex-nowrap">
    <div class="d-flex flex-column mr-2 ml-2">
      <mat-form-field>
        <mat-label>{{ 'Search' | translate }}</mat-label>
        <input
          matInput
          type="text"
          (ngModelChange)="onSearchChanged($event)"
          [ngModel]="entitySearchStateService.getNameFilter() | async"
          id="labelInput"
        />
      </mat-form-field>
    </div>
  </div>
</ng-template>

<mtx-grid
  [data]="advEntitySearchableGroupListModel.entities"
  [columns]="tableHeaders"
  [cellTemplate]="{microtingUUID: microtingUUIDTpl, name: entitySelectNameTpl, description: entitySelectDescriptionTpl, actions: actionsTpl}"
  [showPaginator]="true"
  [paginationTemplate]="paginatorTpl"
  [pageOnFront]="false"
  [rowStriped]="true"
  [showToolbar]="true"
  [showColumnMenuButton]="false"
  [toolbarTemplate]="toolbarTpl"
  [sortActive]="entitySearchStateService.getActiveSort() | async"
  [sortDirection]="entitySearchStateService.getActiveSortDirection() | async"
  (sortChange)="sortTable($event)">
</mtx-grid>
<ng-template #microtingUUIDTpl let-row let-i="index">
  <div class="entitySearchMUid" id="entitySearchMUid">{{row.microtingUUID}}</div>
</ng-template>
<ng-template #entitySelectNameTpl let-row let-i="index">
  <div class="entitySearchName" id="entitySearchName">{{row.name}}</div>
</ng-template>
<ng-template #entitySelectDescriptionTpl let-row let-i="index">
  <div class="entitySelectDescription" id="entitySelectDescription">{{row.description}}</div>
</ng-template>


<ng-template #actionsTpl let-row>
  <div *ngIf="(selectCurrentUserClaimsEntitySearchDelete$ | async) || (selectCurrentUserClaimsEntitySearchUpdate$ | async)">
    <button
      mat-icon-button
      id="entitySearchUpdateBtn"
      matTooltip="{{ 'Edit' | translate }}"
      [disabled]="(selectCurrentUserClaimsEntitySearchUpdate$ | async) === false"
      [routerLink]="['/advanced/entity-search/edit/' + row.microtingUUID]"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      color="warn"
      id="entitySearchDeleteBtn"
      (click)="openModalSearchRemove(row)"
      matTooltip="{{ 'Remove' | translate }}"
      [disabled]="(selectCurrentUserClaimsEntitySearchDelete$ | async) === false || row.isLocked"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</ng-template>

<!--Here you can choose approach as you like: container-row, or flex, or just element with required styles and markup-->
<ng-template #paginatorTpl>
  <eform-pagination
    [pagination]="entitySearchStateService.getPagination() | async"
    (paginationChanged)="onPaginationChanged($event)"
  ></eform-pagination>
</ng-template>
