<mdb-card
  class="mt-3"
  *ngFor="let translation of field.translations; let translationIndex = index"
>
  <ng-container *ngIf="isLanguageSelected(translation.languageId)">
    <mdb-card-header>{{
      getLanguage(translation.languageId) | translate
    }}</mdb-card-header>
    <mdb-card-body>
      <div class="row">
        <div class="col">
          <div class="md-form">
            <input
              mdbInput
              [(ngModel)]="translation.defaultValue"
              [required]="true"
              type="text"
              class="form-control"
              id="defaultValueEdit{{ translationIndex }}"
            />
            <label>{{ 'Value' | translate }}</label>
          </div>
        </div>
      </div>
    </mdb-card-body>
  </ng-container>
</mdb-card>
