$eform-gray-light: #F1F1F1;
$eform-gray: #263238;
$eform-gray-dark: #000a12;
$eform-red-dark: #7f0000;
$eform-red-light: #f05545;
$eform-red: #b71c1c;
$eform-green: #61BA5B;
$eform-green-dark: #4B9F45;
