@use "sass:list";
@use "sass:map";

@function fill-array($end, $start: 1) {
  $new-list: ();

  @for $i from $start through $end - 1 {
    $new-list: list.append($new-list, $i);
  }
  @return $new-list;
}

@each $col in fill-array(10) {
  @each $size in fill-array(10) {
    $grid-template-columns: #{$size}fr;
    @for $i from 1 through $col {
      @if($i == 1){
        $grid-template-columns: #{$size}fr;
      }
      @else {
        $grid-template-columns: #{$size}fr $grid-template-columns;
      }
    }
    .grid-#{$col}-columns-#{$size} {
      grid-template-columns: $grid-template-columns;
    }
  //  example: .grid-4-columns-5 {grid-template-columns: 5fr 5fr 5fr 5fr;} .grid-5-columns-4 {grid-template-columns: 4fr 4fr 4fr 4fr 4fr;}
  }
}

