<h3 mat-dialog-title>{{'Edit email recipient' | translate}}</h3>
<div mat-dialog-content>
  <div class="d-flex flex-column">
    <mat-form-field>
      <mat-label>{{'Tags' | translate }}</mat-label>
      <mtx-select
        class="custom"
        [dropdownPosition]="'bottom'"
        [(ngModel)]="emailRecipientUpdateModel.tagsIds"
        [bindValue]="'id'"
        [bindLabel]="'name'"
        [items]="availableTags"
        id="editEmailRecipientsMultiSelector"
        [multiple]="true"
        [appendTo]="'body'">
      </mtx-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'Name' | translate }}</mat-label>
      <input
        matInput
        [(ngModel)]="emailRecipientUpdateModel.name"
        name="editEmailRecipientName"
        type="text"
        id="editEmailRecipientName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'Email' | translate }}</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="emailRecipientUpdateModel.email"
        name="editEmailRecipientEmail"
        id="editEmailRecipientEmail">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end">
  <button
    mat-raised-button
    color="accent"
    (click)="updateEmailRecipient()"
    id="emailRecipientUpdateSaveBtn"
  >
    {{'Save' | translate}}
  </button>
  <button
    mat-raised-button
    id="emailRecipientUpdateSaveCancelBtn"
    (click)="hide()"
  >
    {{'Cancel' | translate}}
  </button>
</div>
