<eform-subheader [title]="'Eform visual editor' | translate">
  <div class="p-3">
    <button
      mdbBtn
      class="btn-accent text-black-50 btn-icon"
      (click)="openTagsModal()"
      mdbTooltip="{{ 'Manage tags' | translate }}"
      mdbWavesEffect
    >
      <fa-icon icon="tags" [fixedWidth]="true" size="lg"></fa-icon>
    </button>
    <button
      mdbBtn
      class="btn-success btn-small-height"
      (click)="createVisualTemplate()"
      mdbTooltip="{{ 'Save' | translate }}"
      mdbWavesEffect
    >
      {{ 'Save' | translate }}
    </button>
  </div>
</eform-subheader>

<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-lg-9 col-md-12 col-xs-12">
      <app-eform-visual-editor-header
        [visualEditorModel]="visualEditorTemplateModel"
      ></app-eform-visual-editor-header>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-9 col-md-12 col-xs-12">
      <div class="card z-depth-3" style="width: 100%">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <ng-container
                *ngIf="
                  visualEditorTemplateModel.fields.length ||
                  visualEditorTemplateModel.checkLists.length
                "
              >
                <button
                  mdbBtn
                  class="btn-icon mb-2 float-right text-black-50"
                  mdbTooltip="{{ 'Expand all' | translate }}"
                  (click)="toggleCollapse()"
                  *ngIf="isItemsCollapsed"
                >
                  <fa-icon
                    icon="angle-double-right"
                    size="lg"
                    [fixedWidth]="true"
                  ></fa-icon>
                </button>

                <button
                  mdbBtn
                  class="btn-icon mb-2 float-right text-black-50"
                  mdbTooltip="{{ 'Collapse all' | translate }}"
                  (click)="toggleCollapse()"
                  *ngIf="!isItemsCollapsed"
                >
                  <fa-icon
                    icon="angle-double-down"
                    size="lg"
                    [fixedWidth]="true"
                  ></fa-icon>
                </button>
              </ng-container>
            </div>
          </div>
          <section
            dragula="CHECK_LISTS"
            id="editorChecklists"
            (dragulaModelChange)="dragulaPositionChanged($event)"
            [dragulaModel]="visualEditorTemplateModel.checkLists"
          >
            <app-eform-visual-editor-block
              *ngFor="
                let checklist of visualEditorTemplateModel.checkLists;
                let i = index
              "
              [checklist]="checklist"
              [elementIndex]="i"
              id="checkList_{{ i }}"
              (addNewChecklist)="showChecklistModal($event)"
              (deleteField)="onDeleteElement($event)"
              [ngClass]="{ 'no-drag': !checklist.collapsed }"
              (fieldPositionChanged)="onFieldPositionChanged($event)"
            ></app-eform-visual-editor-block>
          </section>
          <section
            *ngIf="
              !visualEditorTemplateModel.checkLists ||
              visualEditorTemplateModel.checkLists.length == 0
            "
            dragula="FIELDS"
            id="editorFields"
            (dragulaModelChange)="dragulaPositionChanged($event)"
            [dragulaModel]="visualEditorTemplateModel.fields"
          >
            <app-eform-visual-editor-block
              *ngFor="
                let field of visualEditorTemplateModel.fields;
                let i = index
              "
              [field]="field"
              [elementIndex]="i"
              [visualEditorTemplateModel]="visualEditorTemplateModel"
              id="field_{{ i }}"
              (addNewChecklist)="showChecklistModal($event)"
              (updateField)="showFieldModal($event)"
              (deleteField)="onDeleteElement($event)"
              [ngClass]="{ 'no-drag': !field.collapsed }"
              (fieldPositionChanged)="onFieldPositionChanged($event)"
            ></app-eform-visual-editor-block>
          </section>
          <div class="row">
            <div class="col d-flex justify-content-end">
              <button
                mdbBtn
                id="initialFieldCreateBtn"
                [mdbTooltip]="'New field' | translate"
                class="btn-success btn-icon"
                (click)="showFieldModal()"
              >
                <fa-icon icon="plus" [fixedWidth]="true" size="lg"></fa-icon>
              </button>
              <button
                mdbBtn
                id="initialChecklistCreateBtn"
                [mdbTooltip]="'New checklist' | translate"
                class="btn-success btn-icon"
                [disabled]="true"
                (click)="showChecklistModal()"
              >
                <fa-icon
                  icon="folder-plus"
                  [fixedWidth]="true"
                  size="lg"
                ></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-eform-visual-editor-tags
  #tagsModal
  [availableTags]="availableTags"
  (tagsChanged)="getTags()"
>
</app-eform-visual-editor-tags>

<app-eform-visual-editor-checklist-modal
  #checklistModal
  (createChecklist)="onChecklistCreate($event)"
  (updateChecklist)="onChecklistUpdate($event)"
>
</app-eform-visual-editor-checklist-modal>

<app-eform-visual-editor-field-modal
  #fieldModal
  (createField)="onFieldCreate($event)"
  (updateField)="onFieldUpdate($event)"
>
</app-eform-visual-editor-field-modal>
