<eform-new-subheader
  [forceStaticTitle]="true"
  [title]="'Eform visual editor' | translate"
>
  <div class="">
    <button
      mat-icon-button
      id="manageTags"
      (click)="openTagsModal()"
      mdbTooltip="{{ 'Manage tags' | translate }}"
    >
      <mat-icon>discount</mat-icon>
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="
        selectedTemplateId ? updateVisualTemplate() : createVisualTemplate()
      "
      mdbTooltip="{{ (selectedTemplateId ? 'Save' : 'Create') | translate }}"
      id="saveCreateEformBtn"
      [disabled]="isAllNamesEmpty"
    >
      {{ (selectedTemplateId ? 'Save eForm' : 'Create eForm') | translate }}
    </button>
  </div>
</eform-new-subheader>

<mat-card class="d-flex flex-column mb-3" style="padding-right: 0; padding-left: 0; padding-bottom: 0">
  <app-eform-visual-editor-header
    [visualEditorModel]="visualEditorTemplateModel"
    [availableTags]="availableTags"
    [selectedLanguages]="selectedLanguages"
    (addOrDeleteLanguage)="onAddOrDeleteLanguage($event)"
  ></app-eform-visual-editor-header>
</mat-card>
<mat-card>
  <div class="row">
    <div class="col">
      <ng-container
        *ngIf="
                  visualEditorTemplateModel.fields.length ||
                  visualEditorTemplateModel.checkLists.length
                "
      >
        <button
          mdbBtn
          class="btn-icon mb-2 float-right text-black-50"
          mdbTooltip="{{
                    (isItemsCollapsed ? 'Expand all' : 'Collapse all')
                      | translate
                  }}"
          (click)="toggleCollapse()"
          id="expandAllBtn"
        >
          <fa-icon
            [icon]="
                      isItemsCollapsed
                        ? 'angle-double-right'
                        : 'angle-double-down'
                    "
            size="lg"
            [fixedWidth]="true"
          ></fa-icon>
        </button>
      </ng-container>
    </div>
  </div>
  <div
    mdbCollapse
    #collapse="bs-collapse"
    [isCollapsed]="isItemsCollapsed"
  >
    <section
      dragula="CHECK_LISTS"
      id="editorChecklists"
      (dragulaModelChange)="dragulaPositionChecklistChanged($event)"
      [dragulaModel]="visualEditorTemplateModel.checkLists"
    >
      <app-visual-editor-checklist
        *ngFor="
                  let checklist of visualEditorTemplateModel.checkLists;
                  let i = index
                "
        [checklist]="checklist"
        [checklistRecursionIndexes]="[i]"
        [checklistIndex]="i"
        id="checkList_{{ i }}"
        (addNewNestedChecklist)="showChecklistModal($event)"
        (deleteNestedChecklist)="showDeleteChecklistModal($event)"
        (editNestedChecklist)="showChecklistModal($event)"
        (addNewNestedField)="showFieldModal($event)"
        (deleteNestedField)="showDeleteFieldModal($event)"
        (editNestedField)="showFieldModal($event)"
        [ngClass]="{ 'no-drag': !checklist.collapsed }"
        (nestedFieldPositionChanged)="
                  onNestedFieldPositionChanged($event)
                "
        (copyNestedField)="onFieldCreate($event)"
        (changeColorField)="onFieldUpdate($event)"
      ></app-visual-editor-checklist>
    </section>
    <section
      *ngIf="
                !visualEditorTemplateModel.checkLists ||
                visualEditorTemplateModel.checkLists.length == 0
              "
      dragula="FIELDS"
      id="editorFields"
      (dragulaModelChange)="dragulaPositionFieldChanged($event)"
      [dragulaModel]="visualEditorTemplateModel.fields"
    >
      <app-visual-editor-field
        *ngFor="
                  let field of visualEditorTemplateModel.fields;
                  let i = index
                "
        [field]="field"
        [fieldIndex]="i"
        id="field_{{ i }}"
        (editField)="showFieldModal($event)"
        (deleteField)="showDeleteFieldModal($event)"
        (fieldPositionChanged)="onNestedFieldPositionChanged($event)"
        (changeColor)="onFieldUpdate($event)"
        (copyField)="onFieldCreate($event)"
        (addNewField)="showFieldModal($event)"
        [class]="
                  field.fieldType == fieldTypes.FieldGroup ? 'field-group' : ''
                "
      ></app-visual-editor-field>
    </section>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-end">
      <button
        *ngIf="visualEditorTemplateModel.checkLists.length === 0"
        mdbBtn
        id="initialFieldCreateBtn"
        [mdbTooltip]="'Add field' | translate"
        class="btn-success btn-icon"
        (click)="showFieldModal()"
      >
        <fa-icon icon="plus" [fixedWidth]="true" size="lg"></fa-icon>
      </button>
      <button
        *ngIf="visualEditorTemplateModel.fields.length === 0"
        mdbBtn
        id="initialChecklistCreateBtn"
        [mdbTooltip]="'Add sub eForm' | translate"
        class="btn-success btn-icon"
        (click)="showChecklistModal()"
      >
        <fa-icon
          icon="folder-plus"
          [fixedWidth]="true"
          size="lg"
        ></fa-icon>
      </button>
    </div>
  </div>
</mat-card>

<app-eforms-tags
  #tagsModal
  [availableTags]="availableTags"
  (tagsChanged)="getTags()"
>
</app-eforms-tags>
<app-visual-editor-checklist-modal
  #checklistModal
  [selectedLanguages]="selectedLanguages"
  (createChecklist)="onCreateChecklist($event)"
  (updateChecklist)="onUpdateChecklist($event)"
>
</app-visual-editor-checklist-modal>
<app-visual-editor-checklist-delete-modal
  #checklistDeleteModal
  (deleteChecklist)="onDeleteChecklist($event)"
>
</app-visual-editor-checklist-delete-modal>

<app-visual-editor-field-modal
  #fieldModal
  [selectedLanguages]="selectedLanguages"
  (createField)="onFieldCreate($event)"
  (updateField)="onFieldUpdate($event)"
>
</app-visual-editor-field-modal>
<app-visual-editor-field-delete-modal
  #fieldDeleteModal
  (fieldDelete)="onFieldDelete($event)"
>
</app-visual-editor-field-delete-modal>
