<h3 mat-dialog-title>{{'Set user password' | translate}}</h3>
<div mat-dialog-content>
  <div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-column">
      <p>ID</p>
    </div>
    <div class="d-flex flex-column">
      <strong>{{selectedUser.id}}</strong>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-column">
      <p>{{'Email' | translate}}</p>
    </div>
    <div class="d-flex flex-column">
      <strong>{{ selectedUser.email }}</strong>
    </div>
  </div>
  <form [formGroup]="setPasswordForm">
  <mat-form-field>
    <mat-label>{{ 'New password' | translate }}</mat-label>
    <input
      matInput
      type="password"
      name="newPassword"
      formControlName="newPassword"
      required
      id="newPassword"
      autocomplete="new-password"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'New password confirmation' | translate }}</mat-label>
    <input
      matInput
      type="password"
      formControlName="confirmPassword"
      required
      id="newPasswordConfirmation"
      name="newPasswordConfirmation"
      autocomplete="new-password"
    />
  </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end">
  <button
    mat-raised-button
    color="warn"
    id="userDeleteBtn"
    (click)="setPassword()"
    [disabled]="!valid"
  >
    {{'Save' | translate}}
  </button>
  <button
    mat-raised-button
    id="userDeleteCancelBtn"
    (click)="hide()"
  >
    {{'Cancel' | translate}}
  </button>
</div>
