<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" xmlns:dep="http://schemas.microsoft.com/wix/DependencyExtension">
	<Bundle Name="Eform Angular Frontend" Version="1.0.0.0" Manufacturer="Microting A/S" UpgradeCode="065bd8e5-533c-47c9-aa38-036c98a0f789" DisableRemove="yes" DisableRepair="yes" DisableModify="yes" dep:ProviderKey="6EEA199E-0A6C-416A-8969-A48ACB0B1130">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication LicenseUrl="" ThemeFile="HyperlinkTheme.xml" LocalizationFile="HyperlinkTheme.wxl" SuppressOptionsUI="yes" />
    </BootstrapperApplicationRef>
		<Chain>
      <PackageGroupRef Id="ReqiredPackages"/>
		</Chain>
	</Bundle>

  <Fragment>
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Node.js" Variable="NODEJS"/>
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\GitForWindows" Variable="GIT"/>
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\IIS Extensions\URL Rewrite" Variable="URLREWRITE"/>
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\IIS Extensions\Application Request Routing" Variable="ARR"/>
    
    <PackageGroup Id="ReqiredPackages">
      <ExePackage Id="Git" DisplayName="Git" Cache="no" Compressed="yes" Permanent="yes" Vital="yes" SourceFile=".\Git-2.14.2-64-bit.exe" PerMachine="yes"  InstallCondition="GIT" InstallCommand="/VERYSILENT"/>
      <MsiPackage Id="NodeJS" DisplayName="NodeJS" Cache="no" Compressed="yes" DisplayInternalUI="no" Permanent="yes" Vital="yes" SourceFile=".\node-v8.6.0-x64.msi" ForcePerMachine="yes" InstallCondition="NOT NODEJS"/>
      <MsiPackage Id="URLRewrite" DisplayName="URL Rewrite" Cache="no" Compressed="yes" DisplayInternalUI="no"  Permanent="yes" Vital="yes" SourceFile=".\rewrite_amd64.msi" ForcePerMachine="yes" InstallCondition="NOT URLREWRITE"/>
      <MsiPackage Id="ARR" DisplayName="Application Request Routing" Cache="no" Compressed="yes" DisplayInternalUI="no" Permanent="yes" Vital="yes" SourceFile=".\requestRouter_amd64.msi"  ForcePerMachine="yes" InstallCondition="NOT ARR"/>
      <MsiPackage Id="MainInstaller" DisplayName="eFormsAPI" Cache="no" Compressed="yes" DisplayInternalUI="yes" Permanent="yes" Vital="yes" Visible="no" SourceFile=".\maininstaller.msi" ForcePerMachine="yes" InstallCondition="1"/>
  </PackageGroup>
  </Fragment>
</Wix>
