<h3 mat-dialog-title>{{'Are you sure you want to delete' | translate}}?</h3>
<div mat-dialog-content>
  <div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-column">
      <p>ID</p>
    </div>
    <div class="d-flex flex-column">
      <strong>{{selectedTemplateDto.id}}</strong>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-column">
      <p>{{'Creation Date' | translate}}</p>
    </div>
    <div class="d-flex flex-column">
      <date-formatter [date]="selectedTemplateDto.createdAt" [Format]="'datetime'"></date-formatter>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-column">
      <p>{{'Name' | translate}}</p>
    </div>
    <div class="d-flex flex-column">
      <strong>{{selectedTemplateDto.label}}</strong>
    </div>
  </div>
</div>

<div mat-dialog-actions class="d-flex flex-row justify-content-end">
  <button
    class="btn-cancel"
    id="eFormDeleteCancelBtn"
    (click)="hide()"
  >
    {{'Close' | translate}}
  </button>
  <button
    class="btn-delete"
    id="eFormDeleteDeleteBtn"
    (click)="deleteEfrom()"
  >
    {{'Delete' | translate}}
  </button>
</div>
