<!-- Nested checklists level rendering -->
<section id="checkListSection{{ elementIndex }}" *ngIf="checklist">
  <div class="card z-depth-3 mb-4 mt-4" style="width: 100%">
    <div class="card-body">
      <div
        dragula="{{ dragulaElementContainerName }}"
        [dragulaModel]="checklist.fields"
        (dragulaModelChange)="onFieldChanged($event)"
      >
        <ng-container *ngFor="let field of checklist.fields; let i = index">
          <app-visual-editor-field
            [elementIndex]="i"
            [field]="field"
            (fieldPositionChanged)="onFieldChanged($event)"
            (addNewField)="onAddNewField($event)"
            (deleteField)="onDeleteField()"
            (updateField)="onEditField()"
          ></app-visual-editor-field>
        </ng-container>
      </div>
    </div>
  </div>
</section>
<ng-container *ngIf="checklist && checklist.checkLists">
  <app-visual-editor-checklist
    [checklist]="elem"
    [checklistRecursionIndex]="checklistRecursionIndex + 1"
    [elementIndex]="elementIndex + checklistIndex"
    [elementRecursionIndex]="
      composeIndexes(elementRecursionIndex, checklistIndex)
    "
    *ngFor="let elem of checklist.checkLists; let checklistIndex = index"
  ></app-visual-editor-checklist>
</ng-container>
