<!-- Nested checklists level rendering -->
<section id="checkListSection{{ checklistIndex }}" *ngIf="checklist">
  <div class="card z-depth-3 mb-4 mt-4" style="width: 100%">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <i
            class="material-icons md-36 dragula-handle align-middle"
            style="cursor: pointer"
            id="moveBtn"
          >
            drag_handle
          </i>
          {{ ('eForm' | translate) + ' - ' + translationChecklistName }}
        </div>
        <div class="d-flex align-items-center">
          <fa-icon
            *ngIf="!isChecklistComplete"
            [mdbTooltip]="'eForm is not complete' | translate"
            icon="info-circle"
            [fixedWidth]="true"
            size="lg"
            class="text-warning mr-2"
          ></fa-icon>
          <button
            *ngIf="checklist.fields.length == 0"
            mdbRipple
            [mdbTooltip]="'New sub eForm' | translate"
            class="btn-success btn-icon"
            id="addNewNestedChecklist{{ checklistIndex }}"
            (click)="onAddNewNestedChecklist()"
          >
            <fa-icon icon="folder-plus" [fixedWidth]="true" size="lg"></fa-icon>
          </button>
          <button
            *ngIf="checklist.checkLists.length == 0"
            mdbRipple
            [mdbTooltip]="'New nested field' | translate"
            class="btn-success btn-icon"
            id="addNewNestedField{{ checklistIndex }}"
            (click)="onAddNewNestedField()"
          >
            <fa-icon icon="plus" [fixedWidth]="true" size="lg"></fa-icon>
          </button>
          <button
            mdbRipple
            [mdbTooltip]="'Edit eForm' | translate"
            class="btn-neutral btn-icon"
            id="editChecklistBtn{{ checklistIndex }}"
            (click)="onEditChecklist()"
          >
            <fa-icon icon="pen" [fixedWidth]="true" size="lg"></fa-icon>
          </button>
          <button
            mdbRipple
            [mdbTooltip]="'Delete eForm' | translate"
            class="btn-danger btn-icon"
            id="deleteChecklistBtn{{ checklistIndex }}"
            (click)="onDeleteChecklist()"
          >
            <fa-icon icon="trash-alt" [fixedWidth]="true" size="lg"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div
        dragula="{{ dragulaElementContainerName }}"
        [dragulaModel]="checklist.fields"
        (dragulaModelChange)="onNestedFieldPositionChanged($event)"
        id="fields_{{ checklistIndex }}"
      >
        <ng-container
          *ngFor="let field of checklist.fields; let fieldIndex = index"
        >
          <app-visual-editor-field
            [fieldIndex]="fieldIndex"
            [field]="field"
            [checklistRecursionIndexes]="checklistRecursionIndexes"
            (fieldPositionChanged)="
              onFieldPositionChangedInNestedChecklist($event)
            "
            (addNewField)="onAddNestedFieldInNestedChecklist($event)"
            (deleteField)="onDeleteNestedFieldInNestedChecklist($event)"
            (editField)="onEditNestedFieldInNestedChecklist($event)"
            (changeColor)="onChangeColorInNestedFieldInNestedChecklist($event)"
            (copyField)="onCopyNestedFieldInNestedChecklist($event)"
            [class]="
              field.fieldType == fieldTypes.FieldGroup ? 'field-group' : ''
            "
          ></app-visual-editor-field>
        </ng-container>
      </div>
      <ng-container *ngIf="checklist && checklist.checkLists">
        <app-visual-editor-checklist
          *ngFor="let elem of checklist.checkLists; let checklistIndex = index"
          [checklist]="elem"
          [checklistRecursionIndex]="checklistRecursionIndex + 1"
          [checklistIndex]="checklistIndex + 1"
          [checklistRecursionIndexes]="composeIndexes(checklistIndex)"
          (editNestedChecklist)="onEditNestedChecklistInNestedChecklist($event)"
          (addNewNestedChecklist)="
            onAddNewNestedChecklistInNestedChecklist($event)
          "
          (addNewNestedField)="onAddNestedFieldInNestedChecklist($event)"
          (editNestedField)="onEditNestedFieldInNestedChecklist($event)"
          (nestedFieldPositionChanged)="
            onFieldPositionChangedInNestedChecklist($event)
          "
          (deleteNestedChecklist)="onDeleteNestedChecklist($event)"
          (deleteNestedField)="onDeleteNestedFieldInNestedChecklist($event)"
        ></app-visual-editor-checklist>
      </ng-container>
    </div>
  </div>
</section>
