<h3 mat-dialog-title>{{'eForm Pairing'}} {{'for' | translate}} {{selectedTemplateDto.label}}</h3>
<div mat-dialog-content class="">
  <div class="" *ngIf="foldersDto.length > 0">
      <div class="card z-depth-1 mb-3" style="width: 100%;">
        <div class="card-header">
          {{ 'Select Folder' | translate}}
        </div>
        <div class="card-body">
          <app-eform-tree-view-picker
            [lockSelectedNode]="eformDeployed"
            [nodes]="foldersDto"
            [focusedNodeId]="deployModel.folderId"
            [showActions]="false"
            [allowSelectingParents]="false"
            (nodeSelected)="folderSelected($event)"
          ></app-eform-tree-view-picker>
        </div>
    </div>
  </div>
  <mtx-grid
    [data]="sitesDto"
    [columns]="columns"
    [showPaginator]="false"
    [multiSelectable]="true"
    [rowSelectable]="true"
    [rowSelected]="rowSelected"
    (rowSelectionChange)="rowSelected = $event"
  >
  </mtx-grid>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end">
  <button
    mat-raised-button
    color="accent"
    (click)="submitDeployment()"
    [disabled]="saveButtonDisabled"
    id="saveParingBtn"
  >
    {{'Save' | translate }}
  </button>
  <button
    mat-raised-button
    id="cancelParingBtn"
    (click)="hide()"
  >
    {{'Cancel' | translate}}
  </button>
</div>
