<h3 mat-dialog-title>{{'eForm Pairing for' | translate}} {{selectedTemplateDto.label}}</h3>
<div mat-dialog-content class="">
  <mat-card class="" *ngIf="foldersDto.length > 0">
    <mat-card-header>
      <h4>{{ 'Select Folder' | translate}}</h4>
    </mat-card-header>
    <mat-card-content>
      <app-eform-tree-view-picker
        [lockSelectedNode]="eformDeployed"
        [nodes]="foldersDto"
        [focusedNodeId]="deployModel.folderId"
        [showActions]="false"
        [allowSelectingParents]="false"
        (nodeSelected)="folderSelected($event)"
      ></app-eform-tree-view-picker>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card *ngIf="sitesDto !== null">
    <mat-card-header>
      <h4>{{ 'Select Site' | translate}}</h4>
    </mat-card-header>
    <mat-card-content>
      <div class="mtx-grid">
        <div class="mtx-grid-main mtx-grid-layout">
          <div class="mtx-grid-content mtx-grid-layout">
            <div class="mat-table-container mat-table-with-data">
              <table class="mat-table cdk-table mat-table-striped" style="width: 100%">
                <thead>
                <tr role="rowgroup" class="mat-header-row cdk-header-row" mat-header-row>
                  <th role="columnheader" class="mat-header-cell cdk-header-cell cdk-column-id mat-column-id mat-table-sticky mat-table-sticky-border-elem-top">Microting ID</th>
                  <th role="columnheader" class="mat-header-cell cdk-header-cell cdk-column-id mat-column-id mat-table-sticky mat-table-sticky-border-elem-top">{{ 'Site' | translate }}</th>
                  <th role="columnheader" class="mat-header-cell cdk-header-cell cdk-column-id mat-column-id mat-table-sticky mat-table-sticky-border-elem-top">{{ 'Select' | translate }}</th>
                </tr>
                </thead>
                <tbody id="pairingModalTableBody" role="rowgroup">
                <ng-container *ngFor="let siteDto of sitesDto; let i = index">
                  <tr class="mat-row cdk-row {{i%2 ? 'mat-row-odd' : ''}}">
                    <td role="cell" class="mat-cell cdk-cell cdk-column-id mat-column-id" id="microtingId">{{siteDto.siteUId}}</td>
                    <td role="cell" class="mat-cell cdk-cell cdk-column-id mat-column-id" id="deviceUserFullName">{{siteDto.siteName}}</td>
                    <td role="cell" class="mat-cell cdk-cell cdk-column-id mat-column-id">
                      <ng-container *ngFor="let checkboxModel of deployViewModel.deployCheckboxes">
                        <div class="mat-checkbox" *ngIf="checkboxModel.id == siteDto.siteUId">
                          <mat-checkbox
                            [checked]="checkboxModel.isChecked"
                            (change)="addToArray($event, checkboxModel.id)"
                            id="checkbox{{checkboxModel.id}}"
                          >
                          </mat-checkbox>
                          <!--                <input id="checkbox{{checkboxModel.id}}" (change)="addToArray($event, checkboxModel.id)"-->
                          <!--                       [checked]="checkboxModel.isChecked" [value]="checkboxModel.isChecked" color="primary"-->
                          <!--                       type="checkbox">-->
                          <!--                <label id="checkboxLabel{{checkboxModel.id}}" for="checkbox{{checkboxModel.id}}"></label>-->
                        </div>
                      </ng-container>
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end">
  <button
    mat-raised-button
    color="accent"
    (click)="submitDeployment()"
    [disabled]="saveButtonDisabled"
    id="saveParingBtn"
  >
    {{'Save' | translate }}
  </button>
  <button
    mat-raised-button
    id="cancelParingBtn"
    (click)="hide()"
  >
    {{'Cancel' | translate}}
  </button>
</div>
