<h3 mat-dialog-title>{{ 'Select tags for template' | translate }}</h3>
<div mat-dialog-content class="ng-select-wrapper">
  <mat-form-field>
    <mat-label>{{ 'Current tags' | translate }}</mat-label>
    <mtx-select
      class="custom"
      [dropdownPosition]="'bottom'"
      [(ngModel)]="selectedTemplateTagsIds"
      [bindValue]="'id'"
      [bindLabel]="'name'"
      [items]="availableTags"
      id="tagSelector"
      [multiple]="true"
      appendTo="body"
    ></mtx-select>
  </mat-form-field>
  <!--<div class="row">
    <div class="col-md-12">
      <div class="md-form input-group">
        <input mdbInput
               #newTagInput
               id="newTag" type="text" class="form-control">
        <label for="newTag">{{ 'New tag' | translate }}</label>
          <button  class="btn-success btn-icon mb-2 btn"
                   (click)="createNewTag(newTagInput.value); newTagInput.value=''"
                   type="button" [disabled]="!newTagInput.value">
            <fa-icon icon="plus" [fixedWidth]="true" size="lg"></fa-icon>
          </button>
      </div>
    </div>
    <div class="col-md-12">
      <div class="d-flex align-items-center">
        <ng-select
          class="input-group"
          dropdownPosition="'bottom'"
          id="removeTagSelect"
          [bindValue]="'id'"
          [bindLabel]="'name'"
          [(ngModel)]="tagForRemoval"
          [placeholder]="'Tag for removal' | translate"
          [items]="availableTags"
        ></ng-select>
        <button
          class="btn-danger btn-icon mb-2 btn"
          (click)="removeTemplateTag()"
          [disabled]="!tagForRemoval"
          type="button"
        >
          <fa-icon icon="trash" [fixedWidth]="true" size="lg"></fa-icon>
        </button>
      </div>
    </div>
  </div>-->
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-end align-items-center gap-12">
  <button
    id="tagEditSaveBtn"
    class="btn-primary btn-primary--icon-left"
    (click)="updateTemplateTags()"
  >
    <span>{{ 'Save' | translate }}</span>
  </button>
  <button
    id="tagEditSaveCancelBtn"
    class="btn-cancel"
    (click)="hide()"
  >
    {{ 'Cancel' | translate }}
  </button>
</div>
